<nav class='navBar'>
  <div class='container div-container-nav'>
    <i class="fab fa-instagram ig-icon-nav"></i>
    <span class="bar">|</span>
  <div class="img-div"><%= image_tag("Ig_logo.svg.png", :alt => "ig logo" , class: "img" )%></div>
    <div id='user-link'>
      <i class="far fa-compass compass"></i>
      <i class="far fa-heart love"></i>
      <%= link_to current_user do %> 
        <i class="far fa-user account"></i>
      <%end%>
    <div>
  </div>
</nav>