<% if @pictures.all.any? %>
  <% @pictures.all.each do |picture| %>
    <h2><%= picture.name %></h2>
    <p1><%= picture.comment %></p1>
  <% end %>
<% else %>
  <h1>No pictures yet</h1>
<% end %>


<a href='#'>Add a picture</a>