<p><%= image_tag @picture.image.url(:medium)  %></p>
<p><%= @picture.description %></p>
<p>Likes : <%= @picture.likes.count %></p>
  <% if @picture.comments.any? %>
    <% @picture.comments.each do |comment| %>
     <ul>
       <li>
          "<%= comment.thoughts %>"
       </li>
    <% end %>
     </ul>
  <% else %>
 <p>No comments left yet!</p>
  <% end %>
