.Message {
  background-color: white;
  padding-bottom: 40px;
  padding-top: 40px
}
.postfield {
    width: 30%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #FFFFFF;
    resize: none;
    border: 2px solid black;
}
.username-field {
  width: 30%;
  height: 25px;
  border: 2px solid black;
}



.postbutton
{
  width: 30%;
  text-align: center !important;
  align-items: center !important;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Shadows Into Light', cursive;
    background-color: white;
    color: black;
    border: 2px solid white;
}

.postbutton:hover {background-color: #fb3958;
color: white}
