<div class="d-flex align-itmes-center justify-content-center">
  <h1>Welcome to Instagram</h1>
</div>
<div class="d-flex align-itmes-center justify-content-center">
  <p>Don't have an account? <%= link_to "Sign up", sign_up_path, class: "link" %> </p>
</div>