<center>
  <% if Turtlegram.all.any? %>
  <% Turtlegram.all.each do |turtlegram| %>
  <p>
    <%= turtlegram.caption %>
  </p>

  <p>
    <%= image_tag turtlegram.image.url unless turtlegram.image.blank? %>
  </p>
  <% end %>
<% else %>
  <h1>No turtlegrams yet</h1>
<% end %>
  <a href='#'>Add a turtlegram</a>
</center>
