<center>
    <%= @turtlegram.caption %>
  <div id=post>
    <%= image_tag @turtlegram.image.url unless @turtlegram.image.blank? %>
  </div>
    <h1> Comments </h1>
    <% @turtlegram.comments.each do |comment| %>
    <strong><%= comment.thoughts %></strong>
    written by: <%= comment.user.email %></br>
     <% end %>
  </center>
