<h1>HappySnaps</h1>
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <p><%= image_tag post.image.url %></p>
    <p><%= post.caption %></p>
    <% end %>
<% else %>
  <p>No posts yet</p>
<% end %>

<a href='posts/new/'>Add a post</a>
