  <div class="d-flex justify-content-end">
  <% if @user %>
    Logged in as: <strong><%= @user.name %></strong>
  <% end %>
  </div>
<div class="d-flex align-itmes-center justify-content-center">
  <h1>Posts</h1>
</div>