<header>
  <h1>Welcome to YNstagram, <%= current_user.email %></h1>
</header>
<section>
  <p>Look at some fancy photos</p>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
</section>
