<header class="navbar-brand">
  <h4>Welcome to YNstagram, <%= current_user.email %></h4>
</header>
<footer class="navbar-brand">
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
</footer>
