<header>
  <h1>Welcome to YNstagram, <%= current_user.email %></h1>
  <h2>We're using Rails <%= Rails.version %></h2>
</header>
<section>
  <p>Future home of YNstagram's dashboard</p>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
</section>
