<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>About Plantagram</h1>
  <p>
    This is Cynthia Fu's Makers Week 8 Solo Weekend Challenge,
    <a href="https://github.com/YinnyF/instagram-challenge">Build an Instagram Clone</a>.
  </p>
</body>
</html>

