<% provide(:title, "About") %>
<h1>About Plantagram</h1>
<p>
  This is Cynthia Fu's Makers Week 8 Solo Weekend Challenge,
  <a href="https://github.com/YinnyF/instagram-challenge">Build an Instagram Clone</a>.
</p>
