<% provide(:title, "About") %>
<h1>Plantagram</h1>
<h2>About this site</h2>
<p>
  Hello, I am Cynthia.
</p>

<p>
  At the time of writing this I will be in Week 8 of my Coding Bootcamp experience with <a href="https://www.makers.tech/">Makers Academy</a>. This is my attempt at the week 8 solo weekend challenge: <a href="https://github.com/YinnyF/instagram-challenge">Build an Instagram Clone</a>.
</p>

<p>
Please checkout my <a href="https://github.com/YinnyF">GitHub</a> for more of my projects.
</p>

<p>
If you would like to know more about me, here is my <a href="https://www.linkedin.com/in/cynthia-fu-a03a83157/">LinkedIn</a>.
</p>
