<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Plantagram</h1>

  <h2>
    Welcome to Plantagram!
  </h2>

  <%= link_to "Sign up today!", '#', class: "btn btn-lg btn-primary" %>

</div>
