<h1>Sign In</h1>

<%= form_with url: sign_in_path do |form| %>

<div class="mb-3">
    <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
  </div>
  <div class="mb-3">
    <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
  </div>

  <%= form.submit "Sign in", class: "btn btn-primary"%>
<% end %>