<h1>Welcome to Finchstagram!</h1>

<h3>Become part of this awesome community!</h3>

<form action="/users/sign_up">
  <input id="sign-up" type="submit" value="Sign up">
</form>

<p>Already registered? <a href="/users/sign_in">Log in!</a></p>
