%section(class='profile-container')
  - if @posts.any?
    %section(class='images')
      - @posts.each do |post|
        = link_to image_tag(post.image), post_path(post)
  - else
    %h2 No posts
  = link_to 'Add an image', new_post_path
