<div class="posts-wrapper">
  <div class="row profile-header">
    <div class="col-md-6">
      <div class="user-name-and-follow">
        <h3 class="profile-user-name">
          <%= @user.username %>
        </h3>
        <span>
          <% if @user == current_user %>
            <%= link_to 'Edit Profile', edit_profile_path(@user.username), class: 'btn edit-button' %>
          <% end %>
        </span>
      </div>
      <div class="user-statistics">
        <p>
          <%= pluralize @user.posts.count, 'post' %>
        </p>
      </div>
    </div>
  </div>
</div>


<% @posts.reverse.each do |post| %>
  <%= render 'posts/post', post: post %>
<% end %>
