<form action="/images" method="post" enctype="multipart/form-data">
  <label>Title</label>
  <input type="text" name="title" data-cy="input-title">
  <label>Image</label>
  <input type="file" name="image">
  <button data-cy="submit-image" type="submit">Add image</button>
</form>

