#canvas {
  background-color: #597A9C;
}
#caption{
  color: white;
  padding-bottom: 10px;
}

.img-center {margin:0 auto;}

#instafamer{
  padding-top: 10px;
}

.frame {
   padding-bottom: 30px;
   border-bottom:solid white 4px;
}

.comments{
  padding-top: 5px
}
.comment-button{
  padding-top: 5px
}

.fix {
  margin-top: 1px;
}