  <% if user_signed_in? %>
    <span><%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'link-logout') %></span>
  <% else %>
    <body class="devise"><span><%= link_to('Login', new_user_session_path, class: 'link-login') %></span></body>
  <% end %>
