<% if user_signed_in? %>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <li>Logout</li>
  <% end %>
<% else %>
  <%= link_to new_user_session_path do %>
    <li>Login</li>
  <% end %>
<% end %>
