<% if user_signed_in? %>
  <%= link_to profile_path(current_user.username) do %>
    <li>Profile</li>
  <% end %>
  <%= link_to edit_user_registration_path do %>
    <li>Edit your details</li>
  <% end %>
<% else %>
  <%= link_to new_user_registration_path do %>
    <li>Register</li>
  <% end %>
<% end %>
