<% if user_signed_in? %>
  <span><%= link_to('Edit registration', edit_user_registration_path, class: 'link-edit-reg') %></span>
<% else %>
  <span><%= link_to('Register', new_user_registration_path, class: 'link-register')  %></span>
<% end %>
