<% if user_signed_in? %>
  <span class="dropdown-item"><%= link_to('Edit registration', edit_user_registration_path) %></span>
<% else %>
  <span class="dropdown-item"><%= link_to('Register', new_user_registration_path)  %></span>
<% end %>
