<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Remove Instagram comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure you would like to remove this Instagram comments?' } %>
</p>
