<h1>Welcome to Pictagram</h1>

<div class="homepage">
  <div class='form-upload'>
    <%= render 'upload_form' %>
  </div>

<div class="posts">
  <% @posts.each do |post| %>
    <section class="post">
      <!-- post view -->
    </section>
  <% end %>
</div>
