<!-- <h2>Edit your comment</h2>
<br>

<%= form_for ([@post, @comment]) do |f| %>
  <%= f.label :body %><br>
  <%= f.text_area :body, value: @comment.body %><br>
  <%= f.submit "Update" %>
<% end %> -->
