<h1>Posts</h1>

<section>
  <% @posts.each do |post| %>
  <article class="post">
    <div class="post-details">
      <h3><%= post.username %></h3>
      <p><%= post.formatted_time %></p>
    </div>
    <div class="post-image-wrapper">
      <%= link_to  image_tag(post.image, class: post.filter_class), post_path(post) %>
    </div>
  </article>
  <% end%>
</section>