<main>
  <div class="user-container">
    <div class="user">
      <h1 class="logo-text">Instagram</h1>
      <%= render 'form', user: @user %>
    </div>
    <div class="refer">
      <p>Don't have an account?</p><a href="/register">Sign up</a>
    </div>
  </div>
</main>
