<div class="container" id="sign-up-form">
      <h1>Sign In To ChristaGram!</h1>
  <div class="row">
      <div class="offset-sm-4 col-sm-4">
          <%= bootstrap_form_tag url: '/sessions' do |f| %>
            <%= f.email_field :email %>
            <%= f.password_field :password %>
            <%= f.submit "Sign In", id: :submit %>
          <% end %>
      </div>
    </div>
</div>
