<div class="login_box">
  <br>
  <h3>l o g i n</h3>
  <br>
  <div class="login_form">
    <%= form_tag '/login' do %>

      Email: <%= text_field_tag :email %><br>
      Password: <%= password_field_tag :password %><br>
      <%= submit_tag "Submit" %>

    <% end %>
  </div>
</div>
