<main class="form-signin">
  <h1 class="h3 mb-3 fw-normal">Please Sign In</h1>
<%= form_with url: sign_in_path, local: true do |f| %>

  <div class="form-floating">
    <%= f.text_field :username, :class => 'form-control', :id => 'floatingUsername', :placeholder => 'user123' %> 
    <label for="floatingUsername">Username</label>
  </div>
  <div class="form-floating">
    <%= f.password_field :password, :class => 'form-control', :id => 'floatingPassword', :placeholder => 'Password' %>
    <label for="floatingPassword">Password</label>
  </div>
  <%= f.submit 'Sign In', :class => 'w-100 btn btn-lg btn-primary' %> 
  <% end %> 
  <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
</main>
