<h1>Sign in</h1>

<%= form_with url: sign_in_path do |form| %>
  <div class="mb-2">
    <%= form.text_field :email, class: "form-control", placeholder: "Email"%>
  </div>

  <div class="mb-2">
    <%= form.password_field :password, class: "form-control", placeholder: "Password"%>
  </div>

  <div class="mb-2">  
      <%= form.submit "Sign in", class: "btn btn-primary" %>
  </div>
<% end %>