<div class="container">

  <%= form_tag '/sessions' do |f| %>
    <%= text_field_tag :email, "", placeholder: 'Email address', class: "form-group" %> <br>

    <%= text_field_tag :password, "", placeholder: 'Password', class: "form-group" %> <br>

    <%= submit_tag "Sign In" %>
  <% end %>

</div>
