<h1>Welcome</h1>

<% if logged_in? %>
  <h2>You are logged in as <%= current_user.username %></h2>
<% end %>

<%= button_to "Sign Up", users_new_path, method: :get %>
<%= button_to "Login", login_path, method: :get %>
<%= button_to "Logout", logout_path, method: :get %>
