<div>
  <h1>Welcome!</h1>
</div>
<br>
<div>
  <% if logged_in? %>
      <h1>You are logged in as <%= current_user.username %></h1>
  <% else %>
      <h1>You are a Guest, please login</h1>
  <%end%>
</div>
<br>
<div>
<%= link_to "Sign Up", signup_path %>
<%= link_to "Login", login_path %>
<%= link_to "Logout", logout_path %>
</div>
