<% if @images.any? %>
  <% @images.each do |image| %>
    <%= link_to image_tag(image.pic.url(:medium)), feeds_path(image), class: "image#{image.id}" %>
    <% if @user %>
      <% if @user.id === image.user_id %>
        <%= link_to "Delete", feeds_path(image), method: :delete %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
No Images
<% end %>

<% if user_signed_in? %>
<a href= <%= new_feeds_path %>> Upload Image </a>
<% end %>
