<header>
  <nav>
    <a href="/">Instagram</a>
    <ul>
      <li><a href="/sessions/destroy">Logout</a></li>
      <li><a href="/users">Search</a></li>
      <li><a href="/posts/new">New Post</a></li>
    </ul>
  </nav>

</header>