<header>
  <nav class="site-nav">
    <div class="site-name">
      <img width="100" src="/images/instagram.png" alt="instagram">
     
    </div>
    <div class="site-links">
      <% if (locals.isAuth === true) { %>
        <a href="/"><img src="/images/home.png" alt="home"></a>
        <a href="/posts/new"><img src="/images/share.png" alt="post"></a>
        <a href="/users"><img src="/images/search.png" alt="post"></a>
        <div class="dropdown">
          <!-- <button class="dropbtn">More</button> -->
          <img class="dropbtn" src="/images/profile.png" alt="profile">
          <div class="dropdown-content">
            <a href="#">Profile</a>
            <a href="#">Settings</a>
            <a href="/sessions/destroy">Logout</a>
          </div>
        </div>
      <% } %>
    </div>
  </nav>
</header>