<h1>Forgot your Password?</h1>

<%= form_with url: password_reset_path do |form| %>
<div class="mb-3">
    <%= form.label :email, 'Email' %>
    <%= form.text_field :email, class: 'form-control', placeholder: 'idi@amin.com' %>
</div>
<div class="mb-3">
    <%= form.submit 'Reset Password', class: 'btn btn-primary' %>
</div>
<% end %>