<div class="followers"></div>
<div class="followees"></div>

<%= form_with(model: [ @user, @user.followers.build ], local: true) do |form| %>
  <%= form.submit "Follow!", id: 'followbtn', :disabled => !current_user%>
<% end %>


<%= render '_partials/posts_display'%>