  <!DOCTYPE html>
  <html>
  <body>

  <h1>Finstagram</h1>
  <p>Attempting to build a really good knock-off</p>

  <%= simple_form_for @post do |f| %>
  <%= f.input :image %>
  <%= f.input :caption %>
  <%= f.button :submit %>
  <% end %>


  </body>
  </html>
