# dependencies
/node_modules/**
/app/javascript/packs/**
/app/javascript/channels/**
/public/packs/js/**
/public/packs-test/js/**

# testing
/coverage/**

# config
/config/**
*.config.js

# other
/secret/**
/local/**
/coverage/**
!.eslintrc.js
karma.conf.js