language: ruby
cache:
- bundler
# before_script:
# - bundle exec rake db:create
# - bundle exec rake db:migrate
# - bundle exec rake assets:precompile
deploy:
  provider: heroku
  api_key:
    secure: KEY
  app: instagram-masha
  on:
    repo: m-budryte/instagram-challenge
rvm:
  - 2.6.0
