before_script:
- bin/rails db:create
dist: trusty
language: ruby
rvm:
- 2.5.0
script:
- bundle exec rspec
- bundle exec rails db:migrate RAILS_ENV=test
services:
- postgresql: '10.3'
env:
  global:
    secure: Zp0Fi9zlb/4GCQEpVjakGIYOV9ekMy8h/mVLTBORfA5b9/C4vqufEEtV+Gb/o9sJFflrYcbUu34aA3HzF3+L9NX00qP6JQKIHyvmbujkD850kLFwPLXzID9cePVlE5w2+2DGe9BhJjjF5uzalEhnU73OfS0IlyAl9yy67FfaG7ajR9KcbAI01RyJlKZFjYlSa4WsPM0iKXpHpTUwK81jI8rNTn8X3WKIhNE5K0Vy+7ExdOULIuSw71egTJhs00sOof6Ur1KSBR9u9xA56WdcmNJdfpG1UE5c5ycLmn/zSKdfELfuFJcTnG5LPAud1hHgELxfW8eISQ0fQPnQWtGaYuD7aXbbABzhm8Kglp0M51yalpgH/8E6NWKMQ7ciOMZJg67e/upl9RgaBPKKAnYHAzXwuL7lB5moD+aBOj3iqcddzJQ/EDwtAidFBVFL1ZAy/5NtWdxQeXtKA4dJotKFgn3h4c3IxBdxVqb4xlsSYECqK/7JUtaMRRd0PQ09FahrG5URb0T500ccOWppHb8ljF3o285HlK3pe3JtLVXpTjqAIC3l8j9Aeo5oPcGOJUVhfCStOIJuVQJ5hWXQ/joYIgEYqmecHTqTZFB/pd1Inxej/fjZLgO2tX0VwqaNsDrLHzHKoYLBKH1XaotZ4whnVFNl+rJbIjIhApCTovECTeE=
