rvm: '2.2.3'
script: bundle exec rspec spec
script:
  - bundle exec bin/rake db:create
  - bundle exec bin/rake db:migrate
  - bundle exec rspec spec
addons:
  code_climate:
    repo_token: 516dab598d9e252b68538ba4b83153186181b85d481154e43aa8d075f4ed386c