language: "— ruby"
rvm: "— 2.5.0"
cache: "— bundler"
script:
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec rake db:test:prepare
  - bundle exec rspec spec/
before_script:
  - psql -c 'create database insta_test' -U postgres
services: "— postgresql"
