env:
  global:
    - CC_TEST_REPORTER_ID=ac7d76beb01064b03c7e4335f7c33e1a11c75b8c32a24d4df7d5c78ea10eaa6b

language: ruby

rvm:
  - 2.5.0

dist: trusty

services:
  - postgresql

before_script:
  - bundle
  - bundle exec rails db:create
  - bundle exec rails db:migrate
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

test:
  adapter: postgresql
  database: travis_ci_test

script:
  - bundle exec rspec
  - bundle exec rubocop

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
