<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>  Fridge - Share your food online, where people can admire it, but only you can eat it. </title>
    <%= stylesheet_link_tag "general_style" %>
    <%= stylesheet_link_tag "head_foot_and_menu_style" %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
  <a href="/photos" class="header_grid"><div class="fridge_img"><img src="https://cdn.drawception.com/images/panels/2012/3-28/21T6esc7eG-6.png" class="fall"></div><div class="title">Fridge - Share your food online, where people can admire it, but only you can eat it. </div></a> </div>
