<center>
<h3>Editing Post</h3>
<p>
  <%= image_tag(@idea.picture_url(:thumb)) if @idea.picture.present? %>
<p>
<%= render 'form', idea: @idea %>

<%= link_to 'Show', @idea %> |
<%= link_to 'Back', ideas_path %>
</center>
