<br>
<a>
<p><%= @picture.name %></p>
Tags:
</a>


  <% if @picture.tags.any? %>
  <ul>
    <% @picture.tags.each do |t| %>
        <%= t.tag %>
    <% end %>
  </ul>
<% else %>
  <p>No tags.</p>
<% end %>
<a>
Comments:
</a>
  <% if @picture.comments.any? %>
  <ul>
    <% @picture.comments.each do |c| %>
      <li>
        <%= c.comments %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No comments.</p>
<% end %>