<p><%= @picture.name %></p>

  <% if @picture.tags.any? %>
  <ul>
    <% @picture.tags.each do |t| %>
      <li>
        <%= t.tag %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No tags.</p>
<% end %>