<% if @pictures.any? %>
  <% @pictures.each do |pic| %>
  <h4><%= link_to pic.caption, picture_path(pic) %></h4>
  <h4><%= image_tag pic.image.url(:medium) %></h4>
  <h4><%= link_to pic.location, picture_path(pic) %></h4>
  <% end %>
<% else %>
  <p> No pictures yet </p>
<% end %>

<a href='/pictures/new'> Post a picture</a>
