<!DOCTYPE html>
<html>
  <head>
  <title>Snapshot</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
  <body>
    <a href='/posts/new'>New Post</a>
    <h2>OMG, there are no photos yet!</h2>

    <%= yield %>

  </body>
</html>
