<div class="container">
  <div class="row">
    <div class="post-wrapper">
      <% if @posts.any? %>
      <% @posts.each do |post| %>
      <div class="post">
        <div class="post-head">
          <%= p post.user.user_name %>
        </div>
      </div>
      <div class="image center-block">
        <%= image_tag(post.image.url(:medium)) %>
        <p class="caption">
          <strong><%= p post.user.user_name %></strong>
          <%= post.caption %>
        </p>
      </div>
      <% end %>
      <% else %>
        <div class="no-photos"
          <h2>OMG, there are no photos yet!</h2>
        </div>
      <% end %>
    </div>
  </div>
</div>
