<div id="show-page">
  <div class = post-wrapper>
    <div id="image">
      <%= image_tag(@post.image.url(:medium)) %>
    </div>
    <div class="caption"> <%= @post.caption %></div>
    <em><%= link_to "Delete", post_path(@post), method: :delete %></em>
    <b><em><%= link_to "Home", posts_path, :id => "link"%></em></b>
  </div>
</div>
