<p id="notice"><%= notice %></p>

<h1>Pins</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <%= pin.caption %><br>
      <%= link_to 'Show', pin %></td>
      <br>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Pin An Image', new_pin_path %>
