<h1>Photogram</h1>
<% if current_user %>
<%= link_to('Logout', destroy_user_session_path, id: "log-out" , method: :delete) %>
<% end %>

<%= link_to new_user_message_path(current_user.id) do %>
Create post
<% end %>

<%= render 'layouts/timeline' %>

<br>
<%= link_to '/' do%>
  Go Back
<% end %>
