<div class="comment">
  <p><%= "#{comment.user.name} commented #{time_ago_in_words(comment.created_at)} ago" %></p>
  <br>
  <%= comment.text %>
  <br>
  <% if comment.user_id == current_user.id %>
    <%= link_to 'Destroy', picture_comment_path(@picture, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Edit', edit_picture_comment_path(@picture, comment), method: :get %>
  <% end %>
</div>
