<p>
  <strong><%= @user.find(@post.user_id).name %>:</strong>
  <%= comment.body %>
  <%= link_to 'Delete Comment', [comment.post, comment], method: :delete,
              data: { confirm: 'Are you sure' } %><br>
</p>
