<p>
  <strong><%= comment.commenter %>:</strong>
  <%= comment.body %>
</p>
<p>
  <%= link_to 'Remove', [comment.picture, comment],
              method: :delete,
              data: {confirm: "Are you sure?" } %>
</p>
