<div id="comment">
  <div class="user-name">
    <%= comment.user.username %>
  </div>
  <div class="comment-content">
    <%= comment.content %>
  </div>
  <% if comment.user == current_user %>
     <%= link_to "Delete", post_comment_path(post, comment), method: :delete, remote: true, id: "delete-#{comment.id}", class: "delete-comment" %>
  <% end %>
  </div>
