<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      <strong>Comments</strong>
      <%= comment.comment %>
    </p>
  </p>
    <%= link_to "Edit Comment", edit_post_comment_path(@post, comment) %>
    <%= link_to "Delete Comment", [comment.post, comment], method: :delete, data: { confirm: "Do you really want to delete this comment?" } %>
  </p>
  </body>
</html>
