<p>
  <strong><%= comment.id %>:</strong>
  <%= comment.body %>
</p>
<p>
  <%= link_to 'Delete Comment', [comment.post, comment], method: :delete,
              data: { confirm: 'Are you sure' } %><br>
</p>
