
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
    <%= button_to 'Delete Comment', [comment.insta_post, comment],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
  </p>
