%ul.list-group
  - comments.reverse_each do |comment|
    %li.list-group-item
      .comment-content= comment.content
      %span.comment-user= comment.user.email
      %span.comment-time= "posted #{time_ago_in_words(comment.created_at)} ago"
