<% require_relative '../time_helper' %>

<p>
  <% @user = User.find(comment.user_id) %>

  <strong>
    <%= @user.name %>
  </strong>
  <%= comment.body %>

  <br>
  <%= time_since_post(comment) %>

</p>
