<section id="<%= commentable.class.name.downcase %>_<%= commentable.id %>_comments">
  <% for comment in commentable.comments %>
    <%= render "comments/comment", comment: comment %>
  <% end %>
</section>
