<div id="comment">
    <span class="comment_user"><%= comment.user.user_name %></span><span>: <%= comment.comment_text %></span>
    <% if comment.user == current_user %>
      <%= link_to "Delete", comment_path(comment), method: :delete %>
    <% end %>
</div>
