.form-container
  = form_for [@photo, @comment] do |f|
    .form-group
      = f.label :comment
      = f.text_area :comment, class: 'form-control'
    .form-group
      = f.submit 'Post', class: 'btn btn-primary'
