%b= link_to '@' + comment.user.username, feed_path(comment.user)
= comment.comment
- if comment.user == current_user
  %i= link_to 'Delete comment', photo_comment_path(comment.photo, comment), method: :delete
