<p>
  <strong><%= @user.find(comment.user_id).name %>:</strong>
  <%= comment.body %>
  <%= if user_signed_in? && current_user.id == comment.user_id
        button_to 'Delete Comment', [comment.post, comment], method: :delete,
        data: { confirm: 'Are you sure' }
      end %>
</p>
