<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      <strong>Comments</strong>
      <%= comment.comment %>
    </p>
  </p>
    <%= link_to "Edit Comment", edit_post_comment_path(@post, comment) %>
  </p>
  </body>
</html>
