%ul.list-group
  - comments.reverse_each do |comment|
    %li.list-group-item.comments
      .comment-content= comment.content
      %span.comment-user= user_handle(comment.user)
      %span.comment-time= "posted #{time_ago_in_words(comment.created_at)} ago"
