<p>
  <%= comment.user.email %>: <%= comment.body %>
</p>

<p>
  <%= link_to 'Delete Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
