<%= simple_form_for [@post, @comment] do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <%= f.input :text %>
    <%= f.button :submit %>
  </div>
<% end %>
