<div class="container" id="new-comment-form">
      <h1>Add Comment!</h1>
  <div class="row">
      <div class="offset-sm-4 col-sm-4">
          <%= bootstrap_form_for([@post, @post.comments.build]) do |f| %>
            <%= f.text_area :body %>
            <%= f.submit "Post!", id: :submit %>
          <% end %>
      </div>
    </div>
</div>
