<section class=comments-comments>
  <% post.comments.each do |comment| %>
    <p class=comments-comment>
      <%= comment.body%>
    </p>
  <% end %>
</section>
<section class='comments-new'>
  <%= form_for([post, post.comments.build]) do |f| %>
    <%= f.text_area :body, class: 'comments-textArea' %>
    <%= f.submit "âŽ" %>
  <% end %>
</section>
