<%= render 'shared/nav' %>

<style>
.center {
  max-width: 500px;
  margin: auto;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
</style>
<div class="center">
  <div class="row h-100 ">
    <div class="col-sm-12 my-auto" style="background:lightblue">
      <br>
      <h2 class="d-flex justify-content-center">Edit Comment: </h2>
      <br>
      <br>
      <%= form_for [ @post, @comment ] do |f| %>
      <div class="input-group">
        <div class="input-group-prepend">
          <button <% f.submit%> class="input-group-text" >Update</button>
        </div>
        <textarea class="form-control" <%= f.text_area :comment %></textarea>
        <br>
      </div>
      <% end %>
      <br>
      <br>
    </div>
  </div>
</div>
