<div class="container">
  <div class="row">
    <h2>Edit comment</h2>

    <%= form_for [@post, @comment] do |comment| %>
      <div class="form-group row">
        <div class="col-xs-12" id="comment">
          <%= comment.text_area(:comment, class: "form-control", rows: 7, id: "comment_field") %>
        </div>
      </div>

      <%= comment.submit "Update", class: "btn btn-primary" %>
      <%= link_to "Cancel", post_comment_path(@post, @comment) %>
    <% end %>
  </div>
</div>
