<h3>Comments</h3>
<% @comments.each do |comment| %>
<p>
  <strong>Post:</strong>
  <%= @comment.post_id %>
</p>

 
  <%= comment.text %>

<% end %>
  <%= link_to "Back to posts", posts_path %>

  <%= render partial: "category", collection: @comments, as: :collection %>