<h1>Comments</h1>

<div>
  <%= button_to "New comment", new_post_comment_path(@post), method: :get %>
</div>

<div>
  <ul id="comments">
    <% @comments.each do |comment| %>
      <li>
        <%= comment.text %>
        <%= comment.author_username %>
      </li>
    <% end %>
  </ul>
</div>
