<% p @posts %>
<% if @posts.comments.any? %>
  <% @posts.comments.each do |post| %>
    <div class="comment" id="<%=@posts.comments.id%>">
    <%= post.comments.comment %><br>
    </div>
  <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>
