<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">

  <title>Posts:</title>
  <link rel="stylesheet" href="app/assets/stylesheets/application.scss">
</head>

<body>
  <div>
    <% @post.comments.each do |x| %>
      <%= x.comment %>
    <% end %>
  </div>

  <script src="js/scripts.js"></script>
</body>
</html>
