<div class="col-md-8 col-md-offset-2">
  <div class="page-header">
    <h1 class="text-center">Leave Comment</h1>
  </div>

  <%= form_for [@photo, @comment] do |f| %>
    <div class="form-group">
      <%= f.label :message, "Comment" %>
      <%= f.text_area :message, rows: 5, :class => 'form-control' %>
    </div>
    <%= f.submit 'Post Comment', :class => 'btn btn-primary' %>
  <% end %>
</div>
