<div class="form">

  <%= form_for [@post, @comment] do |f| %>
    <%= f.label :comment %>
    <br>
    <%= f.text_area :comment, :class => 'caption' %>
    <br>
    <br>
    <%= f.submit 'Submit', :class => 'button' %>
  <% end %>

</div>
