<%= form_for [@post, @comment] do |form| %>
<div class="field">
  <h3><%= form.label :body %>
  <br><h3>
  <%= form.text_field :body %>
</div>
<div class="actions">
  <%= form.submit "Post!", :class => "btn btn-outline-success" %>
</div>
<% end %>
