
<div class="row">
   <div class="col-md-12 text-center">
      <h1 id="pic-head"> Leave a comment </h1>
   </div>
</div>
<div class="row">
   <div class="col-md-3"></div>
   <div class="col-md-6">
      <div class="form-wrapper">
         <%= form_for [@picture, @comment] do |form| %>
         <div class='form-group text-center '>
            <%= form.label :content %>
            <%= form.text_field :content, class: 'textbox' %>
         </div>
         <div class='form-group'>
            <div class='form-group text-center'>
               <%= form.submit "Comment", class: 'btn btn-link' %>
            </div>
            <% end %>
         </div>
      </div>
   </div>
   <div class="col-md-3"></div>
</div>
</div>
