<div class="container">
  <h2>Add Comment</h2>

  <%= form_for [@photo, @comment] do |c| %>
    <div class="form-group row">
      <label for="comment" class="col-xs-2 col-form-label"><%= r.label :comment %></label>
      <div class="col-xs-10" id="comment">
        <%= r.text_area(:comment, rows: 5, class: "form-control", placeholder: "Add your comments here") %>
      </div>
    </div>

    <%= r.submit(class: "btn btn-primary") %>
  <% end %>

</div>
