<div class="form-wrapper">
  <div class="row">
    <div class="container form-container">
      <%= form_for [@adventure, @comments] do |f| %>
        <div class="form-label">
          <%= f.label :thoughts %>
        </div>
        <div class="form-field">
          <%= f.text_area :thoughts, :class => "form-control" %>
        <div class="form-label">
          <%= f.submit 'Done', :class => "btn custom-button signup" %>
        </div>
        <% end %>
    </div>
  </div>
</div>
