- if @comment.errors.any?
  %section#errors
    %h2
      =pluralize @comment.errors.count, "error"
      prohibited this Snapshot! from being saved:
    %ul
      -@comment.errors.full_messages.each do |message|
        %li= message

=render 'form'
