<!DOCTYPE html>
<html>
<head>
  <title>InstagramChallenge</title>
</head>

<body>
  <%= form_for [@picture, @comment] do |f|  %>
    <%= f.label :message %>
    <%= f.text_field :message %>
    <%= f.submit 'Comment' %>
  <% end %>
</body>
</html>
