<div class="container">

  <h2>New comment</h2>

  <%= form_for [@post, @comment] do |comment| %>
    <div class="form-group row">
      <div class="col-xs-12" id="comment">
        <%= comment.text_area(:comment, class: "form-control", placeholder: "Add your comment here", rows: 7, id: "comment_field") %>
      </div>
    </div>

    <%= comment.submit "Add comment", class: "btn btn-primary" %>
    <%= link_to "Cancel", post_path(@post) %>
  <% end %>
</div>
