<div class="new-comments" id="new-comments">
  <h2>Add comment</h2>
  <%= form_for(@comment, url: picture_comments_path) do |f| %>
    <tr>
      <td><%= f.text_field :content, placeholder: "Add a comment" %></td>
    </tr>
    <div class="form-buttons">
      <%= f.submit("Create") %>
    </div>
  <% end %>
</div>
