<div class="container">
  <div class="row">
    <div class="col-xs-4"></div>
      <div class="col-xs-4">
        <%= form_for [@picture, @comment], :url => picture_comments_path do |f| %>
          <%= f.label :comment %><br>
          <%= f.text_field :comment %>
          <p>
          <%= f.submit "Comment" %>
        <% end %>
      </div>
  </div>
</div>
