<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="form-style-5">
    <%= form_for [@post, @comment] do |f| %>
    <%= f.label :thoughts %>
    <%= f.text_area :thoughts %>
    <%= f.submit 'Leave Comment' %>
    <% end %>
  </div>
</body>
</html>
