<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="form-style-5">
    <%= form_for [@post, @comment] do |f| %>
    <%= f.label :thoughts %>
    <%= f.text_area :thoughts %>
    <%= f.submit 'Leave Comment' %>
    <% end %>
  </div>
</body>
</html>

<style type="text/css">

body {
  background-image: url('http://www.easterlingstudios.com/assets/images/background.jpg');
  background-position: center;
}

h1 {
  text-align: center;
  font-family: 'Arima Madurai', cursive;
}

.form-style-5 {
  max-width: 500px;
  padding: 10px 20px;
  background: #90B6BB;
  margin: 10px auto;
  padding: 20px;
  background: #90B6BB;
  border-radius: 8px;
  font-family: 'Arima Madurai', cursive;
}
.form-style-5 fieldset {
  border: none;
}
.form-style-5 legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.form-style-5 label {
  display: block;
  margin-bottom: 8px;
}
.form-style-5 input[type="file"],
.form-style-5 input[type="text"],
.form-style-5 select,
.form-style-5 textarea {
  font-family: 'Arima Madurai', cursive;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;

}
.form-style-5 input[type="file"]:focus,
.form-style-5 input[type="text"]:focus,
.form-style-5 select:focus,
.form-style-5 textarea:focus {
  background: #d2d9dd;
}

.form-style-5 input[type="button"],
.form-style-5 input[type="submit"] {
  position: relative;
  font-family: 'Arima Madurai', cursive;
  display: block;
  padding: 19px 39px 18px;
  color: #FFF;
  margin: 0 auto;
  background: #39737B;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #51A3AE;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}
.form-style-5 input[type="button"]:hover,
.form-style-5 input[type="submit"]:hover {
  background: #51A3Ae;
}

a {
  font-family: 'Arima Madurai', cursive;
  font-size: 1.5em;
  color: white;
}

</style>
