.container{:style => "font-family: Open Sans;"}
  = simple_form_for [@post, @comment] do |f|
    %legend Comment
    .form-group
      %p= f.text_area :comments, id: 'textarea'
    .form-group
      = f.button :submit, class: 'btn-success'
