<div class="upload_box">
  <center>
    <br><h2>Add a Comment</h2>
    <%= form_for [@image, @comment] do |f| %>
      <%= f.label :comments %><br>
      <%= f.text_area :comments %><br>
      <%= f.submit 'Leave Comment' %><br>
    <% end %>
  </center>
</div>
