
  <%= image_tag @photo.image.url(:medium) %>
  <h4> <%=  @photo.caption %> </h4>
  <% @comments.each do |comment| %>
    <h4><%= comment.body %> </h4>
    <h5> Made at: <%= comment.created_at  %> </h5>
     <br></br>
  <% end %>
