<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <h2><%= picture.description %></h2>
    <%= image_tag picture.image.url(:thumb) %>
    <% end %>
  <% else %>
    <h1>no posts yet</h1>
<% end %>
​
