<h1>Log In</h1>

<%= form_for :user do |f| %>
  Email: <%= f.text_field :email, name: "email" %><br />
  Password: <%= f.password_field :password, name: "password" %><br />
  <%= f.submit :'Log in', name: "log_in" %><br />
<% end %>

<% if session.delete :invalid_login %><p>Invalid username or password</p><% end %>
