<!DOCTYPE html>
<html>
  <head>
    <title>Outstagram</title>
    <%= csrf_meta_tags %>


  </head>

  <body>
    <% if user_signed_in? %>
    Welcome <%= current_user.first_name %>
    <% end %>
    <%= yield %>
  </body>
</html>
