<h1>New Post:</h1>
<%= simple_form_for @picture do |f| %>
  <%= f.input :title, input_html: {class: 'form-control'} %>
  <%= f.input :description, input_html: {class: 'form-control'} %>
  <%= f.button :submit, class: "btn btn-success"%>
<% end %>
