<h1>{{title}}</h1>

<form action="/photos" method="POST", id="form1">
  <label for="image">Image:</label>
  <input type="text" id="image" name="image" required><br><br>
  <label for="text">Email:</label>
  <input type="text" id="text" name="text" required><br><br>
  <label for="userId">User ID:</label>
  <input type="text" id="userId" name="userId" required><br><br>
  <input type="submit" value="Submit" id="submit">
</form>