extends layout 

block content 
  h1(id='title') #{title} 
  button(id='login-button' class='button') Login
  button(id='signup-button' class='button') Sign Up
  button(id='add-post-button' class='button') Add Post