<!DOCTYPE html>
<html>
  <head>
    {{#if user}}
      <form action='/sessions?_method=DELETE' method='POST'>
        <button class = "logout">Log Out</button>
      </form>
    {{else}}
      <form action='/sessions/new'>
        <button class = "login">Log In</button>
      </form>
    {{/if}}
    {{#if user}}
      Hey {{user.email}}
    {{/if}}
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {{{body}}}

  </body>
</html>
