extends layout

block content 
   h2 To Upload Image
    div(id="photo-upload-form")
        form(action="/" method="POST" enctype="multipart/form-data")
          div(id='image-name' class='form')
            label(for="name")
              input(type="text" id="name" placeholder="Name" value="" name="name" required)
              |  Image Title
          div(id='image-description' class='form')
            label(for="desc") 
              textarea(id="desc" name="desc" value="" rows="2" placeholder="Description" required)
              | Image Description
          div(id='image-upload' class='form')
            label(for="image")
              input(type="file" id="image" name="image" value="" required)
            |  Upload Image
          div(id='submit-button')
            button(type="submit") Submit