extends layout

block content 
  h1 To Upload Image on mongoDB
  hr
  div(id="photo-upload-form")
      form(action="/" method="POST" enctype="multipart/form-data")
        label(for="name")
          input(type="text" id="name" placeholder="Name" value="" name="name" required)
          |  Image Title
        label(for="desc") 
          textarea(id="desc" name="desc" value="" rows="2" placeholder="Description" required)
          | Image Description
        label(for="image")
          input(type="file" id="image" name="image" value="" required)
          |  Upload Image
        button(type="submit") Submit