* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
}

.content {
  border-width: thin;
  border-style: solid;
  border-color: lightgrey;
  position: absolute;
  top: 5%;
  left: 35%;
  background-color: white;
  width: 30%;
  height: 70%;
  text-align: center;
}

.logInOption {
  border-width: thin;
  border-style: solid;
  border-color: lightgrey;
  position: absolute;
  top: 80%;
  left: 35%;
  background-color: white;
  width: 30%;
  height: 10%;
  text-align: center;
}

.input {
  position: relative;
  top: 15%;
  left: 15%;
  background-color: white;
  width: 70%;
  height: 60%;
}

h1 {
  font-family: "Brush Script MT";
  font-size: 350%;
  background-color: white;
  position: relative;
  width: 70%;
  top: 5%;
  left: 15%;
}

#description {
  font-family: "Arial";
  font-size: 100%;
  color: grey;
  background-color: white;
  text-align: center;
  position: relative;
  width: 70%;
  top: 10%;
  left: 15%;
}

#logIn {
  font-family: "Arial";
  font-size: 90%;
  font-weight: lighter;
  background-color: white;
  text-align: center;
  position: relative;
  width: 70%;
  height: 30%;
  top: 35%;
  left: 15%;
}

input[type=text] {
  border-width: thin;
  border-style: solid;
  border-color: lightgrey;
  position: relative;
  top: 10%;
  font-size: 90%;
  font-weight: lighter;
  text-align: center;
  height: 10%;
  width: 70%;
  background-color: whitesmoke;
}

button[type=button] {
  border-width: thin;
  border-style: solid;
  border-color: dodgerblue;
  position: relative;
  top: 15%;
  font-size: 90%;
  font-weight: bold;
  color: white;
  text-align: center;
  height: 10%;
  width: 70%;
  background-color: dodgerblue;
}
