.smiles__img {
  color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  border: none;
  border-style: none;

  float: right;
  height: 20px;
  width: 20px;
  margin-left: 0.5em;
}
.smiles__img--smile {
  background: url(/images/smile_sprites.png) 20px 0;
}
.smiles__img--smile:hover {
  background: url(/images/smile_sprites.png) 0 0;
}

.smiles__img--indifferent {
  background: url(/images/smile_sprites.png) 0 0;
}
.smiles__img--indifferent:hover {
  background: url(/images/smile_sprites.png) 20px 0;
}

.smiles__img:focus {
  outline: none;
}
.link__add-photo {
  text-align: center;
}
.panel-default {
  margin: 2em;
}