body {
	text-align: center;
	background-color: #f2f3f5;
}

header {
	position: fixed;
	width: 100%;
	padding: 10px;
	margin-top: -5%;
	margin-left: -10px;
	background-color: white;
	border: 1px lightgrey;
	box-shadow: 5px 5px 5px 5px #888888;
}

.site-nav {
	display: grid;
	grid-template-columns: 70% 30%;
}

.site-name {
	text-align: left;
	padding: 0 0 0 20px;
}

.site-links {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.site-links img {
	width: 30px;
	/* padding: 0 5px 0 5px; */
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropbtn {
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: lightgrey;
}

.error-message {
	height: 30px;
	margin-top: 5%;
	color: red;
}

.user-form {
	background-color: white;
	padding: 50px 0 50px 0;
	width: 40%;
	margin-top: 5%;
	margin-left: 30%;
	border: 1px lightgrey;
	box-shadow: 5px 5px 5px 5px #888888;
}

.form-title {
	margin: 30px 0 30px 0;
}

.labelled-field {
	display: grid;
	grid-template-columns: 25% 75%;
	margin: 10px 20% 10px 20%;
}

.labelled-field label {
	text-align: left;
}

.image-upload {
	margin-left: 50px;
}

.posts {
	width: 50%;
	margin-left: 25%;
}

.post {
	background-color: white;
	border: 1px lightgrey;
	box-shadow: 5px 5px 5px 5px #888888;
	margin-bottom: 30px;
}

.post img {
	width: 100%;
	height: auto;
}

.post-top {
	text-align: left;
	padding: 10px 0 5px 20px;
	font-weight: bold;
}

.post-actions {
	/* height: 50px; */
	width: 100%;
	display: grid;
	grid-template-columns: 5% 5% 5% 80% 5%;
}

.post-actions img {
	width: 20px;
	padding: 5px 5px 10px 5px;
}

.comments-list {
	width: 100%;
	padding: 10px 0 20px 0;
}

.post-bottom {
	text-align: left;
	padding: 10px 20px 5px 20px;
}

.add-comment {
	width: 100%;
	display: grid;
	grid-template-columns: 5% 90% 5%;
	border-top: 1px solid lightgrey;
	padding-top: 5px;
}

.add-comment img {
	width: 20px;
	padding: 5px 5px 10px 5px;
}

.add-comment input {
	border: none;
}

.add-comment button {
	border: none;
	background-color: white;
}
