body {
  text-align: center;
  background-color: #F8F8F8;
}
.feedContainer {
  width: 60%;
  margin: 0 auto;
}
.postContainer {
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  padding: 1.5rem 0;
  margin: 2rem 0;
}
.pic {
  width: 100%;
}
.caption {
  font-size: 1.2rem;
  text-align: left;
  margin-left: 1rem;
}
.userName {
  font-size: 1.5rem;
  font-weight: bolder;
}
form {
  width: 50%;
  margin: 0 auto;
  display: block;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 2rem;
}
input {
  padding: .6rem;
  border-radius: 3px;
  border: 1px solid #eee;
  font-family: inherit;
  display: block;
  width: 100%;
  border-radius: 3px;
  border: 1px solid gainsboro;
  font-family: inherit;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.2rem 0.7rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input::-webkit-input-placeholder {
  padding: 1rem;
  margin: auto;
  text-align: left;
}
label {
  display: block;
}
.button {
  color: white;
  background-color: #4c7d77;
  border: none;
  border-radius: 3px;
  padding: .3rem;
  font-size: 1.1rem;
  font-family: 'Orbitron', sans-serif;
  width: 50%;
  margin: 0 auto;
}
.button:hover {
  background-color: #009900;
  cursor: pointer;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
