<!DOCTYPE html>
<html>
<head>
  <title>InstaClone</title>
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="title">
  <img class="title_image" src="https://s-media-cache-ak0.pinimg.com/236x/c8/88/8c/c8888c7dba9fe14aeed6d327e300b333.jpg">
  <h1>InstaClone</h1>
</header>
<%= yield %>

</body>
</html>
