<b><%= button_to 'Share Pic!', new_instapic_path, :method => :get %></b>

<% if @instapics.all.any? %>
  <% @instapics.all.each do |pic| %>
    <h2><%= pic.description %></h2>
  <% end %>
<% else %>
  <h2> No pics here! Why don't you share something?</h2>
<% end %>
