<%= button_to "Share Pic!", new_instapic_path, :method => :get %>

<% if @instapics.all.any? %>
  <% @instapics.all.each do |pic| %>
    <%= (@users.find(pic.user_id)).nickname %><br />
    <%= image_tag pic.image.url(:medium) %><br />
    <p><%= pic.description %></p>
  <% end %>
<% else %>
  <h2> No pics here! Why don't you share something?</h2>
<% end %>
