/* line 1, /Users/dimdim/Dropbox/Projects/instagram-challenge/app/assets/stylesheets/application.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 5, /Users/dimdim/Dropbox/Projects/instagram-challenge/app/assets/stylesheets/application.scss */
.header {
  margin-bottom: 30px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #A8E9FF;
}
/* line 10, /Users/dimdim/Dropbox/Projects/instagram-challenge/app/assets/stylesheets/application.scss */
.header .logo {
  color: #007EA8;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 20px;
  font-family: 'Indie Flower', serif;
  font-size: 2.2em;
}
/* line 18, /Users/dimdim/Dropbox/Projects/instagram-challenge/app/assets/stylesheets/application.scss */
.header .header-link {
  padding: 0px 10px 0px 10px;
  margin-right: 5px;
  margin-left: 5px;
  height: 100%;
  display: inline-block;
  background-color: white;
  border: 1px solid #D0D9DB;
}
/* line 26, /Users/dimdim/Dropbox/Projects/instagram-challenge/app/assets/stylesheets/application.scss */
.header .header-link a {
  color: #6B6F70;
}
/* line 30, /Users/dimdim/Dropbox/Projects/instagram-challenge/app/assets/stylesheets/application.scss */
.header .header-link:hover {
  background-color: #DFE6E8;
}
/* line 33, /Users/dimdim/Dropbox/Projects/instagram-challenge/app/assets/stylesheets/application.scss */
.header a {
  text-decoration: none;
  font-size: 1.2em;
}
