<% if @posts.all.any? %>
  <% @posts.all.each do |post| %>
    <h2><%= image_tag post.image.url(:medium) %></h2>
    <h2><%= post.caption %></h2>
  <% end %>
<% else %>
  <h1> No posts yet </h1>
<%end%>


<a href='posts/new'>Add your post</a>
