<% if @adventures.any? %>
  <% @adventures.each do |adventure| %>
    <h2><%= link_to adventure.name, travelgram_path(adventure) %></h2>
    <p><%= link_to "Edit #{adventure.name}", edit_travelgram_path(adventure)%></p>
    <p><%= link_to "Delete #{adventure.name}", travelgram_path(adventure), method: :delete %></p>
  <% end %>
<% else %>
  <h1>Start posting!</h1>
<% end %>

<%= link_to 'Share Adventure', new_travelgram_path %>