<% if @adventure.errors.any? %>
  <section id="errors">
    <h5><%= pluralize(@adventure.errors.count, "error") %> prohibited this adventure from being saved: </h5>
    <ul>
      <% @adventure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
<%= render "form" %>

