 <p><%= @adventure.name %></p>
 <p><%= @adventure.description %></p>
     <h4>Comments:</h4>
     <p><% @adventure.comments.each do |c| %></p>
     <p><%= c.thoughts %></p>
        <% end %>
 <p><%= link_to "Comment", new_travelgram_comment_path(@adventure) %>

