<h1>The Marvelous Picts Feed! </h1>

<%= link_to 'New Pict',  new_pict_path %>

<% @picts.each do |pict| %>

 <h2> <%= pict.title %> <h2>

  <%= image_tag(pict.image) %>

 <%= link_to 'Destroy Pict', pict_path(pict), method: :delete %>

<% end %>
