\%= simple_form_for(@%= singular_table_name %&gt;) do |f| %&gt;
\%= f.error_notification %&gt;
.form-inputs
  - attributes.each do |attribute|
    \%= f.%= attribute.reference? ? :association : :input %&gt; :#{attribute.name} %&gt;
.form-actions
  \%= f.button :submit %&gt;
\% end %&gt;
