body {
  background-color: #fafafa;
}

#snapshot {
  color: white;
  font-size: 18px;
  line-height: 22px;
  float: left;
}

.navbar {
  background-color: #574E6D;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  line-height: 25px;
  float: right;
  display: block;
  color: #DDDDDD;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #43405D;
  color: #DDDDDD;
  text-decoration: none;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.post-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
}

.post {
  background-color: #F9FBFB;
  margin-bottom: 0px;
}

.post-head {
  height: 60px;
  padding: 14px 20px;
  color: #125688;
  font-size: 15px;
  line-height: 22px;
}

.image {
  padding-bottom: 30px;
}

.caption {
  padding: 24px 24px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 22px;
  background-color: #F9FBFB;
}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #F9FBFB;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}
