body {
  background-color: #fafafa;
  padding-left: 20px;
}

#snapshot {
  color: white;
  font-size: 18px;
  line-height: 22px;
  float: left;
}

.navbar {
  background-color: #574E6D;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  line-height: 25px;
  float: right;
  display: block;
  color: #DDDDDD;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #43405D;
  color: #DDDDDD;
  text-decoration: none;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

#show-page {
  padding-bottom: 50px;
}

#link {
  float: right;
  padding-top: 1%
}

.post-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
}

.post {
  background-color: #F9FBFB;
  margin-bottom: 0px;
}

.post-head {
  height: 60px;
  padding: 14px 20px;
  color: #125688;
  font-size: 15px;
  line-height: 22px;
}

#time-ago {
  float: right;
}

.image {
  padding-bottom: 30px;
}

.caption {
  padding: 24px 24px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 23px;
  background-color: #F9FBFB;
}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #F9FBFB;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

/* Simple form styles from https://github.com/plataformatec/simple_form/wiki/CSS-for-simple_form */

.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #dbdbdb;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}
