<div class="postbox" style="padding: 10px 0px 10px 10px">
  <%= form_for [@post, @comment] do |f| %>
    <%= f.label :thoughts, "Thoughts:" %>
    <%= f.text_field :thoughts %>
    <%= f.submit 'Add comment', :class => 'btn btn-danger' %>
  <% end %>
</div>
