<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../js/SignUp.js"></script>
    <link rel="stylesheet" href="../css/SignUp.css">
  </head>
  <body>
    <div class="content">
      <h1>Instagram</h1>
      <h5 id="description">Sign up to see photos and videos from your friends.</h5>
      <div class="input">
        <input type="text" id="name" placeholder="Name"><br><br>
        <input type="text" id="email" placeholder="Email"><br><br>
        <input type="text" id="password" placeholder="Password"><br><br>
        <input type="text" id="password_confirmation" placeholder="Confirm password"><br><br>
        <button type="button" id="createUser">Sign up</button>
      </div>
    </div>
    <div class="logInOption">
      <h5 id="logIn">Have an account? <a href="/login">Log in</a></h5>
    </div>
  </body>
</html>
