<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../js/UserPage.js"></script>
  </head>
  <body>
    hello world!

    <a href="/logout" data-method="delete">Log out</a>

    <form enctype="multipart/form-data" action="/users/1/images" method="post">
      <input type="file" id="file">
      <input type="submit" id="uploadButton">
    </form>

    <div id="images">

    </div>
  </body>
</html>
