// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$bgcolor: rgb(34, 36, 37);
$textcolor: black;
$fontsize: 18px;

/* Use the variables */
body { 
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}
div {
  border-radius: 40px;
  padding: 2% 2% 2% 2%;
  border: 1px solid grey;
  background-color: grey; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}


