// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;

/* Use the variables */
body {  
  font-family: "Lucida Console", Courier, monospace;
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}

