// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$bgcolor: rgb(34, 36, 37);
$textcolor: black;
$fontsize: 18px;

/* Use the variables */
body { 
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}
div {
  border-radius: 40px;
  padding: 5% 5% 5% 5%;
  border: 1px solid grey;
  background-color: grey;
  width: 70%;
  margin: auto;
  margin-top: 20%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
}
a {
  color: black;
}
i {
  color: white;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #4CAF50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
img {
  border-radius: 5px;
  width: 100%;
  height: 100%;

}

.comments {
  border-radius: 40px;
  padding: 5% 5% 5% 5%;
  border: 1px solid grey;
  background-color: grey;
  width: 70%;
  margin: auto;
  margin-top: 5%
}

.comments p{
  text-align: left;
  font-size: 15px
}