<% if @photo.errors.any? %>
  <section id="errors" >
    <h2> <%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved: </h2>
    <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>


<%= render "form" %>
