<div class="posts-wrapper">

  <% @posts.each do |post| %>
  <div class="post">
    <div class="post-head">
    </div>
    <div class="image">
      <%= link_to (image_tag post.image.url(:medium)), post_path(post) %>
    </div>
    <div class="caption">
      <%= post.caption %>
    </div>
  </div>
  <% end %>

  <%= link_to 'New Post', new_post_path %>


</div>
