<h1>Snappergram</h1>
<%= link_to 'New Post', new_post_path %>

  <% @posts.each do |post| %>
    <%= link_to (image_tag post.image.url(:medium)), post_path(post) %>
    <%= post.caption %>
  <% end %>
