<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <%= current_user.user_name %>
    </div>
    <div class="image">
      <%= image_tag @post.image.url(:medium) %>
    </div>
    <div class="caption">
      <%= @post.caption %>
    </div>
    <div class="edit-links" style="text-align: center;">
      <%= link_to "Edit Post", edit_post_path(@post) %>
    </div>
  </div>
</div>
