body {
  font-family: 'Roboto', sans-serif;
}

.navbar-default .navbar-brand {
  font-family: 'Courgette', cursive;
  color: black;
}

.btn-default {
  background-color: #F8F8F8;
  display: inline-block;
}

#search-form {
  display: inline-block;
}

#search {
  width: 200px;
  padding: 5px 16px;
}

#search-btn {
  width: 30px;
  height: auto;
  background-color: #F8F8F8;
  padding: 5px;
}

.form-control {
  vertical-align: middle;
  margin-bottom: 40px;
}

.post {
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  margin-bottom: 40px;
  padding: 20px;
}

.picture {
  margin-bottom: 10px;
  padding: 20px;
  background-color: #F8F8F8;
}

.like-link {
  font-size: 30px;
}

.write-comment-link {
  font-size: 30px;
}

.like-count {
  font-weight: bold;
}

.navbar-brand {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  margin:0 auto;
  font-size: 40px;
}

.edit-photo {
  text-align: center;
}

.delete-photo {
  text-align: center;
}
