.box0 {
  position: absolute;
  top: 250px;
  width: 840px;
  background-color: white;
  border: 4px solid #CD5C5C;
  border-radius: 6px;
  color: #e8883a;
}

.signedinas {
  position: absolute;
  top: 15%;
  right: 5%;
  align: right;
  font-size: 18px;
  color: #823400;
  z-index: 3;
}

.box00 {
  padding-left: 5px;
}

.banner {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 230px;
  background-image: url('../images/film2.png');
  z-index: 1;
  background-attachment: fixed;
}

.boxA {


  position: absolute;
  padding-left: 16px;
  font-size: 64px;
  font-family: sans-serif;
  text-shadow: 2px 1px #efa056;
  z-index: 3;



}


.boxB {
  width: 760px;
  font-family: sans-serif;
  padding: 8px;
  background-color: #edddd0;
  border: 3px solid #7FFFD4;
  border-radius: 15px;
  color: #e8883a;
}

.boxC {
  width: 126px;
  font-family: sans-serif;
  padding: 6px;
  background-color: #edddd0;
  border: 3px solid #ffc759;
  border-radius: 15px;
  color: #e8883a;
}


}

#bg1 {
  background-image: url('../images/camera.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* #bg2 {
  background-image: url('../images/camera.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#bg3 {
  background-image: url('../foods/RESTAURANT_FOOD_2.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */
