body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.central_divide {
  position: absolute;
  left: 30%;
  margin-right: -50%;
  width: 40%;
}

.photo_box {
  display: inline-block;
  width: 95%;
  height: 600px;
  border: solid red;
}

.username {
  font-family: Helvetica, Arial, 'Lucida Grande', sans-serif;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
  float: left;
  font-weight: 400;
  font-size: 120%;
}

.timestamp {
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  float: right;
}

.image {
  margin-top: 40px;
  height: 400px ;
  border: dashed black;
}

.caption {
  font-style: italic;
  font-weight: 100;
  margin-left: 5px;
  margin-right: 5px;
}

.favourites_count {
  margin-left: 5px;
  margin-top: 5px;
}

.favourites-link {
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

