body {
    background-size: cover;
    background-color: #99ccff;
}

.image_box {
  width: 100%;
  height: 100%;
	background-color: #FFF;
	box-shadow: 10px 10px 5px #888888;
	font-size: 14px;
	vertical-align: middle;
	text-align: left;
	text-indent: 10px;
  color: #0F62AB;
}

.image_header {
  height:35px;
  text-align: center;
  vertical-align: middle;
}
