body {
    background-size: cover;
    background-color: #99ccff;
}

.container.page_box {
	width: 98%;
	height:98%;
	background: rgba(204,204,204,0.7);
	border-radius: 20px;
	margin-bottom: 10px;
	border: rgba(91, 100, 117, 0.6) solid 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.index_left {
	float:left;
	padding: 20px;
	width: 60%;
	display: inline-block;
	margin: 20px;
}

.content_box.index_right {
	float:right;
	width: 30%;
	display: inline-block;
}


.content_box.inner_el {
	width:90%;
	overflow: hidden;
}

.option_div{
	font-size: 2em;
}

.inner {
	padding: 20px;
}

.content_box {
	margin: 20px;
	background: rgb(204,204,204);
	border-radius: 20px;
	border: rgba(91, 100, 117, 0.9) solid 1px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.pictureframe {
	background-image: url("images/house.jpg");
	background-size: contain;
	background-repeat:no-repeat;
	width:100px;
	height:100px;
	margin: 20px;
	float:left;
}

.index_content {
	margin-top:20px;
	overflow: hidden;"
}

.welcome_message {
	color:#9d9d9d;
	width: 300%;
	font-size: 17px;
	margin-top: 15px;
	margin-left: 180%;
	font-family:Oswald, sans-serif
}
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help
