body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  width: 100%;
  height: 100px; 
  background-color: rgb(75, 75, 75); 
}

.logout {
  display: block;
  background-color: rgb(75, 75, 75);
  border: none;
  font-size: 16px;
  color: white;
}
.loginpage {
  display: block;
  background-color: rgb(75, 75, 75);
  border: none;
  font-size: 16px;
  color: white;
}

.posts {
  background: rgb(75, 75, 75);
  width: 970px;
}

.images{
  max-width:300px;
  display:inline-block;
  margin: 10px 10px;
}
