body {
    background-size: cover;
    background-color: #99ccff;
}

.image_box {
  width: 100%;
  height: 100%;
	background-color: #FFF;
	box-shadow: 10px 10px 5px #888888;
	font-size: 14px;
	vertical-align: middle;
	text-align: left;
	text-indent: 10px;
  color: #0F62AB;
}

.image_header {
  height:35px;
  text-align: center;
  vertical-align: middle;
}

.sign_in_box {
  width: 60%;
	height: 350px;
	background-color: #0F62AB;
	box-shadow: 10px 10px 5px #888888;
	font-size: 14px;
	vertical-align: middle;
	text-indent: 10px;
  margin:0px auto;
  color: #FFF;
}

.sign_up_box {
  width: 60%;
	height: 400px;
	background-color: #0F62AB;
	box-shadow: 10px 10px 5px #888888;
	font-size: 14px;
	vertical-align: middle;
	text-indent: 10px;
  margin:0px auto;
  color: #FFF;
}

.upload_box {
  width: 60%;
	height: 200px;
	background-color: #0F62AB;
	box-shadow: 10px 10px 5px #888888;
	font-size: 14px;
	vertical-align: middle;
	text-indent: 10px;
  margin:0px auto;
  color: #FFF;
}
