body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

ul {
  list-style-type: none;
}
.central_divide {
  position: absolute;
  left: 30%;
  margin-right: -50%;
  width: 40%;
}

.photo_box {
  display: inline-block;
  width: 95%;
  height: 600px;
  border: solid #d8d8d8;
  border-width: 1px;
  margin-bottom: 20px;
}

.username {
  font-family: Helvetica, Arial, 'Lucida Grande', sans-serif;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
  float: left;
  font-weight: 400;
  font-size: 120%;
}

.timestamp {
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  float: right;
}

.image {
  margin-top: 40px;
  height: 400px;
}

.caption {
  font-style: italic;
  font-weight: 100;
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.favourites_count {
  margin-left: 5px;
  margin-top: 5px;
}

.favourites-link {
  display: inline-block;
  float: right;
  margin-left: 360px;
  margin-top: -1px;
}

.favourites_box {
  display: inline-block;
  font-size: 90%;
  margin-top: 6px;
  margin-left: 3px;
  margin-bottom: -7px;
}

.comment {
  font-size: 90%;
  margin-left: 7px;
  margin-top: -2px;
}

.comment_divide {
  width: 85%;
  height: 3px;
  margin-left: 7%;
  border-top: 1px solid;
  margin-top: 7px;
  border-color: #d8d8d8;
}


