/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  /*font-family: 'Satisfy', cursive;*/
  /*font-family: 'Press Start 2P', cursive;*/
  font-family: 'Satisfy', cursive;
  color: #A5D1D1;
}

h1 {
  float:center;
  font-size: 40px;
  text-align: center;
}

.new_post {
  text-align: center;
  font-size: 25px;
}

.new_post_link {
  text-decoration: none;
  color: #BBA5D1;
}

.add_post {
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: #BBA5D1;
  margin: 0 0 40px 0;
}

.each_post {
  width: 17em;
  float: left;
  border-style: solid;
  border-width: 2px;
  border-color: #BBA5D1;
  border-radius: 10%;
  margin: 10px;
  padding: 5px;
}

.each_caption {
  font-size: 1.25em;
}

.each_like_button {
  font-size: 2em;
  color: #F5CED8;
  text-decoration: none;
}

img {
  width: 15em;
  text-align: center;
  border-radius: 10%;
  position: relative;
  left: 15px;
}

.title_image {
  border-radius: 100%;
}

.title {
  float: center;
  text-align: center;
}

.no_posts {
  position: relative;
  top: 2em;
  text-align: center;
}

.add_comment_link {
  text-decoration: none;
  color: #F5CED8;
  font-size: 2em;
}

.choose_file {
  font-family: 'Satisfy', cursive;
}