
<!-- <div class="wrapper">
  <form class="uploads" method="POST" action="/photo/store" enctype="multipart/form-data">
    <div class="form-group">
      <label for="caption">Caption</label>
      <input type="text" name="caption">
    </div>
    <div>
      <input type="file" name="image">
    </div>
    <div>
      <input type="submit" value="Upload">
    </div>
  </form> -->
  <div class="images">
    <div class="post">
      <table class="table">
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <img src='<%= post.link %>'></img>
              <p><%= post.caption %></p>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
