    <!-- app/views/photo/index.html.erb -->
    <h1 style="text-align: center">Realtime PhotoFeeds!</h1>
    <div class="wrapper">
        <form class="uploads" method="POST" action="/photo/store" enctype="multipart/form-data">
            <%= token_tag %> 
            <div class="form-group">
                <label for="caption">Caption</label>
                <input type="text" name="caption">
            </div>
            <div style="margin-left: 5px;">
                <input type="file" name="image">
            </div>
            <div>
                <input type="submit" value="Upload">
            </div>
        </form>
        <div class="images" id="post_section">
            <% @posts.each do |post| %>
                <div class="post">
                        <div>
                            <img class="post-image" src="<%= post.link %>">
                        </div>
                        <p class="post-caption"><%= post.caption %></p>
                </div>
            <% end %>
          </div>
    </div>