<h3>Posts</h3>
  <div class="images">
    <div class="post">
      <table class="table">
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <img src='<%= post.link %>'></img>
              <p><%= post.caption %></p>
              <%= commontator_thread(post) %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
