<h1 style="text-align: center">Picture Sharing Thingy</h1>
    <div class="wrapper">
        <form class="uploads" method="POST" action="/photo/store" enctype="multipart/form-data">
            <%= token_tag %> 
            <div class="form-group">
                <label for="caption">Caption</label>
                <input type="text" name="caption">
            </div>
            <div style="margin-left: 5px;">
                <input type="file" name="image">
            </div>
            <div>
                <input type="submit" value="Upload">
            </div>
        </form>
        <div class="images" id="post_section">
        <% @posts.each do |post| %>
            <div class="post">
                    <div>
                        <img class="post-image" src="<%= post.link %>">
                    </div>
                    <div class="post-caption"><%= post.caption %><br><span class="likes-text">This post has <%= post.likes %> likes</span><span class="likes"></span></div>
            </div>
        <% end %>
            <div class="post">
                <div>
                    <img class="post-image" src="https://i.pinimg.com/originals/ac/a1/fc/aca1fc6a16231c88c62e22d255471ad4.jpg">
                </div>
                <div class="post-caption">Me enjoying the weekend challenge<br><span class="likes-text">This post has 60 likes</span><span class="likes"></span></div>
            </div>
        </div>
        <div class="images">
            <div class="post">
                <div>
                    <img class="post-image" src="https://pics.me.me/and-just-like-that-poof-weekend-gone-31269233.png">
                </div>
                <div class="post-caption">More pictures of me enjoying the weekend challenge<br><span class="likes-text">This post has 1.5k likes</span><span class="likes"></span></div>
            </div>
        </div>
        <div class="images">
            <div class="post">
                <div>
                    <img class="post-image" src="https://s4.scoopwhoop.com/anj/Photo/343e7cb0-9af9-442f-ae87-a6a38903be60.jpg">
                </div>
                <div class="post-caption">Me enjoying Sunday evening coding of the weekend challenge<br><span class="likes-text">This post has 1mln likes</span><span class="likes"></span></div>
            </div>
        </div>
    </div>