<h1>Upload Photo</h1>


<div class="photo_upload">
<%= form_for :photo, url:{action: "create"} html: {multipart: true, class: "new_photo"} do |f| %>
  <p>Image</p>
  <%= f.file_field :image %>
  <p>Caption</p>
  <%= f.text_field :name %>
  <%= r.submit "Upload" %>
<% end %>
</div>
