<div class="authform">


<h3>New Post</h3>
<form class="uploads" method="POST" action="/photo/store" enctype="multipart/form-data">
  <div class="form-group">
    <label for="caption">Caption</label>
    <input type="text" class='form-control' name="caption">
  </div>
  <div>
    <input type="file" accept="image/png, image/jpeg" class='form-control' name="image">
  </div>
  <div>
    <input type="submit" class='form-control' value="Upload">
  </div>
</form>
</div>
