<% if @scenes.any? %>
  <% @scenes.each do |scene| %>
    <h2><%= link_to scene.title, scene_path(scene) %></h2>
  <% end %>
<% else %>
  <h1>No scenes yet</h1>
<% end %>

<!-- <a href="#">Add a scene</a> -->

<%= link_to 'Add a scene', new_scene_path %>
