<%= image_tag @scene.image.url(:large) %>
<p> <%= @scene.title %> </p>

<table>
  <% @scene.comments.each do |comment| %>
  <tr>
    <td><%= comment.thoughts %></td>
  <% end %>
  </tr>
</table>

<%= link_to 'Back', :back %>
