<p>Editing</p>

<p><%= image_tag(@post.image) %></p>
<%= form_for :post, method: :patch, url: "/posts/#{@post.id}" do |f| %>
  Description: <%= f.text_field :description, name: 'description', value: @post.description %><br />
  <%= f.submit :Update, name: 'update' %><br />
<% end %>