<h1>Create a new post</h1>

<%= form_for :post do |f| %>
  Image: <%= f.file_field :image, name: 'image' %><br />
  Description: <%= f.text_field :description, name: 'description' %><br />
  <%= f.submit :Share, name: 'share' %><br />
<% end %>