<% if @all_contributions.any? %>
  <% @all_contributions.each do |contribution| %>
    <% contribution.comment %>
  <% end %>
<% else %>
  No contributions yet
<% end %>
<br>
<a href=new_contribution>Add a contribution</a>
