<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <%= image_tag picture.image.url(:thumb) %>
    <h5><%= picture.name %></h5>
    <p><%= picture.description %></p>
  <% end %>
<% else %>
  <h2>No pictures yet!</h2>
<% end %>
<a href=<%= new_picture_path %>>Post a picture</a>
