.container-fluid {
  padding-right: 50px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
.col-sm-5, .col-sm-7 {
  padding: 0;
}

.pc-menu {
  margin-right: 10px;
}

.mobile-menu {
  i {
    color: white;
  }
  ul {
    padding: 0px;
  }
  a {
    display: block;
    padding: 10px 0px 10px 25px !important;
  }
  a:hover {
    color: black !important;
    i {
      color: black;
    }
  }
}

.icon-bar {
  background-color: white !important;
}

.dropdown-menu a:hover {
  color: black !important;
  background: white !important;
}

body {
  padding-top: 70px;
}

#user_name {
  padding: 10px 0px 10px 25px;
}
