<section class='likes-likes'>
  <span class='likes-count' id="like-<%= post.id %>">
    <%= pluralize(post.likes.count, "like") %> |
  </span>
  <%= link_to '♥', post_likes_path(post), method: :post, class: "likes-link", data: { id: post.id } %>
</section>
