<section class='likes-likes'>
  <span class='likes-count'>
    <%= pluralize(post.likes.count, "like") %> |
  </span>
  <%= link_to '♥', post_likes_path(post), method: :post, class: "likes-link" %>
</section>
