body {
  background-color: #f0f0f5;
  background-image: url(ducks.jpg);
  background-repeat: no-repeat;
  background-position: 270px 100px;
  font-family: Verdana;
  color: #131320;
}

h1 {
  font-family: cursive;
  font-size: 3em;
  position: absolute;
  left: 600px;
  top: 100px;
}

a:link {
  text-decoration: none;
  color: #131320;
}

a:visited {
  color: #131320;
}

a:hover {
  color: #56568f;
}

form {
  position: absolute;
  left:950px;
  top: 250px;
}
