body {
  height: 100%;
  margin: 0;
  font-family: 'Space Mono', monospace;
  color: #2C3E50
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

form, table {
  display: inline;
  margin:0px;
  padding:0px;
}

p, ul {
  font-size: 25px;
  line-height: 30px;
  color: #2C3E50
}

h1, h2, h3 {
  display: inline;
  color: white;
}

header {
  background-color: black;
  padding-bottom: 10px;
}

img.property_image {
    width: 600px;
    height: auto;
}

.centerlogin {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  background-color: #1F2F4E;
  padding-bottom: 20px;
  margin-top: 20px;
  border:1px solid white;
}

.properties_div {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #838C95;
  padding: 10px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 20px;
}

.title {
  font-size: 30px;
}

.big_div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  background-color: #1F2F4E;
  padding-bottom: 20px;
  margin-top: 20px;
  border:1px solid white;
}

.textarea_label {
  display: inline-block;
   float: left;
   clear: left;
   width: 250px;
   text-align: right;
   margin: 10px;
   color: white;
}

.textarea {
  width: 50%;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin-right: 70px;
  display: inline-block;
  float: left;
  font-size: 20px;
  margin: 10px;
  font-family: inherit;
}

h1.white_font {
  color: white;
  line-height: 30px
}

.field {
  line-height: 20px;
  font-size: 20px;
}

.button {
  border: 2px outset white;
  font-size: 20px;
  text-decoration: none;
  margin: 10px;
  color: #2C3E50;
  background-color: #D5EEF5;
  font-family: 'Space Mono', monospace;
}

.prices {
  font-size: 20px;
  display: inline;
  float: right;
}

.page {
  background-image: url("http://i.imgur.com/X2iuknF.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #9ab5d1;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
