body {
  background-color: #f0f0f5;
  font-family: Verdana;
  color: #131320;
}

header {
  background-color: white;
}

#newimage {
  font-family: cursive;
  position: relative;
  left: 10px;
  top: 100px;
}

h1 {
  font-family: cursive;
  font-size: 3em;
  position: relative;
  left: 600px;
  top: -30px;
}

#logout {
  font-family: cursive;
  position: relative;
  float: right;
  right: 10px;
  top: -60px;
}

a:link {
  text-decoration: none;
  color: #131320;
}

a:visited {
  color: #131320;
}

a:hover {
  color: #56568f;
}

.post {
  border-style: ridge;
  border-color: #131320;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  width: 650px;
  position: relative;
  left: 300px;
}

#caption {
  font-weight: bold;
}
