- if @photos.any?
  - @photos.each do |photo|
    = image_tag photo.image.url(:medium)
    %h2= link_to photo.caption, photo_path(photo)
- else
  %h1 No one has posted any photos yet...

=link_to "Post a photo", new_photo_path
