<div>
  <br>
<a href='/photos/new'>Add a photo</a>
</div>
<% if @photos.any? %>
  <% @photos.each do |photo| %>
    <div class = "picture">
    <p> <%= link_to photo.comment, photo_path(photo) %> </p>
    <br>
    <%= image_tag photo.image.url(:thumb) %>
    <br>
    <%= link_to "Review #{photo.comment}", new_photo_review_path(photo) %>
    <br>
    <!-- <%= link_to "Delete #{photo.comment}", photo_path(photo), method: :delete %> -->
  </div>
  <% end %>
<% else %>
  No photos yet
<% end %>
