<div class = "show"
<p><%= @photo.comment %></p>
<%= image_tag @photo.image.url(:medium) %>
<br>
<a><%= link_to "Delete #{@photo.comment}", photo_path(@photo), method: :delete %>
<%@reviews = @photo.reviews%>
<%@reviews.each do |review|%>
<br>
<p><%=review.thoughts%></p>
<br>
<% end %>
</div>
