<div class="text-field">
  <%= form.text_field :email, type: 'email', placeholder: 'Email', class: 'form-field' %>
</div>

<div class="username-field">
  <%= form.text_field :username,  placeholder: 'Username', class: 'form-field' %>
</div>

<div class="password-field">
  <%= form.password_field :password, placeholder: 'Password', class: 'form-field' %>
</div>
