<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class:"nav-link active"%>
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', users_new_path, class:"nav-link active"%>
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>