<h1>Edit Profile</h1>

<div class="user-edit-page">
  <div class="edit-options">
    <%# <a href="">Edit Profile</a> %>
    <%# <a href="">Change Password</a> %>
  </div>
  <div class="user-info">
    <%= form_with model: current_user, local: true, html: {class: "form-horizontal form-edit-user"} do |f| %>
      <div class="col-sm-3 col-form-label">
        <img class="avatar" height="100px"  src="/test_user_pic.jpg">
      </div>
      <div class="col-sm-9">
        <p><%= current_user.usernname %></p>
        <a class="change-photo" href="">Change Profile Photo</a>
      </div>
    <% end %>
  </div>

</div>