<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Instagram</title>
  </head>
  <body>
    <%= flash[:notice] %>
    <div id='signed-out-buttons'>
      <a href='users/new'>Sign Up</a>
      <a href='signin'>Sign In</a>
    </div>
  </body>
</html>
