<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Instagram</title>
    <link rel="stylesheet" type="text/css" href="app/views/css/styles.css">
  </head>
  <body>
    <center>
      <div id='main-menu'>
        <h1>Instagram</h1>
        <%= flash[:notice] %>
        <a href='users/new'>Sign Up</a>
        <br>
        <a href='signin'>Sign In</a>
      <div>
    </center>
  </body>
</html>
