<h1>Sign-up</h1>

<div class= "postform">
        <%= simple_form_for @user do |f| %>
        <%= f.input :username, input_html: { class: 'input' }, wrapper: false %>
        <%= f.input :password, input_html: { class: 'textarea' }, wrapper: false %>
        <%= f.button :submit, "POST", class: "button is-primary"%>
        <% end %>
</div>



