<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_with do |form| %> 
  <%= form.text_field :username %>
  <%= form.text_field :password %>
  <%= form.submit "Sign up" %>
<% end %>

