<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <% @posts.all.each do |post| %>
          <div class="picture-profile"> <%= image_tag post.image.url(:small), class: 'center-block' %> </div>
          <span class="edit-photo center-block"> <%= link_to 'Edit Post', edit_post_path(post) %> </span>
          <span class="delete-photo center-block"> <%= link_to 'Delete Post', post_path(post), method: :delete %> </span>
          <%end%>
    </div>
  </div>
</div>
