
<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="./app/assets/images/girl.jpg">
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username">luanotes</h2>
        <a class="edit-profile">
          <button>Edit Profile</button>
        </a>
      </div>
       <div class="user-tabs">
         <a class="tab active" href="">
          <i class="fa fa-th"></i>
           POSTS
          </a>
          <a class="tab" href="">
           <i class="fa fa-tv"></i>
           IGTV
          </a>
         <a class="tab" href="">
          <i class="fa fa-bookmark"></i>
           SAVED
         </a>
        <a class="tab" href="">
        <i class="fa fa-tag"></i>
           TAGGED
         </a>
      </div>
      <ul class="posts">
        <li><span>12</span> posts</li>
        <li><span>195</span> followers</li>
        <li><span>345</span> following</li>
      </ul>
      <h2 class="name">Luan Nguyen</h2>
      <a class="website">luanotes.com</a>
    </div>
  </div>
</div>