<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="/images/profile_1.png">
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= current_user.username %></h2>
        <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>?</span> posts</li>
        <li><span>?</span> followers</li>
        <li><span>?</span> following</li>
      </ul>
      <h2 class="name"><%= current_user.name %></h2>
    </div>
  </div>
</div>

<div class="user-images">
  <div class="wrapper">
    <img src="/images/ashley_one.jpeg">
  </div>
  <div class="wrapper">
    <img src="/images/ashley_two.png">
  </div>
  <div class="wrapper">
    <img src="/images/ashley_three.jpeg">
  </div>
</div>