<div class="user-profile">

  <div class="profile-row">
    <div class="col-md-4 avatar">
      <img height="200px" src="/fran_profile.jpg" />
    </div>

    <div class="col-md-8 basic-info">
      <h2 class="username"> <%= current_user.usernname %> </h2>
      <h3 class="username"> <%= current_user.bio %> </h3>
      <a class="edit-profile" href="<%= edit_user_path(current_user)%>">
        <button>Edit Profile</button>
      </a>
    </div>

    <ul class="posts">
      <li><span>0</span> posts</li>
      <li><span>0</span> followers</li>
      <li><span>0</span> following</li>
    </ul>
    
    <h2 class="name"> <%= current_user.name %></h2>

    <a class="user-posts" href="">
        My Posts
    </a>

</div>



