<div class="col-md-8 basic-info">
  <div class="user-wrapper">
    <h2 class="username"> current_user </h2>
    <h2 class="name">current user name</h2>
    <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
      <button class="btn btn-secondary">Edit Profile</button>
    </a>
  </div>
</div>