<h3><%= @user.name if @user.name %></p></h3>
  <div class="images">
    <div class="post">
      <table class="table">
        <tbody>
  <% @user.posts.each do |post|%></p>
  <tr>
<img src='<%= post.link %>'></img>
<p><%= post.caption %></p>
<%= commontator_thread(post) %>
</tr>
<% end %>
</tbody>
</table>
</div>
</div>
</div>
