<h2><%= @user.full_name %></h2>

<div class="card-columns">
  <% @images.each do |image| %>
    <div class="card">
      <div class="card-body p-1">
        <%= image_tag image.image, class: 'd-block w-100 mb-1' %>
        <%= link_to 'View Image', image_path(image.image.id), class: 'btn btn-secondary stretched-link' %>
        <p class="my-1"><%= image.description %></p>
      </div>
    </div>
  <% end %>
</div>
