<div class="user-profile">
  <div class="profile_row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
      <!-- LEFT: AVATAR HERE -->
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username">amy</h2>
        <a class="edit-profile">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>12</span> posts</li>
        <li><span>195</span> followers</li>
        <li><span>345</span> following</li>
      </ul>
      <h2 class="name">Amy B</h2>
      <a class="website">my github</a>
    </div>
  </div>
