<style media="screen">


</style>

<div class="user-profile">

  <div class="profile row">

    <div class="avatar">

      <div class="wrapper">
        <img src="https://androidapkcloud.com/wp-content/uploads/2017/09/Square-PhotoWithout.png">
      </div>

    </div>

    <div class="basic-info">

      <div class="user-wrapper">
        <h2 class="username"><%= current_user.username %></h2>
        <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
          <button>Edit Profile</button>
        </a>
      </div>

      <ul class="posts">
        <li><span>12</span> posts</li>
        <li><span>195</span> followers</li>
        <li><span>345</span> following</li>
      </ul>

      <h2 class="name"><%= current_user.name %></h2>

      <a class="bio"><%= current_user.bio %></a>

    </div>

  </div>

  <div class="user-images">

    <div class="wrapper">
      <img src="https://resources.pryynt.me/product/uk-100-mini-snaps-pack-inspirational-image-one.jpg">
    </div>

    <div class="wrapper">
      <img src="https://resources.pryynt.me/product/uk-100-mini-snaps-pack-inspirational-image-two.jpg">
    </div>

    <div class="wrapper">
      <img src="https://resources.pryynt.me/product/uk-100-mini-snaps-pack-inspirational-image-three.jpg">
    </div>

  </div>

</div>
