<h1><%= (@user.username).capitalize %>'s Profile</h1>
<center>
<% @user_posts.each do |post| %>
<a href="posts/<%= post.id%>"><img src="<%= post.picture %>"></a><p>
<blockquote><%= post.caption %></blockquote><p>
<% end %>
</center>
