<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @user.email %>

    <% @user.posts.each do |post| %>
    <%= image_tag post.image.url(:medium) %>
    <%= post.caption %>
    <% end %>

  </body>
</html>
