<center>
  <p><h1><%= @user.email %>'s turtlegrams</h1></p>
  <% @user.turtlegrams.each do |turtlegram| %>
    <%= turtlegram.caption %>
    <div id=post>
    <%= image_tag turtlegram.image.url unless turtlegram.image.blank? %>
  </div>
    <% end %>
</center>
