<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper"> 
        <img src="https://pbs.twimg.com/profile_images/378800000574868989/ddebed969b6e2bcf188addf97932dd45.jpeg">
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username">arnie</h2>
        <a class="edit-profile">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>35</span> posts</li>
        <li><span>69000</span> followers</li>
        <li><span>420</span> following</li>
      </ul>
      <h2 class="name">Arnold Schwarzenegger</h2>
      <a class="website">http://www.schwarzenegger.com/</a>
    </div>
  </div>
</div>

  
</body>
</html>