<center>
  <p><h1><%= @user.email %>'s turtlegrams</h1></p>
  <% @user.turtlegrams.each do |turtlegram| %>
  <div id='caption'>
    <%= turtlegram.caption %>
  </div>
    <div id=post>
    <%= image_tag turtlegram.image.url unless turtlegram.image.blank? %>
  </div>
    <% end %>
    <table>
    <th><%= link_to "Back", turtlegrams_path %></th>
  </table>
</center>
