<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <% if @user %>
    <h2><%= @user.name%> posts</h2>
    <div class="col-md-3"></div>
  </div>
</div>

<%= render @user.posts %>
<% end %>
