<div class="user-profile">
  <div class="profile row">
    <!-- LEFT: AVATAR HERE -->
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="/images/avatar.jpg">
      </div>
    </div>
    
    <!-- RIGHT: USER INFORMATION HERE -->
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= current_user.username %></h2>
        <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>100</span> posts</li>
        <li><span>1k</span> followers</li>
        <li><span>30k</span> following</li>
      </ul>
        <h2 class="name"><%= current_user.name %></h2>
        <%=link_to current_user.website, current_user.website, class:  'website' %>
        </div>
      </div>
  </div>
</div>

<div class="user-tabs">

</div>

<div class="user-images">
  <div class="wrapper">
    <img src="/images/image1.jpg">
  </div>
  <div class="wrapper">
    <img src="/images/image2.jpg">
  </div>
  <div class="wrapper">
    <img src="/images/image3.jpg">
  </div>
</div>