<a class='follow-link'>

    <p class='requested'>Requested</p>
    <p class='following'>Following</p>
</a>



<section class='profile'>
  <% for image in @images %>
    <div class='post'>
      <%= image_tag(image.image) %>
      <p><%= image.caption %></p>
      
      <% if image.user_id == current_user.id %>
        <p class='edit'><%= link_to('Edit', edit_image_path(image)) %></p>
      <% end %>
      
    </div>
  <% end %>
</section>