<div class='user-profile'>
  <div class='profile row'>
    <div class='col-md-4 profile-picture'>
      <div class='wrapper'>
        <img src='https://pbs.twimg.com/profile_images/1324059599981449218/caR-_pq1.jpg'>
      </div>
  </div>

  <div class='col-md-8 basic-info'>
    <div class='user-wrapper'>
      <h2 class='username'><%= current_user.username %></h2>
      <a class='edit-profile' href='<%= edit_user_path(current_user) %>'>
        <button>Edit Profile</button>
      </a>
    </div>
    <ul class='posts'>
      <li><span>16</span> posts</li>
      <li><span>666</span> followers</li>
      <li><span>3</span> following</li>
    </ul>
    <h2 class='name'><%= current_user.name %></h2>
    <a class='website'><%= current_user.website %></a>
    </div>
  </div>
</div>

<div class='user-tabs'>
  <a class='tab active' href=''>
    <i class='fa fa-th'></i>
    POSTS
  </a>
  <a class='tab' href=''>
    <i class='fa fa-bookmark'></i>
    SAVED
  </a>
  <a class='tab' href=''>
    <i class='fa fa-tag'></i>
    TAGGED
  </a>
</div>

<div class='user-images'>
  <div class='wrapper'>
    <img src='https://images.sk-static.com/images/media/profile_images/artists/246083/huge_avatar'>
  </div>
    <div class='wrapper'>
    <img src='https://www.udiscovermusic.com/wp-content/uploads/2018/02/Rob-Zombie-Hellbilly-Deluxe-Album-Cover-web-optimised-820.jpg'>
  </div>
  <div class='wrapper'>
    <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHCw0CvWJkZTNcXait8e7fW1DOZ_yWT4b74Q&usqp=CAU' style='height: 280px'>
  </div>
</div>