<p>You are signed in as: <%= @username %>!</p>

<%= link_to "Post your bin", posts_new_path %>

<h1>Latest Posts</h1>
<% @posts.each do |post| %>
  <img src="<%= post.url %>" alt="<%= post.url %>"/>
<% end %>
