<h1>Welcome to Instagraham!</h1>
<% if logged_in? %>
    <h1> You're logged in as: <%= current_user.username %></h1>
<%end%>
<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/users/new', method: :get%>