// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: rgba(187, 215, 212, 1.0);
  font-family: avenir;
}


.main {
  background-color: white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 10px;
}

header h1 {
  color: white;
  text-align: center;
}
.post {
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  background-color: rgba(248, 236, 196, 1.0);
}

.right {
  float: right;
}
