html, body {
  background: url('./resources/theEdge.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

textarea {
  width: 100%;
  height: 250px;
  resize: none;
  background-color: white;
  border-radius: 5px;
  font-size: 1em;
  font-weight: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border: 0px solid black;
}

#newNoteArea {
  float: left;
  width: 30%;
}

#noteDisplayArea {
  margin-left: 40%;
}



/* #noteSubmit {
  border-radius: 5px;
  font-size: 1em;
  font-weight: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border: 0px solid black;
  background-color: white
} */
