<body cz-shortcut-listen="true">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome to Stevestagram!</h1>
        <p>This project was completed over a weekend by <a href="http://www.stephengeller.co.uk">Stephen Geller</a> as part of the <a href="http://www.makersacademy.com">Makers Academy coding bootcamp</a>.</p>
        <a class="btn btn-primary btn-lg" href="/snaps" role="button">See some Snaps! »</a>
      </div>
    </div>
      <footer>
      </footer>
    </div> <!-- /container -->

</body>
