

<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
      <%= image_tag picture.image.url(:thumb) %>
      <h2> <%= picture.name %> </h2>
      <p> <%= picture.description %> </p>
    <% end %>
<% else %>
  No pictures yet
<% end %>

<%= link_to 'Add a picture', new_picture_path %>
