
<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
      <h2> <%= picture.name %> </h2>
      <h2> <%= picture.description %> </h2>
    <% end %>
<% else %>
  No pictures yet
<% end %>

<a href="#"> Add a picture </a>
