
<h1>Pictures#index</h1>
<p>Find me in app/views/pictures/index.html.erb</p>

<% if !@pictures.empty? %>
<% @pictures.reverse.each do |picture| %>
  <%= picture.caption %>
  <%= picture.created_at %>
<% end %>
<% end %>
