<% if @pictures.any? %>
  <% @pictures.reverse.each do |picture| %>
    <h2> <%= picture.caption %> </h2>
    <%= link_to image_tag(picture.image.url(:medium)), picture_path(picture.id) %>
    <% end %>
<% else %>
"No pictures yet"
<% end %>
