
<h1>Listing pictures</h1>

<table>
  <tr>
    <th>Name of picture</th>
    <th>Description of picture</th>
  </tr>

  <% @pictures.each do |picture| %>
    <tr>
      <td><%= picture.name_of_picture %></td>
      <td><%= picture.description_of_picture %></td>
      <td><%= link_to 'Show', picture_path(picture) %></td>
    </tr>
  <% end %>
</table>
