

<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
      <%= image_tag picture.image.url(:thumb) %>
      <p> <%= picture.description %> </p>
      <p> <%= link_to 'View picture', picture_path(picture) %> </p>

    <% end %>
<% else %>
  No pictures yet
<% end %>

<%= link_to 'Add a picture', new_picture_path %>
