
<h1>Pictures#show</h1>
<p>Find me in app/views/pictures/show.html.erb</p>


<p> <%= @picture.caption %> </p>
<%= image_tag @picture.image.url(:medium) %>

<% if user_signed_in? %>
<%= link_to "Leave a comment", new_picture_comment_url(@picture) %>
<% end %>
