<h1>See all the post</h1>

  <%= button_to 'New post', new_insta_post_path, method: :get %>

  <% @insta_post.each do |insta_post| %>
      <%= image_tag(insta_post.image_url(:thumb).to_s) %><br>
      <%= link_to (insta_post.title), insta_post_path(insta_post) %><br>
      <%= insta_post.description %> <br><br>
  <% end %>
