body {
  font-family: $font-family-sans-serif;
  background-color: $gray-lighter;
}

h1, h2, h3 {
  font-family: $font-family-main;
  color: $brand-logo;
}

// NAVBAR
.navbar-default {
    background-color: white;
    .navbar-brand {
      font-family: $font-family-main;
      font-size: 1.5em;
      color: $brand-logo;
    }
}

.nav {
  li {
    button {
      a {
        color: white;
        text-decoration: none;
      }
    }
    a {
      img {
        border: 1px solid $gray-lighter;
        max-width: 30px;
      }
    }
  }
}
// ALERTS
.alert {
  p {
    text-align: center;
  }
}

// FORMS
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
