@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Arimo);

$font-family-main: 'Pacifico', cursive;
$font-family-sans-serif: 'Arimo', cursive;

// TYPOGRAPHY
body {
  font-family: $font-family-sans-serif
}

h1, h2, h3 {
  font-family: $font-family-main
}


// NAVBAR
.navbar-brand {
  font-family: $font-family-main
}

.navbar-default {
  margin-bottom: 0;
}

// ALERTS
.alert {
  p {
    text-align: center;
  }
}
