<h1>Insta2.0</h1>

<h2>Feed</h2>

<ul>
  <% @posts.each do |post| %>
  <li>
     <%# <%= image_tag(@post.image, style:'width:100%') %>
    <%= link_to post.title, post %>
  </li>
  <% end %>
</ul>

<%= link_to "New Post", new_post_path %>
