

<ul class="nav justify-content-center">
  <li class="nav-item">
<%= link_to 'Posts', posts_path, { :class=>"nav-link" } %>
  </li>
  <li class="nav-item">
<%= link_to 'New post', new_post_url, { :class=>"nav-link" }%>  </li>
  <li class="nav-item">
<%= link_to 'Logout', destroy_user_session_path, { method: :delete, :class=>"nav-link" }%>
  </li>
</ul>
