

<div id="navbar">
  <button><%= link_to 'Home', posts_path %></button>
  <button><%= link_to 'New post', new_post_url %></button>

  <button><%= link_to 'Logout', destroy_user_session_path, method: :delete %></button>
</div>
