<% @user ||= current_user %>
<div class="stats" id='stats'>
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>" id='followers_count'>
    <strong id="followers" class="stat">
    <font color='black'>  <%= @user.followers.count %></font>

    </strong>

  <font color='black'>  followers</font>
  </a>

</div>
