<header class="main-header">
  <p class="header-logo">Lintstagram</p>
  <div class="account-info-container">
    <% if user_signed_in? %>
      <span>You are signed in as <%= current_user.email %></span>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete  %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %> /
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>
  </div>
</header>
