<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>Sign up</h1>
  <%= form_with scope: :user, url: users_new_path,  local: true do |form| %>
  <p> 
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit 'Sign up' %>
  </p>
<% end %>
</body>
</html>



