<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a style="font-size: 40px;" class="navbar-brand mx-auto" href="#">LoremIpsum</a>
</nav>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <% if !current_user %>
    <p class="lead">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary btn-lg" %>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-primary btn-lg" %>
    <% else %>
      <%= link_to "Go to posts", posts_path, class: "btn btn-outline-primary btn-lg" %>
    <% end %>
    </p>
  </div>
  <div class="bg-dark">
    <footer>
      <p style="color: white; text-align: center; padding: 30px;">Created by: Krzysztof Balejko &copy; 2019</p>
    </footer>
  </div>
</div>
