<h1> Welcome to instagram! </h1>

<% if user_signed_in? %>
    <%= render 'shared/pictures_form' %>
<% end %>

<% @picture_feed.each do |picture| %>
   <div class="posted-picture">
     <%= image_tag("#{picture.avatar.url}")%>
   </div>
<% end %>