<h1>kinstagram</h1>
<p>to share your pics with your kin</p>
<% if Current.user %>
    Hi <%= Current.user.email %><br>
    <%= button_to 'Logout', logout_path, method: :delete %>
    <% else %>
    <%= link_to 'Sign Up', sign_up_path %>
    or
    <%= link_to 'Login', sign_in_path %>
  <% end %>