<h2>Instagram Users</h2>

<% @users.each do |user| %>
<p><%= user.name %> <%= user.created_at.strftime("%F") %>
  <%= link_to "View #{user.name}", user_path(user) %><p>
<p><img src="<%= user.avatar unless user.avatar.nil? %>"></p>
<% end %>
