<!DOCTYPE html>
<title> Metalshot </title>
<h3>Welcome to Metalshot \m/</h3>
<p>
  The time is now: <%= Time.now %>
</p>

<% if current_user %>
<h3>Your shots:</h3>
<% current_user.images.each do |image| %>
<img src="/system/images/images/000/000/00<%= image.id %>/thumb/<%= image.image_file_name %>" />
<% end %>
<% end %>
