<style>
  #footer {
    color: white;
    text-align: center;
    padding: 30px;
  }
</style>

<nav style="opacity: 0.9;" class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a style="font-size: 40px;" class="navbar-brand mx-auto" href="#">INSTA<i class="fas fa-camera-retro"></i>PIC</a>
</nav>
<br>
<div class="container">
  <div style="opacity: 0.9;" class="jumbotron">
    <h1 class="display-3">Dear user,</h1>
    <p class="lead">This is a simple application that imitates well known instagram. You will be able to sign up, log in, view, post, browse and comment on photos.</p>
    <hr class="my-4">
    <p>Click on sign up to create your account.</p>
    <% if !current_user %>
    <p class="lead">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary btn-lg" %>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-primary btn-lg" %>
    <% else %>
      <%= link_to "LATEST PHOTOS", posts_path, class: "btn btn-outline-primary btn-lg" %>
    <% end %>
    </p>
  </div>
  <div style="opacity: 0.9;" class="bg-primary">
    <footer>
      <p id="footer">CREATED DURING MAKERS COURSE &copy; 2019</p>
    </footer>
  </div>
</div>
