<!DOCTYPE html>
<title> Metalshot </title>
<h4>Metalshot - the community where people share Metal related photos \m/</h4>
  The time is now: <%= Time.now.strftime("%H:%M, %d-%m-%Y") %>
  <br>
<% if current_user %>
<br>
<%= button_to 'Add your shot', { action: 'new', controller: 'images' }, method: :get, class: 'button' %>
<br>
<h3>☠ Your shots:</h3>
<% current_user.images.each do |image| %>
<img src="<%= image.image.url(:medium) %>" />
<% end %>
<% end %>
