<!DOCTYPE html>
<title> Instasham </title>
<% if !current_user %>
<h1>Welcome to Instasham</h1>
<p>Please log in or sign up to join in the fun of this super cool photo sharing community!</p>
<% end %>
<% if current_user %>
  <div class="btn-group">
    <%= button_to "Upload Photo", new_photo_path, photo: @photo, method: "get", class: "btn btn-info btn-xs" %>
  </div>
<% end %>

<% if @photos %>
<%= render 'photos/index' %>
<% end %>
