<% if current_user %>
<div class="row d-flex justify-content-between">
  <div class="col-3">
    <%= render 'new_post' %>
  </div>
  <div class="col-6">
    <%= render 'all_posts' %>
  </div>
  <div class="col-3">
    <%= render 'profile_info' %>
  </div>
</div>
<% end %>

