<!DOCTYPE html>
<title> Instasham </title>
<h1>Welcome to Instasham</h1>
<% if !current_user %>
<p>Please log in or sign up to join in the fun of this super cool photo sharing community!</p>
<% end %>
<% if current_user %>
<% end %>
