<h1>Latergram</h1>


<% if user_signed_in? %>

  Add a new post:
  <%= button_to "New post", new_post_path, id: "new_post", method: :get %>

  Congrats, you are signed in. Here are all the posts:

  <%= render "shared/display_posts" %>

<% else %>
  <%= render "shared/new_session" %>
<% end %>
