<div class="row d-flex justify-content-between">
  <div class="col-3">
    <%= render 'new_post' %>
  </div>
  <div class="col-6">
    <%= render 'posts/all' %>
  </div>
  <div class="col-3">
    
  </div>
</div>

