<% name = current_user.present? ? current_user.email : "stranger" %>
<h1>Welcome, <%= name %></h1>
<% if current_user.present? %>
<a href="/post/new">New post</a>
<% end %>
<% @posts.each do |post| %>
    <%= post.caption %>
<% end %>
