
<% if current_user %>
<h2>Your posts</h2>
<%= render current_user.posts %>
<% else %>
<div class="jumbotron col-md-12">
  <h1>Welcome to Instagram</h1>
  <p>A mobile, desktop, and Internet-based photo-sharing application and service that allows users to share pictures and videos either publicly or private.</p>
</div>

<% end %>
