<!DOCTYPE html>
<title> Metalshot </title>
<h2>Welcome to Metalshot \m/</h2>

<% current_user.images.each do |image| %>
<img src="/system/images/images/000/000/00<%= image.id %>/medium/<%= image.image_file_name %>" />
<% end %>
