<h1>Welcome to my Instagram!</h1>


<!-- <form action="http://localhost:3000/users/sign_up">
    <input type="submit" value="Sign up" />
</form> -->
<div>
<form action="/users/sign_up"> <input type="submit" value="Register"/>
</form>
</div>

<div>
<form action="/users/sign_in"> <input type="submit" value="Log in"/>
</form>
</div>
