<!-- ======= Hero Section ======= -->
<%if user_signed_in? %> 
<section id="hero">
    <div class="hero-container">
      <h1>Hi, <%= current_user.name %>!</h1>
      <h2>Checkout what people have posted. </h2>
      <a href="users/posts" class="btn-get-started scrollto">View Posts</a>
    </div>
  </section><!-- #hero --> 
<% else %>
<section id="hero">
    <div class="hero-container">
      <h1>Welcome to Hazstagram</h1>
      <h2>The legally different social media.</h2>
      <a href="users/sign_up" class="btn-get-started scrollto">Sign Up</a>
    </div>
  </section><!-- #hero -->
<% end %>