<!DOCTYPE html>
<html>
<head>
  <title>Makstagram</title>
</head>
<body>
<h1>Welcome to Makstagram</h1>
  <h2>"Today's moments are tomorrow's memories"</h2>
<img src=https://us-east.manta.joyent.com/condenast/public/cnt-services/production/2015/01/12/54b4118e672c13a9488d2271_stargazing-tour.jpg>
<!-- <%= link_to %>
<%= link_to %> -->
</body>
</html>
