<!-- Masthead-->
  <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
          <div class="mx-auto text-center">
              <h1 class="mx-auto my-0 text-uppercase">Hazstagram</h1>
              <h2 class="text-white-50 mx-auto mt-2 mb-5">The legally different social media site.</h2>
              <a class="btn btn-primary js-scroll-trigger" href="users/sign_up">Sign Up</a>
          </div>
      </div>
  </header>