<h1>Pics'n'chat</h1>
<p>Welcome to the best site in the world for uploading pictures and making comments about them</p><br>

<%= link_to "Sign up", new_user_registration_path %><br>
<%= link_to "Sign in", new_user_session_path %><br>
