<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <%= render 'devise/menu/registration_items' %><br>
      <%= render 'devise/menu/login_items' %>
    </div>
  </body>
</html>
