
<img src= "http://imgur.com/W3ygUth.png" alt="Jurassic Coast" style="width:400px;height:400px;"/>
<table>
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= image_tag photo.image.url(:medium) %></td>
        <td><%= photo.title %></td>
        <td><%= button_to 'Edit', photo, method: :get, class: 'button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
