<h1>Welcome to Cheestagram</h1>

<p>a tribute project to team Acheezable and well... to cheese</p>

<div>
<form action="/users/sign_up" >
  <input type ="submit" value="Sign up" />
</form>
</div>

<div>
<form action="/users/sign_in" >
  <input type ="submit" value="Log in" />
</form>
</div>
