<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg-auto">
      <h2>Hello World</h2>
      <p>
        The time is now: <%= Time.now %>
      </p>
    </div>
  </div>
</div>
