<!doctype html>
<html lang="en">
  <head>
    <title>Makstagram</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="assets/application.css">
  </head>
  <body>
    <h1>Makstagram</h1>
    <br>
    <h2>"Today's moments are tomorrow's memories"</h2>
      <%= link_to 'Sign up!' %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <div class="container">

      <div class="row">
        <div class="col-4">
          <img src="https://media.mnn.com/assets/images/2017/08/hot-yoga.jpg.653x0_q80_crop-smart.jpg" alt="Responsive image">
        </div>

        <div class="col-4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/London_Eye_Twilight_April_2006.jpg"  alt="Responsive image">
        </div>
        <div class="col-4">
          <img src="https://www.touristisrael.com/wp-content/uploads/Jaffa-credit-Guy-Yechiely.jpg"  alt="Responsive image">
        </div>

      <div class="container">
      <div class="row">
        <div class="col-4">
  <img src="http://www.euromic.com/pictures/7397.jpg" class="img-fluid" alt="Responsive inage">
      </div>

      <div class="col-4">
        <img src="http://www.telegraph.co.uk/content/dam/Travel/Tours/New%20York1-xlarge.jpg" class="img-fluid" alt="Responsive image">
      </div>

      <div class="col-4">
  <img src="http://images.asianage.com/images/aa-Cover-jeta9bcckdlv9fjgcdqprhl826-20171009191158.Medi.jpeg" class="img-fluid" alt="Responsive image">
      </div>

      <div class="col-4">
      </div>
    </div>

  </body>
</html>







  <!-- <body>
    <div class="container">
  </div>
