<h1>myInstagram</h1>


<div>
<form action="/users/sign_up"> <input type="submit" value="Register"/>
</form>
</div>

<div>
<form action="/users/sign_in"> <input type="submit" value="Log in"/>
</form>
</div>
