<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <h1>Welcome!</h1>
    <div class="container text-center">
      <h3>Start sharing your thoughts...<br></h3>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <h1>Sign Up to start making memories</h1>
            <form class="signUp" action='???????' method='get'>
              <input type="submit" value="Create a new Account">
            </form>
            <div>
              <form class="signIn" action='??????' method='get'>
                <input type="submit" value="Go to your account">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
