<% if @mewments.any? %>
  <% @mewments.each do |mewment| %>
    <%= image_tag mewment.image.url(:medium) %>
    <h2> <%= mewment.caption %> </h2>
  <% end %>
<% else %>
  Start preening your whiskers, kitty cats!
<% end %>
<br>
<a href='/mewments/new'>Post a picture</a>
