<form id="newUser" action="/signup" method="POST">
  <input type="text" id="username" name="username" />
  <br />
  <input type="password" id="password" name="password" />
  <br />
  <input type="email" id="email" name="email" />
  <br />
  <input type="submit" value="Sign up" />
</form>
<a href="/posts" class="nav-item nav-link">Home</a>
