<html>
  <head>
    <meta charset="utf-8" />
    <title>Chitter</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/posts" class="nav-item nav-link">Posts</a>
      <a href="/login">Login</a>
      <a href="/signup" class="active">Sign up</a>
    </div>
    <form id="newUser" action="/signup" method="POST">
      <div class="box">
        <h1>Sign up</h1>
        <input type="text" id="username" name="username" class="username" />
        <br />
        <input type="password" id="password" name="password" class="password" />
        <br />
        <input type="email" id="email" name="email" class="email" />
        <br />
        <input type="submit" value="Sign up" class="btn" />
      </div>
    </form>
  </body>
</html>
