<form id="newUser" action="/signup" method="POST" >
  <input type='text' id="newUserUsername" name="newUserUsername"/>
  <br>
  <input type='password' id="newUserPassword" name="newUserPassword"/>
  <br>
  <input type='email' id="newUserEmail" name="newUserEmail"/>
  <br>
  <input type="submit" value="Sign up">
</form>