<%if @pictures.empty? %>
  No pictures in the network
<%end%>

<button> <%=link_to 'Add Picture', new_picture_path %> </button>
<div class='container'>
  <%=@pictures.each do |picture| %>
    <div class='row'>
      <span class='img-post'> <%=image_tag picture.image.url(:thumb)%> </span>
      <p> <%=picture.caption%> </p>
    </div>
  <%end%>
</div>