<h1>FeezyGram</h1>

<% @grams.each do |gram| %>
  <%= link_to image_tag(gram.image(:large), alt: "Show Page"), gram %>
  <p>By: <%= gram.user.email %></p>
  <p>posted <%= time_ago_in_words(gram.created_at) %> ago</p>
<% end %>
<%= link_to "New Gram",new_gram_path  %>