// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  background-color: #fcfcfc;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
