<h1>Showing all Hams</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @hams.each do |ham| %>
    <tr>
      <td><%= ham.title %></td>
      <td><%= ham.text %></td>
      <td><%= link_to 'Show', ham_path(ham) %></td>
    </tr>
  <% end %>
</table>
