<h1>Showing all Hams</h1>

<div class="">
  <% @hams.each do |ham| %>
    <div class="">
      <div class="">
        <%= ham.title %>
      </div>
      <div class="">
        <%= ham.text %>
      </div>
      <div class="image">
        <%= image_tag ham.image_url.to_s, :size => "260x180" if ham.image? %>
      </div>
      <div class="">
        <%= link_to 'Show', ham_path(ham) %>
      </div>
    </div>
  <% end %>
</div>
