<h1 class="title">{{title}}</h1>
Welcome to {{title}}!
<br><br>
<form action="/sessions" method="POST">
  <input id="email" type="email" name="email" placeholder="example@email.co.uk" required>
  <input id="password" type="password" name="password" placeholder="password.." required>
  <input id="submit" type="submit" value="Log in">
</form>
<br><br>
Don't have account yet? <a class="link" href="/users/new">Sign up</a>