<h1>Hello home route</h1>
<form id="existingUser" action="/login" method="POST" >
  <input type='text' id="existingUserUsername" name="existingUserUsername"/>
  <br>
  <input type='password' id="existingUserPassword" name="existingUserPassword"/>
  <br>
  <input type="submit" value="Login">
</form>