<h1>Hello home route</h1>
<form id='loginUser' action='/login' method='POST'>
  <input type='text' id='username' name='username' />
  <br />
  <input type='password' id='password' name='password' />
  <br />
  <input type='submit' value='Login' />
</form>