<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>
    <form action='/users/new'>
      <input type="submit" value="Sign Up">
    </form>
    <br>
    <form action='/sessions/new'>
      <input type="submit" value="Sign In">
    </form>


    
