<h1>Hello home route</h1>
<form id="loginUser" action="/login" method="POST" >
  <input type='text' id="loginUserUsername" name="loginUserUsername"/>
  <br>
  <input type='password' id="loginUserPassword" name="loginUserPassword"/>
  <br>
  <input type="submit" value="Login">
</form>