<h1>Editing Pic</h1>

<p>
  <%= image_tag(@pic.picture.url,  class: "small-image") if @pic.picture.present?  %>
</p>

<%= render 'form', pic: @pic %>

<%= link_to 'Show', @pic %> |
<%= link_to 'Back', pics_path %>
