<div class="pic-container">
  <div class="pic-image">
    <%= link_to image_tag(@pic.picture.url,  class: "pic-image__image"), @pic %>
  </div>
  <div class="pic-content">
    <%= render 'form', pic: @pic %>
  </div>
</div>
