<center>
  <h1> Welcome to Instavoyeurism </h1>
  <h2> Here's all what's going on:</h2>
</center>

<%= link_to new_pic_path do %>
  POST NEW PIC
<% end %><br><br><br>

<% @pics.each do |pic| %>
  <%= link_to pic.title, pic %><br>
<% end %>
