<h2>Post a pic</h2>

<%= form_for :pic do |f| %>
  <div class="image-upload">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="submit">
    <%= f.submit "Save" %>
  </div>
<% end %>
