  <div class="show_container">
    <p>
      <%= image_tag(@pic.picture.url, class: "show-image") if @pic.picture.present?  %>
    </p>
    <div class="show_text">
      <h2>Title:</h2>
      <%= @pic.title %>
      <h3>Description:</h3>
      <%= @pic.description %>
    </div>
    <%= link_to 'Edit', edit_pic_path(@pic) %> 
  </div>
