<div>
  <h1>insta_ounce</h1>
</div>

<div>
  <% @posts.each do |post| %>
    <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>
    <%= post.caption%>
    <br>
    <br>
  <% end %>
</div>

<div>
  <%= link_to "New Post", new_post_path %>
</div>
