<h1>What is instaSpam?</h1>
<p>A <a href="https://makers.tech/">Makers</a> Week 8 weekend challenge and instagram clone</p>
<p>After 2 months of minimal frameworks so that we can attempt to code properly, <br/>
the dear coaches at Makers have decided that we should use <a href="https://rubyonrails.org/">Rails</a> - the magical thingymabob <br/>
that does everything for you, whether you want it to or not.</p>

