<h2 class="about">What is instaSpam?</h2>
<p>A <a href="https://makers.tech/">Makers</a> Week 8 weekend challenge and instagram clone.</p><br/>
<p>After 2 months of minimal frameworks so that we can attempt to code properly, <br/>
the dear coaches at Makers have decided that we should use <a href="https://rubyonrails.org/">Rails</a> - the magical thingymabob <br/>
that does everything for you, whether you want it to or not.</p>

<div id="Contact" class="container-fluid section contact-section">
    <div class="container col-md-12">
      <h2 class="orange">Get in Touch</h2>
     
      <form action="https://formspree.io/daniboo83@gmail.com" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1" class="orange">What's your email?</label>
          <input type="email" name="_replyto" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="awesomeperson@samplemail.com">
        </div>
       
        <br/>
        <div class="form-group orange">
          <label for="exampleFormControlTextarea1" class="email-text-area-1 orange">Ask (or tell) me something. Anything! I'm all ears.</label>
          <input type="text" name="name" class="form-control" id="exampleFormControlTextarea1" placeholder="typetypetypetype...">
          <br/>
          <input type="submit" class="btn btn-primary send" id="send" value="Send">
        </div>
       
      </form>
      <br/>
      <br/>
      
      <div class="row center">
        <a href="https://twitter.com/DaniPlaysPiano" target="_blank" class="btn btn-social-icon btn-twitter">
          <span class="fa fa-twitter fa-3x blue" aria-hidden="true"></span></a>
        <a href="https://codepen.io/daniboo83/" target="_blank" class="btn btn-social-icon btn-codepen">
          <span class="fa fa-codepen fa-3x blue" aria-hidden="true"></span></a>
        <a href="https://github.com/dani-boo" target="_blank" class="btn btn-social-icon btn-github">
          <span class="fa fa-github fa-3x blue" aria-hidden="true">   </span></a>
        <a href="https://www.linkedin.com/in/daniellebooysen/" target="_blank" class="btn btn-social-icon btn-linkedin">
          <span class="fa fa-linkedin fa-3x blue" aria-hidden="true"></span></a>
      </div>
      
      <br/>
      
      <div class="orange">
      <h6 class="text-center">A <a href="https://makers.tech/" class="orange">Makers</a> project <em>mise-en-place</em>d, cooked, baked, destroyed, refried & seasoned-to-taste in a day</h6>
      <h6 class="text-center"><i class="fa fa-copyright" aria-hidden="true"></i>
        <a href="https://github.com/dani-boo" target="_blank" class="orange">Danielle Booysen</a> 2018</h6>
      <h6 class="text-center"><i class="fa fa-globe" aria-hidden="true"></i> Raised in Africa | Based in London, UK <i class="fa fa-university" aria-hidden="true"></i></h6>
      </div>
    </div>
  </div>

