@import url(http://fonts.googleapis.com/css?family=Oleo+Script:400,700);
@import "twitter/bootstrap/glyphicons.less";

.navbar {
  background-color: #517fa4;
  border-radius: none;
  padding-top: 1em;
}

.navbar-header {
  color: white;
  font-family: 'Oleo Script', cursive;
  font-size: 2em;
}

.dropdown-toggle {
  color: white;
  font-size: 1.2em;
}

.post {
  margin: auto;
  width: 60%;
  height: 60%;
  text-align: center;
  margin-bottom: 4em;
}

.caption {
  display: block;
  margin: auto;
  text-align: center;
  padding-bottom: 2em;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
}

.photo {
  width: 70%;
  height: 70%;
  padding-top: 4em;
  padding-bottom: 2em;
}

.comment {
  text-align: left;
}

.alert {
  width: 90%;
  margin: auto;
  margin-bottom: 1.5em;
}

.add-photo {
  margin: auto;
  display: block;
  margin-bottom: 2em;
}

.comment_link {
  font-weight: bold;
  display: block;
}

.header {
  color: inherit;
  text-decoration: inherit;
}

.header:hover {
  color: inherit;
  text-decoration: inherit;
}

.post_comment_form {
  margin: auto;
  text-align: center;
}

.add_photo_form input {
  margin: auto;
  margin-bottom: 1em;
}

.add_photo_form input[type='file'] {
  margin: auto;
  margin-bottom: 1em;
  display: inline;
}

.add_photo_label {
  display: block;
  margin: auto;
  text-align: center;
}

.add_photo_form {
  text-align: center;
}