@import url(http://fonts.googleapis.com/css?family=Oleo+Script:400,700);
@import "twitter/bootstrap/glyphicons.less";

.navbar {
  background-color: #517fa4;
  border-radius: none;
}

.navbar-header {
  color: white;
  font-size: 2em;
  font-family: 'Oleo Script', cursive;
  padding-top: 0.2em;
}

.dropdown-toggle {
  color: white;
  padding-top: 0.2em;
}

.post {
  margin: auto;
  width: 60%;
  height: 60%;
  text-align: center;
  margin-bottom: 4em;
}

.caption {
  display: block;
  margin: auto;
  text-align: center;
  padding-bottom: 2em;
  font-size: 1.5em;
  font-weight: bold;
}

.photo {
  width: 70%;
  height: 70%;
  padding-top: 4em;
  padding-bottom: 2em;
}

.comment {
  text-align: left;
}
