<h1> IMAGES! </h1>

<% @posts.each  do|post| %>

 <p> <%= post.user %> posted:  </p>
 <p> <%= post.caption %> </p>
 <%= image_tag post.image.url(:small) %>
 <%= button_to 'View', post, method: :get %>
 <br>

<% end %>
