<% if @projects.any? %>
  <% @projects.each do |project| %>
    <h2>Project: <%= project.name %> Company: <%= project.company %></h2>
  <% end %>
<% else %>
  <p>No projects added yet<p>
<% end %>

<a href="projects/new">Add a project</a>
