<% if @projects.any? %>
  <% @projects.each do |project| %>
    <h2>Project: <%= link_to project.name, project_path(project) %></h2>
    <h2>Company: <%= project.company %></h2>
  <% end %>
<% else %>
  <p>No projects added yet<p>
<% end %>

<a href=<%=new_project_path%>>Add a Project</a>
