<h1> Requested Followers </h1>
<div class="follower-requests">
<% for follower in @follower_requests %>
<p class="follower-request-username"><%= follower.username %></p>
<p><%= link_to 'Accept', accept_request_path(follower)%></p>
<p><%= link_to 'Decline', decline_request_path(follower)%></p>
<% end %>
</div>