/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
 }

 body {
  background-image: url('art-gallery-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

 *:focus {
   outline: none;
 }

 #navbar {
   width: 100%;
   height: 150px;
   background-color: rgba(60, 70, 80, 0.753);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 9999;
   position: fixed;
   top: 0;
   left: 0;
 }

.navlink {
  color: white;
  font-size: 40px;
  text-decoration: none;
  padding: 30px 40px;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#heading {
  font-size: 110px;
  margin: 60px 25px;
  color: white;
}

.sign-up-field {
  width: 500px;
  height: 100px;
  padding: 20px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.336);
  border: none;
  font-size: 35px;
  text-align: center;
  border-radius: 15px;
  color: white;
}

.sign-up-field::placeholder {
  color: rgba(255, 255, 255, 0.74);
}

#error-message {
  color: rgb(202, 182, 0);
  font-size: 30px;
  padding-top: 20px;
}

#rightlinks {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

#leftlinks {
  width: 75%;
  display: flex;
  justify-content: flex-start;
}

.main-site {
  background-color: rgba(245, 237, 231);
}

#page {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 150px;
  padding: 20px 20px 200px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.heading {
  text-align: center;
}

.main-site-heading {
  color: rgb(88, 88, 88);
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 3px solid rgb(88, 88, 88);
}

#page-heading {
  font-size: 70px;
  margin: 30px 25px 0px 25px;
  color: rgb(88, 88, 88);
  margin-bottom: 20px;
}

.image-footer {
  width: 100%;
}

.post-editor {
  display: flex;
  flex-direction: column;
}

.post-description {
  margin-top: 20px;
  font-size: 37px;
}

.main-site img {
  padding-top: 60px;
  height: 100%;
  width: 100%;
}

.posted-at-edit-delete-div {
  display: flex;
  font-size: 25px;
}

.posted-at, .image-controls {
  padding: 20px 0;
}

.posted-at {
  display: flex;
  justify-content: flex-start;
  color: rgb(88, 88, 88);
  width: 80%;
}

.posted-at a {
  margin: 0 0.7rem;
  text-decoration: none;
  color: rgb(185, 142, 47);
}

.image-controls {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.post-control {
  padding-left: 40px;
  text-decoration: none;
  color: rgb(88, 88, 88);
}

.like-and-comment {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.like-and-comment form {
  display: flex;
}

.like-unlike {
  font-size: 35px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: rgb(88, 88, 88);
  padding-right: 20px;
  padding: 20px;
}

.number-of-likes {
  padding: 20px 0;
  color: rgb(88, 88, 88);
  font-size: 20px;
}

.like-div-left {
  display: flex;
  justify-content: flex-start;
}

.comment-div-right {
  display: flex;
  justify-content: space-between;
}

.leave-a-comment {
  font-size: 35px;
  display: flex;
  width: 710px;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: rgb(88, 88, 88);
  padding-left: 20px;
  padding: 20px;
  border-left: 1px solid rgb(88, 88, 88);
}

.post-comment {
  font-size: 35px;
  background: transparent;
  border: none;
}

.comment-footer {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}

.full-comment {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(187, 174, 147);
  padding: 20px 0;
}

.delete-comment-button {
  color: rgb(88, 88, 88);
  font-size: 20px;
  text-decoration: none;
  padding: 20px 0;
}

.comment-name, .comment-body {
  font-size: 30px;
  word-wrap: break-word;
}

.comment-section {
  max-height: 500px;
  overflow-y: scroll;
  border-top: 1px solid rgb(187, 174, 147);
  border-bottom: 1px solid rgb(187, 174, 147);
}
