// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-image: url('art-gallery-mobile.jpg');
}

#upload-image {
  border: 1px solid red;
}

#form-container {
  height: 95%;
  width: 100%;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-container form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#file-upload-label {
  font-size: 70px;
  background-color: rgba(214, 214, 214, 0.418);
  color: white;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
}

#add-post-description {
  resize: none;
  width: 800px;
  height: 350px;
  font-size: 40px;
  padding: 20px;
  position: relative;
  z-index: 400;
  background-color: transparent;
  overflow-y: scroll;
  color: white;
  border: none;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  margin: 20px;
}

#add-post-description::placeholder {
  color: white;
}

#add-post-description:focus::placeholder {
  color: transparent;
}

.file-container {
  overflow: hidden;
  position: relative;
}

.file-container [type=file] {
  cursor: inherit;
  display: block;
  font-size: 1px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  z-index: 0;
}

#upload-photo, #update-description {
  font-size: 60px;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  z-index: 300;
  position: relative;
  z-index: 400;
  color: white;
  background-color: transparent;
  border: none;
  margin-top: 20px;
}

#update-description {
  padding-top: 0;
}

#description-label {
  padding-top: 20px;
  font-size: 50px;
  text-align: center;
  color: white;
}
