
<body>
<center>
  <%= @user.each do |image| %>
  <div style='background-color:lightblue; outline-style: double'>
    <br>
    <%= image_tag image.avatar.url(:medium) %>
    <br>
    <h3><%= image.title%></h3>
    <br>
    <i><%= image.text %></i>
    <br>
    <br>
  </div>
  <br>
  <% end %>
</center>
</body>
