<h1>Sign up</h1>
<p></p>
<%= form_with(url: sessions_new_path, scope: :session, local: true) do |f| %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.submit  "Sign in" %>
<% end %>
