<% if @photos.any? %>
  <% @photos.each do |photo| %>
    <h2> <%= link_to "View #{photo.caption}", photo_path(photo) %> </h2>
    <%= link_to "Edit #{photo.caption}", edit_photo_path(photo) %>
  <% end %>
<% else %>
  No photos yet
<% end %>

<a href='/photos/new'>Add a photo</a>
