<div class="col-md-6 col-md-offset-3">
  <div class="transitions-enabled" id="images">
    <% @images.each do |image| %>
      <div class="box panel panel-default">
        <%= link_to (image_tag image.image.url), image %>
        <h2>
          <%= link_to image.title, image %>
        </h2>
      </div>
    <% end %>
  </div>
</div>