<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="single_image_display">

      <img class="single_image" src="<%= @image.image.url %>">
      <div class="caption">
        <%= @image.caption %><br/>
        Posted by <%= @image.user %>
      </div>

    </div>
  </body>
</html>
