%p= @image.caption
= image_tag @image.image.url(:medium)
%br
%ul
  - if @image.comments.all.any?
    - @image.comments.each do |comment|
      %li
        = comment.comment
  - else
    No comments yet
%br
= link_to "Comment", new_image_comment_path(@image)
