// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    font-family: helvetica;
    text-align: center;
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

h1 {
  font-family: myFirstFont;
  font-size:3.5em;
}

.main {
   font-size: 2em;
   background-color: #fff;
   border: solid black;
   color: #000;
   padding: 16px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   cursor: pointer;
}

.main:hover {
    background-color: #000;
    color: white;
}
