<h1>Hello This Is Your User Page</h1>
<p> Your name is </p>
<p><%= current_user.username %></p>

<% if current_user.avatar.attached? %>
  <image src="<%=(url_for(current_user.avatar))%>">
<% end %>

<a href="/index">View Posts</a>