<h1>Listing ideas</h1>


<div class="row">
  <% @instaposts.each do |idea| %>
    <div class="col-lg-6">
      <%= image_tag idea.picture_url, width: '100%' if idea.picture.present? %>
      <h4><%= link_to idea.name, idea %></h4>
      <%= idea.description %>
    </div>
  <% end %>
</div>
