
<h1>All posts</h1>
 
<table>
  <tr>
    <th>Picture URL</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.pictureurl %></td>
      <td><%= post.text %></td>
      <td><%= link_to 'Show', posts_path(post) %></td>
    </tr>
  <% end %>
</table>