- if @posts.any?
  - @posts.each do |post|
    %p= link_to image_tag(post.image.url(:large)), post.image.url
    = link_to "Delete Post", post_path(post), method: :delete 
- else
  %p No posts yet

%a(href='/posts/new') Post an Image