<% if @photographs.any? %>
 <% @photographs.each do |photograph| %>
    <%= photograph.description  %>
    <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>



<a href="photographs/new">Add a post</a>
