<% if @photographs.any? %>
  <% @photographs.each do |photograph| %>
    <%= image_tag photograph.image.url(:medium) %>
    <h2> <%= photograph.name %> </h2>
  <% end %>
<% else %>
  No photographs yet
<% end %>

<a href='<%= new_photograph_path %>'>Add a photograph</a>
