<% if @photographs.any? %>
 <% @photographs.each do |photograph| %>
    <%= photograph.description  %><br>
    <%= link_to "Delete post", photograph_path(photograph), method: :delete %><br>
    <% photograph.comments.each do |comment|%>
        <%= comment.description%> <br>
      <%end%>
      <%= link_to "Leave Comment", new_photograph_comment_path(photograph)%><br>
    <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>



<a href="photographs/new">Add a post</a>
