<% if @photographs.any? %>
 <% @photographs.each do |photograph| %>
    <%= photograph.description  %>
    <%= link_to "Delete post", photograph_path(photograph), method: :delete %>
    <% photograph.comments.each do |comment|%>
        <%= comment.description%>
      <%end%>
      <%= link_to "Leave Comment", new_photograph_comment_path(photograph)%>
    <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>



<a href="photographs/new">Add a post</a>
