<%= image_tag @photograph.image.url(:medium) %>
<p><%= @photograph.name %></p>
<% if @photograph.user == current_user %>
  <%= link_to "Edit #{@photograph.name}", edit_photograph_path(@photograph) %> <%= link_to "Delete #{@photograph.name}", photograph_path(@photograph), method: :delete %>
<% end %>
