<!-- Page has 2 columns.  Left side has actions, right side shows the details-->

  <!-- LEFT COLUMN shows actions-->
<div class="user-edit-page">  <!--BOOTSTRAP nav vertical pills: https://getbootstrap.com/docs/4.1/components/navs/-->  
  <div class="actions">
    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" data-toggle="pill" href="#v-pills-home" role="tab" aria-selected="true">Edit Profile</a>
      <a class="nav-link" data-toggle="pill">Change Password</a>
      <a class="nav-link" data-toggle="pill">Authorized Applications</a>
      <a class="nav-link" data-toggle="pill">Email and SMS</a>
      <a class="nav-link" data-toggle="pill">Manage Contacts</a>
      <a class="nav-link" data-toggle="pill">Privacy and Security</a>
    </div>
  </div>

  <!-- RIGHT COLUMN shows details-->
  <div class="details tab-content">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <!-- Form edit profile -->
    </div>
  </div>
</div>