<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4f_EffUN3WtgjVNU07OObB9Rib7PELTMjcw&usqp=CAU">
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= current_user.username %></h2>
        <a class="edit-profile" href="<%= edit_user_path(current_user) %>">  <!--current_user is DEVISE helper-->
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>12</span> posts</li>
        <li><span>195</span> followers</li>
        <li><span>345</span> following</li>
      </ul>
      <h2 class="name"><%= current_user.name %></h2>
      <%=link_to current_user.website, current_user.website, class: 'website' %>
    </div>
  </div>
</div>

<!--4 tabs of user-->
<div class="user-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    POSTS
  </a>
  <a class="tab" href="">
    <i class="fa fa-tv"></i>
    IGTV
  </a>
  <a class="tab" href="">
    <i class="fa fa-bookmark"></i>
    SAVED
  </a>
  <a class="tab" href="">
    <i class="fa fa-tag"></i>
    TAGGED
  </a>
</div>

<!--3 images from user-->
<div class="user-images">
  <div class="wrapper">
    <img src="https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGljfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80">
  </div>
  <div class="wrapper">
    <img src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F6135e97ba65c269251bef9ef%2FEurope-Covid-19-travel-restrictions%2F0x0.jpg%3FcropX1%3D134%26cropX2%3D1238%26cropY1%3D101%26cropY2%3D760">
  </div>
  <div class="wrapper">
    <img src="https://youmatter.world/app/uploads/sites/2/2019/11/travel-world.jpg">
  </div>
</div>