<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4f_EffUN3WtgjVNU07OObB9Rib7PELTMjcw&usqp=CAU">
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username">jacob9292</h2>
        <a class="edit-profile">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>12</span> posts</li>
        <li><span>195</span> followers</li>
        <li><span>345</span> following</li>
      </ul>
      <h2 class="name">Jacob</h2>
      <a class="website">google.com</a>
    </div>
  </div>
</div>