<div class="d-flex align-items-center justify-content-center">
  <h1>Welcome to Inztagram</h1>
</div>

<p>This is more information about my inztagram page</p>
<p>Find me in app/views/inztagram/index.html.erb</p>