  <% @posts.each do |post| %>
    
        <% if post.image.attached? %>
          <div>
            <p><strong><%= post.user.username %></strong></p>
            <p><%= image_tag post.image %></p>
            <p><%= post.caption %></p>
            <a href="posts/<%= post.id %>"><i class="far fa-comment"></i></a>
          </div>
        <% end %>
      
  <% end %>
