<h1>Railstagram</h1>
 
  <% @posts.each do |post| %>
    <ul>
        <% if post.image.attached? %>
        <li>
            <p><strong><%= post.user.email %></strong></p>
            <p><%= image_tag post.image %></p>
            <p><%= post.caption %></p>
            <%= link_to 'View', post_path(post) %>
        </li>
        <% end %>
      
    </ul>
  <% end %>
    </ul>