<% if flash[:notice] || flash[:errors]  %>

  <section id="messages">
    <div class="row">
      <div class="small-12 medium-8 medium-centered columns">
        <p><%= notice %></p>
      </div>
    </div>
  </section>

<% end %>
