body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 .AddPost{
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-bottom: 50px;
  padding: 90px;
}

.AddImage{
  width: 50%;
  margin-top: 20px;
  position: relative;
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */ */
}

.AddCaptionForPost{
  width: 50%;
  /* position: absolute; */
  flex: right;
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.SubmitNewPost{
    width: 50%;
  flex: left;
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.PageSwitcher {
    margin-bottom: 50px;
    margin-top: 10px;
}

.PageSwitcher__Item {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #5ED0C0;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

h1 {
  /* padding: 30px; */
  font-size: 70px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: grey;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: white;
}
