<h1 class="text-center">Sign in to AInstagram</h1>
<br>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col12">
          <%= link_to image_tag("/assets/github.png"), omniauth_authorize_path(resource_name, provider), :id => "signin"%><br />
        </div>
      </div>
    </div>
  <% end %>
<% end %>



