<div class="row">
  <div class="jumbotron">
    <h1 class="display-3">Welcome!</h1>
    <p class="lead">Do you like pictures? We like pictures. Upload your pictures and we'll display them for you</p>
    <hr class="my-4">
    <p>You're welcome.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href=<%= new_user_registration_url %> role="button">Sign Up</a>
    </p>
  </div>
</div>
