<h2> Login Below <h2> 
<br>
<div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping">@</span>
  <input type="text" class="form-control" placeholder="Enter your Username" aria-label="Username" aria-describedby="addon-wrapping">
</div>
<br>
<div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping">P</span>
  <input type="text" class="form-control" placeholder="Enter your password" aria-label="Username" aria-describedby="addon-wrapping">
</div>
<br>
<h2> Or click sign up above if you don't have an account <h2> 
