<center>
<h1><%= current_user.name %> info</h1>
<%= image_tag current_user.gravatar_url %></br>
<strong><%= current_user.email %></strong>.</br>
<p>Find me in app/views/user/info.html.erb</p>
</center>
