<h1> Sign up here !!!!! Woop <h1> 
<br/>
<div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping">Username</span>
  <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
</div> <br/>
<div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping">Password</span>
  <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
</div> <br/>
<div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping">Confirm Password</span>
  <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
</div> <br/>
<div class="input-group">
  <span class="input-group-text">First and last name</span>
  <input type="text" aria-label="First name" class="form-control">
  <input type="text" aria-label="Last name" class="form-control">
</div><br/>
<div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping">Email</span>
  <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
</div> <br/>
