  <% if current_user %>
    <%= link_to 'Add Picture', new_picture_path, class: 'add' %><br>
  <% end %>

<div class="main-container">
  <% @pictures.each do |picture| %>
    <div class="picture-container">

      <a href="<%= "#{picture_path(picture)}"%>">
        <div class="image-container">
          <img src="<%= picture.image %>" alt="<%= picture.title %>" class="picture-image">
        </div>
      </a>
    </div>
  <% end %>
</div>
