<h1>Showing Pictures</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Picture</th>
  </tr>

  <% @pictures.each do |picture| %>
    <tr>
      <td><%= picture.title %></td>
      <td><%= picture.picture_url %></td>
      <td><%= link_to 'Show', picture_path(picture) %></td>
    </tr>
  <% end %>
</table>
