<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>
<p>
  <strong>Image:</strong>
  <%= @picture.picture_url %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %>
<%= link_to 'Back', pictures_path %>
