<h2><%= image_tag @post.image.url(:medium) %></h2>
<h2><%= @post.caption %></h2>

<div class="text-center edit-links">
  <%= link_to "Cancel", posts_path %>
  |
  <%= link_to "Edit Post", edit_post_path(@post) %>
</div>
