
 body {
   font: menu;
   background-color: #fafafa;
 }

 .container {
   margin: 0 auto;
   width: 450px;
 }

 .menu-container {
   margin: 0 auto;
   width: 900px;
 }

.username {
  font-weight: bold;
}

.comments {
  list-style:none;
  padding-left:10px;
}

.pictures {
  list-style-type: none;
}

.individual-comment {
  list-style-type: none;
}

.post {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #efefef;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 451px;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}


.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.menu-list a {
  display: block;
  color: #262626;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  font-weight: bold;
  font-size: 16px;
  float: right;
}

.menu-list a:hover {
  color: #9c9c9c;
}

#logo {
  display: block;
  color: #262626;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  font-weight: bold;
  font-size: 20px;
  float: left;
  font-style: oblique;
}

.title {
  padding-left: 10px;
  margin-bottom: -10px;
}

.location {
  padding-left: 10px;
}

.likes_count {
  font-weight: bold;
  padding-left: 10px;
}

.add {
  padding-left: 10px;
}

.delete {
  padding-left: 10px;
}

.comment {
  padding-left: 10px;

}

.caption {
  padding-left: 10px;
}

.likes {
  padding-left: 10px;
  color: #262626;
}

.link a{
  padding-left: 10px;
  color: #262626;
}

.link a:hover {
  padding-left: 10px;
  color: #9c9c9c;
}

.notice {
      text-align: center;
}
