html {
  background-color: lightgrey;
  font-family: Lato;
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.foto_grid {
  width: 80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2em;
}

.single_photo_obj {
  background-color: white;
}
