html {
  background-color: lightgrey;
  font-family: Lato;
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}
