html {
  background-color: #f9f8f8;
  font-family: Lato;
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.foto_grid {
  margin-top: 4em;
  width: 54%;
  margin-left: 22%;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 1em;
}

.single_photo_obj {
  background-color: white;
  border-radius: 0.2em;
  padding: 0.5em;
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 0.1em;
}

.image {
  width: 100%;
}

.image_img {
  width: inherit;
}

.new_like {
  display: inline-flex;
  width: fit-content;
  float: left;
  margin-right: 0.3em;
}

.heart_button {
  border: none;
  font-size: 1em;
}

.heart_button:hover {
  transform: scale(1.15);
}

.like_count {
  font-weight: 900;
  padding-top: 0.2em;
}

.like_count:before {
  content: " | ";
}

.comments {
  float: left;
  width: 100%;
}

.username_wrote {
  width: fit-content;
  display: inline-flex;
  font-weight: 900;
}

.comment_text {
  width: fit-content;
  display: inline-flex;
  font-weight: 100;
  padding-bottom: 0.2em;
}

.grey_line {
  width: 96%;
  margin-left: 2%;
  height: 0.5em;
}

.comment_field {
  width: 80%;
  height: 2em;
  border: none;
}

.submit_comment_button {
  visibility: hidden;
}

h1 {
  color: #4e8196;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
  font-size: 1.8em;
}

p1 {
  padding-top: 1em;
  color: #366d83;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.1em;
}

p2 {
  font-size: 0.7em;
}
