.header_grid {
  display: grid;
  background-color: #71bddb;
  grid-template-columns: 1fr 12fr;
}

.header_grid:hover {
  color: #fff13f;
}

.menu_button:hover {
  color: #fff13f;
}

.fridge_img {
  width: 4em;
}

.fall {
  padding: 0.2em 1em;
  width: inherit;
}

.title {
  font-size: 1.2em;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.top_menu {
  text-align: center;
  color: white;
  background-color: #4e8296;
  padding: 0.2em;
}

ul {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
  text-align: center;
}

li {
  display: inline;
}

.top_menu li:after {
  content: " | ";
}
.top_menu li:last-child:after {

content: " ";

}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0.2em;
  text-align: center;
  background-color: #71bddb;
}

.footer:hover {
  color: #fff13f;
}
