 @import "bootstrap";

 body {
   font-family: 'Press Start 2P', cursive;
   background-color: darkcyan;
   margin-left: 25%;
   margin-right: 25%;
   text-align: center;
 }

 #index-list {
   list-style-type: none;
   -webkit-padding-start: 0;
 }
