 @import "bootstrap";

 html {
   background-color: black;
 }

 body {
   font-family: 'Press Start 2P', cursive;
   background-color: blueviolet;
   margin-left: 25%;
   margin-right: 25%;
   text-align: center;
   color: #f0e74e;
 }

 input[value="Create Comment"] {
   font-family: inherit;
 }

 button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: inherit;
}

textarea {
    resize: vertical;
    font-family: inherit;
    background: #292b2c !important;
    color: white;
}

 #index-list {
   list-style-type: none;
   -webkit-padding-start: 0;
 }

 #username-thumb {
   margin-top: 50px;
   margin-bottom: 0px;
   font-size: xx-large;
   color: orangered;
 }

 #welcome {
   text-align: left;
   padding-right: 15px;
 }

 #sign-out {
   text-align: right;
   padding-left: 15px;
 }

 #new-image {
   color: magenta;
 }

 #username-comment {
   color: orangered;
 }

 #comment-text {
   margin-bottom: 10px;
 }

 img {
   border-style: double;
   border-width: 30px;
   border-radius: 15px;
   border-color: #2bff2e;
   margin: 10px;
}

p {
  margin-bottom: 0;
}

 a {
   color: #f0e74e;
 }

 a:hover {
    color: #fb0909;
    text-decoration: none;
}
