/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.post {
 position: relative;
 box-sizing: content-box; }

 .pic {
  position: relative;
  box-sizing: content-box; }


.container {
  position: relative;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  padding: 30px 40px;
  margin: auto;
  display: inline-block;
  box-sizing: content-box; }

.alignleft {
	float: left;
  font-family: 'courier new';
  font-size: 10px;
}
.alignright {
	float: right;
  font-family: 'courier new';
  font-size: 10px;
}
.desc-alignleft {
	float: left;
  font-family: 'courier new';
  font-size: 14px;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 25px;
  padding: 0 20px;
  color: #555;
  text-align: center;
  /*float: right;*/
  float: left -50%;
  /*right: 50%;*/
  text-align: left;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  font-family: 'courier new';
  font-size: 10px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

  /* Remove margins and padding from the list, and add a black background color */
  ul.topnav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #ea6459;
  }

  /* Float the list items side by side */
  ul.topnav li {float: left;}

  /* Style the links inside the list items */
  ul.topnav li a {
      display: inline-block;
      color: #f2f2f2;
      text-align: center;
      font-family: 'courier new';
      font-size: 10px;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 17px;
  }

  /* Change color of links on hover */
  ul.topnav li a:hover {color: #4b4747;}

  /* Hide the list item that contains the link that should open and close the topnav on small screens */
  ul.topnav li.icon {display: none;}

  .hidden{
    display: none;
  }
