// This file contains all login and registrations stylings

@import "variables";

.login-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image-url('camera_exp.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-in {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
}

.panel {
  border-radius: 8px;
}

.panel-heading {
  h2 {
    text-align: center;
  }
}

.form-inputs {
  padding-top: 10px;
  padding-bottom: 10px;
}
