body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(241, 241, 241) !important;
}

.img-rounded {
  border-radius: 18px !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top:20px;
  margin-bottom:10px;
}
