.image {
  max-width:300px; 
  max-height:300px; 
  overflow: hidden;
  border: 1px solid black;
  box-shadow: 0px 0px 5px 5px;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;
}
container {
  width: 100%;
}
.left_container {
  float: left;
  text-align: center;
  width: 80%;
}

.right_container {
  float: right;
  width: 20%;
  height: auto;
}

.image {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo_container {
  text-align: center;
}

img.instagram_logo {
  width: 400px;
  height: auto;
}

.center {
  text-align: center;
}
