.image {
  max-width:300px; 
  max-height:300px; 
  overflow: hidden;
  border: 1px solid black;
  box-shadow: 0px 0px 5px 5px;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;
}