/***************************/
/**** Colours ****/
$aluminium: #a5a7aa;
$aubergine: #85144B;
$chathamsBlue: #125688;
$rose: #cb6264;

// Greys
$lightGray: #edeeee;
$midGray: #ccc;
$dark-grey: #232323;

// Whites
$iceWhite: #fafafa;
$white: #fff;

/***************************/

/***************************/
/**** Dimensions ****/
$drawingsPadding: 24px;
/***************************/

/***************************/
/**** Sizes ****/
$navbar-height: 50px;
/***************************/
