- if @picture.comments
  - @picture.comments.each do |comment|
    .col.s12
      %h5
        %em= comment.comment.slice(0).capitalize + comment.comment.slice(1..15) + "..."
      %p#comment_text= comment.comment
- else
  = notice
  = alert
