<div class='content'>
<%= image_tag(@picture.image.url(:medium)) %>

<%= form_for @picture, html: {multipart: true}, class: 'form' do |f| %>
  <%= f.text_area :caption %>
  <%= f.submit "done", class: 'button' %>
<% end %>
</div>
