

<div class='form-wrapper'>
  <div class="text-center">
     <h2 id="pic-head"> Edit a picture's caption </h2>
  </div>
    <%= form_for @picture do |f| %>
      <div class='form-group text-center'>
         <%= f.text_field :caption, placeholder: "       Edit here", autofocus: true, class: 'textbox' %>
      </div>
      <div class='form-group text-center'>
         <div class="actions">
            <%= f.submit "Update", class: 'btn btn-link' %>
         </div>
      </div>
    <% end %>
</form>
