- if @pictures.any?
  - @pictures.each do |picture|
    %h3
      = picture.description
      = link_to 'Edit', edit_picture_path(picture)
      = link_to 'Delete', picture_path(picture), method: :delete
- else
  No pictures yet

= link_to 'Add a picture', new_picture_path
