<% if @pictures.length == 0 %>
  <h2>No pictures have been added yet</h2>
<% else %>
 <%  @pictures.each do |picture| %>
  <div id='img'>
    <%= image_tag picture.image.url(:medium)%>
  </div>
 <% end %>
<% end %>

<%= link_to 'Add a picture', new_picture_path %>
