Welcome to PXLZ

<a href="new post">New post</a>

<% if @picture.all.any? %>
  <% @picture.all.each do |picture| %>
    <h2><%= picture.caption %></h2>
  <% end %>
<% else %>
  <h1>No PXLZ yet!</h1>
<% end %>