- if @pictures.any?
  - @pictures.each do |picture|
    %h1= picture.title
    = image_tag picture.image.url(:preview)
    %h4= picture.caption
- else
  %h4 There aren't any pictures here yet.

= link_to 'Upload a picture...', new_picture_path
