<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pictures index</title>
  </head>
  <body>
    <p>No pictures yet</p>
    <a href=new_picture_path >Upload a picture</a>
  </body>
</html>
