<h1> Latest Pictures </h1>

<ul>
  <% @pictures.each do |picture| %>
  <li>
    <%= picture.user.username %>
    <%= picture.title %>
    <%= image_tag picture.image.url(:medium) %>
    <%= picture.description %>
  </li>
  <% end %>
</ul>
