<h1>Welcome to Instagram</h1>
<% @pictures.each do |pic| %>
  <div class="image">
    <img src="<%= pic.link %>">
  </div>
<% end %>

<%= link_to new_picture_path do %>
  <p>Upload photo</p>
<% end %>
