<a href='/pictures/new'>share a picture</a>

<div>
<% Picture.all.each do |picture| %>
  <a href='/pictures/<%=picture.id%>'><p><%= image_tag picture.image.url(:medium) %></p></a>
  <p><%= picture.caption %></p>
  <p><%= link_to "delete this picture", picture_path(picture), method: :delete %></p>
<% end %>
</div>
