<% if @pictures.any? %>
  <% @pictures.all.each do |picture| %>
    <h2><%= link_to picture.title, new_picture_path(picture) %></h2>

  <% end %>
<% else %>
  <h1>No pictures yet</h1>
  <% end %>
<h4> <%=link_to 'Post picture', new_picture_path%></h4>

