<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <%= link_to picture_path(picture) do %>
      <%= image_tag picture.image.url(:medium) %>
    <% end %>
      <p><%= picture.caption%></p>
  <% end %>
<% else %>
  <h1>No pictures yet :(</h1>
<% end %>

<a href='/pictures/new'>Post a picture</a>
