<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <a href="/pictures/<%=picture.id%>?id=<%=picture.id%>"><%= image_tag picture.image.url(:thumb) %></a>
    <p><%= picture.description%></p>
    <% end %>
<% else %>
  <h2>No pictures yet</h2>
<% end %>

<h3><a href="/pictures/new">Add a picture</a></h3>
