<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Instagram Clone</title>
  </head>
  <body>
    <h1>Welcome to Instagram</h1>
    <input type="file" name="image" >
    <%= button_to "Upload", action: "create" %>

    <% @pictures.each do |pic| %>
      <div class="image">
        <img src="<%= pic.link %>">
      </div>
    <% end %>

  </body>
</html>
