<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pictures index</title>
</head>

<body>
  <% if @pictures.any? %>
    <% @pictures.each do |picture| %>
      <%= image_tag picture.picture.url(:thumb), class: "uploaded-pic" %>
      <h2><%= picture.description %></h2>
    <% end %>
    <% else %>
      No pictures yet
    <% end %>
</body>

</html>
