<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <%= image_tag picture.image.url(:big), :class => "users_pics" %>
  <% end %>
<% else %>
  No pictures yet
<% end %>

<div class='row footer-button'>
  <%= link_to "Add a picture", new_picture_path%>
</div>
