<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <%= image_tag picture.image.url(:medium) %>

    <h2><%= picture.title %></h2>
    <h5><%= link_to 'Delete picture', picture_path(picture), method: :delete %></h5>
    <br>
  <% end %>
<% else %>
  No pictures yet
<% end %>

<%= link_to 'Post a picture', new_picture_path %>
