-# %a(href='/pictures/new') share a picture
%p= link_to 'share a picture', new_picture_path(Picture.new)

- @pictures.each do |picture|
    %p= picture.caption
    = image_tag picture.image.url(:thumb)
