<% if @pictures.any? %>
  <% @pictures.all.each do |picture| %>
    <h2><%= picture.postcomment %></h2>
    <%= link_to "Edit Picture", edit_picture_path(picture) %>
    <%= link_to "Delete Picture", picture_path(picture), method: :delete %>
  <% end %>
<% else %>
  <h1>No pictures yet</h1>
<% end %>

<%= link_to "Add a picture", new_picture_path %>
