

- if @pictures.any?
  .posts-wrapper.row
  - @pictures.each do |picture|
    = render 'post', picture: picture
- else
  No pictures posted

-# %div= link_to "Post a picture", 'pictures/new', :class => "post_link"
-# #{comment.find_username(@comment_user)}:
-# link_to like method: :post
