<% if @pictures.any? %>

  <div id='all-pics'>
    <% @pictures.each do |picture| %>

      <div id='each-pic'>
        <div id='pic-title'>
          <h2><%= link_to picture.title, picture_path(picture) %></h2>
        </div>
        <div id='pic-itself'>
          <img src="<%=picture.url%>" alt="<%=picture.title%>" style="width:300px;height:300px;">
        </div>
        <div id='pic-delete'>
          <%= link_to "Delete", picture_path(picture), method: :delete %>
        </div>
      </div>

    <% end %>
  </div>

<% else %>

  <div id='no-pics'>
    <h2>No pictures yet</h2>
  </div>

<% end %>

<div id='add-a-pic'>
  <a href='/pictures/new'>Add a picture</a>
</div>
