<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <h2><%= picture.title %></h2>
    <img src="<%=picture.url%>" alt="<%=picture.title%>" style="width:300px;height:300px;">
  <% end %>
<% else %>
  <h2>No pictures yet</h2>
<% end %>

<a href='#'>Add a picture</a>
