<h1>Instagram-C</h1>

<form action="/pictures/new">
  <button type="submit" name="create_image">Add Image</button>
</form>

<% @pictures.each do |picture| %>
  <%= image_tag picture.image.url(:medium) %>
  <%= link_to "Add a comment...", picture_path(picture) %>
  <form>
    <button type="submit" name="add_like">Like</button>
  </form>
<% end %>
