
<% @pictures.each do |picture| %>
<div class="col-lg-3 centered box panel panel-default">
  <p><%= link_to image_tag picture.image.url(:medium)  %></p>
  <p><%= link_to "Remove picture #{picture.image_file_name}", picture_path(picture), method: :delete %></p>
  <p><%= link_to "View picture #{picture.image_file_name}", picture_path(picture) %></p>
</div>
<% end %>

<%= "No pictures yet" unless @pictures.any? %>
