<%= link_to "Add picture", new_picture_path %>
<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <p><%= image_tag picture.image.url(:original) %></p>
    <p><%= picture.caption %></p>
    <p><%= link_to "Delete", picture_path(picture), method: :delete %>
  <% end %>
<% else %>
  <h2>No pictures to display</h2>
<% end %>
<br>
