<% if @pictures.all.any? %>
  <% @pictures.all.each do |picture| %>
    <h5 align="left"><%= picture.title %></h5>
    <%= link_to "Edit", edit_picture_path(picture) %>
  <% end %>
<% else %>
  <h1 align="center">No pictures yet!</h1>
<% end %>
