<head>
<link rel="stylesheet" type="text/css" href="../stylesheets/pictures.css">
</head>
<body id="bg1">
  <%= render 'banner' %>

  <div class="box0">
    <div class="box00">
      <br>
      <ul style="list-style-type:none;">
        
      <div class="boxC">
      <%= link_to 'Add picture', new_picture_path %>
      </div>
      <br>
    </div>
  </div>
</body>
