=link_to 'Add a picture', new_picture_path
%ul
- @pictures.each do |picture|
  %li= image_tag picture.image.url(:thumb)
  %li= picture.description
  %li= link_to "View picture", picture_path(picture)
