- if @pictures.any?
  - @pictures.each do |picture|
    %h2= link_to picture.title, picture_path(picture)
    = image_tag picture.image.url(:thumb)
- else
  No pictures yet!

= link_to "Click here to add a picture!", new_picture_path
