- if @pictures.any?
  - @pictures.each do |pic|
    .picture{id: "#{pic.id}"}
      = link_to picture_path(pic), text: pic.title do
        = image_tag pic.image.url(:thumb)
- else
  No picture has been added

= link_to "Post a picture", new_picture_path
