<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <%= image_tag picture.image.url(:thumb) %>
    <p><%= picture.description%></p>
    <% end %>
<% else %>
  <h2>No pictures yet</h2>
<% end %>

<h3><a href="/pictures/new">Add a picture</a></h3>
