- if @pictures.any?
  - @pictures.each do |picture|
    = link_to picture.description, picture_path(picture)
    = image_tag picture.image.url(:thumb)
-else
  No pictures added yet

= link_to 'Upload a picture', new_picture_path
