<body>
  <% @pictures.each do |picture| %>
      <div class="">
          <div class="container">
              <div class="post">
                  <div class="post-header">
                    <div class="user-image">
                      <i class="far fa-user-circle fa-2x"></i>
                    </div><div class="user-name">
                        <h2>UserName</h2>
                    </div><div class="elipsis">
                      <i class="fas fa-ellipsis-h"></i>
                    </div>
                  </div>
                  <div class="picture">
                      <img src= <%= picture.url %> alt=""></img>
                  </div>
                  <div class="menu-bar">
                    <div class="menu">
                      <i class="far fa-heart"></i>
                      <i class="far fa-comment"></i>
                    </div><div class="likes">
                      <strong>54 likes</strong>
                    </div>
                  </div>
                  <div class="comments">
                      <div class="comment">
                          <p><strong>UserName: </strong>This is my first photo of the feed. This is a multi-line comment for testing process. I need to make this a bit longer.</p>
                      </div>
                      <div class="comment">
                          <p><strong>UserName2: </strong>This is another comment</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    <% end %>
  </body>
