<!doctype html>
<html>
<head>
  <title>Instagram | Share your snaps!</title>
</head>

<body>
<ul>
<% @pictures.each do |picture| %>
  <li>
      Description: <%= picture.description %><br>
       <%= image_tag picture.image.url(:medium) %><br>
      <br>
  </li>
<% end %>
</ul>
</body>
</html>
