<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <h2><%= picture.caption %></h2>
  <% end %>
<% else %>
  <h2>No one has uploaded any pictures yet!</h2>
<% end %>

<a href="#">Upload a picture</a>
