- if @pictures.any?
  - @pictures.each do |picture|
    = link_to "#{picture.title}", picture_path(picture)
    = image_tag picture.image.url(:thumb)
- else
  No picture has been added

= link_to "Post a picture", new_picture_path
