<header class="center-block">
  <h1>Pictures</h1>
   <p> <%= link_to "My pictures", my_pictures_pictures_path %> </p>
</header>

<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <h2><%= link_to picture.title, picture_path(picture) %></h2>
  <% end %>
<% else %>
  <h1>No pictures yet</h1>
<% end %>

<a href="/pictures/new">Upload a picture</a>