<% if @pictures.any? %>
<% @pictures.each do |picture| %>
<h2> <%= picture.name %> </h2>
<%= picture.likes %>
<% end %>
<% else %>
<% end %>



<p> No pictures yet </p>
<a href="#">Add a picture </a>
