<title>Hamstagram</title>
<head>
<h1>Welcome to Hamstagram!</h1>
</head>
<% if @pictures.all.any? %>
<% @pictures.all.each do |picture| %>
<%= link_to image_tag(picture.image.url(:thumb)), picture_path(picture) %>
<% end %>
<% else %>
<h1>No pictures added yet</h1>
<% end %>
<br>
<a href='/pictures/new'>Add a picture</a>
