<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <%= image_tag picture.image.url(:medium) %>
  <% end %>
<% else %>
  No pictures yet
<% end %>

<p>
  <%= link_to "Add a picture", new_picture_path %>
</p>