<% if @pictures.any? %>
	<% @pictures.each do |picture| %>
		<%= link_to picture.name, picture_path(picture) %>
	<% end %>
<% else %>
	Oh noes, there are no pictures yet!
<% end %>

<a href='/pictures/new'>Add a Picture</a>