- if @pictures.any?
  - @pictures.each do |picture|
    = image_tag picture.image.url(:original)

    %p= picture.description
    =link_to 'Comment', new_picture_comment_path(picture)
- else
  %h5 No pictures yet!

=link_to 'Add picture', new_picture_path
