<% if @pictures.all.any? %>
<% @pictures.all.each do |picture|%>
<h2><%=picture.title%></h2>
<%=image_tag("pictures/#{picture.filename}")%>
<%end%>
<%else%>
No pictures added yet
<%end%>

<a href = 'pictures/new'> Add a picture</a>
