<h1>Gallery</h1>

<%= link_to new_picture_path do%>
New picture
<%end%>
<br>
<br>

<% @pictures.each do |picture| %>
  <%= picture.title %><br>
  <%= image_tag picture.image.url (:unique)%> <br>
<% end %>
