<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-8">
      <h2>Photos</h2>
         <% @pictures.each do |picture| %>
           <ul>
             <div>
               <div class="col-sm pb-4">
                 <%=image_tag picture.image.url(:medium)%>
                 <br>
                 <%= picture.caption %>
               </div>
             </div>
           </ul>
        <% end %>
    </div>
  </div>
</div>
