<%  if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <%= link_to( image_tag(picture.image.url(:medium)), picture_path(picture), :class=>'picture', :id=>'1') %>
    <p> <%= picture.caption %> </h2>
      <br>
  <% end %>
    <% else %>
      No pictures yet
    <% end %>

<a href='pictures/new'>Add a picture!</a>
