- if @pictures.any?
  - @pictures.each do |picture|
    %h1= link_to picture.title, picture_path(picture)
    = link_to image_tag(picture.image.url(:thumb)), picture_path(picture)
- else
  %h4 There aren't any pictures here yet.
