<h1>Pictures</h1>
<%= link_to 'Post Image', action: 'new' %>
<ul>
  <% @pictures.each do |picture| %>
    <li>
      <img src="<%= picture.image %>">
      <p><%= picture.comment %></p>
    </li>
  <% end %>
</ul>
