<h1>Listing Pictures</h1>

<%= link_to "Add Picture", new_picture_path %>

  <% @pictures.each do |picture| %>
    <%=link_to image_tag(picture.image), picture_path(picture) %>
      <p>
        <%= picture.description %>
      </p>
  <% end %>
