<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <%= link_to picture.name, picture_path(picture) %>
  <% end %>
<% else %>
  No pictures on here yet
<% end %>

<a href='/pictures/new'>Add a photo!</a>
<a href='#'>Sign in</a>
<a href='#'>Sign up</a>
