<h1>All the Pictures</h1>

<%= link_to 'Add Picture', new_picture_path %>

<% @pictures.each do |picture|  %>
  <div>
    <%= picture.title %><br>
    <%= picture.caption %>
    <%= link_to 'Show', picture_path(picture) %>
  </div>
<% end %>
