<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <h2><%= link_to picture.title, picture_path(picture) %></h2>
    <img src="<%=picture.url%>" alt="<%=picture.title%>" style="width:300px;height:300px;">
    <%= link_to "Delete", picture_path(picture), method: :delete %>
  <% end %>
<% else %>
  <h2>No pictures yet</h2>
<% end %>

<a href='/pictures/new'>Add a picture</a>
