<h1>Posts</h1>

<%= link_to new_picture_url do %>
    Create post
<% end %>    

<div>
<% @pictures.each do |picture| %>
  <div>
    <p>
    <% if picture.image.attached? %>
      <%= image_tag picture.image, style: "width: 400px" %>
    <% end %>
    </p>
  </div>
<% end %>
</div>