<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <%= image_tag(picture.photo_url(:thumb).to_s) %><br>
  <% end %>
<% else %>
  <h2>No pictures yet!</h2>
<% end %>

<a href="/users/<%= current_user.id %>/pictures/new">Add picture</a>
