<%= render 'layouts/header' %>
<h1>Explore</h1>

<% @pictures.each do |picture|  %>
  <p><div>
    <% if picture.image.attached? %>
      <a href="<%= picture_url(picture) %>"><image width="300" height="300" src="<%= (url_for(picture.image)) %>"></a><br>
    <% end %>
    <div>Comments: <%= picture.comments.count %>
  </div></p>
<% end %>
