<% if @pictures.any? %>

<% @pictures.all.each do |picture| %>
<h3><%= link_to picture.caption, picture_path(picture) %></h3>
<%= link_to "Edit Picture", edit_picture_path(picture) %>
<%= link_to "Delete Picture", picture_path(picture), method: :delete %>
<% end %>

<% else %>

<h3>No pictures yet</h3>

<% end %>
<br></br>
<a href='pictures/new'>Add a picture</a>
