<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <p class="picture">
      <a href="<%= picture_path(picture) %>">
    <%= image_tag picture.image.url(:medium) %><br>
    <%= picture.description %>
      </a>
    </p>
  <% end %>
<% else %>
  <h1>No pictures yet</h1>
<% end %>

<%= link_to 'Add a picture', new_picture_url, class: "pure-button pure-button-primary" %>
