<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pictures index</title>
</head>

<body>
  <div>
    <% if @pictures.any? %>
      <% @pictures.each do |picture| %>
        <%= image_tag picture.picture.url(:small), class: "uploaded-pic" %>
        <p><%= link_to picture.description, picture_path(picture) %></p>
      <% end %>
      <% else %>
        No pictures yet
      <% end %>
    </div>
</body>

</html>
