<center><h1 id="title">Sophtagram</h1>
  <a href = 'pictures/new', id="add_picture"> Add a picture</a></center>
  <% if @pictures.all.any? %>
  <% @pictures.all.each do |picture|%>
  <div id="margins">
    <div id="image_posted">
      <%=link_to image_tag("photos/#{picture.filename}"), picture_path(picture)%>
    </div>
  </div>
  <%end%>
  <%else%>
  No pictures added yet
  <%end%>
