<header>
  <section class="links">
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  </section>
</header>

<section id="Main-Page-Photos">
  No pictures
</section>

<section id="link-for-new-pics">
  <a href="#">Add a picture</a>
</section>
