<% if @pictures.all.any? %>
  <% @pictures.all.each do |picture| %>
    <h2><%= picture.image %></h2>
    <h2><%= picture.description %></h2>
    <h2>Likes: <%= picture.likes %></h2>
  <% end %>
<% else %>
  <h1>No pictures yet</h1>
<% end %>

<a href="/pictures/new">Add a picture</a>
