<% if @pictures.all.any? %>
<% @pictures.all.each do |picture|%>
<%=link_to image_tag("photos/#{picture.filename}"), picture_path(picture)%>
<%end%>
<%else%>
No pictures added yet
<%end%>

<a href = 'pictures/new'> Add a picture</a>
