<h1>Picturegram</h1>

<div id="nav"><%= link_to "Post Picture", new_picture_path %></div>

<br>

<div id="maincontainer">
<% @pictures.each do |picture| %>
  <%= image_tag picture.image, {class:"image"} %>
  <div class="caption"><%= picture.caption%></div>
<% end %>
</div>