<p>
  <%= link_to "Add a picture", new_picture_path %>
</p>

<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <p>
      <%= image_tag picture.image.url(:medium) %>
    </p>
  <% end %>
<% else %>
  No pictures yet
<% end %>
