<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <h2> <%= picture.name %> </h2>
    <h3> <%= picture.comment %></h3>
    <%= image_tag picture.image.url(:thumb) %>
  <% end %>
<section>
<% else %>
  No pictures yet
<% end %>
</section>
<a href='/pictures/new'>Add a picture</a>
