<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <p> <%= image_tag picture.image.url(:medium) %> </p>
    <p> <%= picture.caption %> </p>    
  <% end %>
<% else %>
  <h2>No one has uploaded any pictures yet!</h2>
<% end %>

<%= link_to "Upload a picture", new_picture_path %>
