<header>
  <section class="links">
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  </section>
</header>

<header class="instagram-logo">
  <img src="/assets/Instagram.svg">
</header>

<section id="Main-Page-Photos">
  <% if Picture.all.any? %>
    <% Picture.all.each do |picture| %>
      <h2><%= picture.name %></h2>
    <% end %>
  <% else %>
    <h1>No pictures yet</h1>
  <% end %>
</section>

<section id="link-for-new-pics">
  <%= link_to "Add a picture", new_picture_path %>
</section>
