<br><br>
<% if @pictures.any? %>
<% @pictures.each do |picture| %>
  <span><%= picture.user.username %>
  <%= image_tag picture.image.url(:med)%>
  <%#= picture.description %></span>
  <% end %>
<% else %>
  No pictures yet
<% end %>

<% if user_signed_in? %>
  <br><br><%= link_to "Upload a picture", new_picture_path %>
<% end %>
