<header class='center-block'>
  <h2>My Pictures</h2>
</header>

<% if @pictures.any? %> 
	<% @pictures.each do |picture| %>
		<%= image_tag picture.image_url, class: 'img-thumbnail', style: "width:150px;height:150px" %><br>
		<%= link_to "Edit", edit_picture_path(picture) %> - 
		<%= link_to "Delete", picture_path(picture), method: :delete %></br>
		<br>
	<% end %>
<% else %>
	<p>No pictures yet.</p>
<% end %>
<hr>
<%= link_to "Home", root_path %>