<header class='center-block'>
  <h2>My Pictures</h2>
</header>

<% if @pictures.any? %> 
	<% @pictures.each do |picture| %>
		<!-- Thumbnail here <image_tag image.image(:thumb)> -->
		<%= link_to "Edit picture #{picture.title}", edit_picture_path(picture) %></br>
		<%= link_to "Delete picture #{picture.title}", picture_path(picture), method: :delete %></br>
	<% end %>
<% else %>
	<p>No pictures yet.</p>
<% end %>
<hr>
<%= link_to "Home", root_path %>