<% if @picture.errors.any? %>
  <section id="errors" >
    <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
<%= render "form" %>
