<head>
<link rel="stylesheet" type="text/css" href="../stylesheets/pictures.css">
</head>
<body id="bg2">
  <%= render 'banner' %>

  <div class="box0">
    <div class="box00">

      <%= render 'form' %>

      <%= link_to 'Back', pictures_path %>

    </div>
    <br>
  </div>

</body>
