<% if @picture.errors.any? %>
  <section id="errors" >
    <h2> <%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved: </h2>
    <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= render "form" %>