<h1> Create a new post </h1>


<%= form_with model: @picture, method: "post" do |form| %>
 
  <%= form.text_field :caption, placeholder: 'Enter a caption here' %>
  <%= form.submit "Create post" %>
<% end %>