<div class='content'>
<%= form_for @picture, html: {multipart: true}, class: 'form' do |f| %>
  <%= f.file_field :image %>
  <%= f.text_area :caption %>
  <%= f.submit 'share', class: 'button', id: 'share-button' %>
<% end %>
</div>
