<body class="show-body">
  <div class="wrapper">
    <div class="wrapper-center">
      <div class="wrapper-middle">

        <%= render 'form' %>

      </div>
    <div class="topcorner">
      <%= link_to '╳', @back %>
    </div>
    </div>
  </div>
</body>
