

  <%= form_with model: @picture do |form| %>
      <div class="container">
        <div class="post">
          <div class="post-header">
            <div class="user-image">
              <i class="far fa-user-circle fa-2x"></i>
            </div><div class="user-name">
                <h2>UserName</h2>
            </div><div class="date">
            </div>
          </div>
          <div class="picture">
            <%= form.text_field :url %>
          </div>
          <div class="menu-bar">
            <div class="menu">
              <%= button_tag type: 'submit', class: "button" do %>
                <i class="far fa-paper-plane fa-2x"></i>
              <% end %>
            </div>
          </div>


        </div>
      </div>

    <% end %>
