<p>Name: <%= @picture.name %></p>
<p>Comment: <%= @picture.comment %></p>
<p>Picture: <%= image_tag @picture.image.url(:large) %></p>
<%= @picture.userthoughts.map {|x| x[:thoughts]}.join(', ') %>
<% @picture.userthoughts.each {|x| x[:ratings]}.join(',') %>
