<div class="picture-content">
  <%= form_for @picture, html: { multipart: true } do |f| %>
  <p>
    <%= image_tag(@picture.photo_url.to_s) %>
  </p>
  <% end %>
  <div class="picture-posted-time">
    Posted: <%= @picture.created_at.strftime("%d/%m/%Y %H:%M") %><br>
  </div>

</div>
