<p>
  Name: <%= @picture.name %>
  <%= link_to "Edit Picture", edit_picture_path(@picture) %>
  <%= link_to "Delete Picture", picture_path(@picture), method: :delete %>
</p>

<p> <%= @picture.description %> </p>
