<article>
  <header><a href=""><%= @picture.username %></a></header>
  <figure style="background-image:url('<%= @picture.image.url(:original)%>')"></figure>
  <section class="details">
    <p class="likes">0 likes</p>
    <ul class="comments">
      <% unless @picture.description.empty? %>
      <li><a href=""><%= @picture.username %></a> <%= @picture.description %></li>
      <% end %>
    </ul>
    <hr>
  </section>
</article>
