<div class="post" id="post">
  <%= image_tag(@picture.image.url, class: 'post-img', alt: 'Photo') %>
  <div class="caption">
    <h2 class="caption"><%= @picture.caption %></h2>
  </div>
  <div class="email">
    <%= @picture.user.email %>
  </div>
</div>
