%p= image_tag(@picture.image(:original))
%p= @picture.description
=link_to 'Comment', new_picture_comment_path(@picture)
=link_to 'Delete Picture', picture_path(@picture), method: :delete

%h6 Likes:
- if @picture.likes.any?
  = pluralize picture.likes.count
- else
  Be the first to like this!

%h6 Comments:
- if @picture.comments.any?
  - @picture.comments.reverse.each do |comment|
    %p= comment.comment
- else
  No comments yet!
