.row
  .col.s9
    %h2= @picture.title
    = image_tag @picture.image.url(:standard), id: "image_display"
%divider
.row
  .col.s12
    %h4 Comments
    .divider
.row
  .col.s12
    =render 'pictures/comments'
- if user_signed_in?
  .row
    .col.s12
      =render 'pictures/add_comment'
