<p>
  <strong>Image url:</strong>
  <%= @picture.image_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @picture.user_id %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
