<h3> Comments for <%= @picture.title %></h3>
  <% if @picture.comments.any? %>
    <ul>
      <% @picture.comment.each do |comment| %>
        <li>
          <%= comment.comment %>
        </li>
      <% end %>
    </ul>
  <% else %>
  <p>No comments yet!</p>
  <% end %>