<h2> Comments </h2>

<% if @picture.comments.any? %>
  <ul>
   <% @picture.comments.each do |comment| %>
   <li>
    <%= comment.thoughts %>
    </li>
    <% end %>
    </ul>
    <% else %>
    <h3> No comments yet.</h3>
 <% end %>