<p><%= @picture.descr %></p>

<h3><%= @picture.descr %> comments</h3>

<% if picture.comments.any? %>
  <ul>
    <% @picture.comments.each do |comment| %>
      <li>
        <%= comment.comments %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p> No comments </p>
<% end %>
