<div class="description">
 <%= @picture.description %>
</div>
<div class="image">

  <%= image_tag(@picture.image.url(:detail), alt: 'Image') if @picture.image? %>
</div>

<div class="comment">
  <h1>Comments</h1>

    <% @comments.each do |comment| %>
      <ul>
        <div class="content">
          <%= comment.content %>
        </div>
     </ul>
    <% end %>
</div>
<div class="add-comment">
  <h1>Add Comment</h1>
<%= render 'comments/form'%>
</div>
