<%= link_to "Pictures", pictures_path %>

<p><%= @picture.description %></p>
<p><%= image_tag @picture.image.url(:medium) %> </p>
<% @picture.comments.each do |comment| %>
  <p><%= comment.comments %></p>
<% end %>
