<h1><%=@picture.title%></h1>
<h2><%= link_to 'Edit title', edit_picture_path(@picture) %><h2>
<h2><%= link_to 'Delete post', picture_path(@picture), method: :delete %><h2>
<%=image_tag("pictures/#{@picture.filename}")%>
