<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @picture.text %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %>
<%= link_to 'Back', picture_path %>
