<p><%=image_tag(@picture.image.url(:thumb))%></p>
<p><%= @picture.status %></p>
<%= link_to "Edit #{@picture.status}", edit_picture_path(@picture) %>
<%= link_to "Delete #{@picture.status}", picture_path(@picture), method: :delete %>
