<div class="post" id="post">
  <%= image_tag(@picture.image.url, class: 'post-img', alt: 'Photo') %>
  <div class="caption" id="caption">
    <h2 class="caption"><%= @picture.caption %></h2>
  </div>
  <div class="email" id="email">
    <%= @picture.user.email %>
  </div>
  <div class="edit" id="edit">
    <% if @picture.user.id == current_user.id %>
      <%= link_to "Delete", picture_path(@picture), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
    <% end %>
  </div>
</div>
