<%= image_tag @picture.image.url(:medium) %>
<p><%= @picture.caption %></p>
<p><%= link_to "Edit Caption", edit_picture_path(@picture) %></p>
<p><%= link_to "Delete Picture", picture_path(@picture), method: :delete %></p>
