<%= image_tag @picture.image.url(:original) %>
<ul>
  <% @picture.comments.each do |comment| %>
  <li>
  <strong><%= comment.user.email + ': ' if comment.user %></strong><%= comment.comments %>
  </li>
  <% end %>
</ul>
