<%= image_tag @picture.image.url(:medium), id: "show-picture" %>
<%= @picture.name%>

<% if @comments.any? %>
  <%  @comments.each do |comment| %>
  <%= comment.thoughts %>
  <% end %>
<% else %>
  No comments available
<% end  %>



<a href="/pictures">All Pictures</a>
