<p><%= @picture.name %></p>
<p><%= @picture.description %></p>
<h3>Comments for <%= @picture.name %></h3>
<% if @picture.comments.any? %>
  <ul>
    <% @picture.comments.each do |comment| %>
      <li>
        <%= comment.comments %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No Comments.</p>
<% end %>

<a href='/pictures'> OK </a>