
<%= image_tag @picture.image.url(:medium) %>
<p><%= @picture.description%></p>
<%= link_to "Edit", edit_picture_path(@picture) %>
<%= link_to 'Delete', picture_path(@picture), method: :delete, data: {confirm: "Are you sure?"} %>
