

<div class="row">
    <div class="col-md-12 text-center">
      <div> <%= image_tag @picture.image.url(:medium) %> </div>
      <p id="pic-normal"> Caption: <%= @picture.caption %> </p>
      <p id="pic-normal" > Created at: <%= @picture.created_at %> </p>
    </div>

    <% if user_signed_in? %>
    <span id="leave">  <%= link_to "Leave a comment", new_picture_comment_url(@picture) %> </span>
    <% end %>
</div>
