<div class="picture-content">
  <%= image_tag(@picture.photo_url.to_s, width: 500) %><br>

  <div class="picture-posted-time">
    Posted: <%= @picture.created_at.strftime("%d/%m/%Y %H:%M") %><br>
  </div>
  <%= link_to 'Back', user_pictures_path %>
</div>
