<%= image_tag @picture.image.url %>

<p>
  <strong>User:</strong>
  <%= @picture.user.name %>
</p>

<% if @picture.user_id == current_user.id %>
  <p><%= link_to 'Destroy', @picture, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<%= link_to 'Back', pictures_path %>
