<%= image_tag @picture.image.url %>

<p>
  <strong>User:</strong>
  <%= @picture.user.name %>
</p>

<p><%= link_to 'Destroy', @picture, method: :delete, data: { confirm: 'Are you sure?' } %></p>

<%= link_to 'Back', pictures_path %>
