.row
  .col-md-8
    .col-md-12
      %h1
        = @picture.title
  -# .col-md-4
  -#   = image_tag @restaurant.image.url(:medium), :id => "image_display"
%divider
.row
  .col-md-8
    %h2 Comments
  .col-md-4
    -# - if @restaurant.try(:id)
    -#   = button_to "Add Review", new_restaurant_review_path(:restaurant_id => @restaurant.id), method: :get, id: "review_btn", :class => "btn btn-success pull-right"
    -# - else
    -#   = notice
    -#   = alert
.row
  -# - i = 0
  -# - if @restaurant.reviews
  -#   - @restaurant.reviews.each do |review|
  -#     - i += 1
  -#     .col-md-8
  -#       %h3
  -#         %em= review.comment.slice(0).capitalize + review.comment.slice(1..15) + "..."
  -#     .col-md-4
  -#       %h4#rating.pull-right
  -#         Rating: #{review.rating}
  -#     #comment.col-md-12
  -#       %p= review.comment
  -# - else
  -#   = notice
  -#   = alert
