=@restaurant.name

=@restaurant.description

-@restaurant.reviews.each do |review|
  %ul
    %li #{review.review}. Rating: #{review.rating} posted about #{time_ago_in_words(review.created_at)} ago

%h3 Average rating: #{star_rating(@restaurant.average_rating)}

=link_to "Return to restaurants", restaurants_path
