<body class="landing">
  <a class= "landing" href="<%= "#{pictures_path}"%>"><h1>Instablam!</h1></a>
  <a class="login" href="<%= "#{new_user_session_path}"%>">Sign In</a>
  <a class="login" href="<%= "#{new_user_registration_path}"%>">Sign Up</a>
</body>
