{{#if user}}
You are already logged in.
{{else}}
Login:
<form id="new-session-form" action="/sessions" method="post">
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" value="" required>
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="" required>
  <button id="submit" type="submit" value="Submit">Log in</button>
</form>
<br>
Or register here:
<form action="/users/new">
<button id="submit" type="submit" value="Submit">Register</button>
</form>
{{/if}}
