<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>  
  <div class="logo_container">
    <img src="https://www.pngarts.com/files/4/Instagram-PNG-Image.png" alt="" class="instagram_logo">
  </div>
  <div class="center">
    <% if current_user %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> <br>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %> <br>
      <%= link_to 'Sign in', new_user_session_path %> <br>
    <% end %>
  
    <%= link_to 'Instagram Posts', posts_path %>
  </div>
</body>
</html>