/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body{
    height: 100%;
    width: 100%;
}

body {
    width:80%;
    margin: auto;
    font-family: Roboto, helvetica;
}

.logo {
    width:300px;
    margin: auto;
    display: flex;
}

.session_links {
    text-align: center;
    margin:10px;
}

.session_btn {
    padding-left: 10px;
    padding-right: 10px;
}

#gif_btn {
    text-align: center;
}

.create {
    margin: 5%;
    text-align: center;
}
.button {
    text-decoration: none;
    color: white;
    border: 1px outset blue;
    background-color: #006599;
    height:50px;
    width:200px;
    margin: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor:pointer;
    font-size: 15px;
}

.button:hover {
  background-color: #F7ECE8;
  color:#036497;
}

.gif {
    margin: 20px;
    border: 10px;
}

.gif_image {
    margin: 15px;
    text-align: center;
}

.gif_title {
    text-align: center;
    font-size: 2em;
}

.generator-form {

  text-align: center;

}
