-if @photos.any?
  -@photos.each do |photo|
    %p= photo.description
    =link_to image_tag(photo.image.url(:medium)), photo_path(photo)
    =link_to "Edit description", edit_photo_path(photo)
-else
  No photos have been added - why not be the first?


%a(href='/photos/new')Add a photo
