-if @photos.any?
  -@photos.each do |photo|
    %p= photo.description
    = image_tag photo.image.url(:medium)
    =p photo.image.url
-else
  No photos have been added - why not be the first?


%a(href='/photos/new')Add a photo
