<a href='/posts/new'>Add a post</a>
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div class='post'>
    <p><%= post.created_at.strftime("Posted on %m/%d/%Y") %> | <%= post.description %> <span class='right'><%= link_to "Edit", edit_post_path(post) %></span></p>
      <img src='https://media4.s-nbcnews.com/j/newscms/2016_36/1685951/ss-160826-twip-05_8cf6d4cb83758449fd400c7c3d71aa1f.nbcnews-ux-2880-1000.jpg' />
    </div>
  <% end %>
<% else %>
  <h2>No posts yet</h2>
<% end %>
