
<form action="/users" method="GET">
  <input type="text" name="username" value="<%= searchOptions.username %>">
  <button type="submit">Search</button>
</form>
<br>
<% users.forEach(user => { %>
   <div><%= user.username %></div>
<% }) %>