<h1>Sign up</h1>

<form action="/users" method="POST">
  <input id="username" type="text" name="username" placeholder="username.." required>
  <input id="email" type="email" name="email" placeholder="example@email.co.uk" required>
  <input id="password" type="password" name="password" placeholder="password.." required>
  <input id="submit" type="submit" value="Submit">
</form>