<h1>Sign Up</h1>

<form action="/users" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" value=<%= user.email %> required>
  </div>
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" value=<%= user.username %> required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Sign up</button>
</form>
<a href="/sessions/new">Login</a>
<a href="/">Cancel</a>