New User Form

<form action="/users" method="post">
  <label>Name</label>
  <input type="text" name="name" data-cy="input-user">
  <a href="/users">Back</a>
  <button data-cy="submit-user" type="submit">Create</button>
</form>