<h2>Register A Profile</h2>
<form id="new-user-form" action="/users" method="post">
  <label for="name">Name: </label>
  <input id="name" type="text" name="name" "required=required" value="">
  <label for="username">Username: </label>
  <input id="username" type="username" name="username" "required=required" value="">
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" required value="">
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" required value="">
  <input id="submit" type="submit" value="Submit">
</form>

      {{#if messages}}
          {{messages}}
      {{/if}}
