<div class="user-form">
  <img width="150" src="/images/Instagram_logo.png" alt="instagram">
  <h3 class="form-title">Sign Up</h3>
  
  <form action="/users" method="POST">
    <div class="labelled-field">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" value=<%= user.email %> required>
    </div>
    <div class="labelled-field">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" value=<%= user.username %> required>
    </div>
    <div class="labelled-field">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Sign up</button>
  </form>
  <br>
  <div>
    Have an account? 
    <a href="/sessions/new">Login</a>
  </div>
</div>