%h3=link_to  "Upload Image", new_photo_path

- if @photos.any?
  - @photos.each do |photo|
    %h2= link_to photo.name, photo_path(photo)
    = image_tag photo.image.url(:medium)
    %h3= photo.description
    
- else 
  %h1 No photos yet!