
<h1>Nick-Sta-Gram</h1>

<br>

<form method=get action=images/new >
  <input type=submit class=main value='Sign Up'/>
</form>

<form method=get action=images/new >
  <input type=submit class=main value=' Sign In '/>
</form>

<br><br>
