<h1>Welcome to Nick-Sta-Gram!</h1>
<br><br>

<% if @images == true %>
  <% @images.each do |images| %>
    <h2> <%= image.name %> </h2>
  <% end %>
<% else %>
  <form method=get action=images/new >
    <input class=main type=submit value="Post an Image"/>
  </form>
<% end %>
