@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Source+Sans+Pro:wght@600&display=swap');


html,
body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

body:not(#navbar) {
  background-color: #f7f7f7
}


.toast{
  max-width: 15vw;
}