.nav-buttons {
  margin: 0 3px 0 3px;
  color: black;
}

.nav-avatar {
  border-radius: 50%;
}


#navbar{
  background-color: white !important;
  box-shadow: 0 2px 5px -4px gray;
}
.nav-user-name{
  color: black;
  font-size: 20px;
  letter-spacing: 1.1; 
  padding: 5px;
  border-radius: 10px;
  margin-right: 10px;
}

.nav-user-name:hover {
  background-color: #f7f7f7;
  color: black;
}


.dropdown-toggle{
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: black;
  margin-right: 5px;
  background-color: #f7f7f7;
}

.dropdown-toggle:hover {
  background-color: #eeeeee;
  color: black;
}

.dropdown-menu[data-bs-popper] {
  top: 6vh;
  box-shadow: 0 2px 4px -4px gray;
}

#navbar-logo-banner{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #3360ff;
  margin-left: 5px;
}