<div class="media">
  <div class="media-left">
    <%= link_to image_tag(picture.image.url(:thumb), class: 'media-object'), picture.image.url, target: '_blank' %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= picture.title %></h4>
    <%= link_to 'Remove', picture_path(picture), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
</div>
