<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <%= image_tag picture.image.url(:medium) %>
  <% end %>
<% else %>
  <h1> No pictures yet! </h1>
<% end %>

<%= link_to 'Upload a picture', new_picture_path %>
