No Photos added yet
<%= link_to 'Add a photo', new_picture_path %>

<h1> Pictures </h1>

<ul id="pictures">
<% if user_signed_in? %>  
  <% @pictures.each do |pic| %>
    <li>
       <%= image_tag pic.image.url(:normal) %>
    </li>
  <% end %>
<% end %>
</ul>