- if @pictures.all.any?
  - @pictures.all.each do |pic|
    %h3
      =pic.title
    = image_tag pic.image.url(:thumb)
    %p
      =pic.description
    -# %img(src='/images/#{pic.path}')
- else
  %p You don't have any pictures yet

%a(href='/pictures/new') Upload a picture
