<!DOCTYPE html>
<html>
<head>
  <title>InstagramClone</title>
</head>

<body>
  <% if @pictures.any? %>
    <% @pictures.each do |picture| %>
      <p><%= picture.created_at %></p>
      <p><%= image_tag picture.image.url(:thumb) %></p>
    <% end %>
  <% else %>
    <h2>No pictures yet</h2>
  <% end %>

  <h2><%= link_to('Add a picture', new_picture_path) %></h2>
</body>
</html>
