
<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <%= image_tag picture.image.url(:thumb) %>
    <%= picture.caption %><br>
  <% end %>
<% else %>
  No one has added any pictures yet!
<% end %>

<a href='/pictures/new'>Add a picture!</a>
