<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <h5><%= link_to picture.descr, picture_path(picture) %></h5>
    <%= image_tag picture.image.url(:medium) %>
    <%= link_to "Delete #{picture.descr}", picture_path(picture), method: :delete %>
  <% end %>
<% else %>
  <h1> No pictures yet! </h1>
<% end %>

<%= link_to 'Upload a picture', new_picture_path %>
