<!DOCTYPE html>
<html>
<head>
  <title>InstagramClone</title>
</head>

<body>
  <%= form_for Picture.new do |f|  %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.submit %>
  <% end %>
</body>
</html>
