<h2>Upload image below</h2>
<%= form_for @picture do |f| %>
  <p><%= f.text_field :image_url, placeholder: "Enter URL" %></p>
  <p>Or</p>
  <p><%= f.file_field :image %></p>
  <p><%= f.submit %></p>
<% end %>
