<%= image_tag @picture.image.url %>
<h3> Comments for <%= @picture.tag %> </h3>
<% @picture.comments.each do |comment| %>
  <%= comment.comment %>
<% end %>
<%= link_to 'Leave a comment', new_comment_path(@picture) %>
