<p><%= @picture.title %></p>
<%= image_tag @picture.image.url(:medium) %>

<h3>Comments</h3>

<% if @picture.comments.any? %>
  <ul>
    <% @picture.comments.each do |comment| %>
      <li>
        <%= comment.comments %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No comments</p>
<% end %>
