<p><%= @picture.name %></p>
<!-- <p><%= @picture.description %></p> -->
<h3>Reviews for <%= @picture.name %></h3>

<% if picture.reviews.any? %>
  <ul>
    <% picture.reviews.each do |review| %>
    <li>
    <%= review.thoughts %>
    </li>
    <% end %>
  </ul>
<% else %>

<p>No reviews.</p>
 <% end %>