<ul class="photo-comments">
  <% @photo.comments.each do |comment| %>
    <li>
    <%= link_to profile_path(comment.user) do %>
      <strong>@<%= comment.user.username %>:</strong>
    <% end %>
    <%= comment.text %></li>
  <% end %>
</ul>
