<table class="table text-centered">
  <tbody>
    <% @photos.reverse.each do |photo| %>
      <tr>
        <td><strong><%= photo.user.username %></strong></td>
      </tr>
        <td><%= image_tag(photo.image_url.to_s) %></td>
      <tr>
        <td><%= link_to 'Show', photo %></td>
      </tr>
      <tr>
        <td><%= photo.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
