.photo-container
  = link_to image_tag(photo.photo_url), photo_path(photo), id: photo.id
  %br/
  = link_to 'Like', photo_likes_path(photo), method: :post
  %b 👍 #{photo.likes.count}
  %br/
  = photo.description
