- if user_signed_in? && photo.user == current_user
  %span(class='pull-right')
    = link_to 'Edit', edit_photo_path(photo), class: 'btn btn-xs btn-warning'
    = link_to 'Delete', photo_path(photo), method: :delete, class: 'btn btn-xs btn-danger'
