<h1>Why Petagram?</h1>
<p>Because your friends on facebook really don't care that much about your Dog, Cat, Rabbit or Rat.
<br>
Petagram gives you a  safe place to share your pet snaps with other animal crazied lunatics, like yourself.
<br>
<br>
Watch out for our next Instagram rip off "Childagram" Coming as soon as we can be bothered to make it.</p>