<h1>Editing Photo</h1>

<%= render 'form', photo: @photo %>

<%= link_to 'Show', @photo %> |
<%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', photos_path %>
