

<div class="text-center">
  <%= image_tag @photo.image.url(:medium) %>
</div>

<%= render 'form' %>

<div class="text-center edit-links">
  <%= link_to "Delete Photo", photo_path(@photo), method: :delete, data: { confirm: "Are you sure you want to delete this photo?" } %>
  <%= link_to "cancel", photos_path %>
</div>
