<div class="col-md-8 col-md-offset-2">
  <div class="page-header">
    <h1 class="text-center">Edit Photo</h1>
  </div>

  <%= form_for @photo do |f| %>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 5, :class => 'form-control' %>
    </div>
      <%= f.submit "Update Photo", :class => 'btn btn-primary' %>
  <% end %>
</div>
