<% if @photos.any? %>
  <% @photos.each do |photo| %>
    <span><%= image_tag photo.image.url(:thumb) %></span>
  <% end %>
<% else %>
  <h1>No photos added yet</h1>
<% end %>

<a href="#">Add a photo</a>
