<h1> Welcome to Simstagram! </h1>
<%= button_to 'New Photo', new_photo_path, method: :get %><br>

<%if @photos.any? %>
    <% @photos.each do |photo|%>
        <ul>
            <li>
                <%= photo.title %><br>
                <img src="<%= photo.image_file_url%>"  width="600"</img>
            </li>
        </ul>
    <%end%>
<%end%>