<h1>Photos:</h1>

<ul id="photos">
  <% @photos.each do |photo| %>
    <li> <p><%= photo.name %></p>
      <div class="" id="photo_id<%= photo.id %>">
        <img src="<%= photo.photo_file %>" alt="<%= photo.name %>">
      </div>
    </li>
  <% end %>
</ul>
