- if @photos.any?
  - @photos.each do |photo|
    %h5= photo.caption
    = image_tag photo.image.url(:medium)
    = link_to "Delete photo", photo_path(photo), method: :delete
    %h3= '********************'
- else
  %h1 No photos yet!

%a(href='/photos/new') Add a photo
