<% if @photos.any? %>
	<% @photos.each do |photo| %>
		<p><%= photo.user.email %></p>
			</div>
				<%= link_to (image_tag photo.image.url(:medium), class:'img-responsive'), photo_path(photo), class: "photo" %>
			</div>
			<p><%= photo.caption %></p>
		<% end %>
	</div>
<% else %>
	<h2>No photos yet</h2>
<% end %>
