.posts-wrapper.row
  - if @photo.any?
    - @photo.each do |photo|
      .post
        .post-head
          .name
            Username
        .text-center
          =link_to (image_tag photo.image.url(:medium)), photo_path(photo)
          %p.caption
            =photo.caption
            |
            = link_to "Delete", photo_path(photo), method: :delete
            |
            = link_to "Edit", edit_photo_path(photo)
            -# - if photo.comments
            -#   - photo.comments.each do |comment|
            -#     .comment
            -#       .user-name
            -#         = comment.user.user_name
            -#     .comment-content
            -#       = comment.content
            -#     - if comment.user == current_user
            -#       = link_to photo_comment_path(photo, comment), method: :delete, data: { confirm: "Are you sure?" }
            -# .comment-form
            -#   = form_for [photo, photo.comments.new] do |f|
            -#   = f.text_field :content, placeholder: 'Add a comment...'
  - else
    %h1 No photos have been posted!
