/ - if user_signed_in?
/   = link_to "Sign out", destroy_user_session_path, method: :delete
/ - else
/   = link_to "Sign in", new_user_session_path
/   = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
/   = link_to "Sign up", new_user_registration_path

- if @photos.any?
  - @photos.each do | photo |
    = link_to photo.name, photo_path(photo)
    = image_tag photo.image.url(:thumb)
- else
  %h2 no photos yet

%a(href=new_photo_path) Add Photo
