<h1>Welcome To Reisstagram!</h1>
<% if @photos.any? %>
  <% @photos.each do |photo| %>
    <%= image_tag photo.image.url(:medium) %>
    <p><%= photo.description %></p>
  <% end %>
<% else %>
  <h1>no photos added</h1>
<% end %>
<%= link_to 'Upload A Photo', new_photo_path %>
