<% if @photos.any? %>

  <% @photos.all.each do |photo| %>
    <h3><%= link_to photo.caption, photo_path(photo) %></h3>
  <% end %>

<% else %>

  <h3>No photos yet</h3>

<% end %>

<a href='photos/new'>Add a photo</a>
