<% if @photos.empty? %>
  No photo yet
<% else %>
  <% @photos.each do |photo| %>
    <%= photo.title %>
    <%= image_tag photo.image.url(:thumb) %>
  <% end %>
<% end %>
  <a href='/photos/new'>Add photo</a>
