<h1> Welcome to pretend Instagram </h1>

<% if @photos.all.any? %>
  <% @photos.all.each do |photo| %>
    <%= photo.file %>
  <% end %>
<% else %>
  <p> No photos yet </P>
<% end %>

<a href=<% new_photo_path %>>Add a photo</a>
