<p id="notice"><%= notice %></p>
<div class="new"><%= link_to 'New Photo', new_photo_path %></div>
<div class="photos">
  <ul class="list-items list-flex">

    <% @photos.each do |photo| %>
      <%= render 'photo', photo: photo %>
    <% end %>

  <ul>
</div>
