<banner>
  <h1> InstaGratification <h1>
  <h3><%= link_to "InstaGratify", new_photo_path %></h3>
</banner>

<section class="photo_feed">
<% if @photos.any? %>
  <%= @photos %>
<% else %>
  <h1> Nobody is using our site :'( <h1>
<% end %>
</section>
