<section class="photo-grid">
  <% @photos.each do |photo| %>
    <section class="single-photo"><%= image_tag photo.image.url %></section>
  <% end %>
</section>

<%= link_to new_photo_path do %>
  Upload New Photo
<% end %>
