%h3=link_to  "Add a photo", new_photo_path

- if @photos.any?
  %h1 Sweet Sweet Photos!!
  - @photos.each do |photo|
    = image_tag photo.image.url(:medium)
    = link_to "Add a comment", new_photo_comment_path(photo)

- else
  %h1 No photos yet!