<article>
  <% if @photos.any? %>
    <li>
      <% @photos.each do |photo| %>
        <ul class="photo-list">
          <%= render partial: "article", locals: { photo: photo }  %>
        </ul>
      <% end %>
    </li>
  <% else %>
    <h1>No photos yet!</h1>
  <% end %>
</article>
