
<% if @photos.any? %>

  <% @photos.each do |photo| %>
    <photo><%= image_tag photo.image.url(:medium) %></photo>
    <p><%= photo.description %></p>
  <% end %>

<% else %>
  <h3>Nothing seems to have been added yet.</h3>
<% end %>

<%= link_to "Add photo", new_photo_path %>
