<% if @photo.any? %>
	<% @photo.each do |photo| %>
	<%= image_tag photo.image.url(:medium) %> 
	<p><%= photo.description %> <p>
	<p><%= photo.created_at.strftime("Added on %m/%d/%Y")%> </p> 
	<% end %>
<% else %>
No photos added yet
<% end %>
<a href= 'photos/new'> Add a photo </a> <br>