
<html>
  <body>
    <h1>Instafraud</h1>
    <% if user_signed_in? %>
      <h2><a href=<%=new_photo_path%>>Upload Photo</a>
      </h2>
    <% if @photos.any? %>
      <% @photos.each do |photo| %>
      <h3>
        <ul>
          <li><%=photo.user.email %></li>
          <li><%=photo.time_ago %></li>
        </ul>
        <section class='stream_pic'><%=image_tag photo.picture.url(:stream) %>
        </section>
        <form>
        <input method='post' type='text' placeholder='Add a comment...'>
      </form>
      <% end %>
      <% else %>
      No photos yet!
    <% end %>
    <% end %>
      </h3>
  </body>
</html>
