<h1>Welcome To Reisstagram!</h1>
<% if @photos.any? %>
  <% @photos.each do |photo| %>
    <%= image_tag photo.image.url(:medium) %>
    <p><%= photo.description %></p>
    <p> <%= link_to 'Delete this photo', photo_path(photo), method: :delete %></p>  
  <% end %>
<% else %>
  <h1>no photos added</h1>
<% end %>
<% if @user %>
  <%= link_to 'Upload A Photo', new_photo_path %>
<% end %>
