<h1>Instafraud</h1>
  <% if user_signed_in? %>
    <h2><a href=<%=new_photo_path%>>Upload Photo</a></h2>
    <% if @photos.any? %>
      <% @photos.each do |photo| %>
        <h3><%=photo.time_ago %>
        <div class='time'><%=image_tag photo.picture.url(:stream) %></div>
      <% end %>
    <% else %>
      No photos yet!
    <% end %>
  <% end %></h3>
