- if @photos.any?
  %div{:id => "photos"}
    - @photos.each do |photo|
      = link_to image_tag(photo.image.url(:medium)), photo_path(photo)
      %h2
        = link_to "#{photo.name}", photo_path(photo)
- else
  %div{:id => "no-photos-notice"}
    %h2 No photos yet

%div{:id => "add-photo"}
  = link_to "Add a photo", new_photo_path
