<h1> Pinstagram <h1>
<h2>
  <% Photo.all.each do |photo| %>
    <%= photo.title %>
  <br>
</h2>
    <%= image_tag photo.image.url(:medium) %>
  <br>
  <h3>
    <%= link_to "#{photo.title}", photo_path(photo) %>
  </h3>
  <% end %>
  <br>
<h2>
<%= link_to "Add photo", new_photo_path %>

</h2>
