<h1>Index</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Description</th>
  </tr>
 
  <% @photos.each do |photo| %>
    <tr>
      <td><%= image_tag photo.image(:medium) %></td>
      <td><%= photo.description %></td>
      <td><%= link_to 'Show', photo_path(photo) %></td>
    </tr>
  <% end %>
</table>