
  <% Photo.all.each do |photo| %>
  <h2>
  <%= link_to "#{photo.title}", photo_path(photo) %>
  <%= link_to "Add Comment", new_photo_comment_path(photo) %>
  <br>
</h2>
    <%= image_tag photo.image.url(:medium) %>
  <br>

  <% end %>
  <br>
<h2>
</h2>
