


<% if @photos.any? %>
  <% @photos.each do |photo| %>
    <h2><%= photo.description %></h2>
    <%= link_to "Delete", photo_path(photo), method: :delete %>
  <% end %>
<% else %>
  <h1>No photos uploaded yet!</h1>
<% end %>

<a href='/photos/new'>Add a photo</a>
