
  <% Photo.all.each do |photo| %>
  <h2>
  <%= link_to "#{photo.title}", photo_path(photo) %>
  <br>
</h2>
    <%= image_tag photo.image.url(:medium) %>
  <br>

  <% end %>
  <br>
<h2>
  <% if user_signed_in? %>
    <%= link_to "Add photo", new_photo_path %>
  <% end %>
</h2>
