<% if @photos.any? %>

  <% @photos.each do |photo| %>
    <p><%= photo.description %></p>
  <% end %>

<% else %>
  <h1>No photos yet</h1>
<% end %>

<%= link_to "Add Photo", new_photo_path, :class => 'btn btn-primary' %>
