<% if @photos.any? %>
  <% @photos.each do |photo| %>
    <h2> <%= photo.description %> </h2>
    <%= image_tag photo.image.url(:medium) %>
  <% end %>
<% else %>
  No photos yet!
<% end %>
<%= link_to "Upload a photo", new_photo_path, class: "button" %>
