- if @photos.any?
  - @photos.each do |photo|
    %h4= link_to photo.title, photo_path(photo)
    = image_tag photo.image.url(:thumb)
- else
  No photos yet

%a(href='/photos/new') Show everyone how great your life is
