<h1>Instafraud</h1>
  <% if user_signed_in? %>
    <a href=<%=new_photo_path%>>Upload Photo</a>
    <% if @photos.any? %>
      <% @photos.each do |photo| %>
        <%=image_tag photo.picture.url(:thumb) %>
      <% end %>
    <% else %>
      No photos yet!
    <% end %>
  <% end %>
