<%= render 'devise/menu/registration_items' %>
<%= render 'devise/menu/login_items' %>
<%= link_to new_photo_path, class: "upload-new-photo" do %>
  Upload New Photo
<% end %>

<div class="photos-index">
  <ul>
    <% @photos.each do |photo| %>
      <%= image_tag photo.image.url (:medium) %> <br>
      <% end %>
  </ul>
</div>
