- if @photos.any?
  - @photos.each do |photo|
    = image_tag photo.image.url(:medium)
    %h5= photo.caption
    %h3= '********************'
- else
  %h1 No photos yet!

%a(href='/photos/new') Add a photo
