.posts-wrapper.row
  - if @photo.any?
    - @photo.each do |photo|
      .post
        .post-head
          .name
            Username
        .image.center-block
          =link_to (image_tag photo.image.url(:medium)), photo_path(photo)
          %p.caption
            =photo.caption
  - else
    %h1 No photos have been posted!
