<h1>FTWinstagram!</h1>

<h2>
  <% if @photos.any? %>
    <% @photos.each do |photo| %>
      <%= photo.caption %>
    <% end %>
  <% else %>
    no photos!
  <% end %>

  <form action="#">
    <input type="submit" value="Upload your photo">
  </form>
</h2>