<p id="notice"><%= notice %></p>

<%# <% if user_signed_in? %> 

  <% @photos.each do |photo| %>
    <div class="Post"> 
      <%= link_to image_tag(photo.photo),  photo, class: "photo_link" %>
      <p> <%= truncate photo.description, length: 60 %> </p>
      <h3 class="break"> ... </h3>
    </div>
  <% end %>

<%# <% else %> 
   <%# <h1> Sing IN TO SEEE </h1> %>
<%# <% end %>


