<% if @photos.empty? %>
  No photo yet
<% else %>
  <% @photos.each do |photo| %>
    <%= photo.title %><br/>
    <%= image_tag photo.image.url(:medium) %>
  <% end %>
<% end %>
<br/><a href='/photos/new'>Add photo</a>
