- if @photos.any?
  - @photos.all.each do |photo|
    %h2= link_to photo.name, photo_path(photo)
    = link_to "Edit #{photo.name}", edit_photo_path(photo)
- else
  %h2 No photos yet

= link_to "Add a photo", new_photo_path
