- if @photos.any?
  - @photos.each do |photo|
    = image_tag photo.image.url(:thumb)
    = link_to photo.description, photo_path(photo)
- else
  No photos yet

  = link_to 'Add a photo', new_photo_path
