<%= link_to "Add Photo", new_photo_path %>


 <% if @photos.any? %>
   <% @photos.each do |photo| %>
     <ul>
       <%= render partial: "article", locals: { photo: photo }  %>
     </ul>
   <% end %>
 <% else %>
   <h1>No photos yet!</h1>
 <% end %>
