<% if @photos.any? %>
	<% @photos.each do |photo| %>
		<h4><%= photo.caption %></h4>
		<%= link_to image_tag(photo.image.url(:medium)), photo_path(photo) %>
	<% end %>
<% else %>
	<h2>No photos yet</h2>
<% end %>

<div><a href="/photos/new">Add an photo</a></div>