<ul>
  <% @photos.each do |photo| %>
    <li><%= image_tag photo.image.url (:medium)%><<br>
      <%= photo.description %>
    </li>
  <% end %>
</ul>

<%= link_to new_photo_path do %>
  Upload New Photo
<% end %>
