<div class="jumbotron center">
<h1>Petagram </h1>
<h2>the Instagram for Pets</h2>

<% if user_signed_in? %>
   <!-- show nothing -->
<% else %>
<p>Join in the purrfect fun</p>
<p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %> </p>
<% end %>
</div>


<%= link_to 'Add a New Picture', new_picture_path %>