Be the first to add a photo
<%= link_to "Post a photo", controller: "photos", action: "new" %>


<% @photos.each do |photo|%>
  <%= image_tag photo.image.url(:medium) %>
  <h4> <%=  photo.caption %> </h4>
  <br></br>
<% end %>
