<p id="notice"><%= notice %></p>
<center>
<h1>Photos</h1>

<table>
  <tbody>
    <% @photos.reverse.each do |photo| %>
      <tr>
        <td><%= link_to image_tag(photo.image.url(:medium)), photo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to('New Photo', { action: 'new' }, method: :get, class: 'button')%>
</center>
