<% if @photos.any? %>

  <% @photos.each do |photo| %>
    <a id="photo_link" href="<%= photo_path(photo) %>">
      <%= image_tag photo.image.url(:medium), :class => 'img-responsive img-thumbnail' %>
    </a>
    <p><%= photo.description %></p>
    <hr>
  <% end %>

<% else %>
  <h1>No photos yet</h1>
<% end %>

<%= link_to "Add Photo", new_photo_path, :class => 'btn btn-primary' %>
