
<% if @photos.any? %>
  <%= link_to "Add a photo", new_photo_path %>
  <% @photos.each do |photo| %>

    <div id="photo-content">
      <p>
        <%= image_tag photo.image.url(:medium) %><br>
        <%= photo.caption %>
      </p>
    </div>

  <% end %>
<% else %>
  <h1>Oh no, it seems there are no photos to display</h1>
  <%= link_to "Add a photo", new_photo_path %>
<% end %>
