<div class='container'>
  <div class='row'>
    <div class='col-sm-12'>
      <% if @photos.any? %>
        <div class='photo-feed'>
          <div class='row'>
            <% @photos.each do |photo| %>
              <div class='col-sm-4' id='individual-photo'>
                <div>
                  <%= link_to image_tag(photo.image.url,  style: "width:100%"), photo_path(photo)%>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <h3>No photos to display yet</h3>
      <% end %>
    </div>
  </div>
</div>
