<p id="notice"><%= notice %></p>

<% @photos.each do |photo| %>
   <div class="Post"> 

    <%= link_to image_tag(photo.photo),  photo, class: "photo_link" %>
 
    <p> <%= photo.description %> </p>
    <h3 class="break"> ... </h3>
  </div>
<% end %>


