<h1>Instagram</h1>

<h2> Add your photos and share you experiences! </h2>

  <% @photos.each do |photo| %>
  <%= image_tag(photo.image.url(:medium)) %>
  <p>Name: <%= photo.name %></p>
  <p>Description: <%= photo.description %></p>
  <% end %>
  <% if @photos.empty? %>
  <p>No Photos have been uploaded yet!</p>
  <% end %>
