
<h1>All posts</h1>

<table>
  <tr>
    <th></th>
    <th>Caption</th>
    <th></th>
  </tr>

  <% @photos.each do |photo| %>
    <tr>
      <td><%= image_tag(photo.image, :size => "180x180") %></td>
      <td><%= photo.caption %></td>
      <td><%= link_to 'Show', photo_path(photo) %></td>
    </tr>
  <% end %>
</table>
