<h1>Instagrat!</h1>

<p class="media">
  <% @photos.each do |photo| %>
    <p class="media-left">
      <%= link_to image_tag(photo.image.url, class: 'media-object'), photo.image.url, target: '_blank' %>
    </p>
    <p>posted by <%= User.find(current_user.id).email %></p>
    <p>
      <%= link_to 'Remove', photo_path(photo), method: :delete, data: {confirm: 'Are you sure?'} %>
    </p>
    <p class="media-body">
      <h4 class="media-heading"><%= photo.title %></h4>
    </p>
  <% end %>
</p>
