- if @photos.any?
  - @photos.each do |photo|
    %br
    = image_tag photo.image.url(:medium)
    %br
    = link_to photo.title, photo_path(photo)
    %br
- else
  %h2 No photos yet
%a(href='/photos/new') Upload a photo
