<% if @photos.all.any? %>
   <% @photos.all.each do |photo| %>
     <%= image_tag photo.image.url(:large) %>
     <p><%= photo.caption %></p>
   <% end %>
 <% else %>
   <h1>No photos yet!</h1>
 <% end %>



<%= link_to "Add Photo", new_photo_path %>
