

- if @photos.any?
  - @photos.each do |photo|
    %section
      = image_tag photo.image.url(:medium)
      %p
        added by:
        %strong
          = photo.user.email
        = photo.title
- else
  %h1 No photos yet

= link_to "Add a photo", new_photo_path
