<% if @photos.any? %>
  <% @photos.each do |photo| %>
    <h2><%= link_to photo.descr, photo_path(photo) %></h2>
  <% end %>
<% else %>
  <h1>No photos yet</h1>
<% end %>

<%= link_to 'Add a photo', new_photo_path %>