<h1>FTWINSTAGRAM</h1>

<h2>
  <% if @photos.any? %>
    <% @photos.all.reverse.each do |photo| %>
      <%= image_tag photo.image.url, {:width => "500", :height => "500"} %><br>
      <%= photo.caption %><br><br><br>
    <% end %>
  <% else %>
    no photos!
  <% end %>


</h2>