<div class="jumbotron center">
<h1>Petagram </h1>
<h2>the Instagram for Pets</h2>
<p>Join in the purrfect fun</p>
<p><%= link_to "Sign Up", "#" , class: "btn btn-primary" %> </p>
</div>
<p> No photos yet</p>