<% if @photo.errors.any? %>
  <section id="errors">
    <p> <%= pluralize(@photo.errors.count, "error") %> prevented this photo form saving </p>
    <ul>
      <%= @photo.errors.full_messages.each do |message| %>
        <li><%= message %>
      <% end %>
    </ul>
  </section>
<% end %>


<%= render "form" %>
