<h1>Upload Photo</h1>


<div class="photo_upload">
<%= form_for @photo, url: {action: "create"}, html: {multipart: true} do |f| %>
  <p>Caption</p>
  <%= f.text_field :name %>
  <p>Image</p>
  <%= f.file_field :image %>
  <%= f.submit "Upload" %>
<% end %>
</div>
