- if @photo.errors.any?
  %section#errors
    %h2
      = pluralize @photo.errors.count, "error"
      prohibited this post from being saved:
    %ul
      - @photo.errors.full_messages.each do |message|
        %li= message
= render "form"
