<h2>
  <%= simple_form_for @photo do |f| %>
    <%= f.input :image, error: 'You must add an image to create a photo'%>
    <%= f.input :title, error: 'You must add a title to create a photo' %>
    <%= f.button :submit %>
  <% end %>
</h2>
