 <% if user_signed_in? %>
  <h2>New Post</h2>
  <%= render 'form', photo: @photo %>
<% else %>
  <h2>To Create post Sign In or Log In</h2>
<% end %>
<%= link_to 'Back', photos_path, class: "btn_style",  style: "width: 100px; margin: 1em auto" %>
