<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="thumbnail">
      <%= image_tag @photo.image.url %>
      <div class="caption">
        <p><%= @photo.description %></p>
          <%= link_to "Edit Photo", edit_photo_path(@photo), :class => 'btn btn-default' %>
          <%= link_to "Delete Photo", photo_path(@photo), method: :delete, :class => 'btn btn-default' %>
      </div>
    </div>

  </div>
</div>
