<section class="show-photo-view">
  <section class="show-photo-box">
    <%= image_tag @photo.image.url %>
  </section>
  <section class="show-photo-box">
    <h3>@<%= @photo.user.username %></h3>
    <p><%= @photo.description %></p>
  </section>
</section>
