.posts-wrapper.row
  .post
    .post-head
      .name
        Username
    .text-center
      = image_tag @photo.image.url(:medium)
      %p.caption
        =@photo.caption
        .br
        = link_to "Back", photos_path
