= link_to image_tag @photo.image.url
%p= @photo.caption

- if @photo.comments.any?
  %ul
    - @photo.comments.each do |comment|
      %li
        = comment.thoughts
- else
  %p No comments

= link_to "Add a comment", new_photo_comment_path(@photo)