
<!-- http://t.wallpaperweb.org/wallpaper/nature/1600x1200/Half_Dome_From_Olmstead_Point_Yosemite_National_Park_California.jpg -->

<div class="container">
  <div class="photo_header">
    <h3><%= @photo.name %></h3>
  </div>
  <div class="photo_container">
    <img class="photo" src="<%= @photo.photo_file %>" alt="<%= @photo.name %>">
  </div>
</div>
