<div id="single-photo">

</div>

<%= form_for @comment, url: { action: "/photos/1/comments" }, html: { class: "nifty_form" } do |f| %>
  <%= f.text_field :body %>
  <%= f.submit "Confirm" %>
<% end %>


<script type="text/javascript" src="/javascripts/photos_show.js">

</script>
