<div>
  <span>
    <%= image_tag @photo.image(:large) %>
  </span>
  <span>
    <h2><%= @photo.title %></h2>
    <h3><%= @photo.description %></h3>
    <% if @photo.user == current_user %>
      <%= link_to "Edit Photo", edit_photo_path(@photo) %>
    <% end %>
  </span>
</div>