<div class="photos-wrapper row">
  <div class="photo">
    <div class="photo-head">
      <div class="name">
        Andrea Wildsmith
      </div>
    </div>
    <div class="image center-block">
      <%= image_tag @photo.image.url(:medium) %>
    </div>
    <p class="caption">
      <%= @photo.caption %>
    </p>
    <div class="text-center edit-links">
  <%= link_to "Cancel", photos_path %>
  <%= link_to "Edit Post", edit_photo_path(@photo) %>
</div>
  </div>
</div>
