<h1><%= @photo.title %></h1>

<%= image_tag(@photo.image.url) %>

<p>
  posted by <%= User.find(current_user.id).email %>
</p>

<p>
  <%= link_to 'Remove', photo_path(@photo), method: :delete, data: {confirm: 'Are you sure?'} %>
</p>
