<p><%= @photo.descr %></p>

<h3>Comments for <%= @photo.descr %></h3>

<% if @photo.comments.any? %>
  <ul>
    <% @photo.comments.each do |comment| %>
      <li>
        <%= comment.words %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No comments</p>
<% end %>