<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <%= image_tag post.image.url(:medium) %><br>
    <%= post.caption %>
  <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>

<%= link_to 'Make a Post', new_post_path %>