<div class="jumbotron">
  <h3>Hello, <%= current_user.email %></h3>
  <p>Upload a new poto?</p>
  <%= form_for post, html: {class: "form-group"} do |form| %>
    <%= form.file_field :photo, class: "form-control-file" %><br>
    <%= form.submit "Post", class: "btn btn-success float-right"  %>
  <% end %>
</div>
