<div class="jumbotron jumbotron-fluid text-center">
   <div class="container">
    <h1 class="display-4">Oh no! There are currently no photos!</h1>
    <p class="lead">
      <% if current_user %>
        <%= link_to "New Post", {controller: "posts", action: "new"}, class: "btn btn-outline-success" %>
      <% else %>
        <%= link_to "Sign In", sign_in_path %> or <%= link_to "Sign Up", sign_up_path %> to add one!
      <% end %>
    </p>
   </div>
 </div>
