<div class="media">
  <div class="media-left">
    <%= link_to image_tag(post.image.url(:thumb), class: 'media-object'), post.image.url, target: '_blank' %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= post.title %></h4>
    <%= link_to 'Remove', post_path(post), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
</div>
