<section class="post">
  <div class="user">
    <div class="username">
      <%= post.user.username %>
    </div>
  </div>
  <%= image_tag post.image, class: 'main-image' %>
  <div class="description">
    <%= post.description %>
  </div>
</section>