<section>
  <h3><%= post.user.email %></h3>
  <img class="rounded mx-auto d-block" src="<%= post.photo %>" alt="photo not available"><br>
  <%= render "likes/like_form", likeable: post %>
  <%= render "comments/container", commentable: post %>
</section>
