<div class="mb-3 card card-body">
<strong><%= post.title %></strong>
<p><%= post.body %></p>
<!-- <%= link_to 'Edit Post', edit_post_path(post) %> -->
<%= button_to 'Edit Post', edit_post_path(post), method: :get, class: 'btn btn-sm btn-outline-secondary' %>
</div>