.form-wrapper
  = simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f|
    .form-group
      = f.input :image
    .form-group.text-center
      = f.input :caption
    .form-group.text-center
      = f.button :submit, class: 'btn-success'

.posts-wrapper.row
  .post
    .image.center-block
      =image_tag @post.image.url(:medium), { class:'img-responsive' }
