<div class="container" id="new-post-form">
      <h1>Update Post!</h1>
      <p class="text-center"><em>Images must be either png, jpg or jpeg and under 2MB</em></p>
  <div class="row">
      <div class="offset-sm-4 col-sm-4">
          <%= bootstrap_form_for(@post) do |f| %>
            <%= f.text_field :caption %>
            <%= f.file_field :image %>
            <%= f.submit "Post!", id: :submit %>
          <% end %>
      </div>
    </div>
</div>
