<h1>Editing Post</h1>
<% if @post.avatar.attached? %>
    <td><%= image_tag @post.avatar.representation(resize_to_limit: [nil, 50]) %></td>
<% end %>
<%= render 'form', post: @post %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
