%section#new-post
  .row
    .small-12.medium-8.medium-centered.columns
      %h2
        upload a new image
        = form_for @post do |f|
          = f.label :description
          = f.text_field :description, required: true
          = f.submit
