<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Moments // Tell your story in pictures.</title>
  </head>
  <body>
    <h1>MOMENTS</h1>
    </br>
    </br>
    <div id="edit_post">
      <%= form_tag post_path(@post), method: "put" do %>
        <label>EDIT MOMENT CAPTION</label><br>
        <%= text_area_tag :caption, @post.caption %><br>

        <%= submit_tag "SHARE MOMENT" %>
      <% end %>
    </div>
  </body>
</html>

<!-- method: "put", -->
