<%= render 'form' %>
<div class="text-center edit-links">
  <%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Do you really want to delete this post?" } %>
  |
  <%= link_to "cancel", posts_path %>
</div>
