<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NIS-tagram</title>
  </head>
  <body>

    <div class="form-wrapper">
    <%= image_tag @post.image.url(:medium) %>
  </div>
    <%= render 'form' %>
</body>
</html>
