%h1 Instagram Clone

= link_to "New Post", new_post_path

- if @posts.any?
  - @posts.each do |post|
    .row
      =link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post)
      %h3
        = post.caption
