<h1>Trollstagram</h1>
  <% @posts.each do |post| %>
  <ul>
    <li><%= link_to (image_tag post.image.url(:medium)), post_path(post) %></li>
  </ul>

    <p>
    <%= post.caption %>
    </p>
  <% end %>

<%= link_to "New Post", new_post_path %>
