<% if @posts.any? %>
  <% @posts.each do |post| %>
      <ul>
        <li>
          <%= link_to image_tag(post.image.url(:med)), post_path(post.id) %>
          <%= link_to post.caption, post_path(post.id) %>
        </li>
      </ul>
  <% end %>
    <% else %>
      <p>No posts.</p>
<% end %>