<div class="container">
  <h2>Posts</h2>

  <% if @posts.any? %>

  <% @posts.each.with_index do |post, index| %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <strong><%= link_to "#{index + 1}.: #{post.description}", post_path(post)%></strong>
          </div>
          <div class="col-xs-6 text-right">
            Location: <%= post.location%>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <%= image_tag post.image.url(:thumb) %>
      </div>
    </div>

  <% end %>

  <% else %>
    No post found
  <% end %>
</div>
