<a href='/posts/new'>Add a post</a>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h4> <%= link_to post.name, post_path(post) %> </h4>
    <%= image_tag post.image.url(:medium) %>
  <% end %>
<% else %>
  No posts yet
<% end %>
