<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<h1> Insta </h1>
<%= link_to "New Post", new_post_path %>
<br>
<h2> Posts </h2>
<%= @posts.each do |post| %>
  <div> <%= link_to image_tag(post.image.url(:medium)), post_path(post.id)%>
  <%= post.caption%> </div>
<% end %>
</body>
</html>
