<% if @posts.any? %>
  <% @posts.each do |post| %>
    <ul>
      <li>
        <%= link_to post.description, post_path(post) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No posts to display</p>
<% end %>

<%= link_to "Add a post", new_post_path %>
