= link_to 'Post a photo', new_post_path

- if @posts.any?
  - @posts.each do |post|
    %article= post.description
    = link_to 'Edit', edit_post_path(post)
    = link_to 'More', post_path(post)
- else
  No posts yet...
