- if @posts.any?
  - @posts.each do |post|
    = image_tag post.image.url(:thumb)
    = link_to post.title, post_path(post)
- else
  %h1 No photos yet!

%a(href='/posts/new') Add a photo



/ <%= image_tag restaurant.image.url(:thumb) %>
/<a href='/posts/new'>Add a photo</a>
