<h1>binstagram!</h1>

<%= link_to 'New post', new_post_path %>

<table>
  <% @posts.each do |post| %>
    <tr>
      <td>
        <%= post.caption %>
      </td>
    <tr>
    <tr>
      <% if post.image.attached? %>
        <td>
          <%= image_tag(post.image, :size => "260x180") %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
