<% if Post.all.any? %>
  <% Post.all.each do |post| %>
    <%= image_tag(post.image.url(:medium), size: "400x400") %>
    <h3><%= post.caption %></h3>
  <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>

<%= link_to "New post", new_post_path %>
