<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2><%= post.description %></h2>
        <%= image_tag post.image.url(:medium, timestamp: false) %>
  <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>

<a href="/posts/new">Post to Instagram</a>