<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="subtitle">
        welcome to
      </h2>
      <h1 class="title">
        Imago
      </h1>
    </div>
  </div>
</section>


<section class="section">
<div class="columns is-mobile">
<div class="column"></div>
<div class="column is-two-third">

<%= button_to "Add new", new_post_path, method: :get, id: "add_new" %>

<% @posts.each do |post| %>
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
    </figure>
  </div>

  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <p>
          <strong><%= post.user_email %></strong>
        </p>
      </div>
    </div>

    <div class="content">
      <%= post.title %>
      <br>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-medium"><i class="fa fa-heart"></i></span>
        </a>
      </div>
      <div class="level-right">
        <small><%= time_ago_in_words(post.created_at) %> ago</small>
      </div>
    </nav>
  </div>
</div>
</br>
</br>
<% end %>
</div>
<div class="column"></div>
</div>
</section>
