%h1 Photogram
= link_to "New Post", new_post_path
%br
- if @posts.any?
  - @posts.each do |post|
    %div
    = link_to (image_tag post.image.url(:medium)), post_path(post)
    %div
    = post.caption
