<h1>Manugram</h1>

<%= link_to('New Post', new_post_path) %>

  <% @posts.each do |post| %>
  <% if post.image.attached? %>
    <%= link_to (image_tag(post.image)), post_path(post) %>
    <%= post.caption %>
  <% end %>
  <% end %>
