<% if @posts.any? %>
  <% @posts.reverse.each do |post| %>
  <h2><%= link_to post.description, post %></h2>
  <%= image_tag post.image.url(:medium) %>
  <br>
  <%= link_to "Edit", edit_post_path(post) %>
  <%= link_to "Delete", post_path(post), method: :delete %>
  <% end %>
<% else %>
  <h1>No posts as of yet</h1>
<% end %>
