<h2>Latest Posts</h2>

<div class="postsWrapper">

  <% @posts.each do | post | %>
    <div class="post"> 
      <img src="<%= post.image %>">
      <p><%= post.description %></p>
    </div>
  <% end %>

</div>
