<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NIS-tagram</title>
  </head>
  <body>


<div class="posts-wrapper">

    <% @posts.each do |post| %>

    <div class="post">

      <a href="/posts/<%=post.id %>">
      <%= image_tag post.image.url(:medium) %></a><br>
      <div class="caption">  <%= post.caption %> </div>

    </div>

    <% end %>
</div>


  </body>
</html>
