<h3>All Posts</h3>

<div class="">
  <% @posts.each do |post| %>
    <div><%= image_tag post.image_url(:thumb).to_s %></div>
    <div><%= post.caption %></div>
    <div><%= link_to 'Show', post_path(post) %></div>
  <% end %>
</div>
