No posts yet

<% @posts.each do |post| %>
<ul>
  <li>
  <%= link_to "full", post_path(post) %>
  <%= image_tag post.image.url(:thumb) %>
    <%= post.created_at%>
  </li>
</ul>

<% end %>

<%= link_to "Upload a photo", new_post_path %>
