<% @posts.each do |post| %>
  <div class="card">
  <p><%= post.caption %><br>
  Posted by <%= User.find(post.user_id).email %><br>
  <%= post.created_at.strftime("%m/%d/%Y, %H:%M") %>
  </p>
  </div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
