= link_to "Post a picture", new_post_path
%br
- if @posts.any?
  .posts-wrapper.row
  -@posts.each do |post|
    .post
      .post-head
        .name
          //place user name here
      .image.center-block
        =link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post)
      %p.caption
        =post.caption
- else
  No pictures posted yet
