.container
  .row
    - if @posts.any?
      - @posts.each do |post|
        .post
          %p.post-author Posted by: #{post.user.username}
          = image_tag post.image(:large), class: 'post-image'
          %p.post-description= post.description
    - else
      %h1 No posts available