<% if @posts.any? %>
  <% @posts.each do |post|  %>
    <h2><%= post.caption %></h2>
    <%= image_tag post.image.url(:thumb) %>
  <% end %>
<% else %>
  No posts have been added
<% end %>

<%= link_to 'Add a post', new_post_path %>
