<h1>See posts below</h1>

<% @posts.each do |posts| %>
  <p><%= posts.title %></p>
  <p><%= posts.body %></p>
  <p><%= link_to 'Show', posts %></p>
<% end %>

<%= link_to "New Post", posts_new_path %>
