<div class="posts">
  <% @posts.each do |post| %>
  <section class="post">
    <div class="user">
      <div class="avatar">
        <img src="user_avatar.jpg">
      </div>
      <div class="username">
        <%# post.user.username %>
        <p> User </p>
      </div>
    </div>
    <%= link_to (image_tag post.image, class: 'main-image'), post_path(post) %>
    <div class="caption">
      <strong> User </strong> <%= post.caption %>
      <p>
        Posted <%= time_ago_in_words(post.created_at) %> ago
      </p>
    </div>
  </section>
  <% end %>
</div>