- if @posts.any?
  - @posts.each do |post|
    =image_tag post.image.url(:regular)
    %h2= post.title
    = link_to 'Edit', edit_post_path(post)
    = link_to "Delete", post_path(post), method: :delete

- else
  %h1 No posts yet
%br
%a(href='/posts/new') Add a post
