<h1>Posts</h1>

<%= link_to "New Post", new_post_path %>

<div class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <%= image_tag post.image.url(:thumb) %>
      <h3><%= link_to post.title, post_path(post) %></h3>
      <p><%= post.description %></p>
    </div>
  <% end %>
</div>
