%h1 Pichagram
- if @posts.any?
  - @posts.each do |post|
    .row
      = link_to (image_tag(post.image, id: "imagen#{post.id}")), post_path(post)
      %p= post.caption
- else
  No posts yet

=link_to 'Add a post', new_post_path
