<h1>Blessin' the Gram</h1>
<% if @posts.any? %>
  <% @posts.each do |post| %>
  <%= image_tag post.image.url(:medium)%></br>
  <%= post.caption %></br>
  <%end%>
<% else %>
  <h2> No posts yet </h2>
<% end %></br>

<a href="/posts/new">Add a post</a>
