.posts-wrapper.row
  - if @posts.any?
    - @posts.each do |post|
      .post
        .post-head
          .name
            Sergio
        .image.center-block
        = link_to (image_tag(post.image.url(:medium), class:'imagen')), post_path(post)
        %p.caption
        = post.caption
  - else
    No posts yet

=link_to 'Add a post', new_post_path
