<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Outstagram!</h1>

    <% if user_signed_in? %>
      <%= link_to "New Post", new_post_path %>
    <% end %>

  </body>
</html>
