<h1 class="title"> Instagraham Posts </h1>
<% @posts.each do |post| %>
  <h1><%= post.title %></h1>
  <p>Posted: <%= post.created_at.strftime("%B %d %Y, %l:%M%P") %></p>
  <p><%= image_tag(post.image, style:'width:50%') %></p>
  <p><%= post.content %></p>
  <hr size="20">
<% end %>

