<h1>Posts Go Here</h1>

<%= link_to new_post_path, id: "new-posts" do %>
  New post
<% end %>

<% @posts.each do |post| %>
  <p><%= User.find(post.user_id).username %> says: <%= post.caption %></p>
  <%= image_tag post.image_url.to_s, height: Post::IMAGE_HEIGHT %>
  <br />
<% end %>
