.posts-wrapper.row
  -@posts.each do |post|
    .post
      .post-head
        .name
          Mabon (placeholder name)
      .image.center-block
        =link_to (image_tag post.image, class:'img-responsive'), post_path(post)
      %p.caption
        =post.caption