<% @posts.each do |post| %>
  <li>
    <div class="post-head">
      <div class="name">
        <%= post.user.user_name %> 
      </div>
    </div>
    <div><%= link_to (image_tag post.image.url(:medium),
      class: 'img-responsive'), post_path(post) %></div>
    <div class="comment"><%= post.caption %></div>
  </li>
<% end %>