<h1>Hello Joshagram'ers</h1>

<% @post.each do |post| %>
    <%= image_tag post.image.url(:medium) %>
    <!--need an <"image_tag ... .url"> otherwise a string of the route of the image will be displayed-->
    <!-- (medium) passed on the end as when we set up the image we specified the medium value, so that is where it will go... -->
    <!-- medium relates to the post.rb file where the paperclip gem makes medium the assigner of the image parameters on the page-->
    <!-- which are in this case "300x300>"-->
    <br>
    <%= post.title %>
    <br>
<% end %>