<% if @post.any? %>
  <% @post.each do |post| %>
    <%= post.description %>
    <%= link_to "Edit Post", edit_post_path(post) %>
  <% end %>
<% else %>
  There are no posts
<% end %>

<a href="/posts/new">Create Post</a>