<% if @posts.any? %>
<% @posts.each do |post| %>

<%=post.title %><br>
<%= image_tag post.image.url(:medium) %>
<p> <%= link_to "Leave Comment", new_post_comment_path(post) %> </p>

<% if user_signed_in? %>

<% if current_user.posts.include?(post) %>
<p> <%= link_to "Delete Post", post_path(post), method: :delete %> </p>
<% end %>
<% end %>
<% end %>
<% end %>
