<h1> Welcome to Fakestagram </h2>

<%= link_to 'Add post', new_post_path %>

<tbody>
    <% @posts.each do |post| %>
      <tr>
        <p>
          <%= link_to image_tag(post.avatar.url), post %>
        </p>
        <p>
          <%= post.comment %>
        </p>
      </tr>
    <% end %>
  </tbody>
</table>
