<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>
  <a href="<%= post_url post.id %>">
    <%= image_tag post.image.variant(resize_and_pad: [
    200, 200, gravity: 'center', background: '#000',]),
    id: "post-#{post.id}-preview",
    class: 'post-preview' %>
  </a>
<% end %>
