<h1 style="text-align: center">This is not instagram</h1>
<div class="container">
  <!-- Content here -->
<%= @posts.each do |post| %>
  <ul class="list-group">
    <li class="list-group-item" style="margin: 0 auto">

      <%=link_to (image_tag post.image.url(:medium)), post_path(post) %>
      <p style="text-align: center; color: blue"><%= post.caption %></p>
    </li>  
  </ul>
  <% end %>

</ul>



<%= link_to "New Post", new_post_path %>

