<h1>Posts</h1>
<div>
  <% for post in @posts  %>
  <h2><%= link_to(post.title, post_path(post)) %></h2>
  <p><%= post.date %></p>
  <p><%= post.contents %></p>
  <% end %>
</div>
<div>
  <%= button_to("New", new_post_path, method: :get) %>
  </div>
