

  
    <% if user_signed_in? %>
      <div>
      <center>
      <%= button_to 'New post', new_post_path, method: :get %>
      </center>
      </div>
      <% end %>


    <div class="container">
      <center>
      <% @posts.each do |x| %>
      <div class="col-md-4 px-0">
      <%= link_to post_path(x), id: @posts.index(x) do %>

      <%= image_tag x.image.url, class: "img-fluid" %>
      <% end %>
      </div>
      <% end %>
      </center>
    </div>



