<body>
  <%= link_to 'Post a Photo', new_post_path %>
  <div id=gallery>
    <% @posts.each do |post| %>
    <div id=<%= "post_#{post.id}" %>>
      <img src=<%= post.image_url %>></img>
    </div>
    <% end %>
  </div>
</body>
