<ul class="photos-list">
<% @posts.each do |post| %>
    <li class="posts">
      <a href=<%= "/posts/#{post.id}" %>><%= image_tag post.image.url(:medium), class: 'post-photos' %></a><br>
      <div class="photo-hover-text">hello
      </div>
    </li>
<% end %>
</ul>
