<% if @posts.any? %>
  <% @posts.each do |post| %>
    <ul>
      <li>
        <%= post.description %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No posts to display</p>
<% end %>



<a href='#'>Add a post</a>
