<%= link_to "Make a post", new_post_path %>

<section class="posts">
    <ul>
        <% @posts.each do |post| %>
            <li>
                <%= image_tag post.image.url(:thumb) %>
                <%= post.title %>
            </li>
        <% end %>
    </ul>
</section>
