- if @posts.any?
  #posts
    = render 'posts'

  #paginator.text-center
    = link_to_next_page @posts, 'LOAD MORE', remote: true, id: 'load_more'
- else
  .posts-wrapper.row
    No pictures posted yet
