<h1>Welcome to Insteadgram</h1>

<% @posts.order(created_at: :desc).each do |post| %>
  <p>
    <%= image_tag post.user.avatar.url(:thumb) %> <%= post.user.username %><br />
    <%= image_tag post.image.to_s, height: Post::IMAGE_HEIGHT %><br />
    <%= post.caption %>
  </p>
<% end %>
