<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div class="post" id="<%=post.id%>">
    <%= image_tag post.image.url(:medium) %><br>
    <%= post.caption %><br>
    </div>
  <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>
