<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2><%= post.description %></h2>
        <%= image_tag post.image.url(:medium, timestamp: false) %>
        <%= link_to "Delete #{post.description}", post_path(post), method: :delete %>
  <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>

<%= link_to 'Post to Instagram', new_post_path %>