<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <%= link_to image_tag(post.image), post_path(post) %>
    <%= link_to 'Delete Post', post_path(post), method: :delete %>
  <% end %>
<% else %>
  <p>No posts...</p>
<% end %>

<a href='/posts/new'>Create a post!</a>