<% if Post.all.any? %>
  <% Post.all.each do |post| %>
  <%= image_tag post.image.url(:medium) %>
  <p><%= link_to post.description, post_path(post) %></p>
  <%= link_to 'Delete post', post_path(post), method: :delete %>


  <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>

<%= link_to 'Add a post', new_post_path %>
