<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= image_tag post.image %>
    <%= post.caption %>
    Created: <%= post.created_at %>
  <% end %>
<% else %>

<h2>No posts yet</h2>

<% end %>

<h3><a href="posts/new">Create post</a></h3>
