<% if @posts.any? %>
	<% @posts.each do |post| %>
		<h2><%= link_to post.name, post_path(post) %></h2>
		<%= link_to "Edit post", edit_post_path(post) %>
	<% end %>
<% else %>
	<h1> No posts yet </h1>
<% end %>

<%= link_to "Add a post", new_post_path %>