<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2> <%= image_tag post.image.url(:thumb) %> </h2>
    <h3> <%= post.description %> </h3>
    <%= link_to "Edit picture", edit_post_path(post) %>
  <% end %>
<% else %>
  No pictures yet
<% end %>
<a href='posts/new'> Add a picture </a>
