%div
  %a.button(href='/posts/new') Add a post
- if @posts.all.any?
  - @posts.all.each do |post|
    %div.info[post]
      %div.image
        %img{:src => post.image}
      %div.likes
        - if post.likes
          %a= "#{post.likes} likes"

- else
  No posts yet

