<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" <%= link_to "Binstagram", root_url %> </a>
  <span class="navbar-text">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" > <%= link_to "New Post", new_post_path %></span></a>
      </li>
    </ul>
   
    </span>
  </div>
</nav>



<body>

<h3> All your favourite bins in one place </h3>
<h3>Posts</h3>
