<div class="posts">

  <% @posts.each do |post| %>
  <div class='post' id='post-<%= post.id %>'>
    <%= post.user.email %>
    <%= post.description %>
    <%= image_tag post.image  %>
  </div>
  <% end %>

</div>