<center>
    <h4>Welcome <%= @user %> </h4>
    <form action="/photos/new">
        <button type='submit'>Post Image</button>
    </form>


    <% @photos.each do |photo|%>
    <div>
    <%= image_tag(photo.image, style:'width:30%')%>
    </div>
    <div>
    <%= photo.caption %>
    </div>
    <% end %>

</center>