<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">

  <title>Posts:</title>
  <link rel="stylesheet" href="app/assets/stylesheets/application.scss">
</head>

<body>
  <div class ="container">
      <% @posts.each do |x| %>
      <br>
      <div class="posts">
        <%= image_tag x.image.url(:medium) %>
      </div>
      <br>
      <%= x.description %>
      <br>
      <%= link_to "Leave comment", new_post_comment_path(x) %>
      <% end %>

  </div>
  <script src="js/scripts.js"></script>
</body>
</html>
