<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">

  <title>Posts:</title>
  <link rel="stylesheet" href="app/assets/stylesheets/application.scss">
</head>

<body>
  <div>
    <% @posts.each do |x| %>
    <br>
    <%= image_tag x.image.url(:medium) %>
    <br>
    <%= x.description %>
    <% end %>

  </div>

  <script src="js/scripts.js"></script>
</body>
</html>
