<div class="posts-wrapper row">
  <% @posts.each do |post| %>
      <div class="post">
        <div class="post-head">
          Austin Rowsell
        </div>
        <div class="image center-block">
          <%= link_to (image_tag post.image.url(:web, :preview), class:'img-responsive'), post_path(post) %>
        </div>
        <p class="post-text"><%= post.text %></p>
      </div>
  <% end %>
</div>
