- if @posts.any?
  - @posts.each do |post|
    = link_to image_tag(post.image.url(:medium)), post_path(post), class: 'image_post'
    %h2= post.description
    - if post.created_by?(current_user)
      = link_to "Delete Post", post_path(post), method: :delete
- else
  %h2 No posts yet

= link_to "Create Post", new_post_path
