<% if @posts.any? %>
  <% @posts.each do |post| %>
  <%= image_tag post.image.url (:thumb) %>
  <%= post.caption %></br>
  <%end%>
<% else %>
  <h1> No posts yet </h1>
<% end %></br>

<a href="/posts/new">Add a post</a>
