<% if current_user %>
  <div id='log-out' class='nav-link'>
    <a href='/logout' data-method="delete">Log Out</a>
  </div>
<% end %>
<%= flash[:sign_in_success] %>
<%= flash[:sign_up_success] %>
<%= flash[:sign_in_failure] %>
