<%= render 'shared/nav' %>

<h1>Listing all posts</h1>

<table>
  <tr>
    <th>url</th>
    <th>description</th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.url %></td>
      <td><%= post.description %></td>
    </tr>
  <% end %>
</table>
