<h2> Welcome to Fabulous </h2>
<tbody>
    <% @posts.each do |post| %>
      <tr>
        <p>
          <%= link_to image_tag(post.avatar.url), post %>
        </p>
        <p>
          <%= post.comment %>
        </p>
      </tr>
    <% end %>
  </tbody>
</table>
