.jumbotron
  - if user_signed_in?
    %h1
      Hey
      =current_user.username.capitalize
      !

  %ul.nav.nav-pills
    =link_to new_post_path, class: "btn btn-lg" do
      %i.glyphicon.glyphicon-camera

    =link_to user_path(current_user), class: "btn btn-lg" do
      %i.glyphicon.glyphicon-user


= render 'feed'
