<h1>Listing Posts</h1>
 
<%= link_to 'New post', new_post_path %>
<table>
  <tr>
    <th>Message</th>
    <th></th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.message %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
    </tr>
  <% end %>
</table>