<% @posts.order(created_at: :desc).each do |post| %>
  <div class='post'>
    <div>
      <strong><%= post.user.first_name %>:</strong><br>
    </div>
    <div>
      <%= image_tag post.image.url(:large) %>
    </div>
    <%= post.body %>
  </div>
<% end %>
