<h1 class= 'posts-title'>Posts</h1><br>

<p class='new-post-link'>
  <%= link_to new_post_path do %>
    Create new post
  <% end %>
</p>

<ul class='posts-index-posts'>
    <% @posts.each do |post| %>
      <li class='posts-index-post'>
        <section class='posts-index-post-horizontal'>
          <p class="posts-index-post-user-name">
            User Name
          </p>
        </section>
        <p class='posts-index-post-title'>
          <%= post.title %>
        </p>
        <%= image_tag post.picture.url, class: 'uploaded-pic' %>

        <p class="posts-index-post-timestamp">
          <%= post.created_at.localtime.strftime('%d-%b-%Y %I:%M:%S %p') %>
        </p>
      </li>
    <% end %>
</ul>
