<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2><%= link_to post.title, post_path(post) %></h2>
    <%= image_tag post.image.url(:thumb) %>
  <% end %>
<% else %>
  <h1>No images yet</h1>
<% end %>

<a href="/posts/new">Add an image</a>
