<h1> Mashagramm </h1>
<li>
<%= link_to('New Post', new_post_path, method: :get) %>
</li>
<ul>
  <% @all_posts.each do |post| %>
    <li>
      <%= image_tag(post.image.url(:medium))%>
      <p> <%= post.caption %> </p>
      <p> <%= post.created_at.strftime("%m/%d/%Y %H:%M") %> </p>
    </li>
  <% end %>
</ul>
