<main class='posts-index-mainFeed'>
  <section class='posts-index-posts'>
    <ul>
      <% @posts.each do |post| %>
        <li class='posts-index-post'>
          <header class='posts-index-userDetails'>
            <div class='posts-index-userIcon'></div>
            <div class='posts-index-userName'>user_name<div>
          </header>
          <p class='posts-index-picture'><%= image_tag post.picture.url, class: 'posts-index-picture' %></p>
          <footer class='posts-index-description'><%= post.description %></footer>
        </li>
      <% end %>
    </ul>
  </section>
</main>
