<% if @posts.any? %>
  <% @posts.each do |post| %>
    <ul>
      <li>
        <%= link_to post.description, post_path(post) %>
        <% if @current_user.id == post.user_id %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Delete', post_path(post), method: :delete %>
        <% end %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No posts to display</p>
<% end %>

<%= link_to "Add a post", new_post_path %>
