
<% if can? :create, Post %>
  <%= link_to "Add a picture", new_post_path %>
<% end %>

<% if @posts.any? %>
  <ul id="posts">
    <% @posts.each do |post| %>
      <li>
        <%= image_tag post.image.url(:medium) %>
        <%= post.caption %>
        <% if can? :create, Comment %>
          <%= link_to "Comment", post_path(post) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
