<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Outstagram!</h1>

    <%= link_to "New Post", new_post_path %>

  </body>
</html>
