<!DOCTYPE html>
<html>
<head>
</head>
<h1>Post an image</h1>
<a href="posts/new"> Post a photo</a>


<% if @posts.any? %>
  <% @posts.each do |post| %> -->
     <%= link_to post.title, post_path(post) %>
     <%= link_to "Edit #{post.title}", edit_post_path(post) %>
  <% end %>
<% else %>
  <h2>No dogs yet</h2>
<% end %>
</html>
