No posts yet

<% @posts.each do |post| %>
<ul>
  <li>
  <%= image_tag post.image.url(:thumb) %>
  <%= link_to post.caption, post_path(post) %>
  </li>
</ul>

<% end %>

<%= link_to "Upload a photo", new_post_path %>
