<% if @posts.empty? %>
  <p>No posts yet :'(</p>
<% else %>
  <% @posts.each do |post| %>
    <div class="post">
      <%= image_tag post.image.url, width: '400' %>
      <p class="caption"><%= link_to post.caption, post_path(post.id) %></p>
    </div>
  <% end %>
<% end %>
<p><%= link_to 'Post photo', new_post_path %></p>