<h1>Viewing all posts</h1>

<%= button_to "New post", new_post_path, method: :get %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= post.image_url %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= post.text %></h5>
        </div>
      </div>
    </li>
  <% end %>
</ul>
