!!!
%html
  %body
    - if @posts.any?
      - @posts.each do |post|
        = link_to( image_tag(post.image.url(:thumb)), post_path(post), :id =>'image')
        %h2= post.caption
    - else
      No posts yet

    = link_to 'Add a post', new_post_path
