= link_to 'post', new_post_path

= link_to 'my profile', user_path(current_user)

%br Welcome to BubHub
= current_user.username
%br
%br



%br
%br
Please post a photo.
%br
%br

%br
%br
= render 'feed'
