
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2><%= post.name %></h2>
  <% end %>
<% else %>
  <p>There are no posts here, none nada zero</p>
<% end %>

<a href="/posts/new">Create a post</a>  