<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div class="post">
      <div class="image">
        <%= image_tag post.image %>
      </div>
      <div>
        <%= post.caption %>
      </div>
      <div class="created-at">
        Created: <%= post.created_at %>
      </div>
  </div>
  <div class="post-divider">
  </div>
  <% end %>
<% else %>

<h2>No posts yet</h2>
<h3><a href="posts/new">Create post</a></h3>
<% end %>
