<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2><%= post.description %></h2>
    <%= link_to post.description, post_path(post) %>
  <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>

<a href="/posts/new">Add a post</a>
