<div id="post-grid">
    <% @posts.each do |post| %>
      <a href="<%= post_url post.id %>">
        <div class="index-post-container">
          <%= image_tag post.image.variant(resize_and_pad: [
          400, 400, gravity: 'center', background: '#000',]),
          id: "post-#{post.id}-preview",
          class: 'post-preview' %>
        </div>
      </a>
    <% end %>
</div>
