

<% if @posts.any? %>
  <ul id="posts">
    <% @posts.each do |post| %>
      <li>
        <%= image_tag post.image.url(:medium) %>
        <%= post.caption %>
      </li>
    <% end %>
  </ul>
<% end %>
