<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= image_tag post.image.url(:thumb) %>
    <p><%= post.description %></p>
    <%= link_to "Delete", post_path(post), method: :delete %>
  <% end %>
<% else %>
  <p>There are no posts yet!</p>
<% end %>

<a href='/posts/new'>Create a post</a>
