<div class="posts-wrapper row">
  <% @posts.each do |post| %>
    <%= render 'post', post: post %>
  <% end %>
</div>
<div class="container pagination justify-content-center">
  <%= paginate @posts %>
</div>
