<body>
	<section class="col-1">
	&nbsp;
	</section>

	<section class ="col-2">

		<% if @posts.any? %>
			<% @posts.each do |post| %>
				<h2><%= link_to (image_tag post.image.url(:large), :class => "index-image"), post_path(post) %></h2>
				<span class='likes_count'><%= post.likes.count %> <%= 'like'.pluralize(post.likes.count) %> </span>
				<span class="likes-link"><%= link_to (image_tag('images/thumbs-up.svg')), post_likes_path(post), method: :post, class: "likes-link" %></span>
			<% end %>
		<% else %>
			<h1> No posts yet </h1>
		<% end %>

	</section>

	<section class="col-3">

	</section>
</body>