<h1>Instogram</h1>

<%= link_to 'New Post', new_post_path %>
<table>
  <% @posts.each do |post| %>
    <tr>
      <td><%= image_tag post.image.url(:medium) %></td>
      <td><%= post.caption %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
    </tr>
  <% end %>
</table>
