<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2><%= link_to post.caption, post_path(post) %></h2>
  <% end %>
<% else %>
  <h1>No post pictures yet</h1>
<% end %>

<%= link_to "Add a post picture", new_post_path %>