<h1>Architectagram</h1>
<p>
  <%= link_to "New Post", new_post_path %>
</p>

<% @posts.each do |post| %>
  <%= link_to (image_tag post.image.url(:medium)), post_path(post) %>
  <%= post.description %>
<% end %>
