<head>
</head>
<h1>Post an image</h1>
<a href="posts/new"> Post a photo</a>
</html>

<% if posts.any? %>
  <% posts.each do |post| %>
    <h2> <%= post.title %> </h2>
  <% end %>
<% else %>
  <h2>No dogs yet</h2>
<% end %>
