<% if @posts.any? %>
  <% @posts.each do |post| %>

    <h2><%= post.title %></h2>
    <div class="img_link">
      <%= link_to (image_tag post.image.url(:medium)), post_path(post) %>
    </div>
  <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>
