- if @posts.any?
  %h1(class='heading') Latest Images
  %section(class='images')
    - @posts.each do |post|
      = link_to build_filtered_image_for(post), post_path(post)
- else
  %h2 No posts
%p= link_to 'Add an image', new_post_path