
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2> <%= post.description %> </h2>
    <%= link_to "Edit post", edit_post_path(post) %>
  <% end %>
<% else %>
  No posts yet!
<% end %>

<a href='/posts/new'>Add post</a>
