<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= image_tag post.image.url(:medium) %>
    <%= post.caption %>

    <%= link_to "Edit Post", edit_post_path(post) %>
  <% end %>
<% else %>
  No posts yet
<% end %>

<a href='/posts/new'>New Post</a>
-
