<% if @posts.any? %>
  <% @posts.each do |post| %>

      <h2><%= link_to (post.title), post_path(post) %></h2>
      <%= link_to (image_tag post.image.url(:medium)), post_path(post) %>
  <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>
