Welcome to BubHub.
%br
%br
Please post a photo, and remember YOU ARE NOT GOING INSANE. YOU ARE JUST TIRED.
%br
%br
%a(href='#') Post
%br
%br
- if @posts.any?
  - @posts.each do |post|
    =post.caption
- else
  No posts yet.
