<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= image_tag post.pic.variant(:gravity=>"Center", resize: "400x400^", crop: '400x400+0+0') %>
      <%= post.text %>
    </li>
  <% end %>
</ul>
