<% @posts.each do |post| %>
  <div class="post_wrapper">
    <p><%= post.user.email %></p>
    <h2 class="title"><%= link_to post.title, post %></h2>
    <p><%= image_tag post.image.url(:thumb) %></p>
    <p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
  </div>
<% end %>
