<h2>Railstagram feed</h2>

<ul id="posts">
<% @posts.each do |post| %>
  <li>
    <% if post.image? %>
      <div>
        <%= image_tag post.image.url %>
      </div>
    <% end %>
    <%= post.description %>
    <hr>
  </li>
<% end %>
</ul>