<h1> Posts</h1>
<% @posts.each do |post| %>
  <div class= "post-container">
    <div class="post">
      <header><%= post.user.user_name %></header>
      <%= link_to (image_tag(post.image.url(:medium))), post_path(post) %>
      <p><%= post.caption %></p>
    </div>
  </div>
<% end %>
