
<h1>What are other people sharing</h1>

<center>
    <% @posts.each do |post| %>
      <div id='<%=post.id.to_s%>'>
         <div class='post-link'><%= link_to( image_tag(post.picture.url), post) %></div>

    <% end %>
</div>
</center>
<br>
