
<h1>Listing posts</h1>

<table>
  <tr>
    <th>Description</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.description %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New post', new_post_path %>
