<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= image_tag post.image.url(:medium) %>
    <%= post.caption %>
  <% end %>
<% else %>
  No restaurants yet
<% end %>

<a href='/posts/new'>New Post</a>
-
