<h1>Welcome to Mummygram</h1>

<%= link_to "New Post", new_post_path %>

<% @posts.each do |post| %>
  <figure>
    <%= image_tag post.image.url(:medium) %>
    <figcaption><%= post.description %></figcaption>
  </figure>
<% end %>
