<% if @posts.all.any? %>
  <% @posts.all.each do |post| %>
    <%= link_to post.caption, post_path(post) %>
  <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>

<%= link_to "Add a post", new_post_path %>
