<% if @posts.any? %>
<div class="posts-wrapper">
  <% @posts.each do |post| %>
  <div class="post">
    <div class="post-head">
      <h4 class="name"> Vicky Roberts </h4>
      <p class="location"> London </p>
    </div>
    <div class="image"><%= link_to image_tag(post.image.url(:medium), class:"img-responsive"), post_path(post) %></div>
    <p class="caption"> <%= post.caption %> </p>
  </div>
  <% end %>
</div>
<% else %>
  No posts yet
<% end %>
