<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Instagram</h1>

    <h2><%= link_to "New Post", new_post_path %></h2>

      <% @posts.each do |post| %>

          <%= image_tag post.image.url(:medium) %><br>
          <%= post.caption %><br>

      <% end %>

  </body>
</html>
