
<section class="section">
  <div class="container">
    <h1>Instagram</h1>
    ></p>

  <% @posts.each do |post| %>
  <div class="card text-center" style="width: 31rem;">
    <div class="card-header">
      <%= post.user_username %>
    </div>
    <span class="card-img-top">
      <%= image_tag post.image.square.url, :class => "post_image", :style => "width: 100%" if post.image? %>
    </span>
    <div class="card-body">
      <p class="card-text"><%= post.caption %></p>
      
    </div>
    </div>
  <% end %>
    <%= link_to "New post", new_post_path %>
  </div>
</section>