
<% @posts.each do |post| %>
  <article>
    <header>
      <div class="user-icon">
      <%= image_tag("user-icon.png") %>
      </div> 
      <div class="user-name">User Name</div>
    </header>
  
    <% if post.image.attached?%>
      <%= image_tag post.image %>
    <%end%>
    <div class="message">
      <%= post.body %>
    </div>
  </article>
<% end %>
