.posts
  - @posts.each do |post|
    = link_to post_path(post) do
      .post
        .main-image 
          = image_tag post.image, :class => "thumbnail"
        .description
          = post.description
        .username 
          Posted by
          = post.user.username

