<!DOCTYPE html>
<html>/HTML/
<title>Dogagram</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
</head>
<h1>Post an image</h1>
<h2>No dogs yet</h2>
<a href="posts/new"> Post a photo</a>
</html>
