
<h1>Posts</h1>

<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr id="<%=post.id.to_s%>"

          <a href="/posts/<%=post.id.to_s%>">
            <%if post.picture? %>
              <%= image_tag post.picture.url%>
            <% else %>
              No image available
            <% end %>
          </a>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
