<% if @posts.any? %>
  <ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.description %>
      <%= image_tag post.image.url(:medium, timestamp: false) %>
    </li>
  <% end %>
  </ul>
<% else %>
No posts yet
<% end %>

<a href='/posts/new'>Post to Instantgram</a>