<%= link_to 'Add', new_post_path %>
<br>
<% if @posts.any? %>
  <% @posts.reverse.each do |post| %>
    <h3><%= post.name %></h3>
    <%= image_tag post.image.url(:medium) %><br>
    <%= post.content %><br>
  <% end %>
<% else %>
No posts yet
<% end %>
