%h1 InstaGramizzle

- if @posts.any?
  .posts-wrapper.row
    -@posts.each do |post|
      .post
        .post-head
          .name
            = post.user.email
        .image.center-block
          =link_to (image_tag post.image.url(:medium), class: 'index-images'), post_path(post)
        %p.caption
          =link_to (post.caption), post_path(post)
