= link_to "Post a picture", new_post_path
%br
- if @posts.any?
  - @posts.each do |post|
    = link_to (image_tag post.image.url(:medium)), post_path(post)
    %br
    = post.caption
    %br
- else
  No pictures posted yet
