<h2>Latest Posts</h2>

<div class="postsWrapper">

  <% @posts.each do | post | %>
    <div class="post"> 
      <a href="user_posts/<%= post.user.id %>"><p id="handle"><%= post.user.handle %></p></a>
      <img src="<%= post.image %>">
      <p><%= post.description %></p>
    </div>
  <% end %>

</div>
