.container
  .row
    - if @posts.any?
      - @posts.each do |post|
        .post
          %p Posted by: #{post.user.username}
          %p= post.description
          = image_tag post.image(:thumb)
    - else
      %h1 No posts available