#posts.transitions-enabled
  - if @posts.any?
    - @posts.each do |post|
      .box.panel.panel-default
        .panel-body
          %h2= link_to image_tag(post.image.url(:thumb), alt: post.name), post_path(post), id: post.id, method: :get
          %p.user
            Submitted by
            = @user.email
          %p.user
            = @comment.each do |co|
              = co.comment










