<% if user_signed_in? %>
  <% if Post.all.any? %>
    <% Post.all.each do |post| %>
      <div class = "col-sm-4">
          <div class = "thumbnail">
            <%= image_tag post.image.url %>
          </div>
          <div class = "caption">
             <h3><%= post.caption %></h3>
             <p>Posted by <%= post.user.email %> on <%= post.created_at %></p>
             <p>
                <a href = "#" class = "btn btn-primary" role = "button">Like</a>
                <a href = "#" class = "btn btn-default" role = "button">Delete</a>
             </p>

          </div>
       </div>
    <% end %>
  <% end %>
<% end %>
