<div class="row">

<% @posts.each do |post| %>
   <div class="col-4 octopost">
     <div class="thumbnail octopost">
       <a href="/posts/<%= post.id %>">
         <img src="<%= post.image(:medium) %>" style="width:100%" id="octopost-wall">
       </a>
     </div>
   </div>
<% end %>

</div>
