<div class="container">
  <h2>Posts</h2>

  <% if @posts.any? %>

  <% @posts.each.with_index do |post, index| %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <%= "Posted on: #{post.created_at.strftime('%d/%m/%Y')} (by TBD)" %>
          </div>
          <div class="col-xs-6 text-right">
            Location: <%= post.location%>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row text-center">
          <%= image_tag post.image.url(:medium)%>
          <figcaption>
            <%= link_to post.description, post_path(post)%>
          </figcaption>
        </div>
      </div>
    </div>
  <% end %>

  <% else %>
    No post found
  <% end %>
</div>
