<div class="posts-wrapper row">
  <% @posts.each do | post | %>
    <div class="post">
        <div class="post-head">
          <div class="user-name">
            <%= post.user.user_name %>
          </div>
        </div>
        <div class="img center-block">
          <%= link_to (image_tag post.image.url(:medium)), post_path(post) %>
        </div>
        <div class="caption">
          <%= post.caption %>
    </div>
    </div>
  <% end %>
</div>
