%h1= link_to "Add Image", new_post_path(), class: "btn btn-default btn-lg"
%h2= check_box_tag(:show)
%h2= label_tag(:show, "Show All Images")


#posts.transitions-enabled
  - if @posts.any?
    - @posts.each do |post|
      .box.panel.panel-default
        - if post.user_id == current_user.id
          .panel-body
            %h2= link_to image_tag(post.image.url(:thumb), alt: post.name), post_path(post)


