-if @post.any?
  -@post.each do |post|
    .posts-wrapper.row
      .post
        .post-head
          .name
            - if post.user != nil
              %p= username(post.user.email)
        .image.center-block
          =link_to (image_tag post.image.url(:medium)), post_path(post)
        %p.caption
          = post.caption
        - comments_for_post(post, @comments).each do |comment|
          %p= comment.comment
          %p= user(comment.user_id)

-else
  .row
    No Posts Yet
