<h1>Feed</h1>

<%= link_to 'New post', new_post_path %>

<% @posts.each do |post| %>
  <li>
    <%= post.user.email %>
    <%= post.caption %>
    <%= link_to 'Show', post_path(post) %>
  </li>
<% end %>
