<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= image_tag post.image.url(:medium) %> 
    <h2> <%= post.caption %> </h2>
  <% end %>
<% else %>
  No posts yet
<% end %>

<a href='/posts/new'>Add a post</a>
