<h1> Here are your lovely Posts! </h1>


<%= stylesheet_link_tag    'application', media: 'all' %>



<% @posts.each do |post| %>
<p> <img><%= image_tag post.image %></img> </p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
