.col-md-6.col-md-offset-3
  #posts.transitions-enabled
    - @posts.each do |post|
      .box.panel.panel-default
        = link_to (image_tag post.image.url(:medium)), post
        %h2= link_to post.title, post
