<h2> *** Fabulous Feed *** </h2>
    <% @posts.each do |post| %>
      <div class="row text-center">
          <%= link_to image_tag(post.avatar.url), post %>
        </div>
        <div class="caption">
          <%= post.comment %>
        <div>
    <% end %>
