Welcome to snapshot!

-if current_user
  = link_to 'Add a new Snapshot!', new_post_path
  -if current_user.has_no_snapshots?
    %h2 You have not yet posted any Snapshot!s
-else
  You must log in or sign up to view your snapshots
