- if @posts.any?
  .container
    .posts-wrapper.row
      -@posts.each do |post|
        = render 'post', post: post
- else
  .container
    .posts-wrapper.row
      %h2 Welcome to InstaClone
      %br
      %strong Capture and Share the World's Moments
      %p InstaClone is a free and simple way to share your life and keep up with other people.
      %p Take a picture or video, then customize it with filters and creative tools. Post it on InstaClone and share instantly on Facebook, Twitter, Tumblr and more—or send it directly as a private message. Find people to follow based on things you’re into, and be part of an inspirational community.
