<h1>Instagram clone</h1>
<% if user_signed_in? %>
  <%= link_to "New post", new_post_path %>
  <br/>
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <%=image_tag post.image.url(:medium) %>
      <%= post.user.username %>
      <%= link_to "View #{post.caption}", post_path(post) %>
    <% end %>
  <% else %>
    No posts yet
  <% end %>
<% else %>
  You need to Log in to see posts!
<% end %>