<%= render 'shared/nav' %>

<h1>Listing all posts</h1>

  <% @posts.each do |post| %>

      IMAGE: <br>
      <%= image_tag post.image_url(:thumb) %> <br>
      DESCRIPTION: <br>
      <%= post.description %> <br>
      <%= link_to 'Delete', post_path(post), method: :delete,  data: { confirm: 'Are you sure?' }  %>
      --------<br>
  <% end %>
