- if @posts.any?
  - @posts.each do |post|
    %h2= link_to post.text, post_path(post)
    = link_to "Delete post", post_path(post), method: :delete
- else
  %h1 No posts yet!

= link_to "Make a post", new_post_path
