<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <%= simple_form_for @posts do |f| %>
      <%= f.input :image %>
      <%= f.input :caption %>
      <%= f.button :submit %>
    <% end %>

  </body>
</html>
