<nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" <%= link_to "Binstagram", root_url %> </a>
</nav>

<h3>Post a new bin image</h3>
<p></p>

</body> 
