<center>
<div class="containter">
<%= form_for @post do |form| %>
  <div class="image-field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <%= form.submit "Upload your image", :class => "btn btn-outline", :style => "border-color: #3ac9c6; color: #3ac9c6", id: "post_image" %>
  <% end %>

</div>
</center>