<h1 class="title"> INSTAGRAHAM </h1>

<%= simple_form_for @post do |f| %>
  <%= f.input :title, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
  <%= f.input :content, input_html: { class: 'textarea' }, wrapper: false, label_html: { class: 'label' } %>
  <%= f.button :submit, "POST", class: "button is-primary"%>
<% end %>

