<h1>Upload an image</h1>
<br>
<%= form_for @post, html: {multipart: true} do |form| %>
  <p><%= form.file_field :image %></p>
  <%= form.submit "Submit" %>
<% end %>
<br>
<%= link_to 'Back', posts_path %>
