<h1 class="text-center">Upload an image</h1>
<br>
<%= form_for @post, html: {multipart: true} do |form| %>
  <p class="text-center"><%= form.file_field :image, class: "btn btn-primary" %></p>
  <p class="text-center"><%= form.submit "Submit", class: "btn btn-primary" %></p>
<% end %>
<br>

