<h1>New Post</h1>

<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <p>
    <%= form.label :post_text %><br>
    <%= form.text_area :post_text, id: 'post_text' %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
