  <%= form_for @post do |form| %>
<div class="container is-flex is-flex-direction-column is-align-items-center p-5" style="margin-top:6rem">
  <div class="container" id="new-post-container">
    <div class="is-flex is-justify-content-center p-2" style="border-bottom:1px solid #5accf1">
        Create New Post
    </div>
    <div class="is-flex">
      <%= form.file_field :image, :class => "choose-file ml-3" %>
      <div class="p-5" style="border-left:1px solid #5accf1">
        <%= form.text_area :body, placeholder: "Write a caption...", :class => "is-flex m-2 p-4 caption-textarea" %>
        <%= form.submit "Post", :class => "button is-rounded is-link m-2 new-cap-btn" %>
      </div>
    </div>
  </div>
  <% end %>
</div>