<h2>New Post</h2>
<br/>
<%= form_for @post do |form| %>
  <%= form.label :description %>
  <%= form.text_area :description, :input_html => {:rows => 10}, placeholder: "Please enter a post", autofocus: true %>
  <br/>
  <%= form.submit "Create Post" %>
<% end %>
