<h1> Add a new image </h1>
<div class = "form-wrapper">
<%= simple_form_for @post do |b| %>
      <div class="form-group">
         <%= b.input :image %>
      </div>
      <br>
      <div class="form-group text-center">
         <%= b.input :title %>
      <br>
         <%= b.button :submit %>
      </div>
<% end %>
</div>

<!--# form needs to know its purpose as a form. Identifying object is @post, instance of the post variable-->
<!--# tells the form what the form is about. The simple loop creates a text field-->
<!--# for the image, title and submit.-->

<!-- All of the classes are bootstrap classes for formatting -->
