<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= simple_form_for @post, local: true do |form| %>
      <p>
        <%= form.input :image %>
      </p>

      <p>
        <%= form.input :caption %><br>
      </p>

      <p>
        <%= form.button :submit %>
      </p>
    <% end %>
  </body>
</html>
