<p>
  <%= @current_user %>
</p>
<h2>Post an Unconvinceda:</h2>
<%= form_for @post, url: { action: "create" }, html: {class: "post_form"} do |form| %>
<%= form.text_field :caption %>
<%= form.submit "Create" %>
<% end %>
