<div class="row d-flex justify-content-between">
  <div class="col-3">
    
  </div>
  <div class="col-6">
    <h1>New Post</h1>
    <%= render 'form', post: @post %> 
  </div>
  <div class="col-3">
    
  </div>
</div>




