<div class="form-wrapper">
  <%= simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f| %>
    <div class="image-input text-center">
      <%= f.input :image %>
    </div>
    <div class="d-flex justify-content-center text-center">
      <%= f.input :caption %>
    </div>
    </br>
    <div class="d-flex justify-content-center text-center">
      <%= f.button :submit, class: 'btn-info' %>
    </div>
  <% end %>
</div>
