<div class="uploader">
<h3>n e w p h o t o ?</h3>
<% if current_user %>

  <%= form_for @post do |form| %>
  <%= form.file_field :photo %><br>
  <br>
  <br>
  <h3>d e s c r i b e</h3>
    <%= form.text_area :text %><br>
    <%= form.submit "Submit" %>
  <% end %>
<% else %>
  <div>
    <h1>Sorry, you need to be logged in to make a new post</h1>
  </div>
<% end %>
</div>
