- if @post.errors.any?
  %section#errors
    %h2
      =pluralize @post.errors.count, "error"
      prohibited this Snapshot! from being saved:
    %ul
      -@post.errors.full_messages.each do |message|
        %li= message

=render 'form'
