<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Moments // Tell your story in pictures.</title>
  </head>
  <body>
    <h1>MOMENTS</h1>
    </br>
    </br>
    <div id="new_post">
      <%= form_for @post , url: posts_path, html: { multipart: true } do |form| %>
        <%= form.file_field :moment %> </br>
        <%= form.text_area :caption, cols: "30", rows: "7" %> </br>
        <%= form.submit "SHARE MOMENT" %>
      <% end %>
    </div>
  </body>
</html>
