<h1>New Post</h1>

<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
