<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New post</h1>

    <%= render "form" %>

    <%= link_to 'Back', posts_path %>
  </body>
</html>
