<div class="form-wrapper">
<%= simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f| %>
  <div class="form-group">
    <%= f.text_field :caption, id: 'caption' %>
  </div>
  <div class="form-group">
    <%= f.file_field :image, id: 'image' %>
  </div>
  <div class="form-group">
    <%# f.text_field :user_id, value: current_user.id, class:'d-none'%>
  </div>
  <br>
  <div class="text-center">
    <%= f.submit 'Create Post', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>