<h1>New Post</h1>

<%= form_with model: [@user, @user.posts.build], local: true do |form| %>

<p>
  <%= form.label :image %><br>
  <%= form.file_field :image %>
</p>

<p>
  <%= form.submit 'Post' %>
</p>

<% end %>