<div class="form-group" align="center">
  <div class="form-control">
  <%= form_for @post do |form| %>
  <h2>Upload Picture</h2>
  <div>
    <%= form.text_field :message, placeholder: "message caption*", autofocus: true %>
  </div>
  <div>
    <%= form.file_field :image %>
  </div>
  <div>
    <%= form.submit "Submit" %>
  <br>
  </div>
  </div>
  <% end %>
</div>
