<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>


<%= form_for @post do |form| %>
  <%= form.label :messages %>
  <%= form.text_field :messages %>

  <%= form.submit "Submit" %>
<% end %>
