<section class="section">
<div class="columns is-mobile">
<div class="column"></div>
<div class="column is-two-third">
  <h2 class="title is-2">Add a new Photo</h2>
  <%= render partial: '/posts/form' %>
</div>
<div class="column"></div>
</section>
