<div class="form-wrapper">
  <%= simple_form_for @post, html: {class: 'form-horizontal', multipart: true} do |f| %>
    <div class="form-group">
      <%= f.input :image %>
    </div>
    <div class="form-group">
      <div class="text-center">
      <%= f.input :caption %>
      </div>
    </div>
    <div class="form-group">
      <div class="text-center">
        <%= f.submit "Post" %>
      </div>
    </div>
  <% end %>
</div>
