.container{:style => "font-family: Open Sans;"}
  = simple_form_for @post, html: { multipart: true } do |f|
    %legend Create Post
    .form-group
      = f.input :image, required: 'Image required'
    .form-group
      %p= f.input :caption
    .form-group
      = f.button :submit, class: 'btn-success'
