.posts-wrapper.row
  .post
    .post-head
      .name
        Jenny Rick
    .image.center-block
      =image_tag @post.image.url(:medium)
    %p.caption
      =@post.caption
      - if @post.user.id == current_user.id
        .text-center.edit-links
          = link_to "Cancel", posts_path
          |
          = link_to "Edit Post", edit_post_path(@post)
      - else
        .text-center.edit-links
          =link_to "Cancel", posts_path
