.posts-wrapper.row
  .post
    .post-head
      .name
        Instantgram
      .image.center-block
        =image_tag @post.image.url(:medium)
      %p.caption
        =@post.caption
      .text-center
        =link_to "Back to all posts", posts_path