<div class="individual-photos">
<% if current_user == @post.user %>
<%= link_to 'delete',  @post,  method: :delete, id: (
  ) %>
<% end %>
<%= image_tag @post.image.url(:large) %>
<h3><%= @post.messages %></h3>
<small>Posted by: <%= @post.user.email %></small>
  <div>
  </div>
</div>
