<p><%= @post.name %></p>
<%= image_tag @post.image.url(:thumb) %>


<% if @post.comments.any? %>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <%= comment.thoughts %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No comments.</p>
<% end %>