
<div class="col-md-4 col-md-offset-4">

  <%= image_tag(@post.image.url(:medium)) %>
  <%= @post.description %>
    <% @post.comments.each do |x| %>
      <%= x.comment %>
      <br>
    <% end %>
  <%= link_to "Leave comment", new_post_comment_path(@post) %>
</div>
