<!-- <h2><%= "[username]" %></h2> -->

<div class="container">
  <div class="post-wrapper row">
    <div class="post">
      <div class="post-head">
        <div class="name">
          [Username]
        </div>
      </div>
      <div class="image center-block">
        <%= image_tag @post.image.url(:medium), class:'img-responsive' %>
      </div>
      <div class="caption">
        <p><%= @post.caption %></p>
      </div>
      <div class="text-center">
        <%= link_to "All posts", posts_path %>
      </div>
    </div>
  </div>
</div>
