<h1 style="text-align: center">I love this photo!</h1>

<div class="container">
  <!-- Content here -->
    <ul class="list-group">
      <li class="list-group-item" style="margin: 0 auto">
        <%= image_tag @post.image.url(:medium) %>
        <p style="text-align: center; color: blue"><%= @post.caption %></p>
      </li>  
    </ul>
</div>
