<p>Title: <%= @post.title %></p>
<%= image_tag @post.image.url %>

<% if @post.comments.any? %>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <%= comment.comments %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No comments... yet!</p>
<% end %>