<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <h4 class="name"> Vicky Roberts </h4>
      <p class="location"> London </p>
    </div>
    <div class="image"><img class="img-responsive" src= <%= @post.image %> /></div>
    <p class="caption"><%= @post.caption %></p>
  </div>
</div>
