<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="name" style="display:inline-block; float:left;">
        <h4>Vicky Roberts </h4>
        <p class="location"> London </p>
      </div>
    </div>
    <div class="image"><img class="img-responsive" src= <%= @post.image %> /></div>
    <p class="caption"><%= @post.caption %></p>
  </div>
</div>
