.posts-wrapper.row
  .post
    .post-head
      .name
        Chloe Verity
    .image.center-block
      =image_tag @post.image.url(:medium)
    %p.caption
      =@post.caption
    .text-center
      =link_to "Cancel", posts_path
