= image_tag(@post.image, :class => 'image-post')
= link_to 'Add a comment', new_post_comment_path(@post)

- if @post.comments.any?
  %ul
  - @post.comments.each do |comment|
    %li= comment.body
- else
  %em No comments