<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      <div class="name">
        Ben Walker
      </div>
    </div>
    <div class="image center-block">
      <%= image_tag(@post.image.url, alt: 'Image') %>
    </div>
    <p class="caption">
      <%= @post.caption %>
    </p>
    <div class="text-center">
     <%= link_to "Back", posts_path %>
   </div>
  </div>
</div>
