<div class="posts-wrapper row">
  <div class="post">
    <div class="post=head">
      Joshagram, created by the one and only Josh
    </div>
  </div>
 <div class="name">
   <div class="image center-block">
     <%= image_tag @post.image.url(:medium) %>
     <p class="title">
       <%= @post.title %>
     </p>
     <div class="text-center edit-links">
       <%= link_to "Back to Joshagram", posts_path %>
     </div>
   </div>
 </div>
</div>