.posts-wrapper.row
  .post
    .post-head
      .name
    .image.center-block
      =image_tag @post.image.url(:medium)
    %p.caption
      =@post.description
    .text-center.edit-links
      = link_to "Back", posts_path
      |
      = link_to "Edit Post", edit_post_path(@post)
