<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="desc">
      <h1><%= @post.caption %></h1>
</div>
    <div class="img">
    <%= image_tag @post.image.url %>
  </div>
    <p><%= @post.description %></p>
  </body>
</html>

<style>

body {
  background-image: url('http://www.easterlingstudios.com/assets/images/background.jpg');
  background-position: center;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Arima Madurai', cursive;
    color: white;
}

a {
    font-family: 'Arima Madurai', cursive;
    font-size: 1.5em;
    color: white;
}

</style>
