<h2><%= @post.caption %></h2>
<% if @post.image.attached? %>
  <image src="<%=(url_for(@post.image))%>">
<% end %>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
