<div class="post">
  <div class="image img-responsive">
    <%= image_tag @post.image %>
  </div>
  <div class="caption">
<%= @post.caption %>
  </div>
  <div class="created-at">
Created at: <%= @post.created_at %>
  </div>
</div>
