<div class="container">
  <div class="card">
    <img class="card-img-top" src="<%= @post.image(:medium) %>" alt="Card image cap">
    <div class="card-block">
      <p class="card-text"><%= @post.caption %></p>
    </div>
  </div>
</div>
