= image_tag @post.image.url(:medium)
= @post.caption
=link_to "Edit Post", edit_post_path(@post)
=link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "You sure?" }
=link_to "Back to homepage", posts_path
