<div class="col-md-12 col-sm-12 col-xs-12">
  <p><%= @post.user.username %></p>
  <%=image_tag @post.image.url(:original) %>
  <p><%= @post.caption %></p>
  <% if @post.user.id == current_user.id %>
  <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-default'%>
  <% end %>
</div>