<%= render 'post', post: @post %>

<div class="text-center edit-links">
  <% if current_user.id == @post.user.id %>
    <p class="edit_tag"><%= link_to 'Edit Post', edit_post_path %></p>
  <% end %>
</div>
