%p.large-image
  = image_tag @post.image, :class => "full-pic"
  = @post.description
  %br/
  %br/
  %span.links
    = link_to 'Edit', edit_post_path(@post)
  %span.links
    = link_to 'Delete', post_path(@post), method: :delete
