  <div class="posts-wrapper row">
      <div class="post">
        <div class="post-head">
          <div class="name"></div>
            <div class="image center-block"><%= image_tag @post.image.url(:medium) %>
            </div>
            <p class="edit_tag"><%= link_to 'Edit Post', edit_post_path %></p>
            <p class="caption"><%= @post.caption %></p>
        </div>
      </div>
  </div>
