<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="desc">
    <h1><%= @post.caption %></h1>
  </div>
  <div class="img">
    <%= image_tag @post.image.url %>
  </div>
  <p><%= @post.description %></p>
</body>
</html>
