<p> <%= image_tag @post.image.url(:medium) %></p>
<p> <%= @post.caption %></p>
<% if @post.user.id == current_user.id %>
  <p><%= link_to "Edit", edit_post_path(@post) %></p>
  <h3><%= link_to "Delete", post_path(@post), method: :delete %></h3>
<% end%>
