<section class="section">
<h2> TESTER </h2>
  <h1 class= "title"> 
  <%= @post.title %> 
  </h1>
  <div class="picture">
  <%= image_tag(@post.image, style:'width:100%') %>
  </div>

  <div class= "content">
    <%= @post.content %>
  </div>
</section>
