<h2><%= @post.description %></h2>
<br>
<%= image_tag @post.image.url(:medium) %>
<h3>Comments:</h3>
<% if @post.comments.any? %>
  <ul>
    <% @post.comments.each do |comment| %>
    <ul>
      <%= comment.comments %>
    </ul>
    <% end %>
  </ul>
  <% else %>
  <p>No comments.</p>
  <% end %>
