
<h2>Post</h2>
  <p>
    <% if @post.image? %>
      <div>
        <%= image_tag @post.image.url %>
      </div>
    <% end %>
  </p>
  <p>
    <%= @post.description %>
  </p>

<%= link_to 'Back', posts_path %>