<h1><%= @post.title %></h1>
<%= image_tag @post.image.url  %>

<% if @post.user_id == current_user.id %>
    <%= link_to "Edit Your Post", edit_post_path(@post) %>
    <%= link_to "Delete Your Post", post_path(@post), method: :delete %>
<% end %>
