#posts
  .box.panel.panel-default
    .panel-body
      = image_tag @post.image.url(:large)
      - if @post.comments.any?
        - @post.comments.each do |comment|
          %p.user
            = comment.comment
