<div class="center-button">
  <%= button_to "Back", posts_path, :method => "get", :class => "btn btn-danger" %>
</div>

<div class="solo-pic">
  <%= image_tag(@post.image.url(:medium),:class => "img-rounded") %>
</div>
