<h1>Post</h1>
<% render @post %>

<% if user_signed_in? && current_user.id == @post.user_id %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<%end%>

<p>
  <strong>Posts:</strong>
  <%= @post.description %>
</p>

<%= link_to 'Back', posts_path %>
