.posts-wrapper.row
  .post
    .post-head
      .name
        Mabon
    .image.center-block
      =image_tag @post.image
    %p.caption
      =@post.caption
    .text-center
      =link_to "Return", posts_path
      |
      =link_to "Edit post", edit_post_path(@post)