<div class="container">
  <div class="card">
    <div class="card-header">
      <%= @post.user.username %>
    </div>
      <div class="card-block">
          <img class="img-fluid img-thumbnail" src="<%= @post.image(:medium) %>" alt="Card image cap">
      <p class="card-text"><%= @post.caption %></p>
    </div>
  </div>
</div>
