<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NIS-tagram</title>
  </head>
  <body>


<div class="posts-wrapper">



    <div class="post">

      <%= image_tag @post.image.url(:medium) %></a><br>
      <div class="caption">  <%= @post.caption %> </div>

    </div>

<%= link_to "Go Back", posts_path %>

</div>



  </body>
</html>
