<section class="section">
<h2> TESTER </h2>
  <h1 class= "title"> 
  <%= @post.title %> 
  </h1>
  <h2 class="timelabel">
   Posted: <%= @post.created_at.strftime("%B %d %Y, %l:%M%P") %>
  </h2>
  <div class="picture">
  <%= image_tag(@post.image, style:'width:50%') %>
  </div>

  <div class= "content">
    <%= @post.content %>
  </div>
</section>
