<div class="container">
<div class="col-md-4 px-0">
<%= image_tag @post.image.url, class: "img-fluid"%>
</div>
<div>
<center>
<h2>Comments</h2>
<% @post.comments.each do |x| %>
<%= x.body %>
</br>
<% end %>


<%= link_to "New comment", new_post_comment_path(@post) %>
</center>
</div>