<div class="container">
  <div class="row text-center">
    <%= image_tag @post.image.url(:large) %>
    <div class="photo-credit">
      <%= @post.name %>
    </div>

    <!-- <h3>Comments</h3> -->
       <% if @post.comments.any? %>
         <ul class="comments">
           <% @post.comments.each do |comment| %>
             <li>
               <%= comment.comments %>
             </li>
           <% end %>
         </ul>
       <% else %>
         <p>no comments yet</p>
       <% end %>
  </div>
  <div class="btn">
    <a href='/posts'>Back</a>
  <div>
</div>
