
<h1 id="user-title"><i class="fas fa-user-circle"></i> <%= @user.handle %> </h1>

<div class="profile-wrapper">

  <% @posts.each do | post | %>
      <div class="profile-post"> 
        <img src="<%= post.image %>">
      </div>
  <% end %>

</div>