<h1 id="user-title"> <%= @user.handle %> </h1>

<div class="profile-wrapper">

  <% @posts.each do | post | %>
      <div class="post"> 
        <img src="<%= post.image %>">
      </div>
  <% end %>

</div>