<h3> <%= @user.handle %> <h3>

<% @posts.each do | post | %>
    <div class="post"> 
      <p id="handle"><%= post.user.handle %></p>
      <img src="<%= post.image %>">
      <p><%= post.description %></p>
    </div>
  <% end %>