<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chitter</title>
    <link rel="stylesheet" href="css/style.css" />

  </head>
  <body>


<h1>Hello posts route yoyoyoy</h1>
<h1>Posts</h1>
<ul class="posts">
  {{#each posts}}
    <li>{{this.text}}</li>
  {{/each}}
</ul>
    <form action="/posts/new" method="POST">
      <input type='text' id="newPost" />
      <br>
      <input type="submit" value="Post">
    </form>
  </body>
</html>