<h1>Posts</h1>

<form action="/posts" method="POST">
  <input id="url" type="text" name="url" placeholder="image url">
  <input id="caption" type="text" name="caption" placeholder="caption">
  <input type="submit" value="Upload">
</form>

<br>

{{#each posts}}
<figure>
  <img src={{this.url}} style="width: 600px">
  <figcaption>{{this.caption}}</figcaption>
</figure>
<br>
{{/each}}

<form action="/sessions?_method=DELETE" method="POST">
  <input type="submit" value="Log out">
</form>