<html>
  <head>
    <meta charset="utf-8" />
    <title>Instaclone</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="../../public/javascripts/posts.js"></script>
  </head>
  <body>
    <% if(session.authenticated){ %>
    <a href="/logout" class="nav-item nav-link">Logout</a>
    <h1>Hello, <%= session.user.username %>!</h1>
    <% } else{ %>
    <a href="/login" class="nav-item nav-link">Login</a>
    <a href="/signup" class="nav-item nav-link">Sign up</a>
    <% } %>

    <h1>Posts</h1>
    <form id="newPost" action="/posts/new" method="POST">
      <input type="text" id="newPostText" name="newPostText" />
      <br />
      <input type="submit" value="Post" />
    </form>
    <ul class="posts">
      <% posts.forEach((post)=>{ %>
      <ul>
        <li><%= post.text %></li>
        <form id="seePost" action="/posts/<%= post.id %>" method="GET">
          <input type="submit" value="View" />
        </form>
      </ul>
      <% }) %>
    </ul>
  </body>
</html>
