<form action = "/posts/new">
  <button class = 'newpost'>Create new post</button>
</form>

{{#each posts}}
<div class = 'posts'>
  <form action = "/posts/{{this.id}}">
    <input class="postimage" type ="image" width = '300' height = '300' src = "{{this.url}}">
  </form>
</div>
{{/each}}

