<div class="posts">
  <% posts.forEach(post => { %>
    <div class="post">
      <div class="post-top">
        <%= post.user.username %>
      </div>
      <img height="150" width="100" src="<%= post.imageRelPath %>">
      <div class="post-bottom">
        <div class="post-actions">
          <img src="/images/like.png" alt="like">
          <img src="/images/message.png" alt="message">
          <img src="/images/share.png" alt="share">
          <div></div>
          <img src="/images/bookmark.png" alt="bookmark">
        </div>
        <div class="comments-list">
          comments placeholder
        </div>
        <form action="/sessions" method="POST"></form>
          <div class="add-comment">
            <img src="/images/smile.png" alt="icon">
            <input type="text" name="comment" value="Add a comment...">
            <button type="submit" name="submit">Post</button>
          </div>
        </form>
      </div>
    </div>
  <% }) %>
</div>
