<div class="user-form">
  <img width="150" src="/images/Instagram_logo.png" alt="instagram">
  
  <h3 class="form-title">Image Upload</h3>
  
  <form action="/posts" method="POST" enctype="multipart/form-data">
    <div class="image-upload">
      <input type="file" name="image" accept="image/png, image/jpeg, image/gif">
    </div>
    <br>
    <br>
    <button type="submit">Submit</button>
  </form>
</div>