<html>
<body>

<form id="new-photo-upload" action="/posts" method="post">
	<label for="url">Image Url</label>
  <input type="text" id="url" name="url" placeholder="Image url" required>
	<label for="caption">Image Caption</label>
	<textarea id="caption" name="caption" value="" rows="2" placeholder="Caption" required></textarea>
  <input type="submit" value="Submit">
</form>
</body>
</html>


