<div>
  <form id="new-post-form" action="/posts" method="POST">
    <div>
      <label for="name">Image Title</label>
      <input type="text" id="name" placeholder="Name" name="name" required>
    </div>
    <div>
      <label for="desc">Image Description</label>
      <textarea id="desc" name="desc" rows="2" placeholder="Description" required>
      </textarea>
    </div>
    <div>
      <label for="image">Upload Image</label>
      <input type="file" id="image" name="image" value="" required>
    </div>
    <div>
      <button id="submit" type="submit" value="Submit">Submit</button>
    </div>
  </form>
</div>
