<html>
<body>

<form id="new-photo-upload" enctype="multipart/form-data" action="/posts" method="post">
  <input type="file" name="file" id="file" value="" required>
	<label for="name">Image Title</label>
	<input type="text" id="name" placeholder="Name" value="" name="name" required>
	<label for="desc">Image Description</label>
	<textarea id="desc" name="desc" value="" rows="2" placeholder="Caption" required></textarea>
  <input type="submit" value="Submit">
</form>





		{{!-- <% items.forEach(function(image) { %>
		<div>
			<div>
				<img src="data:image/<%=image.img.contentType%>;base64,
					<%=image.img.data.toString('base64')%>">
				<div>
					<h5><%= image.name %></h5>
					


<p><%= image.desc %></p>



				</div>
			</div>
		</div>
		<% }) %>
	</div> --}}
</body>
</html>


