{{!-- <form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="">
  <input type="submit" value="Submit">
</form> --}}

<body>
	<h1>To Upload Image on Instagram</h1>
	<hr>
	<div>
		<form id="new-post-form" action="/posts" method="POST" >
			{{!-- <div>
				<label for="name">Image Title</label>
				<input type="text" id="name" placeholder="Name"
					value="" name="name" required>
			</div> --}}
			<div>
				<label for="message">Post </label>
				<textarea id="message" name="message" value="" rows="2"
						placeholder="Post text required" required>
				</textarea>
			</div>
			<div>
				<label for="image">Upload Image</label>
				<input type="file" id="image"
					name="image" value="" required>
			</div>
			<div>
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>
</body>


