<h1>Image Upload</h1>

<form action="/posts" method="POST" enctype="multipart/form-data">
  <div>
    <input type="file" name="image" accept="image/png, image/jpeg, image/jpg, image/gif">
  </div>
  <button type="submit">Submit</button>
</form>