<div>
  <form id="new-post-form" action="/posts" method="POST">
    <div>
      <label for="url">Image URL</label>
      <input type="text" id="url" name="url" placeholder="URL" required>
    </div>
    <div>
      <label for="caption">Image Caption</label>
      <textarea id="caption" name="caption" rows="2" placeholder="Caption" required>
      </textarea>
    </div>
    {{!-- <div>
      <label for="image">Upload Image</label>
      <input type="file" id="image" name="image" value="" required>
    </div> --}}
    <div>
      <button class = 'createpost'>Post</button>
    </div>
  </form>
</div>
