<h1>Hello show posts route</h1>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Instaclone</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <li><%= selectedPost.text %></li>
    <li><%= numberOfLikes %> Likes</li>
    <% comments.forEach((comment)=>{ %>
    <tr>
      <td><%= comment.text %></td>
    </tr>
    <% }) %>
    <form id="newComment" action="/posts/1/comment/new" method="POST">
      <input type="text" id="newCommentText" name="newCommentText" />
      <br />
      <input type="submit" value="Comment" />
    </form>
  </body>
</html>
