<h1>Hello show posts route</h1>
<li>{{selectedPost.text}}</li>
<li>{{numberOfLikes}} likes</li>
<form action='{{selectedPost.id}}/like/new' method='post'>
  <input type='submit' value='Like' />
</form>