/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

body {
  padding-top: 30px
}

h1 {
  text-align: center;
  font-size: 40px;
  color: grey;
  font-family: 'Didact Gothic';
  padding: 0px 0px 10px 0px
}

button {
  border-radius: 15px;
  font-family: 'Didact Gothic';
  color: #ffffff;
  font-size: 18px;
  background: #abe6a6;
  border-color: #abe6a6;
  padding: 6px 30px;
}

a {
  text-decoration: none;
}

button:hover {
  background: #6a9c6c;
  border-color: #6a9c6c;
}

table {
  margin: auto;
  margin-top: 40px;
  padding-bottom: 20px;
}

td {
  padding: 10px;
}

.single_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 400px
}

.caption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Didact Gothic';
  color: grey;
  font-size: 18px;
  width: 398px;
  height: 60px;
  border:1px solid grey;
}

.pagination {
  font-size: 18px;
  display: inline-block;
  color: grey;
  padding: 8px 20px;
  text-decoration: none;
  font-family: 'Didact Gothic';
  font-style: normal;
}

.pagination a {
    color: grey;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Didact Gothic';
    font-style: normal;
}

.current {
    background-color: #abe6a6;
    color: white;
    text-decoration: none;
    font-style: normal;
    padding: 8px 16px;
}

.pagination a:hover:not(.active) {
  background-color: lightgrey;
  color: white;
}

.center {
  text-align: center;
}

.notice {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: coral;
  color: white;
  font-family: 'Didact Gothic';
  text-align: center;
  width: 400px
}

.image_form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: grey;
  font-family: 'Didact Gothic';
  text-align: center;
  width: 500px
}

.label {
  padding-bottom: 10px;
  padding-top: 20px;
}

.field {
  width: 580px
}

.button{
  color: grey
}
