/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300);

body{
/* its always best to set up the fonts for the whole page first */


	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color:#777777;
	font-weight: 300;

	font: 300 16px/1.5 'Source Sans Pro', sans-serif;
	color:#777777;

}


h1{
	float: left;
	padding: 20px 0;
}
.container{
  max-width: 1250px;
  text-align: center;
}

.picture{
  display: inline-block;
  padding: 20px 20px 20px 20px;
  text-align:center;
}
.show{
  text-align: center;
}

a{
	color:#777;
	text-decoration: none;



	padding: 18px 10px;

	display: inline-block;


	transition: all 0.3s;
}


a:hover {
	background-color: #000;
	color: #fff;
}



	h2{
		font-size: 60px;

		line-height: 1;
	}

p{
	font-size: 22px;
	margin: 20px 0;

}

h3 {
	font-size: 35px;
	margin-top:30px;
	margin-bottom: 5px;
}

.reviews {
	background-color: #e9e9e9;
}

	border-radius: 100%;
}




form {
	max-width: 400px;
	margin: 20px auto 0 auto;
}

input,
textarea {



border:none;
width: 100%;



padding: 10px;
margin: 10px 0;
border-radius: 3px;

}

input[type="submit"] {

	background-color: #000;
	color: #fff;


	cursor: pointer;
}

input,
textarea {
	outline: none;


	box-shadow: 0 0 4px rgba(0,0,0,0);
	transition: box shadow 0.3s;
}


input:focus,
textarea:focus{
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

footer{
	padding: 40px 0;
	text-align: center;
}
	footer a{
		margin:0 5px;
		text-decoration: none;

}
small{ display: block;
margin-top: 10px;}
