/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "users";


*{
  margin: 0;
  padding: 0;
  outline: 0;
}

body{
  background-color: #FAFAFA;
}

.navBar{
  height: 60px;
  padding: 10px;
  background-color: #FFFFFF;
  .div-container-nav{
    display: flex;
    .bar{
      padding: 10px;
    }
    .ig-icon-nav{
      font-size: 20px;
      align-self: center;
    }
    .img-div{
      width:100px;
      padding: 5px;
      .img{
        position: relative;
        top: 2px;
        width: 100%;
      }
    }
    #user-link{
      width: 70%;
      padding-right: 5px;
      display: flex;
      justify-content: flex-end;
      .compass, .love{
        font-size: 20px;
        align-self: center;
        padding-right: 10px;
      }
      a{
        align-self: center;
        .account{
          font-size: 20px;
          align-self: center;
          padding-right: 10px;
        }
      }
      .sgbtn{
        margin-left: 5px;
        font-size: 10px;
        font-family: 'Roboto';
        font-weight: bold;
        color: #5DAAF3;
      }
      .lgin{
        font-size: 12px;
        font-family: 'Roboto';
      }
    }
  }
}

.sign-up-errors{
 ul{
   li{
     list-style-type: none;
     font-size: 10px;
     color: red;
   }
 }
}