// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	font-size: 16px;
}

#post {
	border: 1px solid #dbc7c7;
	margin-bottom: 10px;
	padding-bottom: 20px;
	background: white;
}

#postHeader{
	background-color: white;
	padding: 0px 10px;
}


#userName {
	display: inline-block;
	width: 50%;
}

#createdAt {
	float:right;
	display: inline-block;
}

#photo {
	width:100%;
}

#postFooter {
	padding: 0px 10px;
}

#likeCounter {
	padding-top: 5px;
	display: inline-block;
}

#likeButton {
	padding-top: 5px;
	float: right;
}

#userNameDescription {
	font-weight: 600;
	color: #000080;
}

#comments ul {
	list-style-type: none;
	padding-left: 0px;
}

#commentUsername {
	color: #000080;
	font-weight: 600;
}


