// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-flex-container{
   display: flex;
  .first-box-img-container{
   width: 60%;
   .post-avatar{
     width: 100%;
   }
  }
  .second-box{
    width: 40%;
    div{
        display: flex;
        height: 80px;
      .post-user-avatar-container{
          width: 70px;
          padding: 10px;
        .post-user-img{
          width: 100%;
          border-radius: 50%

        }
      }
      .post-username-div{
        height: 80px;
        padding: 5px;
        .user-name-post{
          font-family: 'Open Sans', sans-serif;
          position: relative;
          font-weight: bold;
          font-size: 10px;
          top: 25px;
        }
      }
    }
  }
}