// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-container{
  padding: 10px;
  display: flex;
  justify-content: center;
  .form-container{
    background-color: #FFFFFF;
    padding: 30px;
    .fb{
      font-family: 'Roboto';
      margin-bottom: 5px;
      font-size: 12px;
    }
    div{
      .new_user{
        .email, .name, .username,.password{
          margin-bottom: 5px;
        }
        .email::placeholder, .name::placeholder, .username::placeholder, .password::placeholder{
          font-size: 10px;
          background-color: #FAFAFA;
        }
        .submit{
          font-family: 'Roboto';
        }
      }
      div{
        text-align: center;
        span{
          font-family: 'Roboto';
          font-size: 12px;
          text-align: center;
        }
      }
    }
    .haveAccount{
      background-color:#FAFAFA;
      margin-top: 5px;
      border-radius: 2px;
      padding: 5px;
      span{
        font-family: 'Roboto';
      }
    }
  }
}

/* Show */
.flex-container{
  display: flex;
  padding: 10px;
  .edit-setting{
    width: 100%;
    .div-row{
      display: flex;
      .name{
        padding: 10px;
      }
      .edit{
        a{
          position: relative;
          top: 10px;
        }
      }
    }
    .following{
      display: flex;
    }
  }
}