<h1>Galleries</h1>
<h3><%= link_to("Add a gallery", new_gallery_path) %></h3>
<br>
<%if @galleries.any? %>
  <%@galleries.each do |gallery| %>
      <!-- gallery_path(gallery) -->
      <h2><%= link_to gallery.name, "/galleries/#{gallery.id}", method: :get %></h2>
  <% end %>
<% else %>
  <h2>No galleries yet</h2>
<% end %>
