
<%if @galleries.any? %>
  <%@galleries.each do |gallery| %>
    <h2><%= gallery.name %></h2>
  <% end %>
<% else %>
  <h2>No galleries yet</h2>
<% end %>

<h3><%= link_to("Add a gallery", new_gallery_path) %></h3>
