// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body {
  background: #fafafa !important;
}

.account-summary {
  text-align: left;
  margin-bottom: 20px;
}

.follower-suggestions {
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}