// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background: #fafafa !important;
}

.account-summary {
	text-align: left;
	margin-bottom: 20px;
}

.follower-suggestions {
	background: #fff;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.profile-pic {
	border-radius: 50%;
}

.profile-stats {
	width: 120px;
	float: left;
}

.profile-posts {
	margin-top: 35px;
}