@import "bootstrap/scss/bootstrap";
@import "active_storage_drag_and_drop";

.asdndzone {
  background: #f2f2f2;
  border-radius: 4px;
  border-width: 5px;
  border-style: dashed;
  padding-top: 0;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center center;
}

#asdndz-image_image__icon-container {
  display: flex;
}

.direct-upload.direct-upload--pending {
  display: flex;
  margin-top: 10px;
}

.direct-upload__filename {
  background: #333;
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 2px 0 0 2px;
  padding-right: 0.3rem;
}

.direct-upload__remove {
  background: #333;
  padding: 0.3rem 0.5rem;
  border-radius: 0 2px 2px 0;
  color: #fff;
  margin-top: 10px;
}