/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.body {
}

.main {
  text-align: center;

}

.container-fluid {
  width: 70%;
  margin: auto;
}

.pic-feed {
  width: 40%;
  display:inline-block;
  vertical-align:top;
}

.picture_image {
  margin-top: 5px;
  border: 1px black solid;
}

.picture_image img {
  border: 1px black solid;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.40);
  max-width: 90%;
}

.image img {
  max-width: 100%;
}

.image_feed {
  border: solid 1px black;
  display:inline-block;
  vertical-align:top;
  margin: 5px;
  padding: 10px;
  max-width: 80%;
  max-height: 80%;
}

.picture_comments {
  margin-top: 20px;
}
