/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new


 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */
.sign_up_pos {
   padding: 40px 20px 20px;
}

btn btn-default btn-lg add {

}

#posts {
  margin: 0 auto;
  width: 100%;
  .box {
    margin: 10px;
    width: 350px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
    h2 {
      font-size: 22px;
      margin: 0;
      padding: 25px 10px;
      a {
        color: #474747;
      }
    }
    .user {
      font-size: 12px;
      border-top: 1px solid #EAEAEA;
      padding: 15px;
      margin: 0;
    }
  }
}

#masonry-container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.border-form-div {
  padding-bottom: 5px;
  max-width: 400px;
  padding: 1px 1px 1px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.main_signup {
  position: relative;
  text-align: center;
}

body {
  background: #E9E9E9;
  font-family: 'Pacifico', cursive;
}

.message {
  position: relative;
  text-align: center;
  font-size: 25px;
}

.row {
  max-width: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.panel-heading{
  font-family: 'Grand Hotel', cursive;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  background-color: #517fa4;
  text-align: center;
  color: #FFF;
  box-shadow: 0 -1px 0 #06365f inset,0 1px 0 rgba(255,255,255,.2)inset;
}

.alerts {
  text-align: center;
}

.brand_name {
  /*font-family: 'Pacifico', cursive;*/
  font-family: 'Pacifico', cursive;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
  color: #2b2b2b;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 -1px 0 #06365f inset,0 1px 0 rgba(255,255,255,.2)inset;
  background-color: #517fa4;
  background-position: 50% 50%;
  border-width: 1px 1px 0;
  border-color: #1c5380;
  border-style: solid;
  height: 60px;
  margin: -1px -1px 1px;
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
}

#error_explanation{
  font-size: 16px;
}

.devise_msgs {
font-size: 16px;
}