html {
  min-height: 100%;
}

/* every item on page */
* {
    box-sizing: inherit;
    -webkit-box-sizing: border-box;
}

/* all links */
a {
  color: #3498DB;
  text-decoration: none;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  background: #F9F9F9;
  top: 0;
  padding: 18px;
}

.nav a {
  margin: 0 12px;
  font-size: 12px;
}

.main-contents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;;
}

.title {
    margin: 50px auto 30px;
    font-size: 20px;
}

h1  {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 40px;
}

/* field - label and input wrapper */
.field,
.actions {
  max-width: 300px;
  margin: 0 auto 30px;
}

/* target input and label inside field class */
.field label,
.field input {
  display: block;
  text-align: left;
}

.field em {
  text-align: left;
  color: grey;
  margin-bottom: 12px;
  display: block;
  font-size: 12px;
}

/* target email and password input only (so checkbox isn't affected) */
input[type="email"],
input[type="password"],
textarea {
  margin: 0;
  padding: 9px 16px;
  font: inherit;
  color: #2C3E50;
  font-size: 16px;
  border-radius: 0;
  border: 1px solid #DEDEDE;
  -webkit-appearance: none;
  width: 100%;
  outline: none;
}

/* focus - on click change border colour */
input[type="email"]:focus,
input[type="password"]:focus {
  -webkit-appearance: none;
  border-color: #3498DB;
}

/* email and password margin bottom */
.field label {
  margin-bottom: 9px;
}

.field.remember-me {
  text-align: left;
  display: flex;
  align-items: center;
}

/* aligns 'remember me' text vartically with checkbox */
.field.remember-me label {
  margin: 0;
}

/* adds margin right to checkbox */
.field.remember-me input {
  margin: 0 6px 0 0;
}

/* button styles */
.actions input {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 14px 24px;
  line-height: 1;
  text-align: center;
  background-color: #3498DB;
  color:#FFFFFF;
  font-weight: bold;
  margin-bottom: 18px;
  border: none;
}

/* remove back end error explanation */
#error_explanation h2 {
  display: none;
}

/* style front end error code */
#error_explanation ul {
  padding-left: 0;
  margin-top: 0;
}

#error_explanation li {
  list-style: none;
  color: red;
}

/* styling user's email display */
.user-email {
  background: #F1F1F1;
  margin: 0 auto;
  max-width: 300px;
  padding: 18px;
  border-radius: 6px 6px 0 0;
}

/* styling caption boxes underneath images */
.caption-wrapper {
  background: #F1F1F1;
  margin: 0 auto 30px;
  max-width: 300px;
  padding: 18px;
  border-radius: 0 0 6px 6px;
  text-align: left;
  font-size: 14px;
}

/* edit caption link */
.caption-edit a {
  font-size: 12px;
}

.image-caption {
  margin-top: 0;
}

#like-button {
  font-size: 40px;
  background-color: #F1F1F1;
  border: none;
  text-align: left;
  padding: 0;
  color: #f29393;
}

/* makes sure all image heights are the same */
.image-div {
  height: 280px;
  overflow: hidden;
}

/* remove gap underneath image */
.image-div img {
  display: block;
  margin: 0 auto;
}

/*Posts side by side*/
.timeline {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 50px;
}
