/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: "Helvetica", "Calibri";
   background-color: #fafafa;
   color: #262626;
   font-size: 14px;
   line-height: 18px;
   margin-top: 100px;
 }

 a {
   /*text-decoration:none;*/
   color: black;
   padding: 10px;
   /*font-weight: bold;*/
 }

 .header {
   background-color: #fff;
   border-bottom: 1px solid #dbdbdb;
   height: 77px;
   width: 100%;
   position: fixed;
   margin: 0;
   padding: 0;
   top: 0;
   overflow: hidden;
 }

 h1 {
   font-family: 'Pacifico', cursive;
   text-align: center;
   font-size: 36px;
 }

 .nav {
   text-align: right;
   font-size: 12px;
   position: relative;
   top: -50px;
   right: 40px;
 }

 .form {
   text-align: center;
   background-color: #fff;
   border: 1px solid #efefef;
   border-radius: 5px;
   width: 300px;
   padding: 20px;
   margin: 20px auto;
   font-size: 12px;
 }

 .image-selector {
   margin-left: 25%;
 }

 .button {
   border: 1px solid #efefef;
   border-radius: 5px;
   width: 100px;
 }

 .selector {
   border: 1px solid #efefef;
   border-radius: 5px;
 }

 .caption {
   border: 1px solid black;
   border-radius: 5px;
   width: 200px;
 }

 .post {
   background-color: #fff;
   border: 1px solid #efefef;
   border-radius: 5px;
   width: 300px;
   padding: 20px;
   margin: 20px auto;
 }

 .text {
   color: #dbdbdb;
   font-size: 14px;
 }

 .user {
   float: left;
   vertical-align: middle;
   /*text-align: right;*/
   font-size: 15px;
   /*position: relative;*/
   padding: 15px;
   top: -50px;
   right: 40px;
 }

 .comment_bubble {
   padding-top: 5px;
   width: 30px;
   height: 30px;
   vertical-align: middle;
 }

 .trash {
   width: 50px;
   height: 50px;
   float: right;
 }

 .field {
   padding: 10px;
   font-size: 14px;
 }

 .actions {
   padding: 10px;
 }

 .head {
   width: 25px;
   height: 25px;
   vertical-align: middle;
 }

 .flash {
   text-align: center;
 }

 .description {
   font-style: italic;
 }

 .name {
   font-weight: bold;
   float: left;
 }
