 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   background-color: #fafafa;
   font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
 }

 .navbar-brand {
   a {
     color: #125688;
   }
 }

 .navbar-fixed-top {
   background-color: #fff;
   height: 54px;
   .navbar-nav li a {
     color: #125688;
   }
 }

 .navbar-collapse {
   background-color: #fff;
   .navbar-nav li a {
     color: #125688;
   }
 }

 .icon-bar {
   background-color: #203f70;
}

 .navbar-container {
   width: 640px;
   margin: 0 auto;
 }

 .alert-row {
   padding-top: 85px;
 }

 .posts-wrapper {
   margin: 0 auto;
   max-width: 642px;
   width: 100%;
 }

 .post {
   background-color: #fff;
   border-color: #edeeee;
   border-style: solid;
   border-radius: 3px;
   border-width: 1px;
   margin-bottom: 40px;
 }

 .post-head {
   padding: 14px 20px;
   color: #125688;
   font-size: 15px;
   line-height: 18px;
   .thumbnail {}
   .name {
     display: block;
   }
 }

 .image {
   border-bottom: 1px solid #eeefef;
   border-top: 1px solid #eeefef;
 }

 .post-bottom {
  .username, .comment-content {
    display: inline;
  }
  .caption {
    margin-bottom: 7px;
  }
  .username {
    font-weight: 500;
    margin-right: 0.3em;
    color: #125688;
    font-size: 15px;
  }
  .username, .caption-content {
    display: inline;
  }
  #comment {
    margin-top: 7px;
    .username {
      font-weight: 500;
      margin-right: 0.3em;
    }
  }
  margin-bottom: 7px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 18px;
}

.buttons {
  border-top: 1px solid #eeefef;
  padding-top: 10px;
  font-size: 15px;
  line-height: 18px;
}

 /* ## Form styling ## */

 .form-wrapper {
   width: 60%;
   margin: 20px auto;
   background-color: #fff;
   padding: 40px;
   border: 1px solid #eeefef;
   border-radius: 3px;
 }

 .textbox {
   height: 25px;
   width: 300px;
 }

 ::-webkit-input-placeholder {
   text-align: center;
}
