body {
  font-family: 'Roboto', sans-serif;
  background-color: #fcfcfc;
}

.container {
  width: 1102px;
}

.share-adventure {
  margin-top: 50px;
  margin-bottom: 30px;
}


.share-adventure h4, a {
  margin-top: 10px;
  font-size: 18px;
  margin-left: 14px;
  text-decoration: none;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}


.name-overlay {
  transition: 0.1s opacity ease-in;
  opacity: 0;
}
.s:hover .name-overlay {
  opacity: 1;
}

.s {
  display: block;
  position: relative;
  width: 290px;
  height: 290px;
  overflow: hidden;
  margin-bottom: 45px;

}
.adventure-image {
  margin: 0;
}

.adventure-image img {
  position: absolute;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
}

.name-overlay {
  position: absolute;
  top: 0;
  bottom:0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.name-overlay a {
  position: absolute;
  bottom: 10px;
  width: 100px;
  height: 35px;
  z-index:1;
}

.name-overlay h4 {
  text-align: center;
  margin-top: 130px;
  color: #FFF;
  font-size: 21px;
}

.nav {
  border-bottom: 0.5px solid #D3D3D3;
  height: 147px;
}

.logo {
  display: inline;
}

.logo img {
  width: 80px;
  margin-right: -3px;
  margin-left: 166px;
  margin-bottom: 27px;
}


h1 {
  font-family: 'Bitter', serif;
  display: inline;
  color: #323438;

}



h5 {
  font-size: 18px;
  float: left;
  margin-right: 14px;
}

.nav-items {
  float: right;
  margin-top: 24px;
  margin-right: 163px;
}

.fa-chevron-right {
  color: #0099ff;
  margin-left: 6px;
}

.nav {
  height: 119px;
  position: relative;
}

.content {
  display: block;
  position: relative;
  width: 380px;
  height: 380px;
  overflow: hidden;
  margin-bottom: 45px;
  float: right;
}

.content-wrapper {
  margin-top: 50px;
}

.section-details h6 {
  display: inline;
  font-size: 18px;
  line-height: 2.5;
}

.section-details {
  border-bottom: 0.5px solid #D3D3D3;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-top: 16px;
  padding-bottom: 10px;
}

.section-actions ul {
  list-style-type: none;
  display: inline-flex;
  padding-left:0;
}

.first-action a{
  margin-left: 0px;
}

.second-action a{
  margin-left: 15px;
}

.section-actions {
  margin: 0px 24px 10px;
}

.section-details img {
  width: 10%;
  float: left;
  margin-top: 5px;
}

.section-details h6 {
  font-size: 14px;
  margin-left: 12px;
  /*display: normal;*/
}

.section-comments {
  margin-left: 24px;

}

.section-comments h4 {
  margin-top: 40px;
  font-size: 16px;
}

.section-comments p {
  /*line-height: 1;*/
}

.details-column {
  width: 28%;
  padding-left: 0;
  background-color: #f7f7f7;
  height: 372px;
  overflow:auto;
}

.image-column {
  padding-right: 0;
}

.custom-button {
    background-color: #1178a0;
    color: #FFF;
    text-align: center;
    border-radius: 0;
    margin-left: 0;
}

.custom-button:hover {
    background-color: #109ba0;
    color: #FFF;
}


.form-container {
  text-align: center;
  width: 20%;
  margin-top: 50px;
}

.form-container h2 {
  background-color: #d64646;
  padding: 10px;
  color: #FFF;
}

.form-wrapper{
  text-align: center;
 }

.form-label {
  display: block;
  text-align: left;
  margin-top: 15px;
 }

.field-label {
  display: block;
 }

.form-control input {
  width: 100%;
 }

.signup button {
  text-align: left;
 }

.nav-items a img {
  width: 157px;
 }

.notice {
    line-height: 2.2;
    position: absolute;
    width: 100%;
    height: 32px;
    color: #4F8A10;
    text-align: center;
}

.alert {
    padding: 6px;
    margin-bottom: 8px;
    text-align: center;
}

.errors {
    color: #D8000C;
    background-color: #FFBABA;
    line-height: 2.2;
    position: absolute;
    width: 100%;
    height: 32px;
    text-align: center;
}

.form-field input,
.form-field textarea {
    border: 1px solid #9c9fa3;
}


/*.footer {
  width:100%;
  height:20px;
  background-color: #f7f7f7;
  position:sticky;

}*/

@media only screen and (min-width: 150px) and (max-width: 600px) {

 .logo img {
  width: 12%;
    margin-right: -3px;
    margin-left: 59px;
    margin-bottom: 14px;
}

.nav-items {
  display: none;
}

.container {
  width: 100%;
}

.s {
  width: 341px;
  height: 341px;
}

}

