//*= require 'masonry/transitions'
//*= require_tree
//*= require_self

@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  background: #E9E9E9;
	font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	text-align: center;
}
h1, h2, h3, h4, h5,h6 {
  font-weight: 100;
  color: #529ECC;
  font-weight: bold;
  text-align: center;
}
nav {
	.container {
		width: 100%;
		margin: 0px;
		padding-bottom: 0px;
		box-sizing: inherit;
	}
  .navbar-brand {
		a {
			color: #529ECC;
			font-weight: bold;
			font-size: 1.6em;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.navbar-brand img {
		height: 100%;
		width: auto;
	}
}
#photos {
  .box {
    box-shadow: white;
		border-radius: 2px;
		text-align: center;

		img {
			width: 100%;
		}
		h2 {
			font-size: 10px;
			margin: 0;
			font-weight: bold;
			padding: 25px 10px;
			a {
				color: #529ECC;
			}
		}
		.caption {
		  padding: 5px 20px 10px 20px;
		  color: #666;
		  font-style: italic;
		  font-size: 1.1em;
		}
		.btn-group {
			text-align: center;
			vertical-align: middle;
			// padding-left: 0px;
	}
	}
}

#edit_page {
  .current_image {
    img {
			display: block;
			margin: 20px 0;
		}
	}
}
