/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
   margin: 0;
 }

 header .navbar {
   height: 77px;
   background-color: #fff;
   padding: 0px;
 }
 header .navbar .container-fluid {
   width: 100%;
   padding: 0;
   height: 77px;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: rgba(0, 0, 0, 0.098);
 }

 header .navbar .navbar-logo {
   width: 100px;
   padding-left: 100px;
 }

 header .navbar .navbar-logo#img {
   width: 100px;
 }

 header .navbar form.navbar-form {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  min-width: 125px;
  width: 215px;
  position: relative;
  padding-left: 50px;

 }

 header .navbar form input.form-control {
  border: 0;
  border-radius: 3px;
  font-weight: 100;
  height: 28px;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: #dbdbdb;
  text-align: center;
 }


 header .navbar ul.nav {
   color: #fff;
 }

 header .navbar ul.nav li a {
  font-size: 13px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
 }

 header .navbar ul.nav li a:hover {
  background-color: #365189;
 }

 header .hmenu {
   font-size: 15px;
   margin-top: 10px;
   margin-right: 50px;
   text-decoration: none;
   color: #dbdbdb;
 }


 section#main {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
