/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body {
   background-color: #ebfffc;
   min-height: 85vh;
 }

 /* sign up and loging pages */

 #form-container-signup, #form-container-login, #link-signup {
   background-color: white;
   border: 1px solid rgb(59, 179, 209);
   border-radius: 10px;
   max-width: 400px;
   width: 100%;
 } 
 #form-container-signup, #form-container-login {
   padding: 1rem;
 }
 #form-container-signup {
   margin-top: 4rem;
 }
 #form-container-login {
   margin-top: 7rem;
 }
 #link-signup {
   height: 5rem;
 }
 #railsgram {
   font-family: 'Lobster', cursive;
   font-size: 280%;
   margin-bottom: 1.6rem;
   padding: 0.5rem;
 }
 .textfield-login-signup {
   border-radius: 10px;
   height: 2.5rem;
   width: 17rem;
   padding-left: 0.6rem;
 }

/* posts page */

#posts-container {
  background-color: #ebfffc;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
}

/* new post page */



@media (min-width: 900px) {
  nav {
    padding-right: 13rem;
    padding-left: 13rem;
  }
}