/*
 *= require font-awesome
 */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Tahoma', sans-serif;
  background-color: #d3d3d3;
}

#navbar {

}

#signin-out {

}

#img-container {
  height: 380px;
  width: 330px;
  background-color: white;
  padding-top: 20px;
}

#img {
  padding: 14px;
}

#img-caption {
  padding: 2px;
  display: inline;
}

#likes-comments-container {
    font-size: 12px;
    background-color: #ffb6c1;
}

#user-info {
  font-weight: bold;
  display: inline;
}

#comments-wrapper {
}

#img-actions {
  text-align: right;
  vertical-align: bottom;
}

#img-info {
  padding-left: 15px;
}

a {
  text-decoration: none;
}

.fa-heart {
  color: red;
  font-size: 26px;
}

.fa-heart-o {
  font-size: 26px;
}

.fa-trash-o {
  color: #4d4d4d;
  font-size: 26px;
  margin: 5px;
}

.fa-pencil {
  color: #4d4d4d;
  font-size: 26px;
  margin: 5px;
}

.fa-camera {
  color: #4d4d4d;
  font-size: 40px;
  margin: 5px;
}

.btn {
  background-color: #ffb6c1;
  border: none;
  height: 26px;
  width: 26px;
}

.btn:hover {
  background-color: #ffb6c1;
  border: none;
  height: 26px;
  width: 26px;
  cursor: pointer;
}
