/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.news-feed {
  width: 80%;
  height: 80%;
  background-color: rgb(235, 233, 233);
  position: relative;
  left: 10%;
  padding: 10px;
}
.posted-picture {
  position: relative;
  display: inline-block;
  border: 1px solid rgb(116, 116, 116);
  background-color: rgb(255, 255, 255);
  width: 350px;
}

.field {
  padding-left: 50px;
}