/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  text-align: center;
  font-family: Arial;
  background-color: rgb(225, 225, 225);
  box-sizing: border-box;
}

h1 {
  font-family: cursive;
  font-size: 40px;
}

@media (min-width: 1000px) {
  main {
    max-width: 50vw;
    min-width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.post {
  margin-bottom: 20px;
  max-width: 1000px;
  max-height: 1000px;
  display: inline-block;
}

.photo {
  margin-bottom: 0px;
  max-height: 475px;
  overflow: hidden;
}

.caption {
  margin-top: 0px;
}

.photo-container {
  max-width: 525px;
  max-height: 525px;
}

.username {
  margin-bottom: 0px;
  /* text-align: left; */
  float: left;
  /* width: 100% */
}

.caption {
  background-color: #333;
  color: white;
  line-height: 40px;
  min-height: 40px;
  text-align: center;
  font-weight: 700;
  margin-top: -4px;
}

.post-header, .caption {
  max-width: 525px;
}

.article {
  text-align: justify;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.button {
  padding: 20px;
  border-radius: 55px;
}

#new-post {
  margin-bottom: 50px;
  font-size: 20px;
  background-color: #333;
  color: white;
}

input {
  background-color: white;
  color: #333;
  padding: 5px;
  font-size: 20px;
  border-radius: 15px;
}

.submit {
  background-color: #333;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px
}

.field {
  margin-top: 20px;
}

.devise-link {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
@media (max-width: 1000px) {
  *, main, h1, h2, img {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    margin-top: 30px;
  }
} */
