@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  background-color: hotpink;
}

.navbar {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  background-color: #7bc6cc;
}

h3 {
  font-family: VT323;
}
