@import "bootstrap-sprockets";
@import "bootstrap";

html {
    overflow-y:scroll;
}

body {
  background-color: #fafafa;
}

.navbar {
  background-color: #FFFFFF;
  min-height: 82px;
  padding-top: 16px;
}

.brand {
  font-family:'Pacifico', cursive;
  font-size: 24px;
  color: black;
  margin-left: 10px;
}

.navbar-brand {
  margin-top: -6px;

  .divider {
    font-size: 32px;
    font-weight: lighter;
  }

  img {
    margin-bottom: 9px;
    margin-right: 10px;
  }
}

a, a:hover {
  text-decoration: none;
  color: #777777;
}

.user-header {
  text-align: center;
  margin: 10px auto;
}

.homepage {
  height: 80vh;
  text-align: center;
}

.sign-in, .sign-up {
  height: 87vh;
  padding-top: 20vh;
  padding-left: 5%;
  width: 40%;
  background-color: #f8f8f8;
}

.image-name {
  float: left;
  padding: 15px 15px 5px 15px;
  color: #000000;
}

.image-time {
  float: right;
  padding: 15px 15px 5px 15px;
}

.image-likes {
  padding: 15px 15px 5px 10px;
}

.image-caption {
  padding: 10px 15px 5px 10px;
}

.image-comment, .image-buttons {
  padding: 0px 15px 0px 10px;
}

.image-profile {
  background-position: center;
  background-size: cover;
}

.user-photos {
  margin-top: 4%;
}
