
 @import "bootstrap";

body {
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  font-family: 'Anton';
}

.caption-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.post {
  text-align: center;
}

.post-divider {
  margin: 40px 0 40px 0;
}

.navbar {
  border: transparent;
  border-radius: 0;
  background: linear-gradient(135deg, #db2bb2 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%);
}

.navbar-default .navbar-brand a {
  color: white;
  font-family: 'Anton';
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-family: 'Dosis';
}

.alert {
  background-color: #d9d9d9;
  text-align: center;
  font-weight: bold;
}

.comments-title {
  font-family: 'Anton';
}

.posts-index {
  margin: auto;
}
