@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.navbar-default {
  background-color: #fff;
  height: 54px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.nav > li {
    position: relative;
    display: block;
    width: 200px;
    font-size: 20px;
    color: #125688;
}

.navbar-brand > img {
    display: block;
    width: 200px;
    height: 70px;
}

.text-center {
  padding: 24px 24px;
  font-size: 15px;
  line-height: 18px;

}
.caption {
  padding: 0px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #337ab7;
}
.error_explanation {
  font-size: 30px;
  font-family: "Apple Chancery", cursive;
  color: #F75DE3;
}

h2{
  color: #F75DE3;
  text-align: center;
  font-size: 45px;
  font-family: "Apple Chancery", cursive;
  font-weight: bold;
}

p {
  color: #F75DE3;
  text-align: center;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


input[type="file"] {
    display: block;
    padding-left: 250px;
}

a {
    color: #337ab7;
    text-decoration: none;
    font-size: 20px;
}

.row {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 0px;
}

.nav{
  margin: 20px;
  padding-top: 0px;
}
.navbar-form {
  margin: 30px;
  margin-left: 0px;
}

img {
  vertical-align: middle;
  width: 350px;
  height: 350px;
  border-bottom: 1px solid #eeefef;
  border-top: 1px solid #eeefef;
}

form {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}
