@import "bootstrap-sprockets";
@import "bootstrap";

.brand {
  font-family:'Pacifico', cursive;
  font-size: 24px;
  color: black;

  img {
    line-height: 24px;
    vertical-align: middle;
  }
}

a {
  text-decoration: none;
}

.user-header {
  text-align: center;
  margin: 10px auto;
}
