/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4f88c2;
  border-radius: 5px;
 }

li.navlink {
    float: right;
}

li#left {
  float: left;
}

li.navlink a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navlink a:hover {
    background-color: #61aaf3;
}


.individual, .post {
  display: inline-block;
  list-style-type: none;
  background-color: #f5faff;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #efefef;
  margin: 20px;
  width: 400px;
  text-align: center;
}

.photo {
  margin-top: 20px;
}

.right {
  float: right;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4f88c2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#photo_image {
    width: 50%;
    background-color: #4f88c2;
    color: white;
    padding: 14px 20px;
    margin: 9px 0 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #61aaf3;
}

.new-photo {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -400px;
}

body {
  background-color: #dfecf8;
  font-family: Arial, Helvetica, sans-serif;
}
