body {
  background-color: rgb(64,189,183);
  font-family: 'Cutive Mono', monospace;
  font-size: 20px;
  color: rgb(254,254,220);
}

#share_picture {
  margin: auto;
  background: rgba(45,115,115,0.6);
  padding: 2px;
  width: 400px;
  border-radius: 8px;
}

#delete_picture {
  margin: auto;
  background: rgba(45,115,115,0.6);
  padding: 2px;
  width: 400px;
  border-radius: 8px;
}

#picture_comments {
  margin: auto;
  background: rgba(45,115,115,0.6);
  padding: 2px;
  width: 400px;
  border-radius: 8px;
}

#photo_frame {
  margin: auto;
  background: rgba(45,115,115,0.6);
  padding: 2px;
  width: 400px;
  border-radius: 8px;
}

#photo {
  margin: auto;
  background-color: rgb(232,230,241);
  padding: 2px;
  border-radius: 8px;
  width: 350px;
  color: rgb(45,115,115);
}

textarea {
   resize: none;
   border-radius: 4px;
   border-color: rgb(254,254,220);
}

.insta_button {
  font-family: 'Cutive Mono', monospace;
  font-size: 20px;
  color: 45,115,115;
  background-color: rgb(232,230,241);
  border: none;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: rgb(232,230,241);
}

.pictures {
  text-align: center
}
