.vh-100 {
  width: 100% !important;
}
.bg_primary-color {
  background-color: #2e2e2e;
}
.primary-color {
  background-color: #2e2e2e;
}
.bg_secondary-color {
  background-color: #2e2e2e;
}
.secondary-color {
  color: #FFF;
}
.custom-button.btn {
  font-family: 'Fira Sans', sans-serif;
  background-color: #8f2834;
  color: #FFF;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.custom-button.btn:hover {
  color: #FFF !important;
  background-color: #b34034;
  border: none;
}
.hero {
  width: 100vw;
  height: 50vh;
}
.hero img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}
.overlay {
  height: 100%;
  width: 100%;
  opacity: 0.4;
}
html {
  background-color: #2e2e2e;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Oxygen', sans-serif;
}
.display-4 {
  color: #FFF;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}
.lead, .text-muted {
  color: #FFF;
  font-family: 'Oxygen', sans-serif;
}
.card-body {
  background-color: #3f3f3f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card {
  border-radius: unset !important;
  border: unset !important;
}
.card-img-top, .card-img {
  border-top-left-radius: unset !important;
  border-top-right-radius: unset !important;
}
.py-5 {
  margin-top: 20px;
}
div {
  background-color: #2e2e2e;
}
.jumbotron {
  background-color: inherit !important;
}
.post-click {
  color: #FFF;
  text-align: center;
}
.post-click:hover {
  color: #dab1c7;
  text-decoration: none;
}
.btn-link {
  color: #FFF;
}
label {
  font-family: 'Fira Sans', sans-serif;
  color: #FFF;
}
input {
  color: #FFF;
  font-family: 'Fira Sans', sans-serif;
  background-color: #3f3f3f;
  border-radius: .25rem;
  margin-right: 10px;
}

/* top bar nav */

.nav .signout {
  float: right !important;
}
.nav {
  margin-bottom: 15px !important;
  display: block !important;
  font-family: 'Fira Sans', sans-serif;
  background-color: #3f3f3f;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav a {
  float: left;
  color: #FFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #8f2834;
}
.nav a:hover, .nav a.active:hover {
  background-color: #b34034;
  color: #FFF;
  text-decoration: none;
}
.nav a.active {
  background-color: #8f2834;
  color: #FFF;
  text-decoration: none;
}
.nav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

/* top bar nav responsive changes */

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav.responsive .signout {
    float: none !important;
  }
}

/* banner doggo */

.bannerImg {
  width: 100%;
  height: auto;
}