/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: 'Palanquin Dark', sans-serif;
  background-color: #FAFAFA;
}

#content {
  margin-left: 33%;
  margin-right: auto;
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 15px;
  font-style: italic;
}

#picture_and_caption {
  width: 500px;
  height: auto;
  border-radius: 25px;
}
