body {
  font-family: "Muli", sans-serif;
  background: #fafafa;
  margin: 0;
}

h1 {
  font-family: "Pacifico", cursive;
  margin-top: 0;
  display: inline-block;
}

header {
  position: relative;
  width: 100%;
  background: #ffffff;
  border-bottom-color: solid 2px #edeeee;
  height: 70px;
  padding-left: 10px;
}

.sign-up, .sign-in, .sign-out {
  position: absolute;
  top: 10px;
  right: 20px;
  display: inline;
  float: right;
  color: #144264;
}

.sign-in {
  right: 100px;
}

header .username {
  position: absolute;
  float: right;
  top: 40px;
  right: 20px;
  color: #144264;
}

.container {
  font-family: ;
  width: 40%;
  margin: auto;
}

ul li {
  list-style-type: none;
  text-align: left;
  margin-left: -30px;
}

a {
  color: #144264;
  text-decoration: none;
}

form {
  padding-top: 30px
}

h4 {
  margin-top: 5px;
  text-align: center;
}

.img_container {
  border: solid 1px #edeeee;
  padding-top: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  background: #ffffff;
}

.img_info {
  margin-left: 10px;
}

img {
  width: 100%;
  height: auto;
}

span .username {
  float: left;
  padding-left: 10px;
}

span .timestamp {
  float: right;
}
