
.bgimage {
  background-image: url('head-background.jpg');
  background-size: cover;
  height: 200px;
}

.contrast {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: white;
}

.btn-small {
  width: 200px;
}