.clear-btn {
  font-family: 'Vibur', cursive;
  background-color:transparent;
  color:#00A8EC;
  width:110px;
  font-size:20px;
  border:1px solid #00A8EC;
  border-radius:7px;
  height:40px;
  margin:0px 10px;
  outline:none;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.clear-btn:hover {
  background-color:#00A8EC;
  color: white;
  border: 1px solid white;
}

.like-button {
  font-size:20px;
  border:none;
  border-radius:5px;
  margin:4px 25px;
  background-color:white;
}

.post-btn {
  font-weight:bold;
  width:50%;
}

.like-button:disabled {
  background-color:lightyellow;
}

.fa-heart {
  color: #ff4dd2;
}
