.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e02020), color-stop(1, #eeff00));
	background:-moz-linear-gradient(top, #e02020 5%, #eeff00 100%);
	background:-webkit-linear-gradient(top, #e02020 5%, #eeff00 100%);
	background:-o-linear-gradient(top, #e02020 5%, #eeff00 100%);
	background:-ms-linear-gradient(top, #e02020 5%, #eeff00 100%);
	background:linear-gradient(to bottom, #e02020 5%, #eeff00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e02020', endColorstr='#eeff00',GradientType=0);
	background-color:#e02020;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:12px;
	padding:5px 10px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eeff00), color-stop(1, #e02020));
	background:-moz-linear-gradient(top, #eeff00 5%, #e02020 100%);
	background:-webkit-linear-gradient(top, #eeff00 5%, #e02020 100%);
	background:-o-linear-gradient(top, #eeff00 5%, #e02020 100%);
	background:-ms-linear-gradient(top, #eeff00 5%, #e02020 100%);
	background:linear-gradient(to bottom, #eeff00 5%, #e02020 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeff00', endColorstr='#e02020',GradientType=0);
	background-color:#eeff00;
}
.myButton:active {
	position:relative;
	top:1px;
}
