// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-comments {
  margin: 10px;
}
.comments-new {
  padding: 10px 0px 10px 10px;
  border-top: 1px solid #efefef;
}
.comments-textArea {
  width: 93%;
}
