// Place all the styles related to the Comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.commenter {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}