// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-container {
  font-family:sans-serif;
  font-style: italic;
  margin-left: 10px;
}

.comment-input {
  width:100%;
  font-size:15px;
  outline:none;
  text-align:center;
}

.comment-input:focus {
  // border:1px solid black;
}
