// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post-view{
  position: relative;
  left:30px;
}
.commenter-name{
  font-family: "Open Sans", sans-serif;
  color: rgb(64, 63, 68);
  font-weight: bold;
  font-size: 14px;
}
.comment-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.post-title {
  font-family: "Open Sans", sans-serif;
  color: rgb(64, 63, 68);
  font-weight: bold;
  font-style: italic;
}