
section#comments {
  background: $colour_three;
  padding-bottom: 5em;
}

.comments {
  text-align: center;
  margin-top: 2em;
  .comment {
    color: $colour_two;
    margin-top: 2em;
    padding-bottom: 2em;
    position: relative;
    &:after {
      position: absolute;
      width: 24%;
      height: 2px;
      left: 38%;
      bottom: 0;
      display: block;
      content: "";
      background: $colour_two;
    }
  }
  p.comment-text {
    font-size: 1.2em;
  }
}
