body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.nav-container li {
  list-style-type: none;
  display: inline;
  margin: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.2em;
  border-radius: 5px;
}

.nav-container li:hover {
  background-color: #c0392b;
}

.nav-container li a:visited {
  color: white;
}

nav {
  width: 100%;
  background-color: #e74c3c;
  margin-bottom: 10px;
  border-bottom: 4px solid #c0392b;
}

.nav-container {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: center;
}

#logo {
  color: white;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}


.profile-container {
  text-align: center;
}

.images img {
  width: 10em;
  display: inline;
  margin: 0 auto;
}

.images {
  width: 32em;
  margin: 0 auto;
}

.flash {
  display: block;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: center;
  background-color: #ecf0f1;
  border-bottom: 2px solid #bdc3c7;
  border-radius: 5px;
  padding: 0.2em;
}

