@import "bootstrap-sprockets";
@import "bootstrap";

@import 'https://fonts.googleapis.com/css?family=Lato:300,400,400i,700';

body {
  font-family: 'Lato', sans-serif;
  background-color: #fbfbfb;
  margin-bottom: 150px;
}

.navbar-default {
  background-color: #fff;
}

a.navbar-brand {
  color: #2c5e88 !important;
  font-weight: 700;
}

.navbar {
  border-radius: 0;
}

.navbar-default {
  border-left: none;
  border-right: none;
}

.navbar-nav > li > a, p, .list-group-item {
  font-weight: 300;
}

.user-email {
  margin-top: 10px;
}

.timestamp {
  color: #777;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 10px;
}
