@import "bootstrap";

  .field_with_errors { @extend .has-error; }
  .alert-notice { @extend .alert-info; }
  .alert-alert { @extend .alert-danger; }
  .round-image-50 {
      background-color: white;
      border: 1px solid #d9d9d9;
      border-radius: 25px;
      -moz-border-radius: 25px;
      -webkit-border-radius: 25px;
      height: 50px;
      width: 50px;
      overflow: hidden;
      text-align: center;
      img { width: 100% }
  }
