@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

// color palette variables
$background-gray: #fafafa;
$border-gray: #dbdbdb;
$pale-green: #b2fcc0;
$basic-green: #38cc5d;
$dark-green: #1fa854;
$text-gray: #928e8e;

/* universal */

body {
  // nav bar fixed to the top by Bootstrap, so this separates main text from the nav bar.
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: $basic-green !important;
  border: none;
  font-family: Arial;
  &:hover {
    background-color: $dark-green !important;
  }
}

// .container {
//   border: 1px solid $border-gray !important;
// }

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: Arial;
}

h1 {
  font-family: 'Handlee';
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $text-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  padding-top: 9px;
  font-weight: bold;
  font-family: 'Handlee';
  &:hover {
    text-decoration: none;
  }
}

.navbar {
  border: 1px solid $border-gray;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $border-gray;
  color: $text-gray;
  font-family: Arial;


  a {
    color: $text-gray;
    &:hover {
      color: $basic-green;
      text-decoration: none;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  } 
}