.devise {
  background-image: url("https://images.futurezone.at/instagram2.jpg/198.170.268");
  background-repeat: no-repeat;
  background-size: 1000px 600px;
  background-position: right top;
  margin-top: 100px;
}

.link-register {
  text-decoration:none;
  color: #444;
  display: block;
  position: relative;
  font: normal 25px arial, sans-serif;
  margin-top: 110px;
  height: 24px;
  margin-left: 20px;
  text-decoration: none;
}

.link-login {
  text-decoration:none;
  color: #444;
  display: block;
  position: relative;
  font: normal 25px arial, sans-serif;
  height: 24px;
  margin-left: 20px;
  text-decoration: none;
}

.field {
  font: normal 18px arial, sans-serif;
  padding-bottom: 10px;
}

.text-field {
  height: 25px;
  width: 200px;
  font-size: .8em;
}

.sign-up {
  margin-left: 20px;
}

.log-in {
  margin-left: 20px;
}

.links {
  text-decoration:none;
  color: #444;
  display: block;
  position: relative;
  font: normal 15px arial, sans-serif;
  height: 2px;
  padding-top: 5px;
  text-decoration: none;
}

.submit-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.link-logout {
  text-decoration:none;
  color: #444;
  display: block;
  position: relative;
  font: normal 25px arial, sans-serif;
  height: 24px;
  margin-left: 20px;
  text-decoration: none;
}

.link-edit-reg {
  text-decoration:none;
  color: #444;
  display: block;
  position: relative;
  font: normal 25px arial, sans-serif;
  margin-top: 110px;
  height: 24px;
  margin-left: 20px;
  text-decoration: none;
}

.remember-me {
  font: normal 14px arial, sans-serif;
}

#main {
  text-decoration:none;
  color: black;
  display: block;
  position: absolute;
  font: normal 15px arial, sans-serif;
  margin-top: 80px;
  margin-left: 20px;
  text-decoration: none;
  font-style: oblique;
}
