.sign-up-main,
.log-in-main
{
  margin: auto;
  width: 100%;
  background-color: #fafafa;
}

.sign-up-form,
.log-in-form
{
  margin: auto;
  width: 40%;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-box-align: stretch;
}

.sign-up-form h2,
.log-in-form h2
{
  text-align: center;
}

.sign-up-form .field input,
.log-in-form .field input
{
  margin: 10px 10px 10px 0px;
  width: 25%;
}

.sign-up-form .field label,
.log-in-form .field label
{
  display: inline-block;
  width: 35%;
  margin-left: 15px;
}

.sign-up-form .actions,
.log-in-form .actions
{
  display: flex;
  justify-content: center;
}

.buttons {
  width: 25%;
  font-size: 200%;
  line-height: 18px;
  margin-left: 15px;
  margin-top: 15px;
}

.shared-links {
  margin: 15px;
}
