.devise-container {
  width: 450px;
  margin: auto;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;

  textarea, input:not([type=checkbox]) {
    width: 100%;
  }

  h2 {
    margin-top: 8px;
  }
}

@media only screen
  and (max-device-width: 480px) {
  .devise-container {
    width: 320px;
  }
}
