.background {
    height: 1000px;
    width: 100%;
    background: url('https://source.unsplash.com/jLwVAUtLOAQ') no-repeat;
    background-size: 100%;
    color: #333;
}

::-webkit-input-placeholder {
    color: #333;
    opacity: 0.8;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.auth-form {
    position: relative;
    top: 280px;
    width: 60%;
    margin: auto;
    padding: 30px;
}

.auth-form h2 {
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 10px;
}

.auth-form section {
    width: 200px;
    margin: auto;
}

.text-input {
    height: 30px;
    background: transparent;
    margin-bottom: 10px;
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid #333;
    font-weight: bold;
    font-size: 1em;
}

.text-input:focus {
    outline-style: none;
}

.btn {
    font-size: 0.9em;
    font-weight: bold;
    padding: 5px, 5px;
    cursor: pointer;
    height: 30px;
    margin-top: 15px;
    border: 1px solid #333;
    border-radius: 3px;
    background-color: #265984;
    color: #fff;
    width: 100%;
}

.auth-form .facebook {
    margin-top: 40px;
    text-align: center;
}

.auth-form .facebook h3 {
    font-size: 1.3em;
}
