// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
}


section.feed {
  margin-left: 120px;
  width: 80%;
}

.post img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  margin-left: 36px;
  margin-top: 36px;
}

.post {
  background-color: #c6c6c6;
}

.post p{
  margin-left: 36px;
  margin-bottom: 36px;
}

.edit a{
  text-decoration: none;
  color: #000;
  font-weight: 600;
  padding-bottom: 3px;
}

p.username {
  font-weight: 600;
}
