// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

section.feed {
  margin-left: 120px;
}

.post img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

