// Place all the styles related to the Feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a {
 color: black;
 background-color: white;
 padding: 6px;
 border-color: white;
 border-style: solid;
 border-radius: 2px;
 text-decoration: none;
 margin-right: 10px;
}
