// Place all the styles related to the Feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.feed-header {
  background: #fff;
  padding: 1em;
  margin-bottom: 1em;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.feed-header ul {
  display: flex;
  list-style: none;
  padding: 0;
  height: 6em;
  overflow-y: auto;
}

.feed-header ul li {
  display: inline-block;
  padding: 1em;
}

.feed-header ul li:hover {
 background-color: #fafafa;
}
