.greyscale {
  filter: grayscale(100%);
 }

 .super_bright {
   filter: brightness(300%);
 }

 .sepia {
   filter: sepia(100%)
 }

 .saturate {
   filter: saturate(200%)
 }

 .blur {
   filter: blur(2px)
 }

 .invert {
   filter: invert(100%)
 }

 .contrast {
   filter: contrast(200%)
 }

 .colourise {
   filter: hue-rotate(180deg)
 }
