.form-login { 
  border: solid;
  border-width: thin;
  border-color: lightgrey;
  text-align: center;
  margin: auto;
  margin-top: 80px;
  width: 350px;
  padding-bottom: 20px;
  background-color: white
}

.form-horizontal {
  margin-bottom: 20px
}


form input[type=submit] {
  background-color:#3399ff;
  border: none;
  width: 155px;
  height: 25px;
  border-radius: 4px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px
}

h2 {
  font-family: Brush Script MT;
  font-size: 300%
}


h4 {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid lightgrey; 
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: lightslategrey
} 

h4 span { 
   background:#fff; 
   padding:0 10px;
}

a {
  text-decoration: none;
}

.field {
  border-color: lightslategrey;
}



