.sign-up-form {
  background-color: #ffffff;
  display:block;
  width:350px;
  margin:50px auto;
  border:1px solid deepskyblue;
  border-radius: 25px;
}

.form-text input {
  display:block;
  margin:20px auto;
  font-size:28px;
  border:1px solid #00A8EC;
  border-radius:15px;
  padding:0 10px;
  text-align:center;
  outline:none;
}

.form-header {
  font-size:50px;
  color: #00A8EC;
  margin-bottom:20px !important;
}

.file-upload {
  background-color:#ccf5ff;
  color:white;
  text-shadow:1px 1px 1px #000000;
  border:1px solid #00A8EC;
  width:90%;
  border-radius:15px;
  font-size:30px;
}

.upload {
  color:#000000;
}

.submit-field {
  margin:15px 0px;
}
