body {
  font-family: 'Raleway', sans-serif;
}

/*  FORMS   */

form {
  padding: 40px;
  background-color: white;
  border-radius: 6px;
  border-right: 1px #808080 solid;
  border-bottom: 1px #808080 solid;
  border-top: 1px #e9e9e9 solid;
  border-left: 1px #e9e9e9 solid;
  font-size: 1.03em;
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    textarea {
      height: 150px;
      border: 2px solid #ccc;
      background-color: #f8f8f8;
      resize: none;
    }
  }
}

.button_styled {
  font-size: 1.03em;
  background-color: white;
  border-right: 1px #808080 solid;
  border-bottom: 1px #808080 solid;
  border-top: 1px #e9e9e9 solid;
  border-left: 1px #e9e9e9 solid;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
  margin: 5px 3px 5px 0;
  cursor: pointer;
}

/* Other bits of Styling */

/* Photo feed */

a#add_photograph {
  margin: 10px 0;
  text-align: centre;
}
.photographs_feed {
  .feed_image {
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 20px;
    margin: 10px 0;
  }
  .caption {
    text-align: centre;
    font-size: 1.03em;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
  }
}

/* Notices and Alerts */
div.alert {
  text-align: center;
  margin: 5px 0;
}
