

$colour_one: #909493;
$colour_two: #F9F6EF;
$colour_three: #FF4E50;


body {
  background: $colour_two;
}

header#masthead {
  width: 100%;
  padding: 3em 0;
  background: $colour_two;
  h1 {
    font-family: "industry-inc-3d";
    font-size: 4em;
    text-transform: lowercase;
    text-align: center;
    color: $colour_three;
    letter-spacing: 0.25em;
  }
  nav {
    text-align: center;
    a {
      text-transform: uppercase;
      color: $colour_one;
    }
  }
}
