$col-blue: rgba(58, 142, 179, 1);
$col-light: rgba(216, 219, 226, 1);
$col-light-grey: rgba(169, 188, 208, 1);
$col-charcoal: rgba(55, 63, 81, 1);
$col-black: rgba(27, 27, 30, 1);

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: $col-black;
  color: $col-light;
}

input {
  font-family: 'Source Sans Pro', sans-serif;
}

.form-control {
  transition: 0.5s ease;
}
