

$colour_one: #909493;
$colour_two: #F9F6EF;
$colour_three: #FF4E50;


body {
  background: $colour_two;
}

input[type="submit"] {
  background: none;
  border: 2px solid $colour_three;
  color: $colour_three;
  text-transform: uppercase;
  font-size: 1em;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  &:hover {
    background: $colour_three;
    color: $colour_two;
  }
}

a {
  color: $colour_three;
  &:hover {
    color: $colour_two;
  }
  &:visited, &:focus {
    color: $colour_three;
  }
}

span.sep {
  color: $colour_three;
  margin: 0 0.2em;
}

.shared-links {
  margin-top: 2em;
}

header#masthead {
  width: 100%;
  padding: 3em 0;
  background: $colour_two;
  position: relative;
  h1 {
    font-family: "industry-inc-3d";
    font-size: 4em;
    text-transform: lowercase;
    text-align: center;
    color: $colour_three;
    letter-spacing: 0.25em;
  }
  .user-details {
    position: absolute;
    top: 1em;
    right: 1em;
    color: $colour_three;
  }
  nav {
    text-align: center;
    a {
      text-transform: uppercase;
      color: $colour_one;
    }
  }
}

section#messages {
  padding: 1.5em 0 1em;
  background: $colour_three;
  text-align: center;
  p {
    color: $colour_two;
    font-size: 1.2em;
  }
}

footer#colophon {
  padding: 3em 0 1em;
  background: #444;
  text-align: center;
  .site-info {
    border-top: 2px solid $colour_two;
    padding-top: 1em;
    p {
      color: $colour_two;
      margin-bottom: 0.5em;
      a {
        color: $colour_two;
      }
    }
  }

}
