// Place all the styles related to the Grams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  text-align: center;
}

.gram {
  margin: 10px 0;
  border: 2px solid black;
}

.gram-image-div {

}

.gram-image {
  height: 300px;
}

.gram-body-div {
  border-top: 2px solid black;
}
