*, *:after, *:before {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.grid {
 width: 100%;
 height: 100%;

}
[class*='col-'] {
 float: left;
}

/*  CLEARFIX  */
/*```````````*/
.grid:after {
 content: "";
 display: table;
 clear: both;
}

/*  GUTTERS   */
/*```````````*/
[class*='col-'] {
 padding-right: 0px;
}

/*   WIDTHS   */
/*```````````*/
.col-1-3 {
 width: 33%;
}

.col-2-3 {
 width: 66%;
}


/*  HEIGHTS   */
/*```````````*/
