*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.grid {
  width: 100%;
  height: 100%;
}
[class*='col-'] {
  float: left;
}

/*  CLEARFIX  */
/*```````````*/
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/*  GUTTERS   */
/*```````````*/
[class*='col-'] {
  padding-right: 20px;
}


/*   WIDTHS   */
/*```````````*/
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
