header {
  text-align:center;
  background-color: red;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 10000000000;
}

table.center {
  height: 10px;
  margin:auto;
}

th.logo {
  line-height: 0px;
}
