// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form-upload {
  border: 1px solid black;
  height: auto;
  margin: auto 160px;
  padding: 30px;
  border-radius: 3px;

  input[type='text'] {
    width: 100%;
  }
}

.posts {
  margin: 50px 180px 10px;

  .post {
    border: 1px solid red;
    margin: 60px 0;
    border-radius: 3px;

    .user {
      border-bottom: 1px solid red;
      display: flex;

      .profile-pic {
        width: 30px;
        margin: 8px;

       img {
         width: 100%;
         border: 1px solid red;
         border-radius: 50%;
       }
      }

      .username {
        padding-top: 13px;
        color: black;
        font-size: 14px;
        font-weight: 600;
      }
    }

    .main-image {
      width: 100%;
      border-bottom: 1px solid black;
    }

    .description {
      padding: 20px;
    }
  }
}