// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  
  .wrapper {
    min-height:100%;
    margin-top: 5vh;
  }
  
  .wrapper, .article {
    flex-grow: 1;
    justify-content: center;
    -webkit-box-flex: 1;
      -moz-box-flex: 1;
    -webkit-box-pack: center;
      -moz-box-pack: center;
  }
  
  .article {
    flex-direction: row;
    margin:0 auto;
    max-width: 935px;
    width:100%;
    -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
      -moz-box-direction: normal;
    display: flex;
    justify-content: center;
  }
  
  .content {
    color:#262626;
    flex-grow:1;
    justify-content: center;
    max-width: 350px;
    margin-top:12px;
    -webkit-box-pack: justify;
      -moz-box-pack: justify;
    -webkit-box-flex: 1;
      -moz-box-flex: 1;  
  }
  
  .login-box {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin:0 0 10px;
    padding: 10px 0;
    /* align-items: center; */
  }
  
  .header {
    margin: 14.45px auto 12px;
    display: flex;
    justify-content: center;
  }
  
  
  .box-logo {
      color: black;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    -moz-box-direction: normal;
    -webkit-box-direction: normal;
  }
  
  .input-box {
    margin:auto 40px 6px;
  }
  
  input {
    height: 36px;
    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: #fafafa;
    width:100%;
    font-size:12px;
    margin: 0;
    padding: 9px 0 7px 8px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
  }
  input#name:focus, input#password:focus {
    border-color:#bbb;
  }
  
  .button-box {
    display: block;
    position: relative;
    margin: 8px 40px;
  }
  .btn-login {
    cursor: pointer;
    width: 100%;
    padding:0 8px; 
    background: #3897f0;
    border:1px solid #3897f0;
    color:#fff;
    border-radius:3px;
    font-weight:600;
    font-size: 14px;
    height: 28px;
    line-height: 26px;
    outline: none;
    white-space: nowrap;
  }
  
  .forgot, .forgot:active, .forgot:hover, .forgot:visited {
    font-size:12px;
    margin-top:12px;
    text-align: center;
    color:#003569;
    line-height: 14px!important;
  }
  
  .text {
    text-align:center;
    margin:15px;
    color:#262626;
    font-size:14px;
  }
  
  .text a, .text a:visited, .text a:hover, .text a:active {
    color:#3897f0;
    margin-left:3px;
  }
  