// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  width: 600px;
  margin: auto;
  background-color: #eff3f6;
  font-family: Helvetica;
  color: #3f729b;
}

.ind_picture {
  border: solid #c9c9c9 1px;
  width: 600px;
  margin: 20px;
  background-color: white;
}

.img_head {
  height: 60px;
  font-size: 1em;
  line-height: 50px;
}

#img_head_username {
  height: 30px;
  margin-left: 50px;
  line-height: 30px;
}

#img_head_title {
  height: 30px;
  margin-left: 50px;
  line-height: 30px;
  color: #1ca0de;
}

.comments_and_likes {

}

.likes {
  height: 50px;
  line-height: 50px;
}
