// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage-circle {
  width: 400px;
  height: 400px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
}
