// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.posts{
  margin: 50px 180px 10px;
  .post{
    border: 1px solid #efefef;
    margin: 60px 0;
    border-radius: 3px;
    .user{
      border-bottom: 1px solid #efefef;
      display: flex;
      .avatar{
        width: 30px;
        margin: 8px;
        img{
          width: 100%;
          border: 1px solid #efefef;
          border-radius: 50%;
        }
      }
      .username{
        padding-top: 13px;
        color: #262626;
        font-size: 14px;
        font-weight: 600;
      }
    }
    .main-image{
      width: 100%;
      border-bottom: 1px solid #f4f4f4;
    }
    .description{
      padding: 20px;
    }
  }
}