.image-container {
  border-radius: 0.2rem;
  background-color: $col-light;
  color: $col-black;
  h5 {
    margin-bottom: 0;
    font-weight: bold;
  }
  hr {
    margin: 0.5rem 1rem;
  }
}

.image-description {
  margin-bottom: 0;
}

.new-comment-field {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: inherit;
  border: none;
}

.comments-list {
  padding-left: 0;
  li {
    list-style: none;
  }
}

.user-name {
  font-weight: bold;
}
