// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  width: 80%;
  font-family: 'Roboto', sans-serif;
}

section.feed {
  margin-left: 120px;
  width: 80%;
}

.post img {
  max-height: 80%;
  object-fit: cover;

}

.post {
  width: 50%;
  margin-bottom: 32px;
}

.post p{
  margin-left: 36px;
  margin-bottom: 6px;
}

.edit a{
  text-decoration: none;
  color: #000;
  font-weight: 600;
  padding-left: 36px;
  padding-bottom: 3px;
}

p.username {
  font-weight: 600;
}

.edit-delete {
  margin-left: 36px;
}

.caption textarea{
  margin-top: 16px;
  width: 30%;
  height: 48px;
  resize: none;
}

#image_image {
  background-color: white;
}

.pointer {
  cursor: pointer;
}