// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #F8F8FF;
  text-align: center;

#images{
  text-align:center;
  width: 70%;
  margin-bottom: 50px;
}

.image{
  text-align: center;
  background-color: #FFFFFF;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-left: 40%;
  border-style: groove;
}

#header{
  text-align:center;
}
#comment{
  width:50%;
  border-top: solid;
  border-top-width: thin;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

#submit_comment{
  display: none;
}
input[type=submit]{
  width: 101px;
  height: 39px;
  background-image:url()
}
}
