.new_post{
  border: 1px solid #dbdbdb;
  height: auto;
  margin: auto 160px;
  padding: 30px;
  border-radius: 3px;
  input[type='text']{
    width: 100%;
  }
}

.posts{
  margin: 50px 180px 10px;
  .post{
    border: 1px solid #efefef;
    margin: 60px 0;
    border-radius: 3px;
    .comment{
      margin-left: 20px;
    }
    .user{
      display: flex;
      .avatar{
        width: 30px;
        margin: 8px;
        img{
          width: 100%;
          border: 1px solid #efefef;
          border-radius: 50%;
          
        }
      }
      .username{
        padding-top: 13px;
        color: #262626;
        font-size: 14px;
        font-weight: 600;
      }
    }
    width: 100%;
    .main-image{
      width: 100%;
      max-height: 500px;
      border-bottom: 1px solid #f4f4f4;
      object-fit: cover;
    }
    .description{
      padding: 20px;
    }
  }
}

.new_comment{
  display: flex;
}