nav {
    position: fixed;
    height: 65px;
    width: 100%;
    background-color: #265984;
    z-index: 1;
}

nav ul {
    padding-top: 24px;
    list-style: none;
    background-color: #265984;
}

nav li {
    float: right;
    margin-right: 20px;
}

nav li a {
    text-decoration: none;
    color: #fff;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

footer {
    height: 50px;
}

