body {
    background-color: #E3E3E4;
}

.navbar {
  background-color:white;
  color:#40589D;
  margin-top:-22px;
  margin-right:-7px;
  margin-left:-7px;
}

#title {
  text-align:center;
  margin-bottom: -30px;
  padding-top: 7px;
}

#session {
  text-align:right;
}

#images {
  margin-bottom: 20px;
  text-align:center;
  background-color: white;
  border-radius: 25px;
  border: 2px solid #40589D;
  padding: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#addimages {
  padding-top: 10px;
}

#comments {
  text-align: left
}

#addcomment {
  text-align: right
}

#addImageForm {
  text-align: center;
}
