.brand {
  width: 24%;
}
.instagram-container {
  border: 1px solid #d3d3d3;
  background-color: white;
}
#image {
padding: 10px;
}
#username {
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;
}
#imagecontainer {
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;
}
body {
  background-color: #F7F7F7;
}
