.brand {
  width: 24%;
}
.instagram-container {
  padding: 0;
  border: 1px solid #d3d3d3;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 30px;
}
#image {
  width: 100%;
  padding: 0;
}
#username {
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;
}
#imagecontainer {
  padding: 0;
  border-bottom: 1px solid #d3d3d3;
}
.imagecontainer {
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;
}
body {
  background-color: #F7F7F7;
}
#search {
  text-align: center;
  border-radius: 15px
}
a:hover.likes-link {
  text-decoration: none;
}
a:visited.likes-link {
  text-decoration: none;
}
a:active.likes-link {
  text-decoration: none;
}
a:link.likes-link {
  text-decoration: none;
}
