.likes{
  margin: 7px 0;
  font-weight: 600;
}
.like{
  display:inline-block;
  height:26px;
  text-indent:-9999px;
  width: 30px;
  padding: 4px;
}

.empty-like {
    background: url('empty-like.png') no-repeat center center;
}

.full-like {
    background: url('full-like.png') no-repeat center center;
}
