// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .message-div {
   background-color: Lavendar;
   margin-bottom: 30px;
   border-style: solid;
   font: 25px courier;
   padding: 5px;
 }

 .message-date {
   color: gray;
 }

.like-button {
  color: BurlyWood;
  background-color:  #4D5656; /* Green */
  border: none;
  display: inline-block;
  font-size: 16px;
  font: 25px courier;
}
