// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  min-height: 100%;
  position: relative;
}
footer {
  color: pink;
  bottom: 0;
  height: 80px;
  position: absolute;
  left: 0;
  right: 0;
}
