#login_text{
  font-size: 45px;
}

#login_box{
  padding-top: 300px;
}

#forgot_password{
  padding-top: 280px;
}


#email_address{
  font-size: 20px;
}

#password{
  font-size: 20px;
}

#login_button{
  background: rgb(150, 200, 250);
  border-color: rgb(150, 200, 250);
  font-size: 20px;
  border-radius: 8px;
  font-size: 20px;
  width: 130px;
}

#login_button:hover{
  border-radius: 8px;
  font-size: 20px;
  color: white;

}

#images{
  position: relative;
  height: 500px;
  weight: 500px;
}

#images img{
  position:absolute;
  left: 10px;
}

@-webkit-keyframes imgFade{
  0%{
    opacity: 1;
  }


  25%{
    opacity: 0;
  }

  92%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@-moz-keyframes imgFade{
  0%{
    opacity: 1;
  }


  25%{
    opacity: 0;
  }

  92%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@-o-keyframes imgFade{
  0%{
    opacity: 1;
  }



  25%{
    opacity: 0;
  }

  92%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@keyframes imgFade {
  0%{
    opacity: 1;
  }



  25%{
    opacity: 0;
  }

  92%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

#images img{
  -webkit-animation-name: imgFade;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;

  -moz-animation-name: imgFade;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 10s;

  -o-animation-name: imgFade;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 10s;

  animation-name: imgFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

#images img:nth-of-type(1){
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  animation-delay: 8s;
}

#images img:nth-of-type(2){
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}

#images img:nth-of-type(3){
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}

#images img:nth-of-type(4){
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}

#images img:nth-of-type(5){
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
