body.login{
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/41HAzhwzGxL.jpg");
  background-repeat: no-repeat;
  background-size: 800px;

}

#login_text{
font-family: "SofiaRegular";
font-weight: bold;
font-style: italic;
  font-size: 45px;
}

#login_box{
  padding-top: 280px;

}

#forgot_password{
  padding-top: 280px;
}



#email_address{
  font-size: 15px;
}

#password{
  font-size: 15px;
}

#login_button{
  font-family: "SofiaRegular";
  font-weight: bold;
  font-style: italic;
  background: rgb(150, 200, 250);
  border-color: rgb(150, 200, 250);
  font-size: 20px;
  border-radius: 8px;
  font-size: 20px;
  width: 130px;
}

#login_button:hover{
  font-family: "SofiaRegular";
  font-weight: bold;
  font-style: italic;
  border-radius: 8px;
  font-size: 20px;
  color: white;

}

#image img{
position:absolute;
right: 400px;
}
