#logo {
  height: 50px !important;
  width: 50px !important;
}

#upload-profile {
  cursor: pointer;
}

#upload-profile-txt {
  padding: 10px 0 0 10px;
  color: #3897f0;
}

#upload-form {
  display: none;
}

.glyphicon-heart {
  color: red;
}

.glyphicon-heart-empty {
  color: grey;
  border: 1px;
}

.comment-form {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.modal-comments {
  width: 270px;
  height: 168px;
  overflow: auto;
}

.modal-right {
  float: right;
  width: 270px;
  height: 500px;
}

#heart {
  font-size: 50px;
  padding-bottom: 25px;
}

#comment_message {
  border: none;
  resize: none;
  outline: none;
}

.post_caption {
  display: none;
}

.img-circle {
  height: 100px !important;
  width: 100px !important;
}

.user-profile {
  text-align: center;
}

.user-profile > form > input[type=file] {
  margin: 0 auto;
}

#groups {
  margin-bottom: 20px;
  height: 293px;
}
