body {background: #1C1C1C}

.navbar {
  margin-bottom: 0;
}

.center {
    margin: auto;
    width: 60%;
    border:3px solid #73AD21;
    padding: 10px;
    color: #FF9933;
}

#footer {
    position:absolute;
    bottom: 0px;
    right: 0px;
    margin: 0px 50px 0px 0px;
    text-align: right;
    padding: 10px 30px;
}

.comments {
  margin: auto;
  width: 100%;
  border:1px solid #262626;
  padding: 10px 0px;
  color: #cccccc;
  font-size: 75%;
  list-style-type: none;

}

.likes_count {
  list-style-type: none;
}
