body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(41, 41, 41) !important;
}

.img-rounded {
  border-radius: 18px !important;
  width: 75%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top:20px;
  margin-bottom:10px;
}

.postbox {
  border: solid 2px black;
  background-color: rgb(251, 251, 251);
  margin: 4% 30% 4% 30%;
  text-align: center;
}

.solo-pic {
  text-align: center;
  margin: 3% 10% 10% 5%;
}

.comments-index {
  width: 75%;
  text-align: left;
  margin: 0% 0% 0% 12.5%
  // border-bottom: dotted rgb(175, 175, 175) 2px;
  // padding-bottom: 3px;
}

.user-email {
  // text-decoration: underline;
  font-weight: bold;
}

.big-captions {
  font-weight: bold;
  font-style: italic;
}

.center-button {
  text-align: center;
  margin: 0;
}

.button {
  display: inline-block;;
}

.link {
  color:white;
}

#logged_in_as {
  background-color: #f9f9f9;
  // font-weight: bold;
  color: #777;
  width: 96%;
  margin: 20px;
  border-radius: 8px;
  padding: 1px 0px 7px;
  width: 96%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
}
