@import "comments.scss";
@import "posts.scss";

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/// HEADER

.topbar {
    background-color: skyblue;
    margin-bottom: 1%;
}

h1 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0;
    text-align: center;
    color: #e8e84a;
    font-family: "Julee", sans-serif;
    font-size: 4vw;
    cursor: pointer;
}

h1 a {
  text-decoration: none;
  color: #e8e84a;
}

nav.links {
    position: static;
}

ul.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

ul.links li {
  float: right;
}

ul.links a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.links li.left {
  float: left;
}

/// HEADER

.content {
    max-width: 90%;
    margin: auto;
}

a {
    display: block;
    color: #666;
    /* text-align: center; */
    padding: 8px 10px;
    text-decoration: none;
}