body {
  font-family: Poppins;
  background-color: #fafafa;
}

.container {
  text-align: center;
  width: 700px;
}

.posts {
  -moz-box-shadow: 0 0 2px black;
  -webkit-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
}

p.caption {
  font-family: Permanent Marker;
  font-size: 30px;
}

p.username {
  font-family: Permanent Marker;
  font-size: 20px;
}

a.navbar-brand {
  font-family: Lobster Two;
  font-size: 30px;
}

span.glyphicon.glyphicon-heart {
  position: relative;
  font-size: 20px;
  padding: 2px;
  color: #fafafa;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

span.glyphicon.glyphicon-heart:hover {
  color: Red;
}
