
div.top-padding {
  padding-top: 140px
}

body {
  font-family: 'PT Sans', sans-serif;
  margin: auto;
  position: relative;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 90px;
  font-weight: bold;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 80px;
  font-weight: bold;
}

h3 {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  line-height: 0px;
}

p {
  font-size: 18px;
}

.gradient {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, red, yellow); /* Standard syntax */
}

input {
  width: 20%;
  line-height: 25px;
  font-size: 13px;
}
