html {
  height: 100%;
  font-family: 'Cookie', cursive;
}

body {
  height: 100%;
}

/*===== Application View =======*/

.notice {
  text-align: center;
}

.alert {
  text-align: center;
}

/*===== General View =======*/

.section {
  margin: 0 auto;
  width: 50%;
  vertical-align: 50%;
}

.thumbnail {
  display: inline-block;
  margin: 0 auto;
  background-color: red;
}

/*===== Log in View =======*/
.instagram-logo {
  margin: 0 auto;
  width: 65%;
  margin-top: 2em;
}

.instagram-logo img {
  width: calc(100% - 25px);
}


.Log-in-Form {
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  display: inline;
  vertical-align: 50%;
}

.Log-in-Form form {
  font-family: 'Cookie';
  font-size: 1.5em;
}

.Log-in-Form input {
  font-family: 'Cookie';
  border: 1px solid #F8F9FA;
  padding: 12px 15px 12px 15px;
  margin-bottom: 15px; 
  background-color: transparent;
  font-size: 1em; 
  border-radius: 4px; 
  text-align: left;
  color: #16a085;
}

.Log-in-Form input:focus {
  outline: none;
  border-color: white;
  opacity: 1;
  color: #2c3e50; 
}

.Log-in-Form ::-webkit-input-placeholder {
  color: #16a085;
  text-align: left;
}

.Render-Links {
  clear: both;
  margin: 0 auto;
  text-align: center;
  margin-top: 1em;
}

/*===== Main Page View =======*/

#Main-Page-Photos {
  font-family: 'Cookie';
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
  margin-top: 1em;
  width: 20%;
}

#Photo-Section {
  border: 1px solid black;
  border-radius: 20%;
  margin-top: 1em;
}

#link-for-new-pics {
  font-family: 'Cookie';
  font-size: 1.5em;
  clear: both;
  text-align: center;
  margin: 0 auto;
  margin-top: 2em;
}

/*===== New Picture Page =======*/

.Add-a-Picture-Form {
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  display: inline;
  vertical-align: 50%;
}

.Add-a-Picture-Form form {
  font-family: 'Cookie';
  font-size: 1.5em;
  text-align: center;
}


/* Small devices (tablets, 768px and up) */
/*@media (min-width: @screen-sm-min) { ... }*/

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: @screen-md-min) { ... }*/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: @screen-lg-min) { ... }*/