html {
  height: 100%;
}

body {
  height: 100%;
}

/*===== Application View =======*/

.notice {
  text-align: center;
}

.alert {
  text-align: center;
}

/*===== General View =======*/

.section {
  margin: 0 auto;
  width: 50%;
  vertical-align: 50%;
}

.thumbnail {
  display: inline-block;
  margin: 0 auto;
  background-color: red;
}

/*===== Log in View =======*/
.instagram-logo {
  margin: 0 auto;
  width: 65%;
  margin-top: 2em;
}

.instagram-logo img {
  width: calc(100% - 25px);
}


.Log-in-Form {
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  /*height:100%;*/
  /*background-color: red;*/
  display: inline;
  vertical-align: 50%;
}

.Log-in-Form form {
  padding: 1em;
}

/*form {
  width: 50%;
}*/

/*.image {
  margin: 0 auto;
  width: 49%;
  vertical-align: 50%;
  display: inline-block;
}

.image img {
  margin: 0 auto;
  vertical-align: 50%;
  height: 300px;
  width: 300px;
}*/

.Render-Links {
  clear: both;
  margin: 0 auto;
  text-align: center;
  margin-top: 1em;
}

/*===== Main Page View =======*/

#Main-Page-Photos {
  text-align: center;
  margin: 0 auto;
}

#link-for-new-pics {
  clear: both;
  text-align: center;
  margin: 0 auto;
  margin-top: 2em;
}

/* Small devices (tablets, 768px and up) */
/*@media (min-width: @screen-sm-min) { ... }*/

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: @screen-md-min) { ... }*/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: @screen-lg-min) { ... }*/