/*  NAVIGATION   */

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    li.right {
      float: right;
      padding-top: 10px;
    }
    li {
      float: left;
      padding: 0;
      .active {
        background-color: white;
      }
      a.logo {
        padding: 5px;
      }
      a {
          display: block;
          color: black;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          :hover:not(.active) {background-color: white;}
      }
    }
}
.logo {
  font-size: 2em;
  font-family: 'Nothing You Could Do', cursive;
  img {
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 600px){
    ul.nav li.right,
    ul.nav li {float: none;}
}
