/*  NAVIGATION   */

.logo {
  font-size: 1.67em;
  font-weight: bold;
  // font-family: 'Oswald', sans-serif;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    // font-family: 'Raleway', sans-serif;
}

.nav ul li {float: left;}

.nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav ul li a:hover:not(.active) {background-color: white;}

.nav ul li .active {background-color: white;}

.nav ul li.right {float: right;}

@media screen and (max-width: 600px){
    ul.nav li.right,
    ul.nav li {float: none;}
}
