nav {
  width: 100%;
  height: 60px;
  background: white;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #edeeee;
  text-align: center;
  font-weight: bold;
  min-width: 1200px;
  padding-top: 20px;
}

#nav-elements {
  width: 60%;
  position: absolute;
  left: 18%;
}

.nav-inline {
  margin-left: 20px;
}

#jinstagram {
  font-family: "Clicker Script", "Cookie";
  font-size: 30px;
  margin-right: 150px;
}

.nav-inline {
  display: inline;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #125688;
}

a:hover {
  color: #0a3351;
}
