nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

nav a{
  text-decoration: none;
  font-weight: bold;
  color: #000;
  margin-right: 6px;
  padding-bottom: 3px;
  border-bottom: solid 3px #fff;
  transition: border 0.3s ease;
}

nav a:hover {
  border-bottom: solid 3px #000;
  background-color: #fff;
  color: #000;
}

.logo:hover  {
  border-bottom:none;
}