// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index {
	.panel-heading {
		padding: 0;
	}
	.photo_image {
		img {
			max-width: 100%;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		h1 {
			margin: 0 0 10px;
			color: #529ECC;
			font-weight: bold;
		}
		.description {
			color: #253567;
			font-weight: bold;
			line-height: 1.75;
			margin: 0;
			text-align: center;
		}
	}

  .panel-footer {
   padding: 20px 25px;

	 p {
			margin: 0;
		}

		.user {
			font-weight: bold;
			padding-top: 2px;
			text-align: center;
		}
	}
}

textarea {
  min-height: 250px;
}
