/* copied from https://pusher.com/tutorials/photo-sharing-ruby-rails */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v8/o-0OIpQlx3QUlC5A4PNr4ARCQ_mu72Bi.woff2) format('woff2');
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uploads{
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}
.images{
  .post{
      width: 500px;
      border-radius: 10px;
      border: 1px solid rgb(214, 210, 210);
      margin-bottom: 20px;
  }
}
.post-image{
  width: 100%;
}
.post-caption{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 20px;
  font-family: 'Noto Sans';
  font-style: italic;
  font-size: 1rem;
}
.likes-text {
  font-style: normal;
  font-size: 0.6rem;
}
.uploads{
  display: flex;
  justify-content: space-between;
}
input[type="submit"]{
  background-color: #333333;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.likes {
  position: relative;
  height: 50px;
  width: 60px;
}

.likes:before,
.likes:after {
  position: absolute;
  content: "";
  width: 25px;
  height: 40px;
  top: 2px;
  background: rgb(226, 91, 91);
  border-radius: 15px 15px 0 0
}

.likes:before {
  left: 25px;
  transform: rotate(-45deg);
  transform-origin: 0 100%
}

.likes:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%
}