// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 40px;
}

.photo-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 10px;
  background-color: #fafafa;
  color: #444;
}

.single-photo {
  background-color: #fff;
}

.single-photo img {
  width: 100%;
  height: 100%;
}

.single-photo:hover {
  opacity: 0.5;
}

.show-photo-view {
  display: grid;
  grid-template-columns: 500px 300px;
  grid-gap: none;
  background-color: #fafafa;
  color: #444;
}

.show-photo-box {
  background-color: #fff;
  position: relative;
}

.show-photo-box img {
  width: 100%;
  height: 100%;
}

.show-photo-box h3 {
  margin: 0.2em;
}

.show-photo-box p {
  margin: 0.5em;
}

.photo-comment-form form {
  display: flex;
  padding-top: 0.5em;
  border-top: 1px solid #999;
  margin: 0.5em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.photo-comment-form input {
  display: inline-block;
  border: none;
  background: #fafafa;
  margin: 0;
  width: 10%;
  height: 100%;
  padding: 0.5em;
}

.photo-comment-form textarea {
  display: inline-block;
  border: none;
  background: #fafafa;
  margin: 0;
  width: 90%;
  height: 2.5em;
  padding: 0.5em;
}

.photo-comments {
  height: 14em;
  overflow-y: auto;
  word-wrap: break-word;
}

.photo-comments ul {
  list-style: none;
  padding: 0.5em;
}

.photo-likes {
  position: absolute;
  left: 0.5em;
  bottom: 4em;
}

.photo-likes form {
  border: none;
  position: relative;
  display: inline-block;
  margin: 0;
}

.photo-likes input[type="submit"] {
  border: none;
  display: inline-block;
  background:url(like.png);
  height: 16px;
  width: 18px;
  box-shadow: none;
  margin: 0.5em;
  padding: 0.2em;
  background-repeat: no-repeat;
  background-position: center;
}

.photo-likes input[type="submit"]:active {
  vertical-align: top;
  padding-top: 1px;
}

.photo-likes p {
  font-size: 16px;
  display: inline-block;
  padding: 0.2em;
}
