/* copied from https://pusher.com/tutorials/photo-sharing-ruby-rails */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v8/o-0OIpQlx3QUlC5A4PNr4ARCQ_mu72Bi.woff2) format('woff2');
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uploads{
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}
.images{
  .post{
      width: 500px;
      border-radius: 10px;
      border: 1px solid rgb(214, 210, 210);
      margin-bottom: 20px;
  }
}
.post-image{
  width: 100%;
}
.post-caption{
  padding-left: 20px;
  font-family: 'Noto Sans';
  font-style: italic;
  font-size: 1rem;
}
.uploads{
  display: flex;
  justify-content: space-between;
}
input[type="submit"]{
  background-color: #333333;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}