// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.Post {
  display: flex;
  flex-direction: column;
  padding: 0.3em;
  margin: 0.1em;
}
.Post img {
  width: 400px;
  margin: 0 auto;
}
.post_options {
  margin: 0.5em;
}

#create_post {
  max-width: 100px;
  margin: 0 auto;
}

.break {
  margin: 0;
}

.photo_link {
  width: 400px;
  margin: 0 auto;
}

#new_post_from {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

#new_post_from input {
  margin: 0.4em auto;
}
