// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
}

.photo_container {
  text-align: center;
  max-width: 60%;
  background-color: #fff;
  margin: auto;
  border-radius: 0.2px;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.photo_header {
  padding: 10px;
  vertical-align: middle;
}

.photo_body {
  max-width: 100%;
}

.comment_container {
  padding: 10px;
  text-align: left;
}

.comment_header {
  text-align: right;
}

.comment_body {
  padding: 4px;
}
