// Place all the styles related to the Photo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uploads{
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}
.images{
    .post{
        width: 500px;
        border-radius: 10px;
        border: 1px solid rgb(214, 210, 210);
        margin-bottom: 20px;
    }
}
.post-image{
    width: 100%;
}
.post-caption{
    padding-left: 20px;
}
.uploads{
    display: flex;
    justify-content: space-between;
}
input[type="submit"]{
    background-color: #333333;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
