// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.likes-link {
  text-decoration: none;
  color: black;
}

#comment_bubble {
  text-decoration: none;
}

heart {
  color: red;
}
