body {
  font-family: 'Lobster';
  font-size: 100%;
  background-color: rgb(179, 255, 217);
  background-size: cover;
  padding-top: 10px;
}

h1 {
  font-size: 1000%;
  color: rgb(124, 124, 124);
  text-align: center;
  text-shadow:
   17px 17px white,
   1px -1px white,
   -1px 1px white,
   1px 1px white;
}

h3 {
  font-size: 500%;
  text-align: center;
}

input[type=submit] {
  background-color: rgb(124, 124, 124);
  font-size: 100%;
  font-family: 'Amaranth';
  border: none;
  color: white;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline;
  border-radius: 30px;
}


section {
  max-width: 80%;
  margin: 0 auto;
  padding: 10% 10%;
  position: relative;
  font-family: 'Amaranth';
  font-size: 100%;
  background-color: rgb(245, 197, 174);
  text-align: center;
  align-content: center;

}

section.figure {
  min-width: 80%;
}

aside.photo_feed_info {
  margin-right: 20%;
  margin-left: 20%;
  max-width: 80%;
  background-color: rgb(179, 255, 217);
}

.comment_box {
  max-width: 100%;
}
