
.pic-container {
  display: flex;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pic-image {
  flex: 2 0 60%;
  padding-right: 16px;
}

.pic-image__image {
  width: 100%;
}

.pic-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 40%;
  padding-right: 16px;
  justify-content: space-between;
}

.pic-content-footer {
  align-self: flex-end;
}
