// Place all the styles related to the pics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show-image {
  height: 40rem;
}

.pic-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.pic-card {
  flex: 0 0 33.3333%;
}

.pic-card__image {
  object-fit: cover;
  width: 100%;
  height: 20em;
}

.show_container {
  width: 50%;
}
