// Place all the styles related to the pics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nice-image {
  width: 5rem;
}

.show-image {
  height: 40rem;
}

td {
  height: 7rem;
}

.ideas-show-container {
  text-align: center;
}
