// Place all the styles related to the pics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
  object-fit: cover;
  width: 100%;
  height: 20em;
}

.show-image {
  height: 40rem;
}

.index_row {
  display: flex;
}

.index_column {
  flex: 33.33%;
  padding: 5px;
}
