// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:link    {color:#000;}
a:visited {color:#000;}
a:hover   {color:#000;}
a:active  {color:#000;}

body {
  background-color: #F0F0F0;
  font-family: sans-serif;
}

.login {
  background-color: white;
  border-style: solid;
  border-color: #E0E0E0;
  border-width: 1px;
  margin: 10px auto;
  margin-bottom: 10px;
  margin-top: 10%;
  max-width: 250px;
  padding: 10px;
  position: relative;  
}

.login-heading {
  margin: 0 auto;
  margin-left: 5px;
  max-width: 14%;
  position: relative;  
}

.heading {
  margin: 30px auto;
  max-width: 14%;
  position: relative; 
}

.timeline {
  margin: 10px auto;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 604px;
  padding: 20px auto;
  position: relative;
}

.post {
  background-color: white;
  border-color: #E0E0E0;
  border-style: solid;
  border-width: 1px;
  margin: 10px auto;
  margin-bottom: 0;
  margin-top: 0;
}

.empty-timeline {
  margin: 30px auto;
  max-width: 14%;
  position: relative;  
}

@font-face {
  font-family: "Baby blocks";
  src: font-url("baby_blocks.ttf") format("truetype");
}

#logo {
  font-family: "Baby blocks";
  font-size: 45px;
}

#login-text {
  margin-left: 10px;
}

#user-banner {
  position: relative;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 20px;
}

#user-banner>img {
  border-radius: 50%;
}

#image {
  border: 1px solid #E0E0E0;
  margin: 0;
  padding: 0;
}

#caption {
  position: relative;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-top: 10px;
}

#new_comment {
  padding-bottom: 10px;
  padding-left: 10px;
}

#add_a_comment {
  height: 40px;
  width: 500px;
}