// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #283048;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #859398, #283048);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #859398, #859330);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: "Roboto";
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar-text {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  text-align: center;
}

img {
    width:600px;
    height: auto;
}

#listing {
  padding: 20px;
}

#add {
  font-size: 20px;
  background-color: #091D98;
  border-radius: 10px;
  padding: 10px;
  width: 20%;
  margin: 0 auto;
}

.show-resto {
  padding: 20px;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  text-align: center;
}

table {
  margin-top: 50px;
  width: 100%;
}

td, th {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

a {
  color: white;
  border: white;
  border: green;
}

input[type=text] {
  padding: 10px;
  box-sizing: border-box;
}

input[type=submit] {
  padding: 10px;
  box-sizing: border-box;
  background-color:#091D98;
  color: white;
}
