// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style: none;
  padding: 0;
}
.posts-index-mainFeed{
  margin: auto;
  width: 100%;
  background-color: #fafafa;
}
.posts-index-newPostLink {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 15px;
}
.posts-index-posts {
  margin: auto;
  width: 50%;
}
.posts-index-post {
  margin: auto;
  margin-bottom: 60px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  box-sizing: border-box;
  align-items: stretch;
  -webkit-box-align: stretch;
}
.posts-index-userDetails{
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  height: 50px;
  padding: 10px;
}
.posts-index-userIcon {
  height: 30px;
  width: 30px;
  border: 1px solid #efefef;
  align-items: center;
}
.posts-index-userName {
  -webkit-box-align: start;
  align-items: flex-start;
  margin-left: 10px;
  align-items: center;
}
.posts-index-picture {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.posts-index-description {
  margin: 10px;
  height: 30px;
}
