// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.filter_ {
  &greyscale {
    filter: grayscale(1);
  }
  &bright {
    filter: brightness(2);
  }
  &saturate {
    filter: saturate(2);
  }
  &contrast {
    filter: contrast(2);
  }
}