// Place all the styles related to the Photo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uploads{
    margin-top: 20px;
    margin-bottom: 20px;

}
.images{
    .post{
        width: 500px;
        height: 500px;
        border-radius: 10px;
        border: 1px solid rgb(214, 210, 210);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 50%;
        margin-bottom: 20px;
        object-fit: scale-down;
    }
}

.post-caption{
    padding-left: 20px;
}
.uploads{
    display: flex;
}
input[type="submit"]{
    background-color: #333333;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
