body {
  background-color: rgb(196, 194, 194);
  font-family: Marker Felt, fantasy;
}

div.topnav {
    background-color: #333;
    overflow: hidden;
}

div.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

div.topnav h2 {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

div#website_name {
  color: #333;
}

h1 {
  font-size: 80px;
}

div.post_form {

}

div.photos {
  float: left;
}

div.container {
  margin: auto;
  height: 400px;
  width: 780px;
}
