body {
  background: var(--background);
  position: relative;
}

.navbar-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: white;
  border-bottom: 0.1rem solid lightgrey;
  padding: 5px 0;
}

.navbar {
  width: 70%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo-text {
  font-family: "Instagram";
  font-size: 2rem;
  display: flex;
  margin: 1rem 0;
}

.navabar-menu {
  height: 30px;
  position: relative;
}

.navbar-icon,
.navbar-user-pic {
  width: 30px;
  margin: 0 10px;
  display: inline-block;
}

.navbar-icon img,
.navbar-user-pic img {
  cursor: pointer;
  width: 30px;
  display: inline-block;
}

.navbar-user-pic img {
  border-radius: 50%;
}

.main {
  margin-top: 50px;
}
