body {
    background-color: #e3e7ed;
  }
.show-one-post {
  margin: auto;
  width: 50%;
  padding: 2em;
}
.show-one-post {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 90%;
  background-color: #ffffff;
  border: solid 2px  grey;
  padding: 0.5em;
  margin: auto;
  margin-bottom: 1em;
  border-radius: 10px;
}
.show-one-post p {
  padding-left: 1em;
  line-height: 0.25em;
}
.show-one-post ul {
  list-style: none;
}
.show-one-post li {
  margin: 0.25em;
  margin-left: -2%;
  margin-right: 2%;
  padding: 0.25em;
  border: solid 2px  grey;
}
.comment-form li {
  border: none;
}
.comment-form textarea {
  border: solid 2px  grey;
  width: 30%;
  height: 6em;
}
.comment-form input {
  border: solid 2px  grey;
  background: #e3e7ed;
}
