// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-list {
  padding: 0 20px;
}

.post {
  background-color: #FFFFFF;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid #EFEFEF;
  margin-bottom: 50px;
}

.post-author {
  padding: 16px;
}

.post-image {
  width: 100%;
}

.post-description {
  padding: 16px;
}