// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.posts_feed {
    width: 30%;
    height: auto;
    background-color: white;
    margin: 80px auto;
    padding-bottom: 10px;
    display: flex;
    border-color: black;
    border-style: double;
}

.posts_feed, .usernamer{
    padding: 15px 33px 0px 27px;
    display: flex;
    flex-flow: column;
}

.usernamer {
    align-self: flex-start;
}

.nickname {
    font-weight: 700;
}

.usernamer > div {
    font-weight: 400;
}

.post_image {
    width: 100%;
}

.post_image > div {
    display: flex;
    justify-content: center;
    
}

.posts_feed .post_image img {
    width: 100%;
    height: inherit;
}

.posts_feed .likes_and_comments {
    padding: 5px 10px;
    width: 20%;
}

.likes_and_comments { 
    display: flex;
    flex-direction: row;
}

.view-all-comm {
    font-size: 15px;
    color: #999;
}

.posts_feed .likes_and_comments button {
    background: none;
    border: none;
    cursor: pointer;
}

.posts_feed .caption {
    font-size: 13px;
    padding: 0px 20px;
} 

.posts_feed .caption a {
    color: #000000;
    text-decoration: none;
}

.posts_feed .caption .time {
    font-size: 10px;
    color: #999;
}

.new-post {
    display: flex;
    justify-content: center;
    align-items: center;
}