.insta-post {
  margin-bottom: 15px;
  
}

.post-meta {
  background: #fff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;

  img {
    margin: 10px;
  }
}

.post-details {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
}
