// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cover {
  object-fit: cover;
  width: 500px;
  height: 500px;
}

.description {
  font-size: 20px;
  font-style: normal;
  font-family: cursive;
  color: blue;
}
