
.posts{
  margin: 50px 180px 10px;
}
.post{
  display: inline-block;
  border: 2px solid #efefef;
  margin: 30px;
  border-radius: 3px;
  width: 400px;
  box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  transition: all 1s;
}

.post:hover {
  transform: scale(1.05);
  cursor: pointer
}
.user{
  border-bottom: 1px solid #efefef;
  display: flex;
}
.avatar{
  width: 30px;
  margin: 8px;
}
.thumbnail{
  width: 100%;
  height: 280px;
  border: 1px solid #efefef;
}

.username{
  padding: 13px;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  background-color: white
}
    
.main-image{
  width: 100%;
  border-bottom: 1px solid #f4f4f4;
}
.description{
  padding: 13px;
  background-color: white;
  color: black
}

.large-image {
  width: 50%;
  border: 2px solid #efefef;
  margin: auto;
  border-radius: 3px;
  box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  text-align: center;

}

.links {
  padding: 50px;
}

.full-pic {
  width: 100%
  
}


