// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  background-color: white;
  border: solid black 1.5px;
  margin: 5px;
  border-bottom-right-radius: 5%;
}

.btn {
  background-color: #D9ECFF;
  border: solid black 1.5px;
  border-bottom-right-radius: 5%;
}

.title {
  color: black;
}

.like {
  background-color: #D9ECFF;
  border: solid black 1.5px;
  border-bottom-right-radius: 12%;
  color: black
}

.add {
  background-color: #D9ECFF;
  border: solid black 1.5px;
  border-bottom-right-radius: 12%;
  color: black
}

.log_in {
  background-color: white;
  border: solid black 1.5px;
  margin: 5px;
  border-bottom-right-radius: 5%;
}

.label {
  color: black
}

.choose_file {

}
