.post-container:not(:first-child) {
  margin:50px 0;
}

.post-container {
  background-color: #EEFFFF;
  box-shadow:1px 3px 23px #888888;
  border-radius: 10px;
  overflow: hidden;
}

.caption-container {
  background-color:#00A8EC;
  height:40px;
  color:white;
  font-size:25px;
  border-radius: 10px 10px 0px 0px;
}

.post-username {
  margin:4px 15px;
  font-weight: bold;
  font-size:20px;
  color:white;
}

.post-footer-info {
  background-color: #00A8EC;
  display:block;
  height:35px;
  margin:0 auto;
  margin-top:-18px;
}

.post-image {
  background-color:black;
  margin:0 auto;
}

.post-image img {
  display:block;
  margin:0 auto;
}

.sticky-user-box {
  overflow: hidden;
}

.side-page-container {
  position: fixed;
  right:10px;
  width:20%;
  height:4px;
}
