
/* .button {
  background-color: firebrick;
  font-size: 18px;
  color: #010101;
  border-radius: 12px;
  margin: 3px;
  font-family: 'Neucha', cursive;
}
body {
  background-color: gold;
  font-family: 'Neucha', cursive;
  text-align: center;
} */

.post {
  max-width: 600px;
  word-wrap: break-word;
}

