// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-4 {
  padding: 0px !important;
}

.post {
  width:100%;
  margin-top:7px;
  margin-bottom:7px;
}

.post_head {
}

.post_head_user {
  float:left;
}

.post_head_date {
  float:right;
}

.post_body {
  margin-top:5px;
	text-decoration: none;
  padding: .75rem 1.25rem;
}

.card-footer {
  padding: .5em 0;
}

.like {
  float: left;
  margin-left: 5%;
}

.comment-count {
  float: right;
  margin-right: 5%;
}

.comment_body {
  margin: 0.5em;
  margin-top: 0;
  color: black;
}

.comment_entry {
  padding: 1%;
}

.comment_text p {
  margin: 1%;
}

.post__interactions hr {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.post__interactions {
  margin-bottom: 0.5em;
}

.form-group textarea {
  margin: 0;
}

.commentbutton {
  float: right;
  margin: 1%;
}

.comment_user {
  color: #787878;
}

a.body_link {
	text-decoration: none;
	color: black;
}
