.my-posts-header {
  font-size:50px;
}

.profile-info {
  font-size:30px;
  font-family:sans-serif;
  color:white;
  text-shadow:2px 2px 1px #000000;
}

.profile-pic {
  border:2px solid #FFFFFF;
  border-radius: 15px;
  margin: 0px 30px;
}

.profile-title {
  color: #00A8EC;
  text-shadow:1px 1px 1px #000000;
}

.inline-info {
  margin-left:20px;
}
