// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
#users_images{
  text-align: center;
  overflow:hidden;
  width:70%;
  display:inline;
  margin-left: 50px;
}

// .img {
//     position: relative;
//     float: left;
//     width:  100px;
//     height: 100px;
//     background-position: 33% 33% 33%;
//     background-repeat:   no-repeat;
//     background-size:     cover;
//     display:inline;
// }

.users_image{
  overflow:hidden;
  position: relative;
  padding: 10px;
  float: left;
  width:  400px;
  height: 500px;
  background-position: 33% 33% 33%;
  background-repeat: no-repeat;
  background-size: cover;
  display:inline;
}

}
