// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

figcaption {
  max-width: 200px;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
}

.profile-image {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
}

.profile-image:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  .profile-image {
    width: calc(25% - 6px);
  }

.profile-image:nth-of-type(2n) {
    margin-right: 8px;
  }

.profile-image:nth-of-type(4n) {
    margin-right: 0;
  }
}

a.profile-image {
  color: black;
}
a.profile-image:hover {
  text-decoration: none;
}
