// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row {
  padding: 0 1em;
}

.col- {
  padding: 1em;
  width: 15%;
}

.profile-header {
  background: #fff;
  padding: 1em;
  margin-bottom: 1em;
}
