body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: rgb(20, 20, 20);
  text-decoration: none;
  font-size: 16px;
  display: inline-block;

  &:hover {
    border-bottom: solid 2px rgb(20, 20, 20)
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: rgb(255, 74, 74);
  display: table;
  color: rgb(19, 19, 19)
}

#error_explanation {
  width: 450px;
  border: 2px solid rgb(19, 19, 19);
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: rgb(248, 248, 248);

  h2 {
    text-align: left;
    font-weight: lighter;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    margin: -7px -7px 0;
    background-color: rgb(255, 74, 74);
    color: rgb(19, 19, 19);
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
