// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#sign-up {
  font-size: 50px;
  color: white;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.329);
  padding: 30px 90px;
  margin: 25px;
  border-radius: 20px;
}

#log-in {
  font-size: 50px;
  color: white;
  text-decoration: none;
}

#log-in-button {
  font-size: 50px;
  color: white;
  text-decoration: none;
  padding-top: 30px;
}

form {
  text-align: center;
}
