#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: rgb(67, 67, 67);
  color: #fff;
  transition: all 0.3s;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1);
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: rgb(67, 67, 67);
}

#sidebar ul.components {
  padding: 20px 0;
  //border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  background-color: transparent;
}

#sidebar ul li a:hover {
  color: #3d597f;
  //background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: rgb(67, 67, 67);
}
