body.sign_up{
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/41HAzhwzGxL.jpg");
  background-repeat: no-repeat;
  background-size: 800px;

}

h1{
  font-family: "SofiaRegular";
  font-weight: bold;
  font-style: italic;
  font-size: 45px;
}

#sign_up_box{
  padding-top: 280px;

}

#sign_up_text{
  font-family: "SofiaRegular";
  font-weight: bold;
  font-style: italic;
  font-size: 45px;
}

#login{
  padding-top: 280px;

}

#email{
  font-size: 12px;
}

#password{
  font-size: 12px;
}

#password_confirmation{
  font-size: 12px;
}

#sign_up_button{
  font-family: "SofiaRegular";
  font-weight: bold;
  font-style: italic;
  background: rgb(150, 200, 250);
  border-color: rgb(150, 200, 250);
  font-size: 20px;
  border-radius: 8px;
  font-size: 20px;
  width: 130px;
}

#sign_up_button:hover{
  font-family: "SofiaRegular";
  font-weight: bold;
  font-style: italic;
  border-radius: 8px;
  font-size: 20px;
  color: white;

}

#image img{
  position:absolute;
  right: 400px;
}
