.new_profile {
  font-size: 120%;
  margin: 10% auto 0%;
  background-color: #333;
  width: 45%;
  font: white;
}
.sign_up {
  background-color: #333;
  margin: 0% auto 0%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 100%;
  width: 50%;
  height: 50%;
}

.field_up {
  width: 90%;
  color: grey;
  font-size: 130%;
  text-align: center;
  font-family: 'Barrio', cursive;
  padding-bottom: 1%;
}

.actions_up {
  text-align: center;
  background-color: #333;
}
