.single-page {
  flex-direction: column;
  display: grid;
  place-items: center;  
}

.single-image {
  width: 400px;
  height: 400px;
  border: solid rgb(195, 195, 195) 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.single-image img {
  width: 100%;
  height: auto;
}

p {
  padding-top: 20px;
  font-size: 10px;
}

.single-caption {
  background-color: rgb(253, 232, 193);
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 10px;
}