body {
  background-color: #FAFAFA;
}
html {
    font-family: "Neue Helvetica", Helvetica;
}

nav {
    background-color: #FFFFFF;
    height: 60px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
    padding: 12px 8px 12px 8px;
    line-height: 40px;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

.link-to {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    float: left;
    padding: 12px 8px 12px 8px;
    line-height: 40px;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

.link-to-right {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    float: right;
    padding: 12px 8px 12px 8px;
    line-height: 40px;
    display: block;
    color: black;
    text-align: right;
    text-decoration: none;
}

.nav-logo{
    float: left;
    vertical-align: middle;
    height: 52px;
    margin: 4px;
}

.nav-left{
    float: left;
    vertical-align: middle;
}


.footer {
    padding: 20px 20px;
    background-color: #455D90;
    color: white;
    font-size: 12px;
    text-align: center;
}

.button {
    padding: 5px 5px;
    background-color: #455D90;
    color: white;
    font-size: 12px;
    text-align: center;
    border: 0;
    margin: 5px;
    border-radius: 6px;
    line-height: 18px;
    width: 120px;
}
