#wrapper {
  width: 100%;
}

#main {
  border-style: solid;
  border-width: 0px 10px 0px 10px;
  width: 400px;
  margin: auto;
}

#image {
  margin-top: 0px;
}

#title {
  margin-bottom: 0px;
}

.test p {
  text-align: center;
}
