* {
  background-color: #4183D7;
}

h1 {
  color: blue;
}

#main {
  height: 100%;
  width: 90%;
  margin: 2% auto;
}

.header {
  margin-top: 2%;
  text-align: center;
}

.header img {
   width: 30em;
}

a img {
  height: 12em;
  width: 8em;
}

a {
  display: block;
}

#yield {
  display: inline-block;
}