main {
  height: 100%;
  display: flex;
  flex-direction: column;
  order: 2;
  position: relative;
  top: 84px;
  section {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 945px;
    height: 100%;
    .all-posts {
      float: left;
      margin-right: 28px;
      max-width: 614px;
      width: 100%;
      background-color: #FFFFFF;
      border: solid 1px #DBDBDB;
      height: 100%;
    }
    .side-panel {
      right: 0;
      width: 20%;
    }
  }
}
