.image-upload-container {
  width: 40%;
}

.image-upload-container input {
  width:300px;
  padding:10px;
  font-size:20px;
  outline:none;
  border:none;
  border-radius:10px;
}

.filters-container {
  width:60%;
  margin-bottom:50px;
}

.filter-label {
  font-size:25px;
  font-family:sans-serif;
  font-style: italic;
  margin:10px;
}
