// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile .profile-picture {

  .wrapper {
    width: 140px;
    height: 140px;
    margin: 40px auto;
  }

  .wrapper img {
    width: 100%;
    border-radius: 50%;
  }
}

.profile .basic-info {
  padding: 40px 0;

  .user-wrapper {
    display: flex;
  }

  .username {
    font-size: 30px;
    line-height: 40px;
    font-weight: 200px;
  }

  .edit-profile {
    margin-left: 20px;
    margin-top: 5px;
  }

  .edit-profile button {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid red;
    color: red;
    font-size: 14px;
    padding: 4px 10px;
    font-weight: 500;
  }

  ul .uposts {
    padding-left: 0;

    > li {
      display: inline;
      padding-right: 40px;
      font-size: 15px;

      span {
        color: #262626;
        font-weight: 600;
      }
    }
  } 
  
  .name {
    font-size: 15px;
    font-weight: 600;
  }

  .website {
    color: red;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
  }
}

.user-tabs {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;

  .tab {
    height: 35px;
    margin-right: 50px;
    line-height: 45px;
    color: black;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    i {
      padding-right: 1px;
    }
  }
   .active {
    border-top: 1px solid red;
    color: red;
  }
}

.user-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;

  .wrapper {
    width: 280px;
    height: 280px;
    margin: 15px;

    img {
      max-height: 100%;
      width: 100%;
      border-radius: 4%;
    }
  }
}

.user-edit-page {
  display: flex;
  margin-top: 60px;
  min-height: 500px;
  
  .actions {
    width: 220px;
    border: 1px solid black;
  }

  .nav-link {
    font-size: 14px;
    background-color: #78C165;
    color: red;
    border-radius: 0;
    padding: 12px 0 12px 30px;

    &:hover {
      cursor:pointer;
    }
  }
  
  .nav-pills .active {
    border-left: 2px solid red;
    font-weight: 600;
    background-color: black;

  }

  .details {
    flex: 1;
    border: 1px solid black;
    border-left: none;
  }
}

.form-edit-user{
  padding: 30px 100px 10px 50px;
.form-group, input{
    font-size: 14px;
    color: black;
  }
  input, textarea{
    border: 1px solid black;
    margin: 5px;
  }
  .col-form-label{
    text-align: right;
    font-weight: 600;
  }
.profile-pic{
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .username{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .change-photo{
    color: black;
    text-decoration: none;
    font-size: 15px;
  }
  input[type='submit']{
    color: red;
  }

  .btn {
    background-color: #262626;
  }
}