// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.field input{
  padding:6px;
  font-weight: 300;
  margin-bottom: 12px;
  border: none;
  background-color:#c6c6c6;
}

.field input:focus{
  outline: 1px solid #888
}

.actions {
  margin-bottom: 16px;
}

div.links a {
  font-weight: 300;
  text-decoration: none;
  color: #777;
  border-bottom: solid 1px #fff;
  transition: border-bottom 0.3s ease;
}

div.links a:hover {
  text-decoration: none;
  color: #000;
  border-bottom: solid 1px #000;
}


.profile {
  display: grid;
  grid-template-columns: auto auto auto;
}

.profile .post {
  // grid-column: 1;
}