// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-in, .sign-up, .password-reset, #flash {
  text-align: center;
  vertical-align: middle;
  max-width: 30em;
  margin: auto;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.text-field {
  text-align: right;
  padding-top: 1em;
  padding-right: 25%;
}

.password-field {
  text-align: right;
  padding-top: 1em;
  padding-right: 25%;
}

.submit-field, .other-links {
  padding-top: 1em;
}
