.user-session {
  text-align: center;
  margin-left: 120px;
}

input {
  border-radius: 6px;
  border: none;
  font-size: 15px;
  margin: 5px;
  padding: 10px 10px 10px 10px;
  width: 250px;
}

input[type="submit"] {

  background-color: darkgreen;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  width: 112px;
  margin-top: 20px;;
}

input[type="submit"]:hover {
  background-color: #0a3351;
}
