* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

body {
  background: var(--background);
}

.logo-text {
  font-family: "Instagram";
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19rem;
  margin-bottom: 2rem;
}

.user {
  background: white;
  width: 35rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid lightgrey;
  padding: 1.5rem 4rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.user-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-form input {
  padding: 1rem 0 1rem 1rem;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  background: var(--background);
  border: 0.1rem solid lightgrey;
  outline: none;
}

.user-form input:focus {
  border-color: grey;
}

.user-form input[type="text"],
.user-form input[type="email"],
.user-form input[type="password"] {
  width: 100%;
  margin-bottom: 0.75rem;
}

#error_explanation,
.flash-alert {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-align: center;
  color: red;
}

.flash-notice {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.user-form input[type="submit"] {
  background: var(--blue);
  color: white;
  margin: 2rem 0;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.refer {
  background: white;
  width: 35rem;
  margin: 0 auto;
  border: 0.1rem solid lightgrey;
  padding: 2rem;
  text-align: center;
}

.refer p {
  display: inline;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.refer a {
  display: inline;
  font-size: 1.2rem;
  color: var(--blue);
}
