// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile .avatar{
    .wrapper{
      width: 140px;
      height: 140px;
      margin: 40px auto;
    }
    .wrapper img{
      width: 100%;
      border-radius: 50%;
    }
  }
  
  .profile .basic-info{
    padding: 40px 0;
    .user-wrapper{
      display: flex;
    }
    .username{
      font-size: 30px;
      line-height: 40px;
      font-weight: 200;
    }
    .edit-profile{
      margin-left: 20px;
      margin-top: 5px;
    }
    .edit-profile button{
      background-color: transparent;
      border-radius: 5px;
      border: 1px solid #dbdbdb;
      color: #262626;
      font-size: 14px;
      padding: 4px 10px;
      font-weight: 500;
    }
    ul.posts{
      padding-left: 0;
      > li{
        display: inline;
        padding-right: 40px;
        font-size: 15px;
        span{
          color: #262626;
          font-weight: 600;
        }
      }
    }
    .name{
      font-size: 15px;
      font-weight: 600;
    }
    .website{
      color: #003569;
      text-decoration: none;
      font-size: 15px;
      font-weight: 600;
    }
  }