// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// --------- USER/SHOW PROFILE VIEW ------------
// Avatar / profile picture
.profile .avatar{
  .wrapper{
    width: 100px;
    height: 140px;
    margin: 40px auto;
    margin-right: 50px;
    // position: relative;
  }
  .wrapper img{
    width: 130px;
    height: 130px;
    border-radius:50%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;

  }
}
// Profile info section (right column of show view)
.profile .basic-info{
  padding: 40px 0;
  .user-wrapper{
    display: flex;
  }
  .username{
    font-size: 30px;
    line-height: 40px;
    font-weight: 200;
  }
  .edit-profile{
    margin-left: 20px;
    margin-top: 5px;
  }
  .edit-profile button{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    color: #262626;
    font-size: 14px;
    padding: 4px 10px;
    font-weight: 500;
  }
  ul.posts{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 40px;
      font-size: 15px;
      span{
        color: #262626;
        font-weight: 600;
      }
    }
  }
  .name{
    font-size: 15px;
    font-weight: 600;
  }
  .website{
    color: #003569;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
  }
}
// nav tabs above posts on profile
.user-tabs{
  border-top: 1px solid #efefef;
  display: flex;
  justify-content: center;
a.tab{
    height: 35px;
    margin-right: 50px;
    line-height: 45px;
    color: #999;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    i{
      padding-right: 1px;
    }
    &:hover{
      text-decoration: none;
    }
  }
  a.active{
    border-top: 1px solid #262626;
    color: #262626;
  }
}
// Posts on users profile page (show view)
.user-images{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin: 0 20px;
.wrapper{
    width: 280px;
    height: 280px;
    margin: 15px;
    img{
      border-radius: 4%;
      width:300px;
      height:300px;
      object-fit:cover;
    }
  }
}
// --------- USER/EDIT PROFILE VIEW ------------
.user-edit-page{
  display: flex;
  margin-top: 60px;
  min-height: 500px;
  
  .actions{
    width: 220px;
    border: 1px solid #dbdbdb;  
  }
  .details{
    flex: 1;
    border: 1px solid #dbdbdb;
    border-left:none;
  }
}
