body {

}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

div.photos {
  float: left;
  padding: 15px;
}

div.grid {
  margin: auto;
}

p.caption {
  float: left;
}

div.container {
  margin: auto;
  height: 400px;
  width: 900px;
}
