// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  color: #1D518D;
  font-family: 'Pacifico', cursive;
  background-image: url('http://cdn.wonderfulengineering.com/wp-content/uploads/2014/10/simple-wallpaper-9.jpg');
}

table, th, td, tbody {
  text-align: center;
  height: 10px;
  margin-left: 220px;
  border: 2px solid black;
}

th, td {
  width: 200px;
}

td {
  color: #1D7E8D;
}

#image1 {
  background-image: url('https://wallpapertag.com/wallpaper/full/8/b/1/813564-background-simple-tumblr-1920x1200-photo.jpg');
  background-size: 50%;
}

body {
  text-align: center;
}
