// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Open_Sans);
@import url(https://fonts.googleapis.com/css?family=Grand+Hotel);

@import "font-awesome";

html,
body {
  background-color: #fafafa;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Open Sans';
}

.logo {
  font-family: 'Grand Hotel';
  padding: 14px 14px 14px 0;
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-size: 12px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}

#nav-right {
  float: right;
}

#nav-bar {
  margin: 0px;
  padding: 0px;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: 1px;
}

#posts-page-container {
  display: flex;
  justify-content: flex-start;
}

.posts {
  padding: 30px;
}

div.card {
  background-color: white;
  width: 500px;
  text-align: center;
  margin: auto;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;

}

#card-top {
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: 1px;
  height: 40px;
  padding: 20px 20px 0 20px;
  display: flexbox;
  font-weight: 600;

}

#post-user {
  float: left;
  font-size: 12px;
}

#delete-link a{
  float: right;
  color: lightgray;
  font-size: 10px;
  text-decoration: none;
}

#post-spacer {
  height: 50px;
}

#post-caption {
  padding: 0 0 0 20px;
  font-size: 12px;
  display: flex;
}

#caption-user {
  float: left;
  text-align: left;
  font-weight: 600;
  padding: 0 5px 0 0;
}

#caption-text {
  float: right;
  text-align: left;
}

#post-date {
  padding: 0 0 0 20px;
  font-size: 12px;
  display: flex;
  color: grey;
}

#post-comments {
  padding: 0 0 5px 20px;
  font-size: 12px;
}

#post-comment-user {
  float: left;
  text-align: left;
  font-weight: 600;
  padding: 0 5px 0 0;
}

#post-comment-text {
  float: right;
  text-align: left;
}

#add-post-commment {
  border-top-style: solid;
  border-top-color: #eceaea;
  border-top-width: 1px;
  text-align: left;
  padding: 10px 0 10px 20px;
}

#add-post-commment a {
  color: lightgray;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

#post-comment {
  width: 100%;
  display: flex;
}

.field {
  color: grey;
  font-size: 14px;
  font-family: 'Open Sans';
}

#logo-sign-up {
  font-size: 40px;
  font-family: 'Grand Hotel';
}

#devise-form-header h2{
  font-size: 20px;
  color: grey;
  font-family: 'Open Sans';
  font-weight: 500;
}

.actions{
  padding: 5px 0 14px 0;
}

#devise-links a{
  color: gray;
  font-size: 12px;
  font-weight: 600;
  padding: 14px;
}

#logo-welcome {
  font-family: 'Grand Hotel';
  padding: 14px 14px 14px 0;
  font-size: 50px;
}

#links-welcome a{
  color: gray;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;

}

#links-welcome {
  padding: 20px;
}

#new-post-header {
  font-size: 25px;
  font-weight: 600;
  padding: 20px;
}

.new-post-container input[type=submit] {
  margin: 20px;
}

.new-post-container label {
  font-size: 14px;
}