// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background: url(recycled_texture_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: helvetica;
}

h1 {
  font-size: 69px;
  font-family: helvetica;
  font-weight: 75;
  color: rgb(198, 79, 83);
}

h2 {
  font-size: 49px;
  font-family: helvetica;
  font-weight: 75;
  color: yellowgreen;
}

input{
  background-color: rgb(160, 222, 227);
  border: 2px black;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  display: -ms-grid;
  margin: 6px 3px;
  cursor: pointer;
}

p {
  font-size: 20px;
  font-family: helvetica;
  font-weight: 75;
  color: rgb(198, 79, 83);
}

.main {
  font-size: 45px;
  font-family: helvetica;
  font-weight: 75;
  color: #5B0205;
}

.logo {
  /* position:fixed; */
  width: 69px;
  vertical-align: middle
}

a {
  text-decoration: none;
}

.typewriter h2 {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 4.1s steps(40, end), blink-caret .75s step-end infinite;
  margin-top: 45px;
}

/* The typing effect */

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
  from,
  to {
    border-color: transparent
  }
  50% {
    border-color: orange;
  }
}