<% if @photos.any? %>
  <% @photos.each do |photo| %>
    <div class="post">
      <div class="post-head">
        <div class="name">
          Kyaw Tun Sein
        </div>
      </div>
    <div class="image center-block">
      <%= link_to (image_tag photo.image.url(:medium),class:'img-responsive'), photo_path(photo) %>
    </div>
    <p class="caption">
      <%= photo.caption %>
    </p>
  </div>
  <% end %>
<% else %>
  No photos yet
  <% end %>
