<% if @photos.any? %>
  <% @photos.reverse.each do |p| %>
    <%= image_tag p.image.url(:medium) %>
    <p><%= p.caption %></p>
  <% end %>
<% else %>
  No photos yet :(
<% end %>
<%= link_to 'Upload Photo', new_photo_path %>
