<% if @photos.any? %>
  <% @photos.each do |photo| %>
    <!-- <img src="<%= photo.image %>"/> -->
    <%= image_tag photo.image.url(:medium) %>
    <%= photo.caption %>
  <% end %>
<% else %>
  No photos yet
  <% end %>

<a href='photos/new'>Add a photo</a>
