<!-- <h2><%= link_to gram.caption, gram_path(gram) %></h2> -->


<div class='gram_container' id='<%"gram_container" + gram.id.to_s %>'>
<h3> Posted by <%= get_email_for_gram(gram) %> </h3>
<%= image_tag(gram.image_url, width: 600) if gram.image.present? %>
<h3><%= truncate(gram.caption, length: 150) %></h3>
</div>
<hr>
