<!-- <h2><%= link_to gram.caption, gram_path(gram) %></h2> -->


<div class='gram_container' id='<%"gram_container" + gram.id.to_s %>'>
<p><%= truncate(gram.caption, length: 150) %></p>

<% if gram.user_id == current_user.id %>
<p><%= link_to 'Edit', edit_gram_path(gram) %></p>
<% end %>
<%= image_tag(gram.image_url, width: 600) if gram.image.present? %>
</div>
<hr>
