<h1>DINOGRAM<h1>

<%= link_to new_gram_path do %>
  <h3>Create a post</h3>
<% end %>

<h3>The Posts!</h3>

<% @grams.each do |gram| %>
<div class="gram">
  <div class="gram-image-div">
    <%= image_tag gram.image, class:"gram-image"%>
  </div>
  <div class="gram-body-div">
    <%= gram.body %>
  </div>
</div>
<% end %>
