<h1>Get Gramming!</h1>

<%= form_with model: @gram do |form| %>
<%= form.text_field :body, id: "gram-text-box", placeholder: 'What do you want to gram about?' %>

<%# <%= form.hidden_field :user_id, :value => current_user.id if current_user %> 

<%= form.submit "Submit" %>
<% end %>
