<% if @posts.any? %>
  <% @posts.reverse.each do |post| %>
    <h2><%= post.name %></h2>
    <h2> <%= link_to post.name, post_path(post) %> </h2>
    <div> <%= image_tag post.image.url(:thumb) %> </div>
  <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>

<a href="/posts/new">Add a post</a>
