<br/>
<% if @photos.any? %>
  <% @photos.each do |photo| %>
    <img src="<%=photo.insta_photo.url%>" height="300" width="350">
    <p> <%= photo.caption %> </p>
  <% end %>
<% else %>
  No photos yet
<% end %>

<a href='/photos/new'>Add a photo</a>
