<h1>Listing photo's</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @pictures.each do |picture| %>
  <tr>
    <td><%= image_tag picture.url %></td>
    <td><%= picture.comment %></td>
    <td><%= link_to 'Show', pictures_path(picture) %></td>
  </tr>
  <% end %>
</table>
