<% if @photos.any? %>
  <% @photos.each do |photo| %>
  <%= link_to photo.caption, photo_path(photo) %>
  <%= link_to "Edit #{photo.caption}", edit_photo_path(photo) %>
  <%= link_to "Delete #{photo.caption}", photo_path(photo), method: :delete %>
  <% end %>
<% else %>
  <h1>No photos yet!</h1>
<% end %>

<a href="photos/new">Add a photo</a>
