<% if @photos.any? %>
  <% @photos.each do |photo| %>
  <%= link_to photo.caption, photo_path(photo) %>
  <% end %>
<% else %>
  <h1>No photos yet!</h1>
<% end %>

<a href="photos/new">Add a photo</a>
