
= link_to("Upload Photo", new_photo_path)

- if @photos.any?
  - @photos.each do |photo|
    = link_to photo.title, photo_path(photo)
    = photo.caption
    = image_tag photo.image.url(:medium)


- else
  %h1 No photos have been uploaded!
