<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= link_to post.name, post_path(post) %>
    <%= link_to "Edit #{post.name}", edit_post_path(post) %>
    <%= link_to "Delete #{post.name}", post_path(post), method: :delete %>
    <%= link_to "Comment #{post.name}", new_post_comment_path(post) %>
  <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>

<a href="posts/new">Add a post</a>