<br>
<div>
<% @posts.each do |post| %>
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to post.title, post %>
    </li>
  <ul class="list-group">
<% end %>
</div><br>

<div>
<a class="btn btn-secondary" href="posts/new" role="button">New Post</a>
</div>
