<div class="d-flex align-item-center justify-content-center">
<h1>Instagram challenge</h1>
</div>

<div>
<% @posts.each do |post| %>
  <p>
    <%= link_to post.title, post %>
  </p>
<% end %>
</div>

<div>
<h2><%= link_to "New Post", new_post_path %></h2>
</div>
