<%= link_to("New post", new_post_path)%>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= image_tag post.image.url(:medium) %><br>
    <p><%= post.caption %></p>
    <%= post.id %>
  <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>
