<div class='centered_text'>
  <h2>All Posts</h2>
</div>
<div class='postsContainer centered'>
  <% @posts.each do |post| %>
    <div class='post'>
      <strong><%= post.username %></strong>
      <br>
      <div class='indexImage'>
        <%= link_to post_path(post) do %>
          <%= image_tag(post.image, style: 'width: 100%') %>
        <% end %>
      </div>
      <br>
      <%= post.description %>
    </div>
  <% end %>
</div>
