<div class="postbox" style="padding: 10px 0px 10px 10px">
  <%= form_for @post, html: {multipart: true} do |f| %>
    <%= f.label :caption, 'New caption:' %>
    <%= f.text_field :caption %>
    <%= f.submit 'Update caption', :class => 'btn btn-danger'%>
  <% end %>
</div>
