<% @posts.each do |post| %>
	<%= image_tag post.image.url(:thumb) %>
	<%= post.caption %>
	<p>Posted by <%= link_to post.user.email, "/users/#{post.user.id}" %></p>
<% end %>

<%= link_to 'New post', new_post_path %>