
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h3><%= link_to post.title, post_path(post) %></h3>
  <% end %>
<%else %>
  <h1>No posts yet</h1>
  <%= link_to "New post", new_post_path %>
<% end %>
