
- if @moments.any?
  - @moments.each do |moment|
    %h2= moment.description
    = image_tag moment.image.url(:medium)
    =link_to "Delete", moment_path(moment), method: :delete
    %h3(href='moments/de')
- else
  %h2 No moments have been shared yet

%a(href='moments/new') Share a moment
