<span style="text-align: right;">
<% if @post.user_id.to_i === current_user.id.to_i %>
   <%= link_to 'Edit', edit_post_path(@post) %> - <%= link_to 'Delete', @post, :method => :delete, data: { confirm: "Are you sure you want to delete this Minsta?" } %>
<% end %>
</span>
