<span style="text-align: left;">
  <table>
    <tr>
      <td>
        <%= link_to( :controller => "posts", :action => "like", :id => @post.id) do %>
          <i class="fa fa-thumbs-up"></i>
        <% end %>
      </td>
      <td></td>
      <td><%= @post.count_likes(@post.likes) %></td>
      <td></td>
      <td>
        <%= link_to( :controller => "posts", :action => "dislike", :id => @post.id) do %>
          <i class="fa fa-thumbs-down"></i>
        <% end %>
      </td>
      <td></td>
      <td><%= @post.count_dislikes(@post.dislikes) %></td>
      <td></td>
      <td><i class="far fa-comment"></i></td>
      <td></td>
      <td>7</td>
    </tr>
  </table>
</span>
