<h1 class= "mt-5"> Instagram clone </h1>
    <p class="lead">its working</p>
    <p class="lead">sign up or sign in</p>
    <%=link_to "sign in", new_account_session_path, class: "btn btn-success" %>
    <%=link_to "sign up", new_account_registration_path, class: "btn btn-dark" %>