<h1 class="mt-5">Welcome to Finstagram</h1>
<p class="lead">Please sign in to continue</p>

<%= link_to "Sign up", new_account_registration_path, class: "btn btn-success" %>
<%= link_to "Sign in", new_account_session_path, class: "btn btn-secondary" %>