<% if account_signed_in? %>
  <h1 class="mt-5">Successfully signed in</h1>
  <%= link_to "Sign Out", destroy_account_session_path %>
<% else %>
  <h1 class="mt-5">Welcome to Finstagram</h1>
  <p class="lead">Please sign in to continue</p>

  <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-success" %>
  <%= link_to "Sign In", new_account_session_path, class: "btn btn-secondary" %>
<% end %>