<h1 style="color:white;">Welcome to Instagray</h1>
<p class="text-white">An Instagram clone for black and white photography</p>
<%= link_to "Sign Up", new_account_registration_path, class: "btn btn-light" %>
<%= link_to "Log In", new_account_session_path, class: "btn btn-secondary" %>