Welcome to Finstagram

<h1 class="mt-5">Weclome to Finstagram</h1>
<p class="lead">Please sign in to continue</p>

<%= link%>
<ul class="list-unstyled">
  <li>Bootstrap 4.5.3</li>
  <li>jQuery 3.5.1</li>
</ul>