<div class="container">
  <div class="text-center mt-5">
    <h1>Welcome to Instagram</h1>
    <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-success"  %>
    <%= link_to "Sign In", new_account_session_path, class: "btn btn-secondary"  %>
  </div>
</div>