<div class="container">
  <div class="row">
    <div class="col">
      <p class="h4">Your feed</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      Image 1
    </div>
    <div class="col-sm-3">
      Image 2
    </div>
    <div class="col-sm-3">
     Image 3
    </div>
    <div class="col-sm-3">
      Image 4
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <p class="h5">Popular posts</p>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      Left col (wide)
    </div>
    <div class="col-4">
      <p class="h5 mb-4">Discover others!</p>

      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Example discover user 1</li>
          <li class="list-group-item">Example discover user 2</li>
          <li class="list-group-item">Example discover user 3</li>
        </ul>
    </div>

    <%= link_to "View all", "", class: "btn btn-primary mt-4" %>
  </div>
</div>