<h1> Welcome to Instagram</h1>
<p> Please sign-up or Login </p>

<%= link_to"Sign-Up", new_account_registration_path, class:"btn btn-primary"=%>

<%= link_to"Login", new_account_session_path, class:"btn btn-primary"=%>