%p= link_to 'Add filterspam', new_filterspam_path

- if @filterspams.empty?
  %p No filterspams :(
- else
  - @filterspams.each do |filterspam|
    <br>
    = image_tag filterspam.image.url(:medium)
    <br>
    %em= filterspam.comment
    <br>
