- if image.comments.any?
  %ul
  - image.comments.each do |comment|
    %p= comment.text
- else
  %p No comments yet!
- if current_user
  = form_tag(image_comments_path(image), method: 'get') do
    .form-group.row
      = text_field_tag(:text, 'Enter your comment here', class: 'col-12 form-control new-comment-field')
    .form-group.row
      = submit_tag('Post comment', class: 'btn-primary add-new-comment')
