<div class="upload_box">
  <center>
  <br><h2>Upload Image</h2>
    <%= form_for @image, html: {multipart: true} do |f| %>
      <%= f.file_field :image %><br>
      <%= f.submit %>
    <% end %>
  </center>
</div>
