<p> User Account </p>

  <% @images.each do |image| %>
  
    <%= image_tag image.image(:thumb) %>
    <%= link_to "Delete picture #{image.title}", image_path(image), method: :delete%></br>
    
    <% end %>