<h1>Editing Your Caption</h1>

<%= form_for @image do |f| %>
  <p>
    <%= f.label :caption %> <br />
    <%= f.text_area :caption %> <br />
  </p>
  <p>
    <%= f.submit 'Update Caption' %> <br />
  </p>
<% end %>
