<h1>Editing Your Caption</h1>

<%= form_for @image do |f| %>
  <div class='field'>
    <%= f.label :caption %>
    <%= f.text_area :caption %>
  </div>
  <div class='actions'>
    <%= f.submit 'Update Caption' %>
  </div>
<% end %>
