<% if @images.any? %>
  <% @images.each do |image| %>
    <%= link_to image.description, image_path(image) %>
    <%= link_to image_tag(image.url), image_path(image) %>
  <% end %>
<% else %>
  <h1>No images yet</h1>
<% end %>

<a href="/images/new">Add an image</a>
