<a href="images/new">Upload Image</a>

<% if @images.any? %>
  <% @images.each do |image| %>
    <h2>
      <%= link_to image.description, image_path(image) %>
      <%= link_to "Edit #{image.description}", edit_image_path(image) %>
    </h2>
  <% end %>
<% else %>
  No Images Yet
<% end %>
