
<% if @images.any? %>
  <ul>
    <% @images.each do |image| %>
      <li> <%= image_tag image.image.url(:thumb) %>
           <%= image.name %> <br> <%= image.description %> <%= image.user.username %> </li>
    <%end%>  
  </ul>

<% else %>

No images added yet

<%end%>
