<header class="center-block">
  <h1>Welcome to Pictagram</h1>
</header>

<div class="cointainer center-block">
  
  <p> <%= current_user.name %> </p>
  
   <% @images.each do |image| %>
      
      <%= image_tag image.image(:medium) %></br>
      
      <% end %>
  
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>
</div>