<h2>Recent Uploads</h2>

<div class="card-columns">
  <% @images.each do |image| %>
    <div class="card">
      <div class="card-body p-1">
        <%= image_tag image.image, class: 'd-block w-100' %>

        <p class="my-1"><%= image.description %></p>

        <%= link_to "View Image", image_path(image.id), class: 'btn btn-secondary stretched-link' %>
      </div>
    </div>
  <% end %>
</div>
