= link_to 'Add an image', new_image_path

- if @images.any?
  - @images.each do |image|
    %ul
      %li
        = link_to image_tag(image.image.url(:medium)), image_path(image)
- else
  %h3 No Images Yet