Welcome to Instagram

<% if @images.any? %>
  <ul>
    <% @images.each do |image| %>
      <ul>
        <%= link_to image_tag(image.image.url(:medium)), image_path(image) %>
      </ul>
    <% end %>
  </ul>
<% else %>
  No images yet
<% end %>

<a href='images/new'>Add your image here!</a>
