<% if Image.all.any? %>
  <% Image.all.each do |image| %>
    <%=image.comment%>
    <h2><%= link_to image.url, image_path(image) %>
    </h2>
<%= link_to "Edit #{image.url}", edit_image_path(image) %>
  <% end %>
<% else %>
  <h1>No images yet!</h1>
<% end %>

<a href='images/new'> Add an image</a>
