<% if @images.all.any? %>
  <% @images.all.each do |image| %>
    <h2><%= image_tag image.upload.url(:thumb) %></h2>
  <% end %>
<% else %>
  <h1>No images yet</h1>
<% end %>

<a href=<%= new_image_path %>>Upload an image</a>
