<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @images.each do |image| %>
      <div class="col">
        <a href="images/<%= image.id %>">
          <div class="card shadow-sm">
            <%= image_tag(image.pic) %>
            <div class="card-body">
              <p><%= image.caption %></p>
            </div>
          </div>
        </a>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= link_to 'New Image', new_image_path %>