<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3  mb-5">
      <% @images.each do |image| %>
      <div class="col text-muted">
        <a href="images/<%= image.id %>" class="text-muted">
          <div class="card shadow-sm m-1 col-lg-8 mb-md-0 mb-3">
            <%= image_tag(image.pic) %>
            <div class="item-icons">
              <i class="fas fa-comment"></i> <i class="fas fa-heart"></i> <i
                class="fas fa-external-link-square-alt"></i>
            </div>
          </div>
        </a>
      </div>
      <% end %>
    </div>
  </div>
</div>