%div{ class: 'index-div' }
  - if @images.empty?
    %p No images yet!
  - else
    - @images.each do |img|
      %a{ href: image_path(id: img.id), class: 'image-link' }
        %div= image_tag img.image.url(:thumb)
        %div{ class: 'popularity'}
          %img{ src: 'http://images.clipartpanda.com/heart-outline-clipart-black-and-white-xTgKexzBc.svg' }
        %div{ class: 'count' }= img.likes.count
