<header class="center-block">
  <h1>Welcome to Pictagram</h1>
</header>

<div class="cointainer center-block">
  <div class='row'>
    <div class'col-md-6'>
  
  <p> <%= current_user.name %> </p>
  
 
  
   <% @images.each do |image| %>
     
      
      <%= image_tag image.image(:medium) %></br><div
        class="fb-like center-block"
        data-share="true"
        data-width="450"
        data-show-faces="true">
       </div></br>
     
      <% end %>
  
   </div>
 
  
 </div>
</div>