<% if Image.all.any? %>
  <% Image.all.each do |image| %>
    <h2><% image.url %>
      <p>
      Comment <a href="Image">
      <img border="0" src="https://s-media-cache-ak0.pinimg.com/564x/0a/c5/bd/0ac5bd36c10d334d2b985893285caf14.jpg" width="100" height="100">
      </a>
      </p>

    </h2>
  <% end %>
<% else %>
  <h1>No images yet!</h1>
<% end %>

<a href='images/new'> Add an image</a>
