<% if @images.any? %>
  <% @images.each do |image| %>
    <h3><%= image_tag image.picture.url(:medium) %></h3>
  <% end %>
<% else %>
  <h1>No images yet</h1>
<% end %>

<%= link_to "Add Image", new_image_path() %>
