<% if current_user %>
<%= link_to('Logout', destroy_user_session_path, id: "log-out" , method: :delete) %>
<% end %>

<h1>Instasham</h1>

<h2>No Images Added Yet</h2>

<%= link_to new_image_path do %>
  Upload Image
<% end %>
