- if @images.empty?
  %h2 'No Images Yet'
- else
  %ul.image_list
    - @images.reverse_each do |image|
      %li.image_entry
        =image.title
        =image.user.email
- if user_signed_in?
  =link_to 'Add new image', new_image_path
