<% if Image.all.any? %>
  <% Image.all.each do |image| %>
    <h2><%= link_to image.url, image_path(image) %></h2>

  <% end %>
<% else %>
  <h1>No images yet!</h1>
<% end %>

<a href='images/new'> Add an image</a>
