<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Just pictures of animals</h1>
    <h3>...because what else could you possibly need?</h3>
    <div class="center">
      <a href='/images/new'><button>Add an image</button></a>
    </div>
    <table class="image_table">
      <% counter = 1 %>
      <tr>
      <% for image in @images do %>
        <% if counter % 3 != 0 %>
          <td><%= link_to(image_tag(image.image.url(:med)), image_path(image), class: "thumbnail") %></td>
          <% counter += 1 %>
        <% else %>
        <td><%= link_to(image_tag(image.image.url(:med)), image_path(image)) %></td>
        <% counter += 1 %>
      </tr><tr>
        <% end %>
      <% end %>
      </tr>
    </table>

    <div class="center">
      <%= will_paginate @images %>
    </div>


  </body>
</html>
