<%= link_to("Add an Image", new_image_path) %>
<% if @images.any? %>
  <ul>
  <% @images.each do |image| %>
    <li>
      <%= image.title %><br>
      <%= image_tag image.image.url(:thumb) %>
    </li>
  </ul>
  <% end %>
<% else %>
  <h1>No images have been uploaded yet!</h1>
<% end %>
