<% if @images.any? %>
  <% @images.each do |image| %>
    <%= image_tag image.file.url(:medium) %>
    <p><%= link_to image.title, image_path(image) %></p>
  <% end %>
<% else %>
  No images have been added yet
<% end %>

<h2><a href='/images/new'>Add an image</a></h2>
