<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Images</title>
  </head>
  <body>

    <%= notice %>

    <% if @images.any? %>
      <% @images.each do |image| %>
        <h2><%= image_tag image.image.url(:small) %></h2>
        <%= link_to image.description, image_path(image) %>
      <% end %>
    <% else %>
      No images available
    <% end %>

    <a href='images/new'>Upload Image</a>

    <%= yield %>

  </body>
</html>
