- if @images.any?
  - @images.each do |image|
    %a{:href => image_path(image)}
      %img{:src => image.image.url(:thumb), :id =>image.id}
      %p
      =image.title
      %p
    %p= pluralize image.likes.count, 'like'
    = link_to "Like Image", image_likes_path(image)
    = link_to "Delete Image", image_path(image), method: :delete
    %br
- else
  No Images Yet!
%br
%br
%a(href='images/new') Add an image
