Welcome to Instagram

<% if @images.any? %>
  <ul>
    <% @images.each do |image| %>
      <ul>
        <%= link_to image_tag(image.image.url(:medium)), image_path(image) %>
        <%= image.caption %>
          <% if image.comments.any? %>
            <ul>
              <% image.comments.each do |comment| %>
                <ul>
                  <%= comment.comments %>
                </ul>
              <% end %>
            </ul>
          <% else %>
            <p> </p>
          <% end %>
        <%= link_to 'Comment', new_image_comment_path(image) %>
      </ul>
    <% end %>
  </ul>
<% else %>
  No images yet
<% end %>

<a href='images/new'>Add your image here!</a>
