<h1>Add new image</h1>

<form action='/images' method='post' id='new_image' data-remote=true>
  <input type='text' name='name' placeholder='Say something about photo'>
  <input type='text' name='url' placeholder='url'>
  <input type='submit' value='Post!'>
</form>
