= form_for @image, html: {multipart: true} do |f|
  = f.file_field :image
  = f.text_field  :description,
                  placeholder: "Your description here",
                  autocomplete: 'off',
                  maxlength: 80
  = f.submit
