%h3
  =link_to 'Go back to the Main Page', images_path
%ul
  %li
    %h3
      =@image.title
    %h5
      ='uploaded by:'
      =@image.user.email
    -if current_user == @image.user
      =link_to 'Delete this image', image_path(@image.id), method: :delete
