<p><%= @image.description %></p>
<%= image_tag @image.avatar.url(:medium) %>

<% if @comments.any? %>
  <% @comments.each do |comment| %>
    <h3> <%= comment.comment %> </h3>
  <% end %>
<% else %>
  <h3>No comments yet</h3>
<% end %>
