// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.landing {
  background: url(hawkbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a.landing {
  color: white;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
}

a.login {
  color: white;
  text-decoration: none;
  font-family: 'Arial';
}
