body {
  text-align: center;
}

#image_and_caption {
  font-size: 30px;
}

#navbar {
  float: right;
  position: fixed;
  top: 0px;
  padding-bottom: 10px;
}

#navbar_footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  padding-bottom: 10px;
}

#mewment {
  display: flex;
  flex-direction: column;
}
