<% flash.each do |key, value| %>
    <% if value.class == Array %>
        <div class="<%= flash_class(key) %>">
          <% value.each do |message| %>
              <%= message %>
              </br>
          <% end %>
        </div>
    <% else %>
        <div class="<%= flash_class(key) %>">
            <%= value %>
        </div>
    <% end %>
<% end %>
