- if alert
  .alert.alert-danger.fade.in{role: "alert"}
    %a.close{href: "#", "data-dismiss": "alert", "aria-label": "close"} &times;
    = alert
- if notice
  .alert.alert-info.fade.in{role: "alert"}
    %a.close{href: "#", "data-dismiss": "alert", "aria-label": "close"} &times;
    = notice
