<header>
  <nav>
    <ul>
      <a href="users/sign_in">Sign in</a>
      <a href="users/sign_up">Sign up</a>
      <%= link_to 'Sign out',  destroy_user_session_path, method: :delete %>
      <a href="photos">Photos</a>
    </ul>
  </nav>
</head>
