<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Instasham</a>
      </div>
        <ul class="nav navbar-nav">
          <li>
            <p class="navbar-btn">
              <a href="/" class="btn btn-default"><i class="fa fa-camera-retro fa-4x"></i></a>
            </p>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><a href="/users/show">Profile</a></li>
            <li><%= link_to 'Log Out',  destroy_user_session_path, method: :delete %></li>
          <% end %>
          <% if !current_user %>
            <li><a href="/users/sign_in">Log In</a></li>
            <li><a href="/users/sign_up">Sign Up</a></li>
          <% end %>
        </ul>
  </div>
</nav>
