<div class="container">
  <div class="row">
    <div class="col-12 pt-3 pb-3 mb-4 border-bottom">
      <div class="float-right">
      <% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-primary' %>
      <% else %>
        <%= link_to 'Log in', new_user_session_path, class: 'btn btn-outline-primary' %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary" %>
      <% end %>
      </div>
      <p class="h3">Instagram Clone</p>
    </div>
  </div>
</div>