<div class="container">
  <div class="row">
    <div class="col-12 pt-3 pb-3 mb-4 border-bottom">
      <div class="float-right">
      <%= link_to 'Log in', new_user_session_path, class: 'btn btn-outline-primary' %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary" %>
      </div>
      <p class="h3">Instagram Clone</p>
    </div>
  </div>
</div>