<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
        <%= value %>
  </div>
<% end %>
