<p>ChristaGram</p>
<% if current_user %>
  <p>Hi, <%= current_user.first_name %>!</p>
  <ul>
    <li><%= link_to 'Sign Out', sign_out_path %></li>
  </ul>
<% else %>
  <ul>
    <li><%= link_to 'Sign In', sign_in_path %></li>
    <li><%= link_to 'Sign Up', sign_up_path %></li>
  </ul>
<% end %>
