<nav class="navbar navbar-default">
  <div class ='navbar-container'>
    <div class="navbar-brand mb-0 h1"><%= link_to 'Home', root_path, class: 'navbar-brand' %></div>
    <div class="navbar-brand mb-0 h1"> "Sign Out"</div>
 </div>
 </nav>
 