<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1"><%= link_to 'Home', root_path, class: 'navbar-brand' %></span>
  <span class="navbar-brand mb-0 h1"> <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'navbar-brand' %></span>
 </nav>
