<li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
<%=link_to "Home",dashboard_path, class: "nav-link"%>
<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
<%=link_to "newpost",new_account_session_path, class: "nav-link"%>
<%=link_to "signout",destroy_account_session_path, class: "nav-link%>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>