   <li class="nav-item active">
    <%= link_to "Home", dashboard_path, class: "nav-link" %>
     </li>
       <li class="nav-item">
    <%= link_to "New post", new_post_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
    <%= link_to "My Profile", user_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
         <%= link_to "Sign Out", destroy_account_session_path, class: "nav-link" %>
          </li>      