<!-- Sidebar -->
<nav id="sidebar">
  <!-- Sidebar Links -->
  <ul class="list-unstyled components">
    <li class=""><%= link_to 'Public Feed', root_path %></li>
    <li><a href="#">Friend Feed</a></li>
    <li><a href="#">Profile</a></li>
    <li><!-- Link with dropdown items -->
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Albums</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li><a href="#">Page</a></li>
        <li><a href="#">Page</a></li>
        <li><a href="#">Page</a></li>
      </ul>
    </li>
  </ul>
</nav>