<!DOCTYPE html>
<html>
  <head>
    <title>Chillgram</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
<link href="https://fonts.googleapis.com/css?family=Anton|BioRhyme|Dosis|Merriweather|Poppins" rel="stylesheet">
  </head>

  <body>
    <h1>Chillgram</h2>
    <%= yield %>
  </body>
</html>
