<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="https://www.instagram.com/static/images/ico/favicon.ico/dfa85bb1fd63.ico" type="image/x-icon" />
  </head>

  <body>
    <ul class="nav nav-fill">
      <li class="nav-item">
        <a class="inline active" href="#">
          <img class="inline" style="width:30px;" src="https://maxcdn.icons8.com/Share/icon/win8/Logos//instagram_new1600.png" alt="Instagram Icon">
        </a>
      </li>
      <li class="nav-item">
        <a class="inline active" href="#">Explore  |</a>
        <a class="inline active" href="#">  Favourites  |  </a>
        <a class="inline active" href="#">Profile</a>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
