<!DOCTYPE html>
<html>
  <head>
    <title>Joshagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>

<!-- the entire app is now wrapped in a bootstrap class "container" which gives
it a fixed width determined by screen size -->