<!DOCTYPE html>
<html>
  <head>
    <title>picstagram</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top" id='nav_bar'>
        <div class='navbarr'>
          <a id='logo_link' class="navbar-brand" href="/"><div class="arrow"><</div> picstagram <div class="arrow">></div></a>
        </div>
    </nav>

    <div class='container pagination-centered text-center' id='app_div'>
      <%= yield %>
    </div>

    <footer class='navbar-fixed-bottom text-center'>
        <a href='http://github.com/tadasmajeris'>© Tadas Majeris. 2016</a>
    </footer>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>

    <script>
      $('img').each(deflate);

      $('img').hover(inflate, deflate);

      function inflate(){
        this.style = 'border: 10px solid #bbb;';
      }
      function deflate(){
        this.style = 'border: 10px solid transparent;';
      }
    </script>
  </body>
</html>
