<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <h3>v a p o r g r a m</h3>
      <p>Home</p>
      <p>Photos</p>
      <p>Sign Up</p>
      <p>Log In</p>
    </div>
    <%= yield %>
  </body>
</html>
