<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <style>
    body {
      background-color: #fffbdd;
    }
  </style>
  <body>
    <div class="text-right site-header">
      <h1>INSTRAGAM</h1>
    </div>
    <%= yield %>
    TEST
  </body>

  <script type="text/javascript">
    function toggleCommentForm(id) {
      var commentForm = document.getElementById("commentForm"+id);
      if (commentForm.style.display === "block") {
        commentForm.style.display = "none";
      } else {
        commentForm.style.display = "block"
      }
    }

    function setDisplayBlock() {
      console.log(this)
    }
  </script>

</html>
