!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title InstaClone
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:type => "text/css", :rel => "stylesheet", :href => "https://fonts.googleapis.com/icon?family=Material+Icons"}
  %body
    =render 'layouts/nav'
    .container
      = yield
