<!DOCTYPE html>
<html lang="en">

	<head>

	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="">

	  <!-- Bootstrap core CSS -->
	  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	  <title>Instagram</title>
	  <%= csrf_meta_tags %>

	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>

	</head>
  <head>
   
  </head>

  <body>
  	<h1>Instagram</h1>
    <%= yield %>
  </body>
</html>
