<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class='singup_in'>
    <a href="/users/new"><button class="session-button" type="button" value="Sign up">Sign Up</button></a>
    <a href="/sessions/new"><button class="session-button" type="button" value="Sign in">Sign In</button></a>
  </div>
    <%= yield %>
  </body>
</html>
