<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% console %>
  </body>
  <script type="text/javascript">
  $(function() {
$('.directUpload').find("input:file").each(function(i, elem) {
  var fileInput    = $(elem);
  console.log(fileInput);
});
});
  </script>
</html>
