!!!
%html
  %head
    %title DittoGram - Lets do it again!
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %h2 Dittogram
    %a(href='/') Home
    %br
    %br
    = yield
