<div class="container">
  <div class="row">
    <div class="col-8">
      <% @posts.each do |post| %>
        <div class="insta-post">
          <div class="post-meta">
            <%= post.account.username %>
          </div>

          <%= image_tag "#{post.image.url}", class: "img img-fluid" %>
        </div>  
      <% end %>
    </div>
        <div class="col-4">
          <div class="account-summary">
            <p><strong><%= current_account.username %></strong> <br /></p>
          <%= current_account.full_name %>
        </div>

        <div class="follower-suggestions">
        </div>
        </div>
  </div>
</div>