 <%= "#{@posts.size.to_s} active posts found" %>

<div class="container">
    <div class="row">
        <div class="col-8">
                <% @posts.each do |post| %>
                <div class = "bg-muted p2"><%= post.account.username%></div>
                <%= image_tag post.image.url, class: "img img-fluid" %>
        <% end %>
        </div>
    </div>
</div> 