<div class="collapse navbar-collapse navbar-right" id="navbar-collapsible-content">
  <ul class="nav navbar-nav ">
    <% if current_user %>
      <li class="mobile-menu" id="user_name">
        <p> Hi, <%= current_user.first_name %>!</p>
      </li>
      <li class="mobile-menu">
        <%= link_to 'Log out', sign_out_path %>
      </li>
    <% else %>
      <li ><%= link_to 'Sign In', sign_in_path %></li>
      <li ><%= link_to 'Sign Up', sign_up_path %></li>
    <% end %>
  </ul>
</div>
